In [3]:
import pandas as pd

# Load the .xls Excel file
AlamedaCounty = pd.read_excel("Resources/ALAMEHWS.xls", engine='xlrd')

# Display the first few rows of the DataFrame
print (AlamedaCounty)

    SORTORDER  BMYEAR  AREA                        INCLUDES  BREAKS  PNCO  \
0           1    2023     1                             NaN     NaN     1
1           2    2023     1                             NaN     NaN     1
2           3    2023     1                             NaN     NaN     1
3           4    2023     1                             NaN     NaN     1
4           8    2023     1           110000-813000, 920000     NaN     1
5           9    2023     1    111000-113200, 114000-115000     NaN     1
6          10    2023     1    113000, 210000-813000, 92000     NaN     1
7          11    2023     1   113000, 210000, 230000-330000     NaN     1
8          13    2023     1                 1133000, 210000     NaN     1
9          14    2023     1                   210000-330000     NaN     1
10         15    2023     1           321000, 327000-330000     NaN     1
11         16    2023     1    311000-316000, 322000-326000     NaN     1
12         17    2023     1    220000, 420000-813000, 92000     NaN     1
13         18    2023     1           220000, 420000-490000     NaN     1
14         19    2023     1                             NaN     NaN     1
15         20    2023     1                   440000-450000     NaN     1
16         21    2023     1                             NaN     NaN     1
17         22    2023     1                             NaN     NaN     1
18         23    2023     1                   520000-530000     NaN     1
19         24    2023     1                             NaN     NaN     1
20         25    2023     1                             NaN     NaN     1
21         26    2023     1                   540000-560000     NaN     1
22         27    2023     1                             NaN     NaN     1
23         28    2023     1                             NaN     NaN     1
24         29    2023     1                             NaN     NaN     1
25         30    2023     1                   610000-620000     NaN     1
26         31    2023     1                             NaN     NaN     1
27         32    2023     1                             NaN     NaN     1
28         33    2023     1                   710000-720000     NaN     1
29         34    2023     1                             NaN     NaN     1
30         35    2023     1                             NaN     NaN     1
31         36    2023     1                   811000-813000     NaN     1
32         37    2023     1  910000, 920000, 930000, 940000     NaN     1
33         38    2023     1                   910000-912999     NaN     1
34         39    2023     1                  921611, 922999     NaN     1
35         40    2023     1  931611, 939012, 939022, 932994     NaN     1

     SS-NAICS                                              TITLE  \
0   00-000010                               Civilian Labor Force
1   00-000020                                Civilian Employment
2   00-000030                              Civilian Unemployment
3   00-000040                         Civilian Unemployment Rate
4   01-000000                              Total, All Industries
5   11-000000                                         Total Farm
6   00-000000                                      Total Nonfarm
7   06-000000                                    Goods Producing
8   15-000000                   Mining, Logging and Construction
9   30-000000                                      Manufacturing
10  31-000000                                      Durable Goods
11  32-000000                                   Nondurable Goods
12  07-000000                                  Service Providing
13  40-000000                  Trade, Transportation & Utilities
14  41-000000                                    Wholesale Trade
15  42-000000                                       Retail Trade
16  43-000000          Transportation, Warehousing, and Utili...
17  50-000000                                        Information
18  55-000000                               Financial Activities
19  55-520000                                Finance & Insurance
20  55-530000                     Real Estate & Rental & Leasing
21  60-000000                 Professional and Business Services
22  60-540000          Professional, Scientific & Technical S...
23  60-550000              Management of Companies & Enterprises
24  60-560000          Administrative and Support and Waste a...
25  65-000000              Private Education and Health Services
26  65-610000                       Private Educational Services
27  65-620000                    Health Care & Social Assistance
28  70-000000                            Leisure and Hospitality
29  70-710000                Arts, Entertainment, and Recreation
30  70-720000                      Accommodation & Food Services
31  80-000000                                     Other Services
32  90-000000                                         Government
33  90-910000                                 Federal Government
34  90-920000                                   State Government
35  90-930000                                   Local Government

    2010-01-01 00:00:00  2010-02-01 00:00:00  ...  2023-10-01 00:00:00  \
0            782200.000           782700.000  ...           828700.000
1            691500.000           693600.000  ...           790700.000
2             90700.000            89100.000  ...            38000.000
3                 0.116                0.114  ...                0.046
4            648600.000           650200.000  ...           817800.000
5               800.000              700.000  ...              900.000
6            647800.000           649500.000  ...           816900.000
7             91200.000            91000.000  ...           145500.000
8             29500.000            28900.000  ...            49200.000
9             61700.000            62100.000  ...            96300.000
10            43800.000            44200.000  ...            75000.000
11            17900.000            17900.000  ...            21300.000
12           556600.000           558500.000  ...           671400.000
13           117900.000           116900.000  ...           137200.000
14            34100.000            34100.000  ...            32700.000
15            61000.000            59900.000  ...            64200.000
16            22800.000            22900.000  ...            40300.000
17            15100.000            14900.000  ...            18200.000
18            22400.000            22900.000  ...            27400.000
19            13500.000            13900.000  ...            16300.000
20             8900.000             9000.000  ...            11100.000
21           105300.000           106000.000  ...           136100.000
22            56300.000            56900.000  ...            80600.000
23            19500.000            19500.000  ...            16300.000
24            29500.000            29600.000  ...            39200.000
25           104300.000           104900.000  ...           138800.000
26            13200.000            14100.000  ...            15600.000
27            91100.000            90800.000  ...           123200.000
28            52100.000            52200.000  ...            71100.000
29             8500.000             8400.000  ...            11100.000
30            43600.000            43800.000  ...            60000.000
31            22300.000            22500.000  ...            27500.000
32           117200.000           118200.000  ...           115100.000
33            10300.000            10100.000  ...             8500.000
34            35700.000            37200.000  ...            30900.000
35            71200.000            70900.000  ...            75700.000

    2023-11-01 00:00:00  2023-12-01 00:00:00  2024-01-01 00:00:00  \
0            830400.000           823100.000            826000.00
1            792700.000           786200.000            784700.00
2             37700.000            36900.000             41200.00
3                 0.045                0.045                 0.05
4            821700.000           822500.000                  NaN
5               800.000              800.000                  NaN
6            820900.000           821700.000                  NaN
7            144500.000           144400.000                  NaN
8             48500.000            47600.000                  NaN
9             96000.000            96800.000                  NaN
10            74700.000            75500.000                  NaN
11            21300.000            21300.000                  NaN
12           676400.000           677300.000                  NaN
13           139500.000           140700.000                  NaN
14            32600.000            32400.000                  NaN
15            65800.000            66400.000                  NaN
16            41100.000            41900.000                  NaN
17            18100.000            17900.000                  NaN
18            27600.000            27500.000                  NaN
19            16400.000            16200.000                  NaN
20            11200.000            11300.000                  NaN
21           135700.000           136500.000                  NaN
22            80800.000            81900.000                  NaN
23            16300.000            16300.000                  NaN
24            38600.000            38300.000                  NaN
25           139900.000           140400.000                  NaN
26            15800.000            15700.000                  NaN
27           124100.000           124700.000                  NaN
28            70800.000            70500.000                  NaN
29            11000.000            11100.000                  NaN
30            59800.000            59400.000                  NaN
31            27700.000            27700.000                  NaN
32           117100.000           116100.000                  NaN
33             8500.000             8500.000                  NaN
34            32400.000            32700.000                  NaN
35            76200.000            74900.000                  NaN

    2024-02-01 00:00:00  2024-03-01 00:00:00  2024-04-01 00:00:00  \
0             827100.00           828600.000           819600.000
1             786000.00           790000.000           783700.000
2              41100.00            38600.000            35900.000
3                  0.05                0.047                0.044
4                   NaN                  NaN                  NaN
5                   NaN                  NaN                  NaN
6                   NaN                  NaN                  NaN
7                   NaN                  NaN                  NaN
8                   NaN                  NaN                  NaN
9                   NaN                  NaN                  NaN
10                  NaN                  NaN                  NaN
11                  NaN                  NaN                  NaN
12                  NaN                  NaN                  NaN
13                  NaN                  NaN                  NaN
14                  NaN                  NaN                  NaN
15                  NaN                  NaN                  NaN
16                  NaN                  NaN                  NaN
17                  NaN                  NaN                  NaN
18                  NaN                  NaN                  NaN
19                  NaN                  NaN                  NaN
20                  NaN                  NaN                  NaN
21                  NaN                  NaN                  NaN
22                  NaN                  NaN                  NaN
23                  NaN                  NaN                  NaN
24                  NaN                  NaN                  NaN
25                  NaN                  NaN                  NaN
26                  NaN                  NaN                  NaN
27                  NaN                  NaN                  NaN
28                  NaN                  NaN                  NaN
29                  NaN                  NaN                  NaN
30                  NaN                  NaN                  NaN
31                  NaN                  NaN                  NaN
32                  NaN                  NaN                  NaN
33                  NaN                  NaN                  NaN
34                  NaN                  NaN                  NaN
35                  NaN                  NaN                  NaN

    2024-05-01 00:00:00  2024-06-01 00:00:00  2024-07-01 00:00:00
0            818000.000           819400.000           827400.000
1            786100.000           781100.000           785300.000
2             31900.000            38300.000            42200.000
3                 0.039                0.047                0.051
4                   NaN                  NaN                  NaN
5                   NaN                  NaN                  NaN
6                   NaN                  NaN                  NaN
7                   NaN                  NaN                  NaN
8                   NaN                  NaN                  NaN
9                   NaN                  NaN                  NaN
10                  NaN                  NaN                  NaN
11                  NaN                  NaN                  NaN
12                  NaN                  NaN                  NaN
13                  NaN                  NaN                  NaN
14                  NaN                  NaN                  NaN
15                  NaN                  NaN                  NaN
16                  NaN                  NaN                  NaN
17                  NaN                  NaN                  NaN
18                  NaN                  NaN                  NaN
19                  NaN                  NaN                  NaN
20                  NaN                  NaN                  NaN
21                  NaN                  NaN                  NaN
22                  NaN                  NaN                  NaN
23                  NaN                  NaN                  NaN
24                  NaN                  NaN                  NaN
25                  NaN                  NaN                  NaN
26                  NaN                  NaN                  NaN
27                  NaN                  NaN                  NaN
28                  NaN                  NaN                  NaN
29                  NaN                  NaN                  NaN
30                  NaN                  NaN                  NaN
31                  NaN                  NaN                  NaN
32                  NaN                  NaN                  NaN
33                  NaN                  NaN                  NaN
34                  NaN                  NaN                  NaN
35                  NaN                  NaN                  NaN

[36 rows x 183 columns]

In [4]:
AlamedaCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,1,NaN,NaN,1,00-000010,Civilian Labor Force,782200.000,782700.000,...,828700.000,830400.000,823100.000,826000.00,827100.00,828600.000,819600.000,818000.000,819400.000,827400.000
1,2,2023,1,NaN,NaN,1,00-000020,Civilian Employment,691500.000,693600.000,...,790700.000,792700.000,786200.000,784700.00,786000.00,790000.000,783700.000,786100.000,781100.000,785300.000
2,3,2023,1,NaN,NaN,1,00-000030,Civilian Unemployment,90700.000,89100.000,...,38000.000,37700.000,36900.000,41200.00,41100.00,38600.000,35900.000,31900.000,38300.000,42200.000
3,4,2023,1,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.116,0.114,...,0.046,0.045,0.045,0.05,0.05,0.047,0.044,0.039,0.047,0.051
4,8,2023,1,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",648600.000,650200.000,...,817800.000,821700.000,822500.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
AlamedaCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

In [6]:
AlamedaCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,782200.000,782700.000,785600.000,783700.000,779700.000,780600.000,785400.000,782100.000,786000.000,...,828700.000,830400.000,823100.000,826000.00,827100.00,828600.000,819600.000,818000.000,819400.000,827400.000
1,Civilian Employment,691500.000,693600.000,695800.000,696500.000,695500.000,693000.000,694900.000,692400.000,700100.000,...,790700.000,792700.000,786200.000,784700.00,786000.00,790000.000,783700.000,786100.000,781100.000,785300.000
2,Civilian Unemployment,90700.000,89100.000,89800.000,87200.000,84300.000,87600.000,90500.000,89700.000,85900.000,...,38000.000,37700.000,36900.000,41200.00,41100.00,38600.000,35900.000,31900.000,38300.000,42200.000
3,Civilian Unemployment Rate,0.116,0.114,0.114,0.111,0.108,0.112,0.115,0.115,0.109,...,0.046,0.045,0.045,0.05,0.05,0.047,0.044,0.039,0.047,0.051
4,"Total, All Industries",648600.000,650200.000,653900.000,653500.000,657000.000,657900.000,644700.000,641900.000,654600.000,...,817800.000,821700.000,822500.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
titles_df = AlamedaCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                       Goods Producing
8                      Mining, Logging and Construction
9                                         Manufacturing
10                                        Durable Goods
11                                     Nondurable Goods
12                                    Service Providing
13                    Trade, Transportation & Utilities
14                                      Wholesale Trade
15                                         Retail Trade
16            Transportation, Warehousing, and Utili...
17                                          Information
18                                 Financial Activities
19                                  Finance & Insurance
20                       Real Estate & Rental & Leasing
21                   Professional and Business Services
22            Professional, Scientific & Technical S...
23                Management of Companies & Enterprises
24            Administrative and Support and Waste a...
25                Private Education and Health Services
26                         Private Educational Services
27                      Health Care & Social Assistance
28                              Leisure and Hospitality
29                  Arts, Entertainment, and Recreation
30                        Accommodation & Food Services
31                                       Other Services
32                                           Government
33                                   Federal Government
34                                     State Government
35                                     Local Government
Name: TITLE, dtype: object

In [8]:
AlamedaCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,782200.000,782700.000,785600.000,783700.000,779700.000,780600.000,785400.000,782100.000,786000.000,...,828700.000,830400.000,823100.000,826000.00,827100.00,828600.000,819600.000,818000.000,819400.000,827400.000
1,Civilian Employment,691500.000,693600.000,695800.000,696500.000,695500.000,693000.000,694900.000,692400.000,700100.000,...,790700.000,792700.000,786200.000,784700.00,786000.00,790000.000,783700.000,786100.000,781100.000,785300.000
2,Civilian Unemployment,90700.000,89100.000,89800.000,87200.000,84300.000,87600.000,90500.000,89700.000,85900.000,...,38000.000,37700.000,36900.000,41200.00,41100.00,38600.000,35900.000,31900.000,38300.000,42200.000
3,Civilian Unemployment Rate,0.116,0.114,0.114,0.111,0.108,0.112,0.115,0.115,0.109,...,0.046,0.045,0.045,0.05,0.05,0.047,0.044,0.039,0.047,0.051
4,"Total, All Industries",648600.000,650200.000,653900.000,653500.000,657000.000,657900.000,644700.000,641900.000,654600.000,...,817800.000,821700.000,822500.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
AlamedaCounty.count

<bound method DataFrame.count of                                                 TITLE  2010-01-01 00:00:00  \
0                                Civilian Labor Force           782200.000
1                                 Civilian Employment           691500.000
2                               Civilian Unemployment            90700.000
3                          Civilian Unemployment Rate                0.116
4                               Total, All Industries           648600.000
5                                          Total Farm              800.000
6                                       Total Nonfarm           647800.000
7                                     Goods Producing            91200.000
8                    Mining, Logging and Construction            29500.000
9                                       Manufacturing            61700.000
10                                      Durable Goods            43800.000
11                                   Nondurable Goods            17900.000
12                                  Service Providing           556600.000
13                  Trade, Transportation & Utilities           117900.000
14                                    Wholesale Trade            34100.000
15                                       Retail Trade            61000.000
16          Transportation, Warehousing, and Utili...            22800.000
17                                        Information            15100.000
18                               Financial Activities            22400.000
19                                Finance & Insurance            13500.000
20                     Real Estate & Rental & Leasing             8900.000
21                 Professional and Business Services           105300.000
22          Professional, Scientific & Technical S...            56300.000
23              Management of Companies & Enterprises            19500.000
24          Administrative and Support and Waste a...            29500.000
25              Private Education and Health Services           104300.000
26                       Private Educational Services            13200.000
27                    Health Care & Social Assistance            91100.000
28                            Leisure and Hospitality            52100.000
29                Arts, Entertainment, and Recreation             8500.000
30                      Accommodation & Food Services            43600.000
31                                     Other Services            22300.000
32                                         Government           117200.000
33                                 Federal Government            10300.000
34                                   State Government            35700.000
35                                   Local Government            71200.000

    2010-02-01 00:00:00  2010-03-01 00:00:00  2010-04-01 00:00:00  \
0            782700.000           785600.000           783700.000
1            693600.000           695800.000           696500.000
2             89100.000            89800.000            87200.000
3                 0.114                0.114                0.111
4            650200.000           653900.000           653500.000
5               700.000              700.000              700.000
6            649500.000           653200.000           652800.000
7             91000.000            91900.000            87900.000
8             28900.000            29700.000            29800.000
9             62100.000            62200.000            58100.000
10            44200.000            44300.000            40200.000
11            17900.000            17900.000            17900.000
12           558500.000           561300.000           564900.000
13           116900.000           116700.000           116700.000
14            34100.000            34200.000            34200.000
15            59900.000            59900.000            59800.000
16            22900.000            22700.000            22700.000
17            14900.000            14900.000            14300.000
18            22900.000            22900.000            23100.000
19            13900.000            14000.000            14000.000
20             9000.000             8900.000             9100.000
21           106000.000           106400.000           108200.000
22            56900.000            56900.000            57900.000
23            19500.000            19500.000            19100.000
24            29600.000            30000.000            31200.000
25           104900.000           105900.000           105500.000
26            14100.000            14600.000            14400.000
27            90800.000            91300.000            91100.000
28            52200.000            52500.000            54000.000
29             8400.000             8400.000             9100.000
30            43800.000            44100.000            44900.000
31            22500.000            22900.000            23200.000
32           118200.000           119000.000           119900.000
33            10100.000            10000.000            10700.000
34            37200.000            37600.000            37700.000
35            70900.000            71400.000            71500.000

    2010-05-01 00:00:00  2010-06-01 00:00:00  2010-07-01 00:00:00  \
0            779700.000           780600.000           785400.000
1            695500.000           693000.000           694900.000
2             84300.000            87600.000            90500.000
3                 0.108                0.112                0.115
4            657000.000           657900.000           644700.000
5               700.000              800.000              800.000
6            656300.000           657100.000           643900.000
7             88600.000            89500.000            91000.000
8             30000.000            30600.000            31300.000
9             58600.000            58900.000            59700.000
10            40600.000            40800.000            41500.000
11            18000.000            18100.000            18200.000
12           567700.000           567600.000           552900.000
13           117600.000           118200.000           117000.000
14            34500.000            34600.000            34300.000
15            60300.000            60500.000            60200.000
16            22700.000            23100.000            22500.000
17            14200.000            14100.000            14500.000
18            23300.000            23500.000            23600.000
19            14100.000            14200.000            14500.000
20             9200.000             9300.000             9100.000
21           107600.000           108800.000           108400.000
22            57100.000            57400.000            57500.000
23            19100.000            19300.000            19400.000
24            31400.000            32100.000            31500.000
25           105600.000           104300.000           104300.000
26            14300.000            13500.000            13200.000
27            91300.000            90800.000            91100.000
28            54300.000            55200.000            55200.000
29             8800.000             9600.000             9300.000
30            45500.000            45600.000            45900.000
31            23400.000            23900.000            23900.000
32           121800.000           119600.000           106000.000
33            12600.000            11700.000            10900.000
34            37500.000            36200.000            36100.000
35            71700.000            71700.000            59000.000

    2010-08-01 00:00:00  2010-09-01 00:00:00  ...  2023-10-01 00:00:00  \
0            782100.000           786000.000  ...           828700.000
1            692400.000           700100.000  ...           790700.000
2             89700.000            85900.000  ...            38000.000
3                 0.115                0.109  ...                0.046
4            641900.000           654600.000  ...           817800.000
5               700.000              700.000  ...              900.000
6            641200.000           653900.000  ...           816900.000
7             91500.000            90900.000  ...           145500.000
8             31700.000            31000.000  ...            49200.000
9             59800.000            59900.000  ...            96300.000
10            41600.000            41700.000  ...            75000.000
11            18200.000            18200.000  ...            21300.000
12           549700.000           563000.000  ...           671400.000
13           117000.000           116900.000  ...           137200.000
14            34200.000            34100.000  ...            32700.000
15            60400.000            60000.000  ...            64200.000
16            22400.000            22800.000  ...            40300.000
17            14200.000            14000.000  ...            18200.000
18            23700.000            23500.000  ...            27400.000
19            14500.000            14500.000  ...            16300.000
20             9200.000             9000.000  ...            11100.000
21           109100.000           109500.000  ...           136100.000
22            57600.000            57500.000  ...            80600.000
23            19400.000            19400.000  ...            16300.000
24            32100.000            32600.000  ...            39200.000
25           103300.000           104600.000  ...           138800.000
26            12600.000            13600.000  ...            15600.000
27            90700.000            91000.000  ...           123200.000
28            55800.000            55600.000  ...            71100.000
29             9400.000             9400.000  ...            11100.000
30            46400.000            46200.000  ...            60000.000
31            23600.000            23200.000  ...            27500.000
32           103000.000           115700.000  ...           115100.000
33            10100.000             9900.000  ...             8500.000
34            35400.000            36900.000  ...            30900.000
35            57500.000            68900.000  ...            75700.000

    2023-11-01 00:00:00  2023-12-01 00:00:00  2024-01-01 00:00:00  \
0            830400.000           823100.000            826000.00
1            792700.000           786200.000            784700.00
2             37700.000            36900.000             41200.00
3                 0.045                0.045                 0.05
4            821700.000           822500.000                  NaN
5               800.000              800.000                  NaN
6            820900.000           821700.000                  NaN
7            144500.000           144400.000                  NaN
8             48500.000            47600.000                  NaN
9             96000.000            96800.000                  NaN
10            74700.000            75500.000                  NaN
11            21300.000            21300.000                  NaN
12           676400.000           677300.000                  NaN
13           139500.000           140700.000                  NaN
14            32600.000            32400.000                  NaN
15            65800.000            66400.000                  NaN
16            41100.000            41900.000                  NaN
17            18100.000            17900.000                  NaN
18            27600.000            27500.000                  NaN
19            16400.000            16200.000                  NaN
20            11200.000            11300.000                  NaN
21           135700.000           136500.000                  NaN
22            80800.000            81900.000                  NaN
23            16300.000            16300.000                  NaN
24            38600.000            38300.000                  NaN
25           139900.000           140400.000                  NaN
26            15800.000            15700.000                  NaN
27           124100.000           124700.000                  NaN
28            70800.000            70500.000                  NaN
29            11000.000            11100.000                  NaN
30            59800.000            59400.000                  NaN
31            27700.000            27700.000                  NaN
32           117100.000           116100.000                  NaN
33             8500.000             8500.000                  NaN
34            32400.000            32700.000                  NaN
35            76200.000            74900.000                  NaN

    2024-02-01 00:00:00  2024-03-01 00:00:00  2024-04-01 00:00:00  \
0             827100.00           828600.000           819600.000
1             786000.00           790000.000           783700.000
2              41100.00            38600.000            35900.000
3                  0.05                0.047                0.044
4                   NaN                  NaN                  NaN
5                   NaN                  NaN                  NaN
6                   NaN                  NaN                  NaN
7                   NaN                  NaN                  NaN
8                   NaN                  NaN                  NaN
9                   NaN                  NaN                  NaN
10                  NaN                  NaN                  NaN
11                  NaN                  NaN                  NaN
12                  NaN                  NaN                  NaN
13                  NaN                  NaN                  NaN
14                  NaN                  NaN                  NaN
15                  NaN                  NaN                  NaN
16                  NaN                  NaN                  NaN
17                  NaN                  NaN                  NaN
18                  NaN                  NaN                  NaN
19                  NaN                  NaN                  NaN
20                  NaN                  NaN                  NaN
21                  NaN                  NaN                  NaN
22                  NaN                  NaN                  NaN
23                  NaN                  NaN                  NaN
24                  NaN                  NaN                  NaN
25                  NaN                  NaN                  NaN
26                  NaN                  NaN                  NaN
27                  NaN                  NaN                  NaN
28                  NaN                  NaN                  NaN
29                  NaN                  NaN                  NaN
30                  NaN                  NaN                  NaN
31                  NaN                  NaN                  NaN
32                  NaN                  NaN                  NaN
33                  NaN                  NaN                  NaN
34                  NaN                  NaN                  NaN
35                  NaN                  NaN                  NaN

    2024-05-01 00:00:00  2024-06-01 00:00:00  2024-07-01 00:00:00
0            818000.000           819400.000           827400.000
1            786100.000           781100.000           785300.000
2             31900.000            38300.000            42200.000
3                 0.039                0.047                0.051
4                   NaN                  NaN                  NaN
5                   NaN                  NaN                  NaN
6                   NaN                  NaN                  NaN
7                   NaN                  NaN                  NaN
8                   NaN                  NaN                  NaN
9                   NaN                  NaN                  NaN
10                  NaN                  NaN                  NaN
11                  NaN                  NaN                  NaN
12                  NaN                  NaN                  NaN
13                  NaN                  NaN                  NaN
14                  NaN                  NaN                  NaN
15                  NaN                  NaN                  NaN
16                  NaN                  NaN                  NaN
17                  NaN                  NaN                  NaN
18                  NaN                  NaN                  NaN
19                  NaN                  NaN                  NaN
20                  NaN                  NaN                  NaN
21                  NaN                  NaN                  NaN
22                  NaN                  NaN                  NaN
23                  NaN                  NaN                  NaN
24                  NaN                  NaN                  NaN
25                  NaN                  NaN                  NaN
26                  NaN                  NaN                  NaN
27                  NaN                  NaN                  NaN
28                  NaN                  NaN                  NaN
29                  NaN                  NaN                  NaN
30                  NaN                  NaN                  NaN
31                  NaN                  NaN                  NaN
32                  NaN                  NaN                  NaN
33                  NaN                  NaN                  NaN
34                  NaN                  NaN                  NaN
35                  NaN                  NaN                  NaN

[36 rows x 176 columns]>

In [12]:
# Assuming your DataFrame is called df
columns_2010 = AlamedaCounty.iloc[:, 1:13]  # Select the columns for 2010

# Calculate the row-wise average for these columns and round to 2 decimal places
AlamedaCounty['2010_Average'] = columns_2010.mean(axis=1).round(2)

# Print the resulting DataFrame with the new '2010_Average' column
print(AlamedaCounty[['TITLE', '2010_Average']])

                                                TITLE  2010_Average
0                                Civilian Labor Force     782658.33
1                                 Civilian Employment     695350.00
2                               Civilian Unemployment      87333.33
3                          Civilian Unemployment Rate          0.11
4                               Total, All Industries     653591.67
5                                          Total Farm        733.33
6                                       Total Nonfarm     652858.33
7                                     Goods Producing      90458.33
8                    Mining, Logging and Construction      30308.33
9                                       Manufacturing      60150.00
10                                      Durable Goods      42041.67
11                                   Nondurable Goods      18108.33
12                                  Service Providing     562400.00
13                  Trade, Transportation & Utilities     117800.00
14                                    Wholesale Trade      34291.67
15                                       Retail Trade      60716.67
16          Transportation, Warehousing, and Utili...      22800.00
17                                        Information      14333.33
18                               Financial Activities      23333.33
19                                Finance & Insurance      14300.00
20                     Real Estate & Rental & Leasing       9033.33
21                 Professional and Business Services     108133.33
22          Professional, Scientific & Technical S...      57250.00
23              Management of Companies & Enterprises      19400.00
24          Administrative and Support and Waste a...      31483.33
25              Private Education and Health Services     105016.67
26                       Private Educational Services      13916.67
27                    Health Care & Social Assistance      91100.00
28                            Leisure and Hospitality      54466.67
29                Arts, Entertainment, and Recreation       8983.33
30                      Accommodation & Food Services      45483.33
31                                     Other Services      23191.67
32                                         Government     116116.67
33                                 Federal Government      10483.33
34                                   State Government      36891.67
35                                   Local Government      68741.67

In [26]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = AlamedaCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    AlamedaCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = AlamedaCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = AlamedaCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     782658.33
1                                 Civilian Employment     695350.00
2                               Civilian Unemployment      87333.33
3                          Civilian Unemployment Rate          0.11
4                               Total, All Industries     653591.67
5                                          Total Farm        733.33
6                                       Total Nonfarm     652858.33
7                                     Goods Producing      90458.33
8                    Mining, Logging and Construction      30308.33
9                                       Manufacturing      60150.00
10                                      Durable Goods      42041.67
11                                   Nondurable Goods      18108.33
12                                  Service Providing     562400.00
13                  Trade, Transportation & Utilities     117800.00
14                                    Wholesale Trade      34291.67
15                                       Retail Trade      60716.67
16          Transportation, Warehousing, and Utili...      22800.00
17                                        Information      14333.33
18                               Financial Activities      23333.33
19                                Finance & Insurance      14300.00
20                     Real Estate & Rental & Leasing       9033.33
21                 Professional and Business Services     108133.33
22          Professional, Scientific & Technical S...      57250.00
23              Management of Companies & Enterprises      19400.00
24          Administrative and Support and Waste a...      31483.33
25              Private Education and Health Services     105016.67
26                       Private Educational Services      13916.67
27                    Health Care & Social Assistance      91100.00
28                            Leisure and Hospitality      54466.67
29                Arts, Entertainment, and Recreation       8983.33
30                      Accommodation & Food Services      45483.33
31                                     Other Services      23191.67
32                                         Government     116116.67
33                                 Federal Government      10483.33
34                                   State Government      36891.67
35                                   Local Government      68741.67

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      785125.00     796458.33     799850.00     806325.00     819016.67
1      704591.67     726133.33     741225.00     758808.33     779891.67
2       80525.00      70333.33      58625.00      47500.00      39108.33
3           0.10          0.09          0.07          0.06          0.05
4      662441.67     682800.00     701625.00     720633.33     749433.33
5         700.00        658.33        550.00        500.00        450.00
6      661741.67     682141.67     701075.00     720133.33     748983.33
7       92975.00      95608.33     100191.67     105108.33     113341.67
8       30833.33      33283.33      35550.00      37600.00      40875.00
9       62141.67      62325.00      64641.67      67508.33      72466.67
10      43141.67      43341.67      43716.67      46133.33      49941.67
11      19000.00      18983.33      20925.00      21375.00      22525.00
12     568766.67     586533.33     600883.33     615025.00     635641.67
13     119150.00     123250.00     127658.33     131300.00     135683.33
14      34325.00      35558.33      36533.33      36966.67      38066.67
15      61383.33      63525.00      67158.33      68908.33      70766.67
16      23450.00      24166.67      23975.00      25433.33      26850.00
17      14166.67      14491.67      14066.67      14683.33      16641.67
18      24491.67      26066.67      28033.33      29058.33      29283.33
19      15658.33      16941.67      18475.00      19100.00      19400.00
20       8833.33       9125.00       9558.33       9958.33       9883.33
21     111025.00     117258.33     118350.00     120350.00     125666.67
22      58450.00      61791.67      62383.33      64091.67      68358.33
23      20341.67      21633.33      19425.00      17908.33      15908.33
24      32233.33      33833.33      36541.67      38350.00      41400.00
25     104575.00     108283.33     111025.00     111625.00     114491.67
26      14066.67      14591.67      15591.67      16000.00      15558.33
27      90508.33      93691.67      95433.33      95625.00      98933.33
28      55966.67      58333.33      61883.33      65766.67      68366.67
29       9108.33       9100.00       9391.67       9766.67       9841.67
30      46858.33      49233.33      52491.67      56000.00      58525.00
31      23341.67      23991.67      24808.33      24958.33      25450.00
32     116041.67     114858.33     115058.33     117275.00     120058.33
33       9733.33       9583.33       9300.00       9250.00       9100.00
34      37133.33      37258.33      37600.00      37991.67      38566.67
35      69175.00      68016.67      68158.33      70033.33      72391.67

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      831816.67     838183.33     841566.67     841541.67     818100.00
1      796025.00     807108.33     815850.00     816475.00     745108.33
2       35791.67      31075.00      25733.33      25050.00      72991.67
3           0.04          0.04          0.03          0.03          0.09
4      771908.33     790300.00     807450.00     815150.00     751950.00
5         475.00        608.33        616.67        666.67        725.00
6      771433.33     789691.67     806833.33     814483.33     751225.00
7      118050.00     125866.67     133758.33     134625.00     130308.33
8       43041.67      45925.00      49041.67      49591.67      46650.00
9       75008.33      79941.67      84716.67      85033.33      83658.33
10      51783.33      55525.00      60650.00      61341.67      62208.33
11      23225.00      24416.67      24066.67      23691.67      21450.00
12     653383.33     663825.00     673075.00     679858.33     620916.67
13     137900.00     138291.67     139733.33     138816.67     129366.67
14      38650.00      38083.33      37766.67      36366.67      33641.67
15      71766.67      71241.67      71658.33      70258.33      62475.00
16      27483.33      28966.67      30308.33      32191.67      33250.00
17      18233.33      18791.67      19966.67      20533.33      19900.00
18      30333.33      28733.33      28008.33      28350.00      27033.33
19      20266.67      18458.33      17458.33      17541.67      17133.33
20      10066.67      10275.00      10550.00      10808.33       9900.00
21     128733.33     130383.33     134025.00     136625.00     128908.33
22      71933.33      69341.67      73466.67      76391.67      73850.00
23      14275.00      17425.00      16941.67      16466.67      16100.00
24      42525.00      43616.67      43616.67      43766.67      38958.33
25     117558.33     122150.00     123591.67     125958.33     121783.33
26      15966.67      15758.33      15816.67      16408.33      13991.67
27     101591.67     106391.67     107775.00     109550.00     107791.67
28      70916.67      74116.67      76425.00      78000.00      53025.00
29      10091.67      10883.33      11541.67      12858.33       7241.67
30      60825.00      63233.33      64883.33      65141.67      45783.33
31      26225.00      27191.67      27458.33      27491.67      22475.00
32     123483.33     124166.67     123866.67     124083.33     118425.00
33       9150.00       9025.00       8733.33       8708.33       9041.67
34      38366.67      37891.67      37875.00      38025.00      36541.67
35      75966.67      77250.00      77258.33      77350.00      72841.67

    2021_Average  2022_Average  2023_Average  2024_Average
0      811166.67     819825.00     826108.33     811376.39
1      761783.33     792350.00     792458.33     760250.69
2       49375.00      27458.33      33658.33      51126.39
3           0.06          0.03          0.04          0.06
4      777083.33     804900.00     813583.33     684218.33
5         966.67        850.00        791.67        628.33
6      776116.67     804050.00     812791.67     683590.00
7      140516.67     146700.00     145141.67      96868.33
8       48675.00      48416.67      47391.67      33515.00
9       91841.67      98283.33      97750.00      63353.33
10      70775.00      76783.33      76491.67      43675.00
11      21066.67      21500.00      21258.33      19678.33
12     635600.00     657350.00     667650.00     586721.67
13     134041.67     137208.33     137100.00     123831.67
14      33133.33      33325.00      32950.00      35535.00
15      64416.67      64041.67      64116.67      64338.33
16      36491.67      39841.67      40033.33      23965.00
17      18791.67      19141.67      18616.67      14348.33
18      27091.67      27075.00      27283.33      26196.67
19      16816.67      16283.33      16333.33      16895.00
20      10275.00      10791.67      10950.00       9301.66
21     134358.33     137841.67     135008.33     115023.33
22      76975.00      80250.00      80250.00      60793.33
23      16775.00      17000.00      16375.00      19741.67
24      40608.33      40591.67      38383.33      34488.33
25     125116.67     128508.33     135825.00     108105.00
26      14300.00      15225.00      15341.67      14833.34
27     110816.67     113283.33     120483.33      93271.67
28      57866.67      68616.67      71141.67      59283.33
29       7908.33      10516.67      11300.00       9270.00
30      49958.33      58100.00      59841.67      50013.33
31      23800.00      25775.00      27191.67      24058.33
32     114533.33     113183.33     115483.33     115870.00
33       8583.33       8308.33       8441.67       9670.00
34      34208.33      31491.67      32083.33      37375.00
35      71741.67      73383.33      74958.33      68825.00

In [27]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,782658.33,785125.00,796458.33,799850.00,806325.00,819016.67,831816.67,838183.33,841566.67,841541.67,818100.00,811166.67,819825.00,826108.33,811376.39
1,Civilian Employment,695350.00,704591.67,726133.33,741225.00,758808.33,779891.67,796025.00,807108.33,815850.00,816475.00,745108.33,761783.33,792350.00,792458.33,760250.69
2,Civilian Unemployment,87333.33,80525.00,70333.33,58625.00,47500.00,39108.33,35791.67,31075.00,25733.33,25050.00,72991.67,49375.00,27458.33,33658.33,51126.39
3,Civilian Unemployment Rate,0.11,0.10,0.09,0.07,0.06,0.05,0.04,0.04,0.03,0.03,0.09,0.06,0.03,0.04,0.06
4,"Total, All Industries",653591.67,662441.67,682800.00,701625.00,720633.33,749433.33,771908.33,790300.00,807450.00,815150.00,751950.00,777083.33,804900.00,813583.33,684218.33

In [29]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Alameda_county.csv', index=False)  # Set index=False to avoid exporting the row indices