In [1]:
import pandas as pd

# Load the .xls Excel file
CalaverasCounty = pd.read_excel("Resources/CALAVHWS.xls", engine='xlrd')

CalaverasCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,9,NaN,NaN,1,00-000010,Civilian Labor Force,20940.000,21050.000,...,21960.000,21880.000,21780.000,21990.000,22260.000,22320.000,22240.000,22260.000,22510.000,22680.000
1,2,2023,9,NaN,NaN,1,00-000020,Civilian Employment,17620.000,17700.000,...,21020.000,20930.000,20790.000,20820.000,21030.000,21170.000,21190.000,21400.000,21510.000,21580.000
2,3,2023,9,NaN,NaN,1,00-000030,Civilian Unemployment,3320.000,3350.000,...,940.000,950.000,990.000,1170.000,1240.000,1150.000,1050.000,860.000,1000.000,1100.000
3,4,2023,9,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.159,0.159,...,0.043,0.044,0.046,0.053,0.056,0.052,0.047,0.039,0.044,0.049
4,8,2023,9,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",7670.000,7670.000,...,10530.000,10410.000,10470.000,10340.000,10460.000,10530.000,10720.000,10880.000,11170.000,11100.000

In [2]:
CalaverasCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

CalaverasCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,1.828850e+07,1.832720e+07,1.835960e+07,1.838160e+07,1.839120e+07,1.838980e+07,1.838400e+07,1.838030e+07,1.837880e+07,...,1.933620e+07,1.932540e+07,1.934210e+07,1.935580e+07,1.935000e+07,1.934620e+07,1.934650e+07,1.933890e+07,1.934650e+07,1.936160e+07
1,Civilian Employment,1.599180e+07,1.602010e+07,1.605100e+07,1.607880e+07,1.610100e+07,1.611320e+07,1.611370e+07,1.610690e+07,1.609770e+07,...,1.834540e+07,1.833190e+07,1.835190e+07,1.834200e+07,1.832160e+07,1.831330e+07,1.831910e+07,1.832870e+07,1.834610e+07,1.835340e+07
2,Civilian Unemployment,2.296700e+06,2.307100e+06,2.308600e+06,2.302800e+06,2.290200e+06,2.276600e+06,2.270400e+06,2.273400e+06,2.281100e+06,...,9.908000e+05,9.935000e+05,9.903000e+05,1.013900e+06,1.028400e+06,1.032900e+06,1.027500e+06,1.010200e+06,1.000400e+06,1.008200e+06
3,Civilian Unemployment Rate,1.260000e-01,1.260000e-01,1.260000e-01,1.250000e-01,1.250000e-01,1.240000e-01,1.230000e-01,1.240000e-01,1.240000e-01,...,5.100000e-02,5.100000e-02,5.100000e-02,5.200000e-02,5.300000e-02,5.300000e-02,5.300000e-02,5.200000e-02,5.200000e-02,5.200000e-02
4,Total Farm,3.719000e+05,3.687000e+05,3.737000e+05,3.745000e+05,3.850000e+05,3.994000e+05,3.775000e+05,3.838000e+05,3.844000e+05,...,4.234000e+05,4.506000e+05,4.484000e+05,4.271000e+05,4.250000e+05,4.264000e+05,4.067000e+05,4.106000e+05,4.147000e+05,4.191000e+05

In [3]:
titles_df = CalaverasCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                            Total Farm
5                                         Total Nonfarm
6                                       Goods Producing
7                                    Mining and Logging
8                                          Construction
9                                         Manufacturing
10                                        Durable Goods
11                                    Non-Durable Goods
12                                    Service Providing
13                 Trade, Transportation, and Utilities
14                                      Wholesale Trade
15                                         Retail Trade
16            Transportation, Warehousing, and Utili...
17                                          Information
18                                 Financial Activities
19                                Finance and Insurance
20                   Real Estate and Rental and Leasing
21                   Professional and Business Services
22            Professional, Scientific, and Technica...
23              Management of Companies and Enterprises
24            Administrative and Support and Waste a...
25                Private Education and Health Services
26                         Private Educational Services
27                    Health Care and Social Assistance
28                              Leisure and Hospitality
29                  Arts, Entertainment, and Recreation
30                      Accommodation and Food Services
31                                       Other Services
32                                           Government
33                                   Federal Government
34                                     State Government
35                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = CalaverasCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    CalaverasCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = CalaverasCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = CalaverasCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force   18367191.67
1                                 Civilian Employment   16080100.00
2                               Civilian Unemployment    2287100.00
3                          Civilian Unemployment Rate          0.12
4                                          Total Farm     382925.00
5                                       Total Nonfarm   14282241.67
6                                     Goods Producing    1834525.00
7                                  Mining and Logging      24700.00
8                                        Construction     560433.33
9                                       Manufacturing    1249391.67
10                                      Durable Goods     780583.33
11                                  Non-Durable Goods     468808.33
12                                  Service Providing   12447716.67
13               Trade, Transportation, and Utilities    2607875.00
14                                    Wholesale Trade     630650.00
15                                       Retail Trade    1509183.33
16          Transportation, Warehousing, and Utili...     468041.67
17                                        Information     431925.00
18                               Financial Activities     761141.67
19                              Finance and Insurance     512608.33
20                 Real Estate and Rental and Leasing     248533.33
21                 Professional and Business Services    2082683.33
22          Professional, Scientific, and Technica...    1012325.00
23            Management of Companies and Enterprises     209666.67
24          Administrative and Support and Waste a...     860691.67
25              Private Education and Health Services    2131441.67
26                       Private Educational Services     292766.67
27                  Health Care and Social Assistance    1838675.00
28                            Leisure and Hospitality    1500708.33
29                Arts, Entertainment, and Recreation     241966.67
30                    Accommodation and Food Services    1258741.67
31                                     Other Services     483725.00
32                                         Government    2448216.67
33                                 Federal Government     268300.00
34                                   State Government     483558.33
35                                   Local Government    1696358.33

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0    18405175.00   18488966.67   18568483.33   18677108.33   18824850.00
1    16218316.67   16543566.67   16892025.00   17264841.67   17649566.67
2     2186858.33    1945366.67    1676475.00    1412283.33    1175283.33
3           0.12          0.11          0.09          0.08          0.06
4      389650.00     399808.33     412733.33     416975.00     422625.00
5    14436658.33   14762016.67   15151175.00   15574683.33   16049083.33
6     1844783.33    1880983.33    1930583.33    1986275.00    2064066.67
7       26791.67      28416.67      28425.00      29441.67      26583.33
8      561791.67     590475.00     637850.00     674575.00     732308.33
9     1256200.00    1262091.67    1264308.33    1282258.33    1305175.00
10     789308.33     793116.67     793066.67     805450.00     822075.00
11     466891.67     468975.00     471241.67     476808.33     483100.00
12   12591875.00   12881033.33   13220591.67   13588408.33   13985016.67
13    2657150.00    2707075.00    2760791.67    2826741.67    2899200.00
14     643416.67     657566.67     672383.33     684258.33     691125.00
15    1537250.00    1559800.00    1582791.67    1615866.67    1648233.33
16     476483.33     489708.33     505616.67     526616.67     559841.67
17     434350.00     440041.67     454308.33     468350.00     492916.67
18     762508.33     773733.33     783075.00     782408.33     801966.67
19     515108.33     522616.67     523816.67     516633.33     529691.67
20     247400.00     251116.67     259258.33     265775.00     272275.00
21    2141200.00    2249275.00    2348091.67    2427700.00    2491750.00
22    1045491.67    1097708.33    1135608.33    1166075.00    1191008.33
23     214716.67     221225.00     233050.00     237458.33     239400.00
24     880991.67     930341.67     979433.33    1024166.67    1061341.67
25    2162775.00    2233341.67    2309125.00    2378158.33    2464408.33
26     307950.00     317341.67     327608.33     339575.00     347625.00
27    1854825.00    1916000.00    1981516.67    2038583.33    2116783.33
28    1534925.00    1597833.33    1675533.33    1757125.00    1828633.33
29     245716.67     255025.00     265091.67     274875.00     284875.00
30    1289208.33    1342808.33    1410441.67    1482250.00    1543758.33
31     492475.00     503683.33     515633.33     534966.67     543850.00
32    2406491.67    2376050.00    2374033.33    2412958.33    2462291.67
33     255275.00     250450.00     245616.67     242516.67     244358.33
34     485658.33     482166.67     484241.67     496350.00     509083.33
35    1665558.33    1643433.33    1644175.00    1674091.67    1708850.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0    19013908.33   19183600.00   19288541.67   19386225.00   18955275.00
1    17965091.67   18255625.00   18467258.33   18591375.00   17033833.33
2     1048808.33     927975.00     821275.00     794841.67    1921458.33
3           0.06          0.05          0.04          0.04          0.10
4      425408.33     422916.67     422041.67     422783.33     406983.33
5    16478858.33   16826850.00   17172016.67   17431375.00   16184925.00
6     2110400.00    2147500.00    2210058.33    2239841.67    2143808.33
7       22508.33      22116.67      22666.67      22783.33      20166.67
8      775991.67     810866.67     861200.00     887383.33     855933.33
9     1311900.00    1314516.67    1326191.67    1329675.00    1267708.33
10     824400.00     829816.67     846933.33     852125.00     822216.67
11     487500.00     484700.00     479258.33     477550.00     445491.67
12   14368458.33   14679350.00   14961958.33   15191533.33   14041116.67
13    2957233.33    3005975.00    3035175.00    3042883.33    2890941.67
14     693658.33     697041.67     699675.00     693333.33     645025.00
15    1666083.33    1673383.33    1667033.33    1641141.67    1511091.67
16     597491.67     635550.00     668466.67     708408.33     734825.00
17     531208.33     534950.00     548925.00     567175.00     540383.33
18     822358.33     831808.33     836841.67     840050.00     816300.00
19     544058.33     546291.67     541958.33     537316.67     533966.67
20     278300.00     285516.67     294883.33     302733.33     282333.33
21    2533708.33    2585291.67    2672891.67    2726300.00    2603466.67
22    1210925.00    1237308.33    1281475.00    1331066.67    1301350.00
23     238725.00     249191.67     258200.00     258166.67     245416.67
24    1084058.33    1098791.67    1133216.67    1137066.67    1056700.00
25    2552716.67    2650900.00    2723075.00    2807458.33    2738166.67
26     354858.33     363783.33     373783.33     383366.67     347958.33
27    2197858.33    2287116.67    2349291.67    2424091.67    2390208.33
28    1901650.00    1952475.00    1991841.67    2034100.00    1481608.33
29     299816.67     306808.33     316325.00     329758.33     207633.33
30    1601833.33    1645666.67    1675516.67    1704341.67    1273975.00
31     553908.33     563950.00     571941.67     576516.67     477641.67
32    2515675.00    2554000.00    2581266.67    2597050.00    2492608.33
33     247508.33     248116.67     246233.33     248166.67     259916.67
34     519766.67     527908.33     533800.00     533391.67     528508.33
35    1748400.00    1777975.00    1801233.33    1815491.67    1704183.33

    2021_Average  2022_Average  2023_Average  2024_Average
0    18961175.00   19168825.00   19308516.67   18996035.42
1    17571883.33   18350233.33   18393925.00   17610254.17
2     1389283.33     818583.33     914600.00    1385798.61
3           0.07          0.04          0.05          0.07
4      409300.00     417891.67     411300.00     410974.30
5    16750475.00   17670391.67   17829716.67   16690722.92
6     2184541.67    2270533.33    2268125.00    2110237.50
7       19141.67      19591.67      19591.67      23081.25
8      882450.00     912508.33     914191.67     793143.75
9     1282950.00    1338433.33    1334341.67    1294012.50
10     828358.33     866500.00     868008.33     827360.42
11     454591.67     471933.33     466333.33     466652.08
12   14565933.33   15399858.33   15561591.67   14580485.42
13    3022625.00    3128608.33    3109675.00    2940861.11
14     647358.33     665841.67     667750.00     661681.25
15    1581750.00    1614225.00    1610200.00    1588957.64
16     793516.67     848541.67     831725.00     690222.22
17     568658.33     617591.67     559550.00     494972.92
18     827075.00     838616.67     814766.67     791863.89
19     537691.67     533150.00     509841.67     508523.61
20     289383.33     305466.67     304925.00     283340.28
21    2712200.00    2853125.00    2776483.33    2558354.17
22    1345200.00    1426991.67    1417016.67    1281825.69
23     244675.00     245950.00     242500.00     233659.72
24    1122325.00    1180183.33    1116966.67    1042868.75
25    2817875.00    2932541.67    3101291.67    2821870.14
26     355075.00     378983.33     399500.00     375761.81
27    2462800.00    2553558.33    2701791.67    2446108.33
28    1641250.00    1931133.33    2009625.00    1860152.08
29     239025.00     307950.00     333083.33     307181.25
30    1402225.00    1623183.33    1676541.67    1552970.83
31     506575.00     564741.67     587900.00     561015.28
32    2469675.00    2533500.00    2602300.00    2551395.83
33     251400.00     247783.33     250408.33     253088.19
34     534783.33     543291.67     555058.33     533089.58
35    1683491.67    1742425.00    1796833.33    1765218.06

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,18367191.67,18405175.00,18488966.67,18568483.33,18677108.33,18824850.00,19013908.33,19183600.00,19288541.67,19386225.00,18955275.00,18961175.00,19168825.00,19308516.67,18996035.42
1,Civilian Employment,16080100.00,16218316.67,16543566.67,16892025.00,17264841.67,17649566.67,17965091.67,18255625.00,18467258.33,18591375.00,17033833.33,17571883.33,18350233.33,18393925.00,17610254.17
2,Civilian Unemployment,2287100.00,2186858.33,1945366.67,1676475.00,1412283.33,1175283.33,1048808.33,927975.00,821275.00,794841.67,1921458.33,1389283.33,818583.33,914600.00,1385798.61
3,Civilian Unemployment Rate,0.12,0.12,0.11,0.09,0.08,0.06,0.06,0.05,0.04,0.04,0.10,0.07,0.04,0.05,0.07
4,Total Farm,382925.00,389650.00,399808.33,412733.33,416975.00,422625.00,425408.33,422916.67,422041.67,422783.33,406983.33,409300.00,417891.67,411300.00,410974.30

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Calaveras_county.csv', index=False)  # Set index=False to avoid exporting the row indices