In [1]:
import pandas as pd

# Load the .xls Excel file
HumboldtCounty = pd.read_excel("Resources/HUMBOHWS.xls", engine='xlrd')

HumboldtCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,23,NaN,NaN,1,00-000010,Civilian Labor Force,65700.000,66100.000,...,60600.000,60600.000,60000.00,60100.000,61100.000,61300.000,60100.000,60200.000,60100.000,59300.000
1,2,2023,23,NaN,NaN,1,00-000020,Civilian Employment,57800.000,58400.000,...,57800.000,57700.000,56900.00,56500.000,57500.000,58000.000,57200.000,57700.000,57100.000,56100.000
2,3,2023,23,NaN,NaN,1,00-000030,Civilian Unemployment,7800.000,7700.000,...,2800.000,2900.000,3000.00,3500.000,3600.000,3300.000,2900.000,2500.000,3000.000,3200.000
3,4,2023,23,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.119,0.116,...,0.047,0.048,0.05,0.059,0.059,0.054,0.049,0.041,0.051,0.055
4,8,2023,23,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",46500.000,46700.000,...,52200.000,52100.000,51800.00,50600.000,51300.000,51700.000,51700.000,52300.000,52500.000,50800.000

In [2]:
HumboldtCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

HumboldtCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,65700.000,66100.000,66700.000,66500.000,66400.000,66000.000,65600.000,65900.000,66100.000,...,60600.000,60600.000,60000.00,60100.000,61100.000,61300.000,60100.000,60200.000,60100.000,59300.000
1,Civilian Employment,57800.000,58400.000,58900.000,59200.000,59700.000,59000.000,58500.000,58900.000,59600.000,...,57800.000,57700.000,56900.00,56500.000,57500.000,58000.000,57200.000,57700.000,57100.000,56100.000
2,Civilian Unemployment,7800.000,7700.000,7700.000,7300.000,6800.000,7000.000,7100.000,7000.000,6500.000,...,2800.000,2900.000,3000.00,3500.000,3600.000,3300.000,2900.000,2500.000,3000.000,3200.000
3,Civilian Unemployment Rate,0.119,0.116,0.116,0.109,0.102,0.106,0.109,0.106,0.098,...,0.047,0.048,0.05,0.059,0.059,0.054,0.049,0.041,0.051,0.055
4,"Total, All Industries",46500.000,46700.000,47400.000,47500.000,48600.000,48000.000,47100.000,47600.000,48100.000,...,52200.000,52100.000,51800.00,50600.000,51300.000,51700.000,51700.000,52300.000,52500.000,50800.000

In [3]:
titles_df = HumboldtCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                     Mining, Logging, and Construction
10                                   Mining and Logging
11                                         Construction
12                                        Manufacturing
13                                        Durable Goods
14                                    Non-Durable Goods
15                                    Service-Providing
16                            Private Service Providing
17                 Trade, Transportation, and Utilities
18                                      Wholesale Trade
19                                         Retail Trade
20            Transportation, Warehousing, and Utili...
21                                          Information
22                                 Financial Activities
23                   Professional and Business Services
24                Private Education and Health Services
25                              Leisure and Hospitality
26                                       Other Services
27                                           Government
28                                   Federal Government
29                     Total State and Local Government
30                                     State Government
31                State Government Educational Services
32                 State Government Excluding Education
33                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = HumboldtCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    HumboldtCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = HumboldtCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = HumboldtCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force      66075.00
1                                 Civilian Employment      58941.67
2                               Civilian Unemployment       7133.33
3                          Civilian Unemployment Rate          0.11
4                               Total, All Industries      47708.33
5                                          Total Farm        800.00
6                                       Total Nonfarm      46908.33
7                                       Total Private      33266.67
8                                     Goods Producing       4225.00
9                   Mining, Logging, and Construction       2100.00
10                                 Mining and Logging        375.00
11                                       Construction       1725.00
12                                      Manufacturing       2125.00
13                                      Durable Goods       1258.33
14                                  Non-Durable Goods        866.67
15                                  Service-Providing      42683.33
16                          Private Service Providing      29041.67
17               Trade, Transportation, and Utilities       9116.67
18                                    Wholesale Trade        975.00
19                                       Retail Trade       6941.67
20          Transportation, Warehousing, and Utili...       1200.00
21                                        Information        600.00
22                               Financial Activities       1658.33
23                 Professional and Business Services       2900.00
24              Private Education and Health Services       7700.00
25                            Leisure and Hospitality       5183.33
26                                     Other Services       1883.33
27                                         Government      13641.67
28                                 Federal Government        900.00
29                   Total State and Local Government      12741.67
30                                   State Government       3075.00
31              State Government Educational Services       1850.00
32               State Government Excluding Education       1225.00
33                                   Local Government       9666.67

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0       64941.67      64133.33      62833.33      62225.00      62291.67
1       58008.33      57883.33      57658.33      58033.33      58775.00
2        6941.67       6250.00       5141.67       4191.67       3500.00
3           0.11          0.10          0.08          0.07          0.06
4       46833.33      46775.00      47008.33      47658.33      48650.00
5         858.33        866.67        808.33        816.67        866.67
6       45975.00      45908.33      46200.00      46841.67      47783.33
7       32475.00      32408.33      32758.33      33108.33      33858.33
8        4208.33       4058.33       4016.67       4016.67       4100.00
9        2133.33       2058.33       1958.33       1941.67       2066.67
10        383.33        358.33        358.33        341.67        316.67
11       1750.00       1700.00       1600.00       1600.00       1750.00
12       2075.00       2000.00       2058.33       2075.00       2033.33
13       1158.33       1100.00       1108.33       1083.33       1008.33
14        916.67        900.00        950.00        991.67       1025.00
15      41766.67      41850.00      42183.33      42825.00      43683.33
16      28266.67      28350.00      28741.67      29091.67      29758.33
17       8916.67       9166.67       9200.00       9258.33       9375.00
18       1025.00       1033.33       1000.00        983.33        916.67
19       6733.33       6841.67       6916.67       7008.33       7225.00
20       1158.33       1291.67       1283.33       1266.67       1233.33
21        591.67        516.67        500.00        500.00        500.00
22       1616.67       1600.00       1600.00       1591.67       1625.00
23       2716.67       2650.00       2633.33       2575.00       2700.00
24       7566.67       7441.67       7766.67       8000.00       8108.33
25       4991.67       5133.33       5125.00       5275.00       5566.67
26       1866.67       1841.67       1916.67       1891.67       1883.33
27      13500.00      13500.00      13441.67      13733.33      13925.00
28        741.67        725.00        708.33        725.00        750.00
29      12758.33      12775.00      12733.33      13008.33      13175.00
30       3175.00       3275.00       3350.00       3441.67       3450.00
31       1983.33       2033.33       2108.33       2150.00       2133.33
32       1191.67       1241.67       1241.67       1291.67       1316.67
33       9583.33       9500.00       9383.33       9566.67       9725.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0       62416.67      62500.00      62533.33      62133.33      59750.00
1       59333.33      59841.67      60266.67      59866.67      54666.67
2        3091.67       2633.33       2266.67       2266.67       5108.33
3           0.05          0.04          0.04          0.04          0.09
4       49733.33      50666.67      51400.00      51850.00      47816.67
5         883.33        850.00        883.33       1008.33       1216.67
6       48850.00      49816.67      50516.67      50841.67      46600.00
7       34675.00      35500.00      36175.00      36366.67      33141.67
8        4133.33       4375.00       4591.67       4741.67       4658.33
9        2066.67       2333.33       2491.67       2566.67       2541.67
10        316.67        383.33        408.33        391.67        350.00
11       1750.00       1950.00       2083.33       2175.00       2191.67
12       2066.67       2041.67       2108.33       2200.00       2100.00
13       1000.00       1033.33       1058.33       1100.00       1058.33
14       1091.67       1016.67       1058.33       1108.33       1016.67
15      44716.67      45458.33      45941.67      46083.33      41916.67
16      30558.33      31125.00      31583.33      31608.33      28475.00
17       9541.67       9591.67       9400.00       9283.33       8608.33
18        975.00        991.67       1050.00       1100.00       1075.00
19       7383.33       7450.00       7225.00       7158.33       6516.67
20       1175.00       1158.33       1116.67       1000.00       1025.00
21        425.00        408.33        400.00        400.00        325.00
22       1650.00       1700.00       1775.00       1816.67       1700.00
23       2750.00       2925.00       3325.00       3566.67       3316.67
24       8483.33       8775.00       8908.33       8916.67       8375.00
25       5833.33       5808.33       5766.67       5633.33       4325.00
26       1816.67       1900.00       2000.00       2025.00       1866.67
27      14166.67      14325.00      14366.67      14475.00      13466.67
28        783.33        825.00        741.67        758.33        800.00
29      13375.00      13525.00      13616.67      13716.67      12625.00
30       3500.00       3433.33       3466.67       3516.67       3341.67
31       2200.00       2158.33       2150.00       2158.33       1958.33
32       1283.33       1275.00       1325.00       1358.33       1391.67
33       9883.33      10091.67      10166.67      10191.67       9291.67

    2021_Average  2022_Average  2023_Average  2024_Average
0       58783.33      59100.00      59950.00      61867.36
1       55083.33      56700.00      57166.67      57552.08
2        3716.67       2391.67       2750.00       4304.86
3           0.06          0.04          0.05          0.07
4       48358.33      50166.67      51000.00      49740.28
5        1350.00       1050.00        875.00        854.17
6       47008.33      49116.67      50125.00      48886.11
7       33933.33      35066.67      35325.00      34384.72
8        5091.67       5183.33       5258.33       4760.42
9        2641.67       2791.67       2883.33       2549.31
10        350.00        350.00        366.67        376.39
11       2291.67       2441.67       2516.67       2172.92
12       2441.67       2400.00       2366.67       2236.11
13       1191.67       1225.00       1308.33       1242.36
14       1225.00       1133.33       1058.33        968.75
15      41925.00      43933.33      44875.00      44117.36
16      28833.33      29883.33      30041.67      29607.64
17       8666.67       8741.67       8458.33       8746.53
18       1108.33       1158.33       1091.67       1059.72
19       6516.67       6533.33       6291.67       6545.14
20       1058.33       1075.00       1083.33       1141.67
21        300.00        333.33        300.00        400.70
22       1666.67       1750.00       1700.00       1647.22
23       3166.67       2916.67       2875.00       2772.92
24       8250.00       8608.33       9108.33       8581.25
25       4825.00       5425.00       5383.33       5292.36
26       1900.00       2075.00       2233.33       2141.67
27      13083.33      14050.00      14808.33      14501.39
28        766.67        791.67        816.67        800.00
29      12316.67      13266.67      14008.33      13701.39
30       3100.00       3333.33       3600.00       3509.72
31       1683.33       1866.67       2066.67       2060.42
32       1416.67       1500.00       1525.00       1440.97
33       9216.67       9941.67      10408.33      10200.00

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,66075.00,64941.67,64133.33,62833.33,62225.00,62291.67,62416.67,62500.00,62533.33,62133.33,59750.00,58783.33,59100.00,59950.00,61867.36
1,Civilian Employment,58941.67,58008.33,57883.33,57658.33,58033.33,58775.00,59333.33,59841.67,60266.67,59866.67,54666.67,55083.33,56700.00,57166.67,57552.08
2,Civilian Unemployment,7133.33,6941.67,6250.00,5141.67,4191.67,3500.00,3091.67,2633.33,2266.67,2266.67,5108.33,3716.67,2391.67,2750.00,4304.86
3,Civilian Unemployment Rate,0.11,0.11,0.10,0.08,0.07,0.06,0.05,0.04,0.04,0.04,0.09,0.06,0.04,0.05,0.07
4,"Total, All Industries",47708.33,46833.33,46775.00,47008.33,47658.33,48650.00,49733.33,50666.67,51400.00,51850.00,47816.67,48358.33,50166.67,51000.00,49740.28

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Humboldt_county.csv', index=False)  # Set index=False to avoid exporting the row indices