In [1]:
import pandas as pd

# Load the .xls Excel file
InyoCounty = pd.read_excel("Resources/INYOHWS.xls", engine='xlrd')

InyoCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,27,NaN,NaN,1,00-000010,Civilian Labor Force,9580.000,9620.00,...,8370.000,8440.000,8330.000,8260.000,8520.000,8540.000,8430.000,8490.000,8620.000,8770.00
1,2,2023,27,NaN,NaN,1,00-000020,Civilian Employment,8550.000,8560.00,...,8060.000,8110.000,7980.000,7860.000,8110.000,8180.000,8100.000,8230.000,8300.000,8420.00
2,3,2023,27,NaN,NaN,1,00-000030,Civilian Unemployment,1040.000,1060.00,...,310.000,330.000,340.000,390.000,400.000,370.000,320.000,260.000,320.000,350.00
3,4,2023,27,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.108,0.11,...,0.037,0.039,0.041,0.048,0.047,0.043,0.038,0.031,0.037,0.04
4,8,2023,27,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",7390.000,7390.00,...,7700.000,7760.000,7710.000,7460.000,7710.000,7780.000,7790.000,7940.000,8100.000,8140.00

In [2]:
InyoCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

InyoCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,9580.000,9620.00,9660.000,9670.000,9730.000,9750.000,9990.000,9970.000,9920.000,...,8370.000,8440.000,8330.000,8260.000,8520.000,8540.000,8430.000,8490.000,8620.000,8770.00
1,Civilian Employment,8550.000,8560.00,8600.000,8730.000,8830.000,8810.000,9040.000,9020.000,9020.000,...,8060.000,8110.000,7980.000,7860.000,8110.000,8180.000,8100.000,8230.000,8300.000,8420.00
2,Civilian Unemployment,1040.000,1060.00,1050.000,940.000,900.000,940.000,950.000,950.000,910.000,...,310.000,330.000,340.000,390.000,400.000,370.000,320.000,260.000,320.000,350.00
3,Civilian Unemployment Rate,0.108,0.11,0.109,0.097,0.093,0.096,0.095,0.096,0.091,...,0.037,0.039,0.041,0.048,0.047,0.043,0.038,0.031,0.037,0.04
4,"Total, All Industries",7390.000,7390.00,7450.000,7580.000,7740.000,7770.000,7840.000,7820.000,7820.000,...,7700.000,7760.000,7710.000,7460.000,7710.000,7780.000,7790.000,7940.000,8100.000,8140.00

In [3]:
titles_df = InyoCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                                        Manufacturing
13                                        Durable Goods
14                                    Non-Durable Goods
15                                    Service-Providing
16                            Private Service Providing
17                 Trade, Transportation, and Utilities
18                                      Wholesale Trade
19                                         Retail Trade
20            Transportation, Warehousing, and Utili...
21                                          Information
22                                 Financial Activities
23                   Professional and Business Services
24                Private Education and Health Services
25                              Leisure and Hospitality
26                                       Other Services
27                                           Government
28                                   Federal Government
29                     Total State and Local Government
30                                     State Government
31                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = InyoCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    InyoCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = InyoCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = InyoCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force       9754.17
1                                 Civilian Employment       8783.33
2                               Civilian Unemployment        971.67
3                          Civilian Unemployment Rate          0.10
4                               Total, All Industries       7650.83
5                                          Total Farm         45.83
6                                       Total Nonfarm       7605.00
7                                       Total Private       4413.33
8                                     Goods Producing        470.00
9                    Mining, Logging and Construction        208.33
10                                 Mining and Logging         45.83
11                                       Construction        162.50
12                                      Manufacturing        263.33
13                                      Durable Goods         33.33
14                                  Non-Durable Goods        230.83
15                                  Service-Providing       7133.33
16                          Private Service Providing       3944.17
17               Trade, Transportation, and Utilities       1279.17
18                                    Wholesale Trade        115.83
19                                       Retail Trade        965.83
20          Transportation, Warehousing, and Utili...        200.83
21                                        Information         80.83
22                               Financial Activities        152.50
23                 Professional and Business Services        271.67
24              Private Education and Health Services        490.83
25                            Leisure and Hospitality       1472.50
26                                     Other Services        196.67
27                                         Government       3190.83
28                                 Federal Government        434.17
29                   Total State and Local Government       2756.67
30                                   State Government        393.33
31                                   Local Government       2362.50

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0        9661.67       9535.83       9355.00       9193.33       9082.50
1        8706.67       8656.67       8614.17       8560.00       8553.33
2         955.83        880.00        743.33        634.17        530.00
3           0.10          0.09          0.08          0.07          0.06
4        7568.33       7526.67       7556.67       7552.50       7599.17
5          55.00         55.83         51.67         55.83         55.83
6        7513.33       7470.83       7505.00       7496.67       7543.33
7        4290.83       4235.00       4309.17       4380.83       4461.67
8         458.33        440.83        457.50        599.17        611.67
9         202.50        192.50        211.67        345.83        337.50
10         48.33         50.00         45.00         41.67         38.33
11        154.17        142.50        166.67        304.17        299.17
12        257.50        252.50        247.50        252.50        271.67
13         30.00         30.00         30.83         30.00         31.67
14        225.83        223.33        217.50        225.00        240.00
15       7057.50       7029.17       7049.17       6897.50       6931.67
16       3832.50       3796.67       3851.67       3781.67       3851.67
17       1235.83       1190.83       1215.83       1243.33       1225.00
18        120.00        115.00        115.83        118.33        107.50
19        921.67        878.33        908.33        940.83        941.67
20        193.33        195.83        191.67        187.50        176.67
21         75.00         60.83         60.83         58.33         55.83
22        150.83        150.83        140.83        140.83        151.67
23        265.83        269.17        235.00        218.33        248.33
24        475.00        521.67        629.17        603.33        595.83
25       1452.50       1408.33       1389.17       1334.17       1389.17
26        185.00        194.17        183.33        181.67        188.33
27       3226.67       3235.00       3195.83       3115.00       3079.17
28        401.67        390.83        366.67        343.33        298.33
29       2825.00       2845.00       2830.00       2771.67       2782.50
30        398.33        383.33        369.17        360.83        360.00
31       2425.00       2462.50       2460.00       2409.17       2421.67

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0        8860.00       8606.67       8705.00       8755.83       8320.00
1        8390.00       8226.67       8362.50       8444.17       7657.50
2         469.17        378.33        340.00        314.17        664.17
3           0.05          0.04          0.04          0.04          0.08
4        7530.00       7430.83       7618.33       7795.00       7115.83
5          56.67         54.17         47.50         43.33         31.67
6        7473.33       7376.67       7570.83       7751.67       7084.17
7        4442.50       4332.50       4479.17       4563.33       4006.67
8         538.33        522.50        555.00        554.17        541.67
9         252.50        230.00        249.17        236.67        236.67
10         30.00         22.50         10.00         10.00          8.33
11        222.50        207.50        239.17        226.67        228.33
12        284.17        292.50        308.33        321.67        305.83
13         35.83         32.50         33.33         30.83         39.17
14        249.17        259.17        275.83        290.83        269.17
15       6935.83       6857.50       7016.67       7197.50       6541.67
16       3902.50       3810.83       3925.00       4008.33       3463.33
17       1227.50       1225.83       1247.50       1236.67       1124.17
18        102.50         96.67         90.00         93.33         87.50
19        946.67        952.50        970.00        950.83        840.00
20        180.00        176.67        189.17        193.33        196.67
21         50.00         47.50         40.00         48.33         37.50
22        155.00        160.83        158.33        161.67        150.00
23        241.67        220.83        226.67        210.83        214.17
24        560.83        427.50        438.33        466.67        485.00
25       1471.67       1531.67       1603.33       1684.17       1299.17
26        200.83        202.50        210.83        203.33        155.00
27       3030.83       3045.83       3094.17       3188.33       3080.00
28        287.50        285.83        295.00        302.50        295.83
29       2745.83       2761.67       2798.33       2890.00       2782.50
30        361.67        356.67        366.67        367.50        361.67
31       2383.33       2406.67       2432.50       2521.67       2420.83

    2021_Average  2022_Average  2023_Average  2024_Average
0        8239.17       8157.50       8354.17       8927.50
1        7751.67       7848.33       8040.00       8376.74
2         491.67        308.33        315.00        549.58
3           0.06          0.04          0.04          0.06
4        7244.17       7365.00       7608.33       7731.25
5          30.83         30.00         28.33         38.68
6        7213.33       7335.00       7580.00       7692.57
7        4104.17       4242.50       4386.67       4461.60
8         521.67        546.67        603.33        572.99
9         220.00        220.83        273.33        270.07
10         12.50         20.00         39.17         45.07
11        207.50        200.83        234.17        225.00
12        305.83        328.33        329.17        303.61
13         35.00         40.83         49.17         46.18
14        269.17        287.50        283.33        259.37
15       6690.00       6787.50       6978.33       7119.72
16       3583.33       3694.17       3781.67       3889.72
17       1130.00       1139.17       1178.33       1198.75
18         83.33         84.17         91.67        103.75
19        847.50        848.33        870.00        893.75
20        201.67        205.00        214.17        202.43
21         30.83         35.83         44.17         57.15
22        138.33        134.17        130.00        135.48
23        289.17        287.50        315.00        313.33
24        485.00        463.33        527.50        563.33
25       1360.00       1477.50       1430.83       1453.06
26        151.67        159.17        158.33        171.74
27       3106.67       3094.17       3195.00       3231.11
28        281.67        279.17        300.00        333.06
29       2828.33       2816.67       2895.83       2897.36
30        348.33        360.83        385.83        395.42
31       2479.17       2455.83       2510.00       2503.26

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,9754.17,9661.67,9535.83,9355.00,9193.33,9082.50,8860.00,8606.67,8705.00,8755.83,8320.00,8239.17,8157.50,8354.17,8927.50
1,Civilian Employment,8783.33,8706.67,8656.67,8614.17,8560.00,8553.33,8390.00,8226.67,8362.50,8444.17,7657.50,7751.67,7848.33,8040.00,8376.74
2,Civilian Unemployment,971.67,955.83,880.00,743.33,634.17,530.00,469.17,378.33,340.00,314.17,664.17,491.67,308.33,315.00,549.58
3,Civilian Unemployment Rate,0.10,0.10,0.09,0.08,0.07,0.06,0.05,0.04,0.04,0.04,0.08,0.06,0.04,0.04,0.06
4,"Total, All Industries",7650.83,7568.33,7526.67,7556.67,7552.50,7599.17,7530.00,7430.83,7618.33,7795.00,7115.83,7244.17,7365.00,7608.33,7731.25

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Inyo_county.csv', index=False)  # Set index=False to avoid exporting the row indices