In [1]:
import pandas as pd

# Load the .xls Excel file
MaderaCounty = pd.read_excel("Resources/MAD$HWS.xls", engine='xlrd')

MaderaCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,31460,NaN,NaN,1,00-000010,Civilian Labor Force,62600.000,63100.000,...,64700.000,64700.000,65700.000,67300.000,68000.000,66400.00,65200.000,66000.000,65900.000,65500.000
1,2,2023,31460,NaN,NaN,1,00-000020,Civilian Employment,51500.000,51600.000,...,60300.000,60000.000,60600.000,61400.000,61700.000,60400.00,59700.000,61500.000,61000.000,60200.000
2,3,2023,31460,NaN,NaN,1,00-000030,Civilian Unemployment,11100.000,11500.000,...,4500.000,4700.000,5100.000,5900.000,6200.000,6000.00,5500.000,4500.000,4900.000,5300.000
3,4,2023,31460,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.177,0.182,...,0.069,0.072,0.078,0.087,0.092,0.09,0.084,0.069,0.075,0.081
4,8,2023,31460,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",43600.000,43700.000,...,56900.000,56600.000,57700.000,57400.000,58100.000,56400.00,56400.000,58800.000,59100.000,57400.000

In [2]:
MaderaCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

MaderaCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,62600.000,63100.000,60800.000,59500.000,62700.000,63100.000,61100.00,62200.000,63200.000,...,64700.000,64700.000,65700.000,67300.000,68000.000,66400.00,65200.000,66000.000,65900.000,65500.000
1,Civilian Employment,51500.000,51600.000,49200.000,48700.000,52500.000,52900.000,50700.00,52300.000,53900.000,...,60300.000,60000.000,60600.000,61400.000,61700.000,60400.00,59700.000,61500.000,61000.000,60200.000
2,Civilian Unemployment,11100.000,11500.000,11600.000,10800.000,10200.000,10200.000,10400.00,9900.000,9300.000,...,4500.000,4700.000,5100.000,5900.000,6200.000,6000.00,5500.000,4500.000,4900.000,5300.000
3,Civilian Unemployment Rate,0.177,0.182,0.191,0.182,0.162,0.162,0.17,0.159,0.147,...,0.069,0.072,0.078,0.087,0.092,0.09,0.084,0.069,0.075,0.081
4,"Total, All Industries",43600.000,43700.000,41000.000,40600.000,45600.000,46400.000,43200.00,45200.000,47100.000,...,56900.000,56600.000,57700.000,57400.000,58100.000,56400.00,56400.000,58800.000,59100.000,57400.000

In [3]:
titles_df = MaderaCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                        Manufacturing
11                                    Service Providing
12                            Private Service Providing
13                 Trade, Transportation, and Utilities
14                                         Retail Trade
15            Transportation, Warehousing, and Utili...
16                                          Information
17                                 Financial Activities
18                   Professional and Business Services
19                Private Education and Health Services
20                    Health Care and Social Assistance
21                              Leisure and Hospitality
22                                       Other Services
23                                           Government
24                                   Federal Government
25                     Total State and Local Government
26                                     State Government
27                                     Local Government
28                Local Government Educational Services
29              Local Government excluding Education...
30                                    County Government
31                                      City Government
32                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = MaderaCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    MaderaCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = MaderaCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = MaderaCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force      61750.00
1                                 Civilian Employment      51241.67
2                               Civilian Unemployment      10508.33
3                          Civilian Unemployment Rate          0.17
4                               Total, All Industries      43891.67
5                                          Total Farm      10233.33
6                                       Total Nonfarm      33658.33
7                                       Total Private      23025.00
8                                     Goods Producing       4158.33
9                    Mining, Logging and Construction       1133.33
10                                      Manufacturing       3025.00
11                                  Service Providing      29500.00
12                          Private Service Providing      18866.67
13               Trade, Transportation, and Utilities       4766.67
14                                       Retail Trade       3350.00
15          Transportation, Warehousing, and Utili...        691.67
16                                        Information        400.00
17                               Financial Activities        708.33
18                 Professional and Business Services       2625.00
19              Private Education and Health Services       6991.67
20                  Health Care and Social Assistance       6775.00
21                            Leisure and Hospitality       2533.33
22                                     Other Services        841.67
23                                         Government      10633.33
24                                 Federal Government        358.33
25                   Total State and Local Government      10275.00
26                                   State Government       2541.67
27                                   Local Government       7733.33
28              Local Government Educational Services       4275.00
29            Local Government excluding Education...       3458.33
30                                  County Government       1408.33
31                                    City Government        400.00
32                      Special Districts plus Tribes       1675.00

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0       61966.67      62433.33      62075.00      61716.67      59816.67
1       51783.33      53266.67      54175.00      54725.00      53483.33
2       10183.33       9158.33       7908.33       6983.33       6333.33
3           0.16          0.15          0.13          0.11          0.11
4       44350.00      46025.00      47116.67      47450.00      46233.33
5       10833.33      11583.33      12066.67      11883.33      11383.33
6       33516.67      34441.67      35050.00      35566.67      34850.00
7       23133.33      24341.67      25333.33      25783.33      25691.67
8        4325.00       4758.33       4883.33       5125.00       5100.00
9        1058.33       1125.00       1241.67       1316.67       1541.67
10       3266.67       3633.33       3641.67       3808.33       3558.33
11      29191.67      29683.33      30166.67      30441.67      29750.00
12      18808.33      19583.33      20450.00      20658.33      20591.67
13       4608.33       4850.00       5150.00       5291.67       5416.67
14       3291.67       3400.00       3533.33       3616.67       3708.33
15        550.00        666.67        766.67        783.33        750.00
16        400.00        366.67        400.00        400.00        383.33
17        700.00        758.33        808.33        800.00        775.00
18       2616.67       2816.67       2766.67       2516.67       2216.67
19       7116.67       7258.33       7550.00       7625.00       7691.67
20       6766.67       6891.67       7375.00       7491.67       7608.33
21       2541.67       2725.00       2875.00       3016.67       3066.67
22        825.00        808.33        900.00       1008.33       1041.67
23      10383.33      10100.00       9716.67       9783.33       9158.33
24        333.33        300.00        275.00        275.00        275.00
25      10050.00       9800.00       9441.67       9508.33       8883.33
26       2416.67       2291.67       2225.00       2291.67       2341.67
27       7633.33       7508.33       7216.67       7216.67       6541.67
28       4275.00       4166.67       4008.33       4183.33       4350.00
29       3358.33       3341.67       3208.33       3033.33       2191.67
30       1341.67       1391.67       1408.33       1416.67       1458.33
31        400.00        391.67        383.33        400.00        400.00
32       1616.67       1558.33       1416.67       1216.67        333.33

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0       61050.00      60908.33      61241.67      62116.67      61941.67
1       55416.67      55933.33      56900.00      57791.67      55066.67
2        5658.33       5000.00       4350.00       4316.67       6875.00
3           0.09          0.08          0.07          0.07          0.11
4       48816.67      49666.67      50850.00      52216.67      50383.33
5       12116.67      11966.67      12058.33      12300.00      11533.33
6       36700.00      37700.00      38791.67      39916.67      38850.00
7       26350.00      26966.67      27808.33      28741.67      28058.33
8        5283.33       5308.33       5516.67       5591.67       5316.67
9        1783.33       1816.67       1916.67       1941.67       1983.33
10       3500.00       3491.67       3600.00       3650.00       3333.33
11      31416.67      32391.67      33275.00      34325.00      33533.33
12      21066.67      21658.33      22291.67      23150.00      22741.67
13       5541.67       5541.67       5725.00       5766.67       5858.33
14       3758.33       3800.00       3891.67       3941.67       4033.33
15        800.00        816.67        858.33        866.67        941.67
16        316.67        300.00        308.33        300.00        283.33
17        775.00        733.33        708.33        783.33        733.33
18       2416.67       2483.33       2433.33       2700.00       2775.00
19       7791.67       8266.67       8633.33       8800.00       8825.00
20       7700.00       8191.67       8566.67       8716.67       8783.33
21       3258.33       3433.33       3541.67       3733.33       3316.67
22        966.67        900.00        941.67       1066.67        950.00
23      10350.00      10733.33      10983.33      11175.00      10791.67
24        266.67        258.33        275.00        266.67        333.33
25      10083.33      10475.00      10708.33      10908.33      10458.33
26       2400.00       2500.00       2500.00       2541.67       2591.67
27       7683.33       7975.00       8208.33       8366.67       7866.67
28       4533.33       4691.67       4833.33       4900.00       4616.67
29       3150.00       3283.33       3375.00       3466.67       3250.00
30       1491.67       1508.33       1566.67       1608.33       1616.67
31        400.00        425.00        408.33        400.00        400.00
32       1258.33       1350.00       1400.00       1458.33       1233.33

    2021_Average  2022_Average  2023_Average  2024_Average
0       62091.67      62933.33      64208.33      64520.14
1       56616.67      59016.67      59416.67      57590.97
2        5466.67       3933.33       4791.67       6920.14
3           0.09          0.06          0.07          0.11
4       52308.33      54683.33      55225.00      52702.78
5       11958.33      12358.33      12441.67      12508.33
6       40350.00      42325.00      42783.33      40194.44
7       29408.33      30741.67      30600.00      28551.39
8        5450.00       5558.33       5575.00       5287.50
9        2175.00       2216.67       2250.00       1872.92
10       3275.00       3341.67       3325.00       3414.58
11      34900.00      36766.67      37208.33      34906.94
12      23958.33      25183.33      25025.00      23263.89
13       6125.00       6325.00       6616.67       6030.56
14       4241.67       4241.67       4191.67       3849.31
15        991.67       1125.00       1233.33       1046.53
16        300.00        300.00        300.00        338.89
17        741.67        800.00        758.33        781.25
18       2900.00       3241.67       2991.67       2928.47
19       9100.00       9283.33       8983.33       8486.81
20       9025.00       9200.00       8891.67       8325.00
21       3716.67       4125.00       4191.67       3632.64
22       1075.00       1108.33       1183.33       1065.28
23      10941.67      11583.33      12183.33      11643.06
24        283.33        266.67        275.00        303.47
25      10658.33      11316.67      11908.33      11339.58
26       2500.00       2525.00       2616.67       2572.22
27       8158.33       8791.67       9291.67       8767.36
28       4633.33       5175.00       5591.67       5159.03
29       3525.00       3616.67       3700.00       3608.33
30       1633.33       1625.00       1675.00       1597.22
31        391.67        400.00        350.00        397.92
32       1500.00       1591.67       1675.00       1615.28

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,61750.00,61966.67,62433.33,62075.00,61716.67,59816.67,61050.00,60908.33,61241.67,62116.67,61941.67,62091.67,62933.33,64208.33,64520.14
1,Civilian Employment,51241.67,51783.33,53266.67,54175.00,54725.00,53483.33,55416.67,55933.33,56900.00,57791.67,55066.67,56616.67,59016.67,59416.67,57590.97
2,Civilian Unemployment,10508.33,10183.33,9158.33,7908.33,6983.33,6333.33,5658.33,5000.00,4350.00,4316.67,6875.00,5466.67,3933.33,4791.67,6920.14
3,Civilian Unemployment Rate,0.17,0.16,0.15,0.13,0.11,0.11,0.09,0.08,0.07,0.07,0.11,0.09,0.06,0.07,0.11
4,"Total, All Industries",43891.67,44350.00,46025.00,47116.67,47450.00,46233.33,48816.67,49666.67,50850.00,52216.67,50383.33,52308.33,54683.33,55225.00,52702.78

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Madera_county.csv', index=False)  # Set index=False to avoid exporting the row indices