In [1]:
import pandas as pd

# Load the .xls Excel file
MercedCounty = pd.read_excel("Resources/MERC$HWS.xls", engine='xlrd')

MercedCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,32900,NaN,NaN,1,00-000010,Civilian Labor Force,111900.000,113400.000,...,121000.000,120100.000,119300.000,120500.00,122100.000,121900.000,120600.000,121000.000,121400.000,124300.000
1,2,2023,32900,NaN,NaN,1,00-000020,Civilian Employment,88600.000,89200.000,...,111700.000,110300.000,107800.000,107300.00,107100.000,107700.000,107800.000,110500.000,110000.000,112400.000
2,3,2023,32900,NaN,NaN,1,00-000030,Civilian Unemployment,23300.000,24200.000,...,9300.000,9800.000,11500.000,13200.00,14900.000,14100.000,12800.000,10500.000,11500.000,11900.000
3,4,2023,32900,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.208,0.214,...,0.077,0.082,0.097,0.11,0.122,0.116,0.106,0.087,0.094,0.096
4,8,2023,32900,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",64100.000,65000.000,...,92900.000,90900.000,88600.000,86300.00,86500.000,86800.000,88200.000,91700.000,92100.000,93400.000

In [2]:
MercedCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

MercedCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,111900.000,113400.000,113300.000,113300.00,113800.000,114300.000,111600.000,115700.000,115400.000,...,121000.000,120100.000,119300.000,120500.00,122100.000,121900.000,120600.000,121000.000,121400.000,124300.000
1,Civilian Employment,88600.000,89200.000,89400.000,91900.00,94100.000,94100.000,91200.000,96300.000,97300.000,...,111700.000,110300.000,107800.000,107300.00,107100.000,107700.000,107800.000,110500.000,110000.000,112400.000
2,Civilian Unemployment,23300.000,24200.000,23800.000,21500.00,19700.000,20300.000,20500.000,19400.000,18100.000,...,9300.000,9800.000,11500.000,13200.00,14900.000,14100.000,12800.000,10500.000,11500.000,11900.000
3,Civilian Unemployment Rate,0.208,0.214,0.211,0.19,0.173,0.177,0.183,0.168,0.157,...,0.077,0.082,0.097,0.11,0.122,0.116,0.106,0.087,0.094,0.096
4,"Total, All Industries",64100.000,65000.000,65300.000,67700.00,70700.000,71300.000,67500.000,71800.000,73100.000,...,92900.000,90900.000,88600.000,86300.00,86500.000,86800.000,88200.000,91700.000,92100.000,93400.000

In [3]:
titles_df = MercedCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                        Manufacturing
11                                    Non-Durable Goods
12                                    Service-Providing
13                            Private Service Providing
14                 Trade, Transportation, and Utilities
15                                      Wholesale Trade
16                                         Retail Trade
17            Transportation, Warehousing, and Utili...
18                                          Information
19                                 Financial Activities
20                   Professional and Business Services
21                Private Education and Health Services
22                              Leisure and Hospitality
23                                       Other Services
24                                           Government
25                                   Federal Government
26                     Total State and Local Government
27                                     State Government
28                State Government Educational Services
29                 State Government Excluding Education
30                                     Local Government
31              Local Government excluding Education...
32                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = MercedCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    MercedCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = MercedCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = MercedCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     113866.67
1                                 Civilian Employment      92958.33
2                               Civilian Unemployment      20925.00
3                          Civilian Unemployment Rate          0.18
4                               Total, All Industries      69183.33
5                                          Total Farm      11025.00
6                                       Total Nonfarm      58158.33
7                                       Total Private      41458.33
8                                     Goods Producing       9900.00
9                    Mining, Logging and Construction       1575.00
10                                      Manufacturing       8325.00
11                                  Non-Durable Goods       7316.67
12                                  Service-Providing      48258.33
13                          Private Service Providing      31558.33
14               Trade, Transportation, and Utilities      11125.00
15                                    Wholesale Trade       1283.33
16                                       Retail Trade       7183.33
17          Transportation, Warehousing, and Utili...       2658.33
18                                        Information        625.00
19                               Financial Activities       1600.00
20                 Professional and Business Services       4233.33
21              Private Education and Health Services       8091.67
22                            Leisure and Hospitality       4516.67
23                                     Other Services       1366.67
24                                         Government      16700.00
25                                 Federal Government        833.33
26                   Total State and Local Government      15866.67
27                                   State Government       2400.00
28              State Government Educational Services       1800.00
29               State Government Excluding Education        600.00
30                                   Local Government      13466.67
31            Local Government excluding Education...       4216.67
32                      Special Districts plus Tribes        666.67

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      114700.00     114916.67     114308.33     114158.33     114075.00
1       94141.67      95850.00      97533.33      99350.00     101033.33
2       20558.33      19066.67      16758.33      14825.00      13025.00
3           0.18          0.17          0.15          0.13          0.11
4       70083.33      71766.67      74050.00      75933.33      77683.33
5       11750.00      12875.00      13841.67      14050.00      14391.67
6       58333.33      58891.67      60208.33      61883.33      63291.67
7       41883.33      42466.67      43633.33      44791.67      45625.00
8        9791.67      10016.67      10316.67      11383.33      11733.33
9        1550.00       1608.33       1608.33       1733.33       2016.67
10       8241.67       8408.33       8708.33       9650.00       9716.67
11       7333.33       7400.00       7450.00       8325.00       8391.67
12      48541.67      48875.00      49891.67      50500.00      51558.33
13      32091.67      32450.00      33316.67      33408.33      33891.67
14      11483.33      11733.33      11941.67      11875.00      12100.00
15       1341.67       1475.00       1441.67       1241.67       1258.33
16       7383.33       7416.67       7575.00       7808.33       8033.33
17       2758.33       2841.67       2925.00       2825.00       2808.33
18        441.67        400.00        400.00        400.00        316.67
19       1541.67       1550.00       1500.00       1566.67       1575.00
20       4425.00       4333.33       4316.67       3816.67       3700.00
21       8183.33       8300.00       8775.00       9050.00       9408.33
22       4633.33       4741.67       5008.33       5366.67       5441.67
23       1383.33       1391.67       1375.00       1333.33       1350.00
24      16450.00      16425.00      16575.00      17091.67      17666.67
25        783.33        741.67        716.67        758.33        766.67
26      15666.67      15683.33      15858.33      16333.33      16900.00
27       2450.00       2658.33       2925.00       3075.00       3216.67
28       1850.00       2058.33       2325.00       2475.00       2616.67
29        600.00        600.00        600.00        600.00        600.00
30      13216.67      13025.00      12933.33      13258.33      13683.33
31       3841.67       3675.00       3550.00       3600.00       3750.00
32        608.33        650.00        616.67        600.00        600.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      114333.33     115208.33     115233.33     115766.67     115491.67
1      102216.67     104325.00     105550.00     106308.33     101025.00
2       12133.33      10883.33       9700.00       9458.33      14475.00
3           0.11          0.09          0.08          0.08          0.12
4       79341.67      81725.00      83258.33      85033.33      81783.33
5       14533.33      14641.67      14625.00      14283.33      14208.33
6       64808.33      67083.33      68633.33      70750.00      67575.00
7       46358.33      48458.33      49700.00      51258.33      49183.33
8       11716.67      12291.67      12683.33      13075.00      12758.33
9        2450.00       2741.67       3008.33       3083.33       3058.33
10       9266.67       9550.00       9675.00       9991.67       9700.00
11       7933.33       8150.00       8233.33       8533.33       8191.67
12      53091.67      54791.67      55950.00      57675.00      54816.67
13      34641.67      36166.67      37016.67      38183.33      36425.00
14      12366.67      13008.33      13525.00      13816.67      13433.33
15       1350.00       1516.67       1666.67       1725.00       1733.33
16       8116.67       8341.67       8366.67       8433.33       8233.33
17       2900.00       3150.00       3491.67       3658.33       3466.67
18        300.00        300.00        300.00        300.00        225.00
19       1816.67       1816.67       1841.67       1900.00       1833.33
20       3475.00       3750.00       3808.33       3933.33       3741.67
21       9758.33      10241.67      10283.33      10558.33      10316.67
22       5533.33       5625.00       5783.33       6075.00       5333.33
23       1391.67       1425.00       1475.00       1600.00       1541.67
24      18450.00      18625.00      18933.33      19491.67      18391.67
25        800.00        791.67        741.67        716.67        825.00
26      17650.00      17833.33      18191.67      18775.00      17566.67
27       3500.00       3550.00       3716.67       4008.33       3866.67
28       2916.67       2975.00       3125.00       3408.33       3266.67
29        583.33        575.00        591.67        600.00        600.00
30      14150.00      14283.33      14475.00      14766.67      13700.00
31       3866.67       4008.33       4050.00       4050.00       3941.67
32        600.00        600.00        600.00        600.00        600.00

    2021_Average  2022_Average  2023_Average  2024_Average
0      114950.00     115383.33     118925.00     118645.83
1      103075.00     106425.00     108225.00     103552.78
2       11866.67       8958.33      10700.00      15086.11
3           0.10          0.08          0.09          0.13
4       83391.67      86025.00      87941.67      82168.05
5       14516.67      14175.00      14150.00      13036.81
6       68875.00      71850.00      73791.67      69131.25
7       50658.33      53150.00      54391.67      50469.44
8       12675.00      13225.00      13533.33      12417.36
9        3216.67       3325.00       3366.67       2739.58
10       9458.33       9900.00      10166.67       9677.78
11       7866.67       8091.67       8400.00       8252.08
12      56200.00      58625.00      60258.33      56713.89
13      37983.33      39925.00      40858.33      38052.08
14      13583.33      13750.00      13791.67      12913.19
15       1858.33       1975.00       1950.00       1673.61
16       8716.67       8825.00       8725.00       8172.22
17       3008.33       2950.00       3116.67       3067.36
18        241.67        300.00        300.00        363.89
19       1891.67       1891.67       1800.00       1696.53
20       3808.33       3858.33       3650.00       3918.75
21      10558.33      11050.00      11916.67      10916.67
22       6083.33       6900.00       7100.00       6272.22
23       1816.67       2175.00       2300.00       1970.83
24      18216.67      18700.00      19400.00      18661.81
25        700.00        700.00        700.00        727.78
26      17516.67      18000.00      18700.00      17934.03
27       3600.00       3025.00       3100.00       2942.36
28       3000.00       2366.67       2425.00       2300.69
29        600.00        658.33        675.00        641.67
30      13916.67      14975.00      15600.00      14991.67
31       3950.00       4058.33       4083.33       4023.61
32        600.00        600.00        600.00        595.14

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,113866.67,114700.00,114916.67,114308.33,114158.33,114075.00,114333.33,115208.33,115233.33,115766.67,115491.67,114950.00,115383.33,118925.00,118645.83
1,Civilian Employment,92958.33,94141.67,95850.00,97533.33,99350.00,101033.33,102216.67,104325.00,105550.00,106308.33,101025.00,103075.00,106425.00,108225.00,103552.78
2,Civilian Unemployment,20925.00,20558.33,19066.67,16758.33,14825.00,13025.00,12133.33,10883.33,9700.00,9458.33,14475.00,11866.67,8958.33,10700.00,15086.11
3,Civilian Unemployment Rate,0.18,0.18,0.17,0.15,0.13,0.11,0.11,0.09,0.08,0.08,0.12,0.10,0.08,0.09,0.13
4,"Total, All Industries",69183.33,70083.33,71766.67,74050.00,75933.33,77683.33,79341.67,81725.00,83258.33,85033.33,81783.33,83391.67,86025.00,87941.67,82168.05

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Merced_county.csv', index=False)  # Set index=False to avoid exporting the row indices