In [1]:
import pandas as pd

# Load the .xls Excel file
PlacerCounty = pd.read_excel("Resources/PLACEHWS.xls", engine='xlrd')

PlacerCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,61,NaN,NaN,1,00-000010,Civilian Labor Force,174300.000,174200.000,...,196000.00,197000.00,195200.00,196800.000,197700.000,198000.000,195800.000,195000.000,195500.000,196800.000
1,2,2023,61,NaN,NaN,1,00-000020,Civilian Employment,152600.000,152800.000,...,188200.00,189100.00,187400.00,187900.000,188600.000,189500.000,188100.000,188400.000,187300.000,188000.000
2,3,2023,61,NaN,NaN,1,00-000030,Civilian Unemployment,21700.000,21400.000,...,7900.00,7800.00,7800.00,8900.000,9100.000,8500.000,7700.000,6600.000,8200.000,8900.000
3,4,2023,61,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.124,0.123,...,0.04,0.04,0.04,0.045,0.046,0.043,0.039,0.034,0.042,0.045
4,8,2023,61,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",126000.000,125600.000,...,190800.00,191900.00,191800.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
PlacerCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

PlacerCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,174300.000,174200.000,174700.000,174000.000,173300.000,173300.000,174400.00,173400.000,173000.000,...,196000.00,197000.00,195200.00,196800.000,197700.000,198000.000,195800.000,195000.000,195500.000,196800.000
1,Civilian Employment,152600.000,152800.000,153100.000,153600.000,153500.000,152800.000,153400.00,152900.000,153100.000,...,188200.00,189100.00,187400.00,187900.000,188600.000,189500.000,188100.000,188400.000,187300.000,188000.000
2,Civilian Unemployment,21700.000,21400.000,21600.000,20400.000,19800.000,20600.000,21000.00,20500.000,19900.000,...,7900.00,7800.00,7800.00,8900.000,9100.000,8500.000,7700.000,6600.000,8200.000,8900.000
3,Civilian Unemployment Rate,0.124,0.123,0.123,0.117,0.114,0.119,0.12,0.118,0.115,...,0.04,0.04,0.04,0.045,0.046,0.043,0.039,0.034,0.042,0.045
4,"Total, All Industries",126000.000,125600.000,125700.000,127000.000,127000.000,128500.000,129700.00,128100.000,126400.000,...,190800.00,191900.00,191800.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
titles_df = PlacerCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                       Goods Producing
8                                    Mining and Logging
9                                          Construction
10                                        Manufacturing
11                                        Durable Goods
12                                     Nondurable Goods
13                                    Service Providing
14                    Trade, Transportation & Utilities
15                                      Wholesale Trade
16                                         Retail Trade
17            Transportation, Warehousing, and Utili...
18                                          Information
19                                 Financial Activities
20                                  Finance & Insurance
21                       Real Estate & Rental & Leasing
22                   Professional and Business Services
23            Professional, Scientific & Technical S...
24                Management of Companies & Enterprises
25            Administrative and Support and Waste a...
26                Private Education and Health Services
27                              Leisure and Hospitality
28                  Arts, Entertainment, and Recreation
29                        Accommodation & Food Services
30                                       Other Services
31                                           Government
32                                   Federal Government
33                                     State Government
34                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = PlacerCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    PlacerCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = PlacerCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = PlacerCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     173441.67
1                                 Civilian Employment     152866.67
2                               Civilian Unemployment      20591.67
3                          Civilian Unemployment Rate          0.12
4                               Total, All Industries     127350.00
5                                          Total Farm        341.67
6                                       Total Nonfarm     127008.33
7                                     Goods Producing      15091.67
8                                  Mining and Logging        100.00
9                                        Construction       8375.00
10                                      Manufacturing       6616.67
11                                      Durable Goods       5966.67
12                                   Nondurable Goods        650.00
13                                  Service Providing     111916.67
14                  Trade, Transportation & Utilities      25925.00
15                                    Wholesale Trade       3708.33
16                                       Retail Trade      19250.00
17          Transportation, Warehousing, and Utili...       2966.67
18                                        Information       2458.33
19                               Financial Activities       9675.00
20                                Finance & Insurance       7016.67
21                     Real Estate & Rental & Leasing       2658.33
22                 Professional and Business Services      12991.67
23          Professional, Scientific & Technical S...       6483.33
24              Management of Companies & Enterprises       1158.33
25          Administrative and Support and Waste a...       5350.00
26              Private Education and Health Services      19308.33
27                            Leisure and Hospitality      18133.33
28                Arts, Entertainment, and Recreation       3508.33
29                      Accommodation & Food Services      14625.00
30                                     Other Services       4483.33
31                                         Government      18941.67
32                                 Federal Government        825.00
33                                   State Government        783.33
34                                   Local Government      17333.33

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      173475.00     174533.33     175183.33     175100.00     176333.33
1      154308.33     157908.33     161500.00     164000.00     167358.33
2       19166.67      16616.67      13691.67      11116.67       8983.33
3           0.11          0.10          0.08          0.06          0.05
4      128450.00     133675.00     141441.67     146400.00     152266.67
5         350.00        333.33        416.67        325.00        300.00
6      128100.00     133341.67     141025.00     146075.00     151966.67
7       14708.33      14891.67      15991.67      16791.67      18783.33
8           0.00          0.00          0.00         75.00        100.00
9        8116.67       8633.33       9833.33      10533.33      12183.33
10       6591.67       6258.33       6158.33       6183.33       6500.00
11       5950.00       5558.33       5458.33       5416.67       5466.67
12        641.67        700.00        700.00        766.67       1033.33
13     113391.67     118450.00     125033.33     129283.33     133183.33
14      26241.67      27541.67      28641.67      29608.33      29766.67
15       3666.67       4116.67       4058.33       3966.67       4200.00
16      19791.67      20533.33      21475.00      22416.67      22158.33
17       2783.33       2891.67       3108.33       3225.00       3408.33
18       2333.33       2300.00       2208.33       2200.00       2558.33
19       9716.67      10316.67      11158.33      11300.00      11516.67
20       7166.67       7675.00       8258.33       8225.00       8333.33
21       2550.00       2641.67       2900.00       3075.00       3183.33
22      13300.00      13941.67      15266.67      16775.00      18575.00
23       6725.00       7025.00       7400.00       7591.67       7866.67
24       1216.67       1300.00       1450.00       1550.00       1575.00
25       5358.33       5616.67       6416.67       7633.33       9133.33
26      20375.00      21583.33      22991.67      24133.33      24650.00
27      18466.67      19000.00      20233.33      20341.67      20458.33
28       3608.33       4050.00       4325.00       4091.67       4058.33
29      14858.33      14950.00      15908.33      16250.00      16400.00
30       4741.67       5083.33       5516.67       5733.33       5950.00
31      18216.67      18683.33      19016.67      19191.67      19708.33
32        700.00        700.00        700.00        666.67        666.67
33        816.67        741.67        766.67        850.00        866.67
34      16700.00      17241.67      17550.00      17675.00      18175.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      179650.00     181233.33     185633.33     188658.33     187008.33
1      171566.67     174191.67     179691.67     182733.33     173066.67
2        8075.00       7050.00       5958.33       5916.67      13925.00
3           0.04          0.04          0.03          0.03          0.07
4      159983.33     164850.00     171783.33     175816.67     165308.33
5         291.67        316.67        375.00        383.33        383.33
6      159691.67     164533.33     171408.33     175433.33     164925.00
7       20608.33      20691.67      21783.33      23033.33      22950.00
8         100.00        100.00        100.00        100.00        100.00
9       13891.67      14758.33      16075.00      17266.67      17483.33
10       6616.67       5800.00       5616.67       5658.33       5366.67
11       5591.67       4758.33       4400.00       4341.67       4050.00
12       1016.67       1041.67       1216.67       1316.67       1316.67
13     139083.33     143841.67     149625.00     152400.00     141975.00
14      30258.33      30475.00      31758.33      32333.33      30808.33
15       4158.33       4333.33       4700.00       5208.33       4666.67
16      22400.00      22608.33      23258.33      22841.67      21716.67
17       3700.00       3533.33       3800.00       4283.33       4425.00
18       2516.67       2366.67       2441.67       2433.33       1983.33
19      12158.33      12275.00      13458.33      13108.33      12641.67
20       8683.33       8558.33       8525.00       7808.33       7591.67
21       3475.00       3725.00       4958.33       5300.00       5050.00
22      19791.67      20591.67      22225.00      22791.67      22191.67
23       8541.67       8708.33       9158.33       9658.33       9208.33
24       1533.33       1766.67       1775.00       1958.33       1925.00
25       9716.67      10100.00      11291.67      11200.00      11058.33
26      26208.33      28075.00      28791.67      29983.33      29375.00
27      22075.00      23233.33      23675.00      24191.67      19400.00
28       4416.67       4791.67       4841.67       5125.00       3841.67
29      17658.33      18450.00      18816.67      19066.67      15558.33
30       5883.33       6433.33       6666.67       6966.67       6033.33
31      20191.67      20391.67      20608.33      20591.67      19541.67
32        666.67        700.00        700.00        708.33        741.67
33        850.00        758.33        766.67        816.67        866.67
34      18675.00      18933.33      19141.67      19066.67      17933.33

    2021_Average  2022_Average  2023_Average  2024_Average
0      189166.67     191641.67     194716.67     187277.78
1      179566.67     185666.67     187450.00     175698.61
2        9600.00       6000.00       7258.33      11590.28
3           0.05          0.03          0.04          0.06
4      176400.00     184908.33     188591.67     135463.33
5         333.33        341.67        366.67        353.33
6      176066.67     184566.67     188225.00     135110.00
7       24858.33      26816.67      26250.00      15495.00
8         166.67        191.67        200.00         35.00
9       18783.33      19675.00      18866.67       9098.33
10       5908.33       6991.67       7100.00       6361.67
11       4475.00       5400.00       5475.00       5670.00
12       1433.33       1591.67       1608.33        691.67
13     151208.33     157750.00     161975.00     119615.00
14      32208.33      31841.67      31650.00      27591.67
15       4533.33       4416.67       4375.00       3903.33
16      22933.33      22675.00      22450.00      20693.33
17       4741.67       4750.00       4825.00       2995.00
18       1883.33       1933.33       1966.67       2300.00
19      13025.00      13266.67      12858.33      10433.33
20       7366.67       7033.33       6575.00       7668.33
21       5658.33       6233.33       6283.33       2765.00
22      23966.67      24550.00      24258.33      14455.00
23      10091.67      10708.33      10700.00       7045.00
24       2000.00       1916.67       2441.67       1335.00
25      11841.67      11916.67      11125.00       6075.00
26      30800.00      32583.33      35808.33      21678.33
27      22300.00      25808.33      26625.00      19235.00
28       4833.33       6283.33       6700.00       3916.67
29      17466.67      19525.00      19925.00      15318.33
30       7166.67       7508.33       8025.00       5111.67
31      19858.33      20258.33      20783.33      18810.00
32        700.00        658.33        675.00        718.33
33        883.33        883.33        883.33        791.67
34      18275.00      18716.67      19225.00      17300.00

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,173441.67,173475.00,174533.33,175183.33,175100.00,176333.33,179650.00,181233.33,185633.33,188658.33,187008.33,189166.67,191641.67,194716.67,187277.78
1,Civilian Employment,152866.67,154308.33,157908.33,161500.00,164000.00,167358.33,171566.67,174191.67,179691.67,182733.33,173066.67,179566.67,185666.67,187450.00,175698.61
2,Civilian Unemployment,20591.67,19166.67,16616.67,13691.67,11116.67,8983.33,8075.00,7050.00,5958.33,5916.67,13925.00,9600.00,6000.00,7258.33,11590.28
3,Civilian Unemployment Rate,0.12,0.11,0.10,0.08,0.06,0.05,0.04,0.04,0.03,0.03,0.07,0.05,0.03,0.04,0.06
4,"Total, All Industries",127350.00,128450.00,133675.00,141441.67,146400.00,152266.67,159983.33,164850.00,171783.33,175816.67,165308.33,176400.00,184908.33,188591.67,135463.33

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Placer_county.csv', index=False)  # Set index=False to avoid exporting the row indices