In [1]:
import pandas as pd

# Load the .xls Excel file
SanFranciscoCounty = pd.read_excel("Resources/SANFRHWS.xls", engine='xlrd')

SanFranciscoCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,75,NaN,NaN,1,00-000010,Civilian Labor Force,482800.000,483600.000,...,561100.000,560700.000,558300.000,559200.00,559400.000,559900.000,552900.000,550900.000,550100.000,557100.000
1,2,2023,75,NaN,NaN,1,00-000020,Civilian Employment,435900.000,437900.000,...,540400.000,540300.000,538300.000,536700.00,537600.000,539100.000,533700.000,534000.000,530300.000,535100.000
2,3,2023,75,NaN,NaN,1,00-000030,Civilian Unemployment,46800.000,45700.000,...,20600.000,20400.000,20000.000,22400.00,21800.000,20700.000,19200.000,16900.000,19900.000,22000.000
3,4,2023,75,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.097,0.094,...,0.037,0.036,0.036,0.04,0.039,0.037,0.035,0.031,0.036,0.039
4,8,2023,75,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",533300.000,534800.000,...,742600.000,743500.000,748400.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
SanFranciscoCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

SanFranciscoCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,482800.000,483600.000,485000.000,486200.00,483200.000,483000.000,490300.000,489400.000,488500.000,...,561100.000,560700.000,558300.000,559200.00,559400.000,559900.000,552900.000,550900.000,550100.000,557100.000
1,Civilian Employment,435900.000,437900.000,438400.000,442500.00,441300.000,438800.000,445500.000,444400.000,445300.000,...,540400.000,540300.000,538300.000,536700.00,537600.000,539100.000,533700.000,534000.000,530300.000,535100.000
2,Civilian Unemployment,46800.000,45700.000,46500.000,43700.00,42000.000,44100.000,44900.000,45000.000,43200.000,...,20600.000,20400.000,20000.000,22400.00,21800.000,20700.000,19200.000,16900.000,19900.000,22000.000
3,Civilian Unemployment Rate,0.097,0.094,0.096,0.09,0.087,0.091,0.092,0.092,0.088,...,0.037,0.036,0.036,0.04,0.039,0.037,0.035,0.031,0.036,0.039
4,"Total, All Industries",533300.000,534800.000,536600.000,543600.00,546600.000,544200.000,545100.000,544000.000,546100.000,...,742600.000,743500.000,748400.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
titles_df = SanFranciscoCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                       Goods Producing
8                      Mining, Logging and Construction
9                                         Manufacturing
10                                        Durable Goods
11                                     Nondurable Goods
12                                    Service Providing
13                    Trade, Transportation & Utilities
14                                      Wholesale Trade
15                                         Retail Trade
16            Transportation, Warehousing, and Utili...
17                                          Information
18                                 Financial Activities
19                                  Finance & Insurance
20                       Real Estate & Rental & Leasing
21                   Professional and Business Services
22            Professional, Scientific & Technical S...
23                Management of Companies & Enterprises
24            Administrative and Support and Waste a...
25                Private Education and Health Services
26                         Private Educational Services
27                      Health Care & Social Assistance
28                              Leisure and Hospitality
29                  Arts, Entertainment, and Recreation
30                        Accommodation & Food Services
31                                       Other Services
32                                           Government
33                                   Federal Government
34                                     State Government
35                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = SanFranciscoCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    SanFranciscoCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = SanFranciscoCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = SanFranciscoCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     485775.00
1                                 Civilian Employment     441575.00
2                               Civilian Unemployment      44191.67
3                          Civilian Unemployment Rate          0.09
4                               Total, All Industries     543525.00
5                                          Total Farm        250.00
6                                       Total Nonfarm     543275.00
7                                     Goods Producing      22983.33
8                    Mining, Logging and Construction      14291.67
9                                       Manufacturing       8691.67
10                                      Durable Goods       3350.00
11                                   Nondurable Goods       5341.67
12                                  Service Providing     520291.67
13                  Trade, Transportation & Utilities      61666.67
14                                    Wholesale Trade      10375.00
15                                       Retail Trade      40433.33
16          Transportation, Warehousing, and Utili...      10858.33
17                                        Information      19475.00
18                               Financial Activities      48383.33
19                                Finance & Insurance      36975.00
20                     Real Estate & Rental & Leasing      11408.33
21                 Professional and Business Services     122058.33
22          Professional, Scientific & Technical S...      73333.33
23              Management of Companies & Enterprises      17791.67
24          Administrative and Support and Waste a...      30933.33
25              Private Education and Health Services      80366.67
26                       Private Educational Services      18116.67
27                    Health Care & Social Assistance      62250.00
28                            Leisure and Hospitality      76775.00
29                Arts, Entertainment, and Recreation      12050.00
30                      Accommodation & Food Services      64725.00
31                                     Other Services      21616.67
32                                         Government      89950.00
33                                 Federal Government      15266.67
34                                   State Government      32783.33
35                                   Local Government      41900.00

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      493441.67     508016.67     514233.33     527316.67     541416.67
1      453066.67     473025.00     485800.00     503983.33     521566.67
2       40366.67      34991.67      28433.33      23341.67      19841.67
3           0.08          0.07          0.06          0.04          0.04
4      557550.00     586441.67     607458.33     633458.33     675175.00
5         175.00        133.33        141.67        150.00        158.33
6      557375.00     586308.33     607316.67     633308.33     675016.67
7       22766.67      24600.00      25158.33      26991.67      29433.33
8       13866.67      15000.00      15883.33      16908.33      18641.67
9        8900.00       9600.00       9275.00      10083.33      10791.67
10       3733.33       3791.67       3875.00       4500.00       5275.00
11       5166.67       5808.33       5400.00       5583.33       5516.67
12     534608.33     561708.33     582158.33     606316.67     645583.33
13      62350.00      65316.67      68541.67      70666.67      75600.00
14      11141.67      12016.67      13508.33      14050.00      14708.33
15      40450.00      42408.33      43458.33      44766.67      47000.00
16      10758.33      10891.67      11575.00      11850.00      13891.67
17      22733.33      25500.00      25741.67      28325.00      35241.67
18      46991.67      47775.00      49341.67      50191.67      53625.00
19      35625.00      35708.33      36358.33      36933.33      40000.00
20      11366.67      12066.67      12983.33      13258.33      13625.00
21     131700.00     144466.67     156766.67     168758.33     183375.00
22      80933.33      90316.67      98408.33     109025.00     118558.33
23      19025.00      20041.67      21216.67      21866.67      22775.00
24      31741.67      34108.33      37141.67      37866.67      42041.67
25      79641.67      81941.67      82825.00      82966.67      85741.67
26      18166.67      19125.00      19666.67      19791.67      20166.67
27      61475.00      62816.67      63158.33      63175.00      65575.00
28      79541.67      84675.00      86225.00      90208.33      93858.33
29      12583.33      13583.33      13191.67      13391.67      13833.33
30      66958.33      71091.67      73033.33      76816.67      80025.00
31      21850.00      22866.67      24283.33      25750.00      26041.67
32      89800.00      89166.67      88433.33      89450.00      92100.00
33      14533.33      14208.33      13933.33      13850.00      13900.00
34      33141.67      32575.00      32283.33      32350.00      33508.33
35      42125.00      42383.33      42216.67      43250.00      44691.67

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      555333.33     563066.67     568725.00     579891.67     559033.33
1      536975.00     546433.33     555091.67     567008.33     514683.33
2       18341.67      16591.67      13650.00      12875.00      44333.33
3           0.03          0.03          0.02          0.02          0.08
4      703550.00     719458.33     735141.67     762850.00     696500.00
5         125.00        150.00        183.33        366.67        225.00
6      703425.00     719308.33     734958.33     762483.33     696275.00
7       32625.00      34300.00      36358.33      37875.00      36558.33
8       20425.00      21108.33      23191.67      24108.33      23158.33
9       12200.00      13191.67      13166.67      13766.67      13400.00
10       6708.33       7833.33       7858.33       7833.33       7233.33
11       5491.67       5358.33       5308.33       5933.33       6166.67
12     670800.00     685008.33     698600.00     724608.33     659716.67
13      78841.67      81033.33      82575.00      84283.33      73233.33
14      15625.00      14766.67      14575.00      14458.33      11033.33
15      46983.33      47516.67      46400.00      45641.67      39125.00
16      16233.33      18750.00      21600.00      24183.33      23075.00
17      39008.33      43000.00      46050.00      52516.67      54575.00
18      56141.67      56333.33      59850.00      62016.67      60291.67
19      42158.33      41533.33      44450.00      45658.33      45450.00
20      13983.33      14800.00      15400.00      16358.33      14841.67
21     190591.67     194700.00     195425.00     203083.33     200925.00
22     125016.67     128825.00     135725.00     144050.00     145450.00
23      23416.67      23358.33      21791.67      20100.00      16758.33
24      42158.33      42516.67      37908.33      38933.33      38716.67
25      87725.00      89033.33      90325.00      94091.67      91525.00
26      19883.33      19908.33      19875.00      21808.33      19783.33
27      67841.67      69125.00      70450.00      72283.33      71741.67
28      97266.67      96891.67      98516.67     101775.00      59108.33
29      14875.00      14375.00      14491.67      14775.00       9991.67
30      82391.67      82516.67      84025.00      87000.00      49116.67
31      26883.33      27425.00      27675.00      28016.67      21825.00
32      94341.67      96591.67      98183.33      98825.00      98233.33
33      14000.00      13883.33      13308.33      13083.33      13375.00
34      34650.00      35458.33      36391.67      37266.67      37616.67
35      45691.67      47250.00      48483.33      48475.00      47241.67

    2021_Average  2022_Average  2023_Average  2024_Average
0      547400.00     567616.67     563308.33     534856.94
1      519625.00     552883.33     544916.67     508662.50
2       27766.67      14741.67      18400.00      26185.42
3           0.05          0.03          0.03          0.05
4      699008.33     754450.00     743741.67     585686.67
5         300.00        266.67        208.33        170.00
6      698708.33     754183.33     743533.33     585516.67
7       33800.00      34841.67      35891.67      24500.00
8       22058.33      22933.33      23300.00      15190.00
9       11741.67      11908.33      12591.67       9310.00
10       7558.33       8316.67       8783.33       3850.00
11       4183.33       3591.67       3808.33       5460.00
12     664908.33     719341.67     707641.67     561016.67
13      70058.33      70591.67      66441.67      65708.34
14      10900.00      11583.33      10416.67      12218.33
15      36408.33      37275.00      35258.33      42303.33
16      22750.00      21733.33      20766.67      11186.67
17      58225.00      67516.67      63883.33      24355.00
18      61008.33      61683.33      59233.33      48536.67
19      46608.33      46491.67      44508.33      36320.00
20      14400.00      15191.67      14725.00      12216.67
21     200558.33     217025.00     203808.33     144750.00
22     147525.00     161908.33     152691.67      90403.33
23      14633.33      14875.00      12691.67      19988.34
24      38400.00      40241.67      38425.00      34358.33
25      93941.67      96525.00      99591.67      81548.34
26      18125.00      18991.67      19241.67      18973.34
27      75816.67      77533.33      80350.00      62575.00
28      56958.33      75616.67      81975.00      83485.00
29       9958.33      12541.67      14125.00      12960.00
30      47000.00      63075.00      67850.00      70525.00
31      22816.67      23858.33      24200.00      23273.33
32     101341.67     106525.00     108508.33      89360.00
33      12883.33      12300.00      11516.67      14358.33
34      41816.67      47775.00      49558.33      32626.67
35      46641.67      46450.00      47433.33      42375.00

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,485775.00,493441.67,508016.67,514233.33,527316.67,541416.67,555333.33,563066.67,568725.00,579891.67,559033.33,547400.00,567616.67,563308.33,534856.94
1,Civilian Employment,441575.00,453066.67,473025.00,485800.00,503983.33,521566.67,536975.00,546433.33,555091.67,567008.33,514683.33,519625.00,552883.33,544916.67,508662.50
2,Civilian Unemployment,44191.67,40366.67,34991.67,28433.33,23341.67,19841.67,18341.67,16591.67,13650.00,12875.00,44333.33,27766.67,14741.67,18400.00,26185.42
3,Civilian Unemployment Rate,0.09,0.08,0.07,0.06,0.04,0.04,0.03,0.03,0.02,0.02,0.08,0.05,0.03,0.03,0.05
4,"Total, All Industries",543525.00,557550.00,586441.67,607458.33,633458.33,675175.00,703550.00,719458.33,735141.67,762850.00,696500.00,699008.33,754450.00,743741.67,585686.67

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('SanFrancisco_county.csv', index=False)  # Set index=False to avoid exporting the row indices