In [1]:
import pandas as pd

# Load the .xls Excel file
SanJoaquinCounty = pd.read_excel("Resources/STOC$HWS.xls", engine='xlrd')

SanJoaquinCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,44700,NaN,NaN,1,00-000010,Civilian Labor Force,311400.000,312400.00,...,351500.000,350800.000,348500.000,349800.000,350800.000,350500.000,349000.000,351600.000,349200.000,350500.00
1,2,2023,44700,NaN,NaN,1,00-000020,Civilian Employment,256300.000,256200.00,...,329100.000,328300.000,325000.000,323600.000,323700.000,325300.000,325900.000,332000.000,326800.000,326000.00
2,3,2023,44700,NaN,NaN,1,00-000030,Civilian Unemployment,55000.000,56200.00,...,22400.000,22600.000,23500.000,26200.000,27000.000,25200.000,23100.000,19600.000,22400.000,24500.00
3,4,2023,44700,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.177,0.18,...,0.064,0.064,0.067,0.075,0.077,0.072,0.066,0.056,0.064,0.07
4,8,2023,44700,"110000-813000, 920000",NaN,1,01-000000,Total Wage and Salary,203600.000,203300.00,...,296200.000,294700.000,294600.000,287900.000,289300.000,290600.000,294100.000,303000.000,299900.000,294900.00

In [2]:
SanJoaquinCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

SanJoaquinCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,311400.000,312400.00,312700.000,309900.000,316000.000,320300.000,311100.000,311400.000,311900.000,...,351500.000,350800.000,348500.000,349800.000,350800.000,350500.000,349000.000,351600.000,349200.000,350500.00
1,Civilian Employment,256300.000,256200.00,257000.000,256600.000,266100.000,268700.000,257900.000,260300.000,262300.000,...,329100.000,328300.000,325000.000,323600.000,323700.000,325300.000,325900.000,332000.000,326800.000,326000.00
2,Civilian Unemployment,55000.000,56200.00,55700.000,53300.000,49900.000,51600.000,53100.000,51100.000,49600.000,...,22400.000,22600.000,23500.000,26200.000,27000.000,25200.000,23100.000,19600.000,22400.000,24500.00
3,Civilian Unemployment Rate,0.177,0.18,0.178,0.172,0.158,0.161,0.171,0.164,0.159,...,0.064,0.064,0.067,0.075,0.077,0.072,0.066,0.056,0.064,0.07
4,Total Wage and Salary,203600.000,203300.00,204600.000,204800.000,218000.000,222800.000,205600.000,207900.000,209800.000,...,296200.000,294700.000,294600.000,287900.000,289300.000,290600.000,294100.000,303000.000,299900.000,294900.00

In [3]:
titles_df = SanJoaquinCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total Wage and Salary
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                          Specialty Trade Contractors
13                                        Manufacturing
14                                        Durable Goods
15                                    Non-Durable Goods
16                                   Food Manufacturing
17                                    Service-Providing
18                            Private Service Providing
19                 Trade, Transportation, and Utilities
20                                      Wholesale Trade
21                                         Retail Trade
22                        General Merchandise Retailers
23                                    Department Stores
24              Clothing, Clothing Accessories, Shoe...
25            Transportation, Warehousing, and Utili...
26                       Transportation and Warehousing
27                                 Truck Transportation
28                              Warehousing and Storage
29                                          Information
30                                 Financial Activities
31                                Finance and Insurance
32              Credit Intermediation and Related Ac...
33                   Professional and Business Services
34            Administrative and Support and Waste a...
35                Private Education and Health Services
36                         Private Educational Services
37                    Health Care and Social Assistance
38                              Leisure and Hospitality
39                  Arts, Entertainment, and Recreation
40                      Accommodation and Food Services
41                    Food Services and Drinking Places
42                                       Other Services
43                                           Government
44                                   Federal Government
45              Federal Government excluding Departm...
46                                Department of Defense
47                     Total State and Local Government
48                                     State Government
49                                     Local Government
50                Local Government Educational Services
51                 Local Government excluding Education
52                                    County Government
53                                      City Government
54                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = SanJoaquinCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    SanJoaquinCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = SanJoaquinCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = SanJoaquinCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     312116.67
1                                 Civilian Employment     259333.33
2                               Civilian Unemployment      52766.67
3                          Civilian Unemployment Rate          0.17
4                               Total Wage and Salary     208308.33
5                                          Total Farm      15825.00
6                                       Total Nonfarm     192483.33
7                                       Total Private     154308.33
8                                     Goods Producing      25850.00
9                    Mining, Logging and Construction       7708.33
10                                 Mining and Logging        100.00
11                                       Construction       7608.33
12                        Specialty Trade Contractors       5116.67
13                                      Manufacturing      18141.67
14                                      Durable Goods       7341.67
15                                  Non-Durable Goods      10800.00
16                                 Food Manufacturing       6641.67
17                                  Service-Providing     166633.33
18                          Private Service Providing     128458.33
19               Trade, Transportation, and Utilities      47133.33
20                                    Wholesale Trade       9575.00
21                                       Retail Trade      23741.67
22                      General Merchandise Retailers       5425.00
23                                  Department Stores       2450.00
24            Clothing, Clothing Accessories, Shoe...       2291.67
25          Transportation, Warehousing, and Utili...      13816.67
26                     Transportation and Warehousing      12691.67
27                               Truck Transportation       5233.33
28                            Warehousing and Storage       6091.67
29                                        Information       2116.67
30                               Financial Activities       7716.67
31                              Finance and Insurance       5133.33
32            Credit Intermediation and Related Ac...       2475.00
33                 Professional and Business Services      15408.33
34          Administrative and Support and Waste a...       9583.33
35              Private Education and Health Services      33508.33
36                       Private Educational Services       4941.67
37                  Health Care and Social Assistance      28566.67
38                            Leisure and Hospitality      16033.33
39                Arts, Entertainment, and Recreation       1800.00
40                    Accommodation and Food Services      14233.33
41                  Food Services and Drinking Places      13350.00
42                                     Other Services       6541.67
43                                         Government      38175.00
44                                 Federal Government       4333.33
45            Federal Government excluding Departm...       2433.33
46                              Department of Defense       1900.00
47                   Total State and Local Government      33841.67
48                                   State Government       3908.33
49                                   Local Government      29933.33
50              Local Government Educational Services      17933.33
51               Local Government excluding Education      12000.00
52                                  County Government       7558.33
53                                    City Government       3400.00
54                      Special Districts plus Tribes       1066.67

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      311166.67     311383.33     312150.00     311550.00     314383.33
1      259975.00     266000.00     273275.00     278341.67     286266.67
2       51208.33      45400.00      38883.33      33200.00      28116.67
3           0.16          0.15          0.12          0.11          0.09
4      207816.67     212925.00     221383.33     226808.33     234908.33
5       15616.67      15783.33      16166.67      15741.67      16700.00
6      192200.00     197141.67     205216.67     211066.67     218208.33
7      155675.00     161050.00     168158.33     172491.67     178625.00
8       25975.00      26133.33      27391.67      28108.33      29666.67
9        7475.00       7700.00       8883.33       9008.33      10216.67
10        100.00        100.00        100.00        100.00        100.00
11       7375.00       7600.00       8783.33       8908.33      10116.67
12       4825.00       4991.67       5683.33       6283.33       7100.00
13      18500.00      18433.33      18508.33      19100.00      19450.00
14       7283.33       7225.00       7491.67       7766.67       7966.67
15      11216.67      11208.33      11016.67      11333.33      11483.33
16       6791.67       6658.33       6641.67       6525.00       6441.67
17     166225.00     171008.33     177825.00     182958.33     188541.67
18     129700.00     134916.67     140766.67     144383.33     148958.33
19      48675.00      51241.67      53408.33      54666.67      56983.33
20       9833.33      10308.33      10575.00      10658.33      10666.67
21      24150.00      24916.67      25625.00      25708.33      25991.67
22       5591.67       5975.00       6208.33       6300.00       6491.67
23       2241.67       1991.67       1941.67       1966.67       1933.33
24       2291.67       2316.67       2225.00       2166.67       2058.33
25      14691.67      16016.67      17208.33      18300.00      20325.00
26      13758.33      14958.33      16041.67      17100.00      19075.00
27       5783.33       6033.33       6341.67       6750.00       7041.67
28       6766.67       7158.33       7383.33       7666.67       9358.33
29       2108.33       2133.33       2108.33       2091.67       1941.67
30       7458.33       7500.00       7625.00       7466.67       7350.00
31       4916.67       4900.00       5000.00       4941.67       4825.00
32       2300.00       2191.67       2108.33       2050.00       2000.00
33      15166.67      16608.33      17391.67      18316.67      19416.67
34       9025.00      10333.33      10975.00      11675.00      12633.33
35      33708.33      33966.67      35483.33      35925.00      36475.00
36       5400.00       5291.67       5366.67       5091.67       4650.00
37      28308.33      28675.00      30116.67      30833.33      31825.00
38      16250.00      16933.33      18141.67      19016.67      19616.67
39       1791.67       1883.33       2150.00       2375.00       2383.33
40      14458.33      15050.00      15991.67      16641.67      17233.33
41      13475.00      13991.67      14975.00      15550.00      16041.67
42       6333.33       6533.33       6608.33       6900.00       7175.00
43      36525.00      36091.67      37058.33      38575.00      39583.33
44       4008.33       3908.33       3491.67       3133.33       3008.33
45       2200.00       2150.00       1875.00       1650.00       1608.33
46       1808.33       1758.33       1616.67       1483.33       1400.00
47      32516.67      32183.33      33566.67      35441.67      36575.00
48       3816.67       3633.33       4308.33       5808.33       6158.33
49      28700.00      28550.00      29258.33      29633.33      30416.67
50      17641.67      17491.67      17933.33      17941.67      18291.67
51      11058.33      11058.33      11325.00      11691.67      12125.00
52       6891.67       6975.00       7216.67       7475.00       7641.67
53       3183.33       3083.33       3108.33       3166.67       3200.00
54       1000.00       1000.00       1000.00       1050.00       1283.33

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      318300.00     322941.67     324141.67     326591.67     334758.33
1      292366.67     300200.00     304325.00     307133.33     296358.33
2       25941.67      22741.67      19808.33      19458.33      38425.00
3           0.08          0.07          0.06          0.06          0.11
4      242125.00     251225.00     257016.67     262400.00     257691.67
5       16675.00      16358.33      15641.67      15433.33      14591.67
6      225450.00     234866.67     241375.00     246966.67     243100.00
7      184633.33     192441.67     197850.00     202058.33     200100.00
8       30983.33      32100.00      33441.67      33650.00      33200.00
9       11183.33      11783.33      12891.67      13175.00      13083.33
10        100.00        100.00        100.00        100.00        100.00
11      11083.33      11683.33      12791.67      13075.00      12983.33
12       7825.00       8183.33       8891.67       8975.00       8983.33
13      19800.00      20316.67      20550.00      20475.00      20116.67
14       8441.67       9066.67       9308.33       9316.67       9075.00
15      11358.33      11250.00      11241.67      11158.33      11041.67
16       6200.00       6025.00       5975.00       5733.33       5550.00
17     194466.67     202766.67     207933.33     213316.67     209900.00
18     153650.00     160341.67     164408.33     168408.33     166900.00
19      60275.00      64183.33      66816.67      69183.33      74008.33
20      10808.33      11225.00      11750.00      11708.33      10625.00
21      26466.67      26758.33      26675.00      26191.67      24608.33
22       6691.67       6833.33       6908.33       6791.67       6191.67
23       1900.00       1841.67       1866.67       1816.67       1325.00
24       2066.67       2066.67       1991.67       1841.67       1233.33
25      23000.00      26200.00      28391.67      31283.33      38775.00
26      21725.00      24916.67      27041.67      29916.67      37325.00
27       6950.00       6708.33       6683.33       6750.00       7441.67
28      11741.67      14050.00      15583.33      18016.67      23800.00
29       1950.00       1833.33       1750.00       1633.33       1225.00
30       7508.33       7800.00       7816.67       7933.33       7841.67
31       4825.00       4933.33       4783.33       4725.00       4633.33
32       2041.67       2083.33       2025.00       2016.67       1941.67
33      19616.67      19183.33      19616.67      20191.67      21333.33
34      12691.67      12500.00      12858.33      13116.67      14283.33
35      36383.33      38191.67      38750.00      39091.67      37250.00
36       4716.67       4866.67       4716.67       4600.00       4208.33
37      31666.67      33325.00      34033.33      34491.67      33041.67
38      20400.00      21525.00      22041.67      22625.00      18491.67
39       2475.00       2491.67       2516.67       2550.00       1483.33
40      17925.00      19033.33      19525.00      20075.00      17008.33
41      16700.00      17783.33      18233.33      18741.67      15950.00
42       7516.67       7625.00       7616.67       7750.00       6750.00
43      40816.67      42425.00      43525.00      44908.33      43000.00
44       3041.67       3091.67       3091.67       3183.33       3275.00
45       1625.00       1700.00       1683.33       1683.33       1875.00
46       1416.67       1391.67       1408.33       1500.00       1400.00
47      37775.00      39333.33      40433.33      41725.00      39725.00
48       6391.67       6558.33       6700.00       6800.00       6750.00
49      31383.33      32775.00      33733.33      34925.00      32975.00
50      19191.67      20216.67      21116.67      21858.33      20208.33
51      12191.67      12558.33      12616.67      13066.67      12766.67
52       7508.33       7750.00       7675.00       7858.33       7866.67
53       3291.67       3425.00       3566.67       3791.67       3450.00
54       1391.67       1383.33       1375.00       1416.67       1450.00

    2021_Average  2022_Average  2023_Average  2024_Average
0      336150.00     342158.33     346766.67     334147.22
1      307258.33     323908.33     325125.00     301685.42
2       28875.00      18258.33      21641.67      32454.86
3           0.09          0.05          0.06          0.10
4      269750.00     286275.00     288941.67     261411.81
5       14158.33      13758.33      14058.33      15177.78
6      255591.67     272516.67     274883.33     246234.03
7      213558.33     229925.00     231525.00     203631.94
8       35300.00      37833.33      37416.67      32829.86
9       14008.33      14858.33      13875.00      11456.25
10         91.67          0.00          0.00         41.67
11      13916.67      14858.33      13875.00      11414.58
12       9900.00      10650.00       9683.33       7766.67
13      21291.67      22975.00      23541.67      21373.61
14       9883.33      11216.67      11566.67       9684.03
15      11408.33      11758.33      11975.00      11689.58
16       5608.33       5775.00       6008.33       6429.86
17     220291.67     234683.33     237466.67     213404.17
18     178258.33     192091.67     194108.33     170802.08
19      80016.67      86716.67      86308.33      70885.42
20      10791.67      11550.00      12316.67      11429.17
21      26241.67      27025.00      27158.33      26045.14
22       6666.67       6958.33       6933.33       6350.00
23       1500.00       1466.67       1441.67       1640.97
24       1783.33       1791.67       1850.00       1999.31
25      42983.33      48141.67      46833.33      33411.11
26      41458.33      46525.00      45100.00      31754.17
27       7583.33       8400.00       8658.33       7486.80
28      27025.00      30258.33      28483.33      18755.56
29       1200.00       1191.67       1083.33       1454.86
30       7966.67       8150.00       7958.33       7755.56
31       4666.67       4608.33       4241.67       4499.31
32       1850.00       1800.00       1591.67       1802.08
33      22508.33      24066.67      23741.67      20724.31
34      15250.00      16133.33      15441.67      13307.64
35      37991.67      39766.67      42216.67      40482.64
36       4108.33       4341.67       4583.33       4957.64
37      33883.33      35425.00      37633.33      35525.00
38      21291.67      24291.67      24591.67      21914.58
39       1816.67       2358.33       2541.67       2433.33
40      19475.00      21933.33      22050.00      19481.25
41      18333.33      20091.67      20091.67      17836.81
42       7283.33       7908.33       8208.33       7584.72
43      42033.33      42591.67      43358.33      42602.08
44       3116.67       3066.67       2983.33       3322.92
45       1758.33       1766.67       1725.00       1909.03
46       1358.33       1300.00       1258.33       1413.89
47      38916.67      39525.00      40375.00      39279.17
48       5983.33       5483.33       5133.33       4764.58
49      32933.33      34041.67      35241.67      34514.58
50      20183.33      21075.00      22258.33      21761.81
51      12750.00      12966.67      12983.33      12752.78
52       7783.33       7816.67       7625.00       7743.06
53       3508.33       3566.67       3658.33       3520.14
54       1458.33       1583.33       1700.00       1493.06

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,312116.67,311166.67,311383.33,312150.00,311550.00,314383.33,318300.00,322941.67,324141.67,326591.67,334758.33,336150.00,342158.33,346766.67,334147.22
1,Civilian Employment,259333.33,259975.00,266000.00,273275.00,278341.67,286266.67,292366.67,300200.00,304325.00,307133.33,296358.33,307258.33,323908.33,325125.00,301685.42
2,Civilian Unemployment,52766.67,51208.33,45400.00,38883.33,33200.00,28116.67,25941.67,22741.67,19808.33,19458.33,38425.00,28875.00,18258.33,21641.67,32454.86
3,Civilian Unemployment Rate,0.17,0.16,0.15,0.12,0.11,0.09,0.08,0.07,0.06,0.06,0.11,0.09,0.05,0.06,0.10
4,Total Wage and Salary,208308.33,207816.67,212925.00,221383.33,226808.33,234908.33,242125.00,251225.00,257016.67,262400.00,257691.67,269750.00,286275.00,288941.67,261411.81

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('SanJoaquin_county.csv', index=False)  # Set index=False to avoid exporting the row indices