In [1]:
import pandas as pd

# Load the .xls Excel file
SantaClaraCounty = pd.read_excel("Resources/SANTCHWS.xls", engine='xlrd')

SantaClaraCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,85,NaN,NaN,1,00-000010,Civilian Labor Force,922200.000,923300.000,...,1040600.00,1040200.000,1031600.000,1034700.000,1034700.000,1037100.000,1027300.000,1022600.000,1025300.000,1035000.000
1,2,2023,85,NaN,NaN,1,00-000020,Civilian Employment,816500.000,819500.000,...,999300.00,999200.000,991300.000,989800.000,989400.000,994700.000,987800.000,987900.000,983300.000,989300.000
2,3,2023,85,NaN,NaN,1,00-000030,Civilian Unemployment,105600.000,103800.000,...,41300.00,41000.000,40300.000,44900.000,45300.000,42400.000,39500.000,34700.000,42000.000,45700.000
3,4,2023,85,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.115,0.112,...,0.04,0.039,0.039,0.043,0.044,0.041,0.038,0.034,0.041,0.044
4,8,2023,85,NaN,NaN,1,01-000000,"Total, All Industries",845000.000,846300.000,...,1150000.00,1151400.000,1153500.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
SantaClaraCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

SantaClaraCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,922200.000,923300.000,926000.000,925900.000,922100.000,922900.000,929900.000,930000.000,929600.000,...,1040600.00,1040200.000,1031600.000,1034700.000,1034700.000,1037100.000,1027300.000,1022600.000,1025300.000,1035000.000
1,Civilian Employment,816500.000,819500.000,821500.000,826100.000,826000.000,823800.000,829300.000,830500.000,833600.000,...,999300.00,999200.000,991300.000,989800.000,989400.000,994700.000,987800.000,987900.000,983300.000,989300.000
2,Civilian Unemployment,105600.000,103800.000,104500.000,99800.000,96100.000,99100.000,100600.000,99500.000,96000.000,...,41300.00,41000.000,40300.000,44900.000,45300.000,42400.000,39500.000,34700.000,42000.000,45700.000
3,Civilian Unemployment Rate,0.115,0.112,0.113,0.108,0.104,0.107,0.108,0.107,0.103,...,0.04,0.039,0.039,0.043,0.044,0.041,0.038,0.034,0.041,0.044
4,"Total, All Industries",845000.000,846300.000,850200.000,857200.000,864100.000,866100.000,855100.000,855000.000,859400.000,...,1150000.00,1151400.000,1153500.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
titles_df = SantaClaraCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                       Goods Producing
8                                    Mining and Logging
9                                          Construction
10                                        Manufacturing
11                                        Durable Goods
12                                     Nondurable Goods
13                                    Service Providing
14                    Trade, Transportation & Utilities
15                                      Wholesale Trade
16                                         Retail Trade
17            Transportation, Warehousing, and Utili...
18                                          Information
19                                 Financial Activities
20                                  Finance & Insurance
21                       Real Estate & Rental & Leasing
22                   Professional and Business Services
23            Professional, Scientific & Technical S...
24                Management of Companies & Enterprises
25            Administrative and Support and Waste a...
26                Private Education and Health Services
27                         Private Educational Services
28                      Health Care & Social Assistance
29                              Leisure and Hospitality
30                                       Other Services
31                                           Government
32                                   Federal Government
33                                     State Government
34                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = SantaClaraCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    SantaClaraCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = SantaClaraCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = SantaClaraCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     926866.67
1                                 Civilian Employment     828000.00
2                               Civilian Unemployment      98866.67
3                          Civilian Unemployment Rate          0.11
4                               Total, All Industries     860258.33
5                                          Total Farm       3525.00
6                                       Total Nonfarm     856733.33
7                                     Goods Producing     181083.33
8                                  Mining and Logging        200.00
9                                        Construction      31566.67
10                                      Manufacturing     149316.67
11                                      Durable Goods     139500.00
12                                   Nondurable Goods       9816.67
13                                  Service Providing     675650.00
14                  Trade, Transportation & Utilities     123166.67
15                                    Wholesale Trade      34616.67
16                                       Retail Trade      76833.33
17          Transportation, Warehousing, and Utili...      11716.67
18                                        Information      46358.33
19                               Financial Activities      30758.33
20                                Finance & Insurance      18100.00
21                     Real Estate & Rental & Leasing      12658.33
22                 Professional and Business Services     160216.67
23          Professional, Scientific & Technical S...     105200.00
24              Management of Companies & Enterprises       8975.00
25          Administrative and Support and Waste a...      46041.67
26              Private Education and Health Services     125975.00
27                       Private Educational Services      35341.67
28                    Health Care & Social Assistance      90633.33
29                            Leisure and Hospitality      73800.00
30                                     Other Services      23900.00
31                                         Government      91475.00
32                                 Federal Government      10533.33
33                                   State Government       6208.33
34                                   Local Government      74733.33

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      937891.67     955975.00     968141.67     987616.67    1012208.33
1      849083.33     879450.00     904716.67     936100.00     969950.00
2       88800.00      76516.67      63441.67      51516.67      42266.67
3           0.09          0.08          0.07          0.05          0.04
4      881091.67     914783.33     950683.33     990983.33    1028858.33
5        3416.67       3316.67       3341.67       3525.00       3683.33
6      877675.00     911466.67     947341.67     987458.33    1025175.00
7      184300.00     188025.00     190566.67     195775.00     203300.00
8         200.00        233.33        266.67        300.00        225.00
9       31050.00      34083.33      36675.00      38783.33      42875.00
10     153050.00     153708.33     153625.00     156691.67     160200.00
11     143216.67     143550.00     143300.00     146000.00     149050.00
12       9833.33      10158.33      10325.00      10691.67      11150.00
13     693375.00     723441.67     756775.00     791683.33     821875.00
14     125183.33     129041.67     131900.00     134608.33     136050.00
15      33700.00      34616.67      35991.67      36858.33      36800.00
16      79658.33      81900.00      82491.67      83850.00      85133.33
17      11825.00      12525.00      13416.67      13900.00      14116.67
18      51183.33      54100.00      58625.00      65558.33      70408.33
19      32041.67      32933.33      33283.33      33750.00      34216.67
20      19175.00      20100.00      20475.00      20600.00      20858.33
21      12866.67      12833.33      12808.33      13150.00      13358.33
22     166025.00     177225.00     190058.33     201775.00     215191.67
23     109391.67     117200.00     125100.00     132691.67     141575.00
24       8966.67       9766.67      10766.67      11691.67      12608.33
25      47666.67      50258.33      54191.67      57391.67      61008.33
26     128625.00     135725.00     142583.33     148683.33     154883.33
27      37175.00      38566.67      39783.33      42266.67      44016.67
28      91450.00      97158.33     102800.00     106416.67     110866.67
29      76333.33      81341.67      86283.33      90666.67      94500.00
30      24133.33      24350.00      25025.00      26033.33      26533.33
31      89850.00      88725.00      89016.67      90608.33      90091.67
32       9950.00       9733.33       9808.33       9800.00       9816.67
33       6233.33       6166.67       6083.33       6191.67       6458.33
34      73666.67      72825.00      73125.00      74616.67      73816.67

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0     1027916.67    1037358.33    1042541.67    1048766.67    1023658.33
1      989058.33    1003691.67    1014966.67    1022333.33     950750.00
2       38875.00      33675.00      27566.67      26425.00      72900.00
3           0.04          0.03          0.03          0.03          0.07
4     1060625.00    1093675.00    1115191.67    1137916.67    1068558.33
5        3925.00       3583.33       3516.67       3266.67       3108.33
6     1056700.00    1090091.67    1111675.00    1134650.00    1065450.00
7      209258.33     211166.67     217225.00     220491.67     214250.00
8         291.67        216.67        200.00        200.00        183.33
9       47633.33      47883.33      48291.67      51416.67      48591.67
10     161333.33     163066.67     168733.33     168875.00     165475.00
11     150058.33     151983.33     157650.00     158041.67     155866.67
12      11275.00      11083.33      11083.33      10833.33       9608.33
13     847441.67     878925.00     894450.00     914158.33     851200.00
14     137283.33     131966.67     131666.67     128350.00     116000.00
15      37408.33      32608.33      31908.33      31041.67      28833.33
16      85033.33      84466.67      84425.00      81733.33      71800.00
17      14841.67      14891.67      15333.33      15575.00      15366.67
18      74525.00      84558.33      92133.33     100466.67     105758.33
19      35166.67      35800.00      36433.33      37566.67      37725.00
20      21325.00      21441.67      21350.00      21808.33      22725.00
21      13841.67      14358.33      15083.33      15758.33      15000.00
22     224083.33     236183.33     235850.00     241925.00     236250.00
23     147891.67     154008.33     157658.33     164375.00     163600.00
24      12833.33      19175.00      16900.00      15825.00      14983.33
25      63358.33      63000.00      61291.67      61725.00      57666.67
26     160625.00     167416.67     171933.33     177166.67     171191.67
27      45208.33      46841.67      47633.33      47825.00      43500.00
28     115416.67     120575.00     124300.00     129341.67     127691.67
29      97550.00     101975.00     104241.67     105933.33      71700.00
30      27000.00      28366.67      28416.67      28433.33      21683.33
31      91208.33      92658.33      93775.00      94316.67      90891.67
32       9925.00      10066.67       9775.00       9858.33      10533.33
33       6458.33       6591.67       6850.00       6733.33       6791.67
34      74825.00      76000.00      77150.00      77725.00      73566.67

    2021_Average  2022_Average  2023_Average  2024_Average
0     1010166.67    1031491.67    1038958.33     999432.64
1      961608.33    1003700.00    1002558.33     943295.83
2       48525.00      27791.67      36375.00      56136.81
3           0.05          0.03          0.04          0.06
4     1087350.00    1139900.00    1144325.00     919560.00
5        3033.33       3033.33       2983.33       3425.00
6     1084316.67    1136866.67    1141341.67     916135.00
7      214675.00     227600.00     228491.67     187950.00
8         191.67        200.00        183.33        240.00
9       50108.33      52116.67      52066.67      34431.67
10     164375.00     175283.33     176241.67     153278.33
11     156658.33     166875.00     167908.33     143113.33
12       7716.67       8408.33       8333.33      10165.00
13     869641.67     909266.67     912850.00     728185.00
14     116691.67     118941.67     118766.67     128780.00
15      27908.33      28533.33      28575.00      35156.67
16      72375.00      72083.33      72333.33      80946.67
17      16408.33      18325.00      17858.33      12676.67
18     106950.00     105850.00      97783.33      55165.00
19      38050.00      37775.00      37616.67      32553.33
20      23166.67      22250.00      21866.67      19690.00
21      14883.33      15525.00      15750.00      12863.33
22     241233.33     248875.00     244183.33     179060.00
23     165350.00     171366.67     168575.00     117916.67
24      14633.33      13866.67      13791.67      10033.34
25      61250.00      63641.67      61816.67      51110.00
26     176900.00     185433.33     194408.33     136318.33
27      43908.33      46891.67      49100.00      38626.67
28     132991.67     138541.67     145308.33      97691.67
29      77350.00      94941.67      99591.67      81685.00
30      22358.33      24933.33      25875.00      24688.33
31      90108.33      92516.67      94625.00      89935.00
32      10358.33      10075.00      10008.33       9965.00
33       6650.00       6833.33       6783.33       6176.67
34      73100.00      75608.33      77833.33      73793.33

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,926866.67,937891.67,955975.00,968141.67,987616.67,1012208.33,1027916.67,1037358.33,1042541.67,1048766.67,1023658.33,1010166.67,1031491.67,1038958.33,999432.64
1,Civilian Employment,828000.00,849083.33,879450.00,904716.67,936100.00,969950.00,989058.33,1003691.67,1014966.67,1022333.33,950750.00,961608.33,1003700.00,1002558.33,943295.83
2,Civilian Unemployment,98866.67,88800.00,76516.67,63441.67,51516.67,42266.67,38875.00,33675.00,27566.67,26425.00,72900.00,48525.00,27791.67,36375.00,56136.81
3,Civilian Unemployment Rate,0.11,0.09,0.08,0.07,0.05,0.04,0.04,0.03,0.03,0.03,0.07,0.05,0.03,0.04,0.06
4,"Total, All Industries",860258.33,881091.67,914783.33,950683.33,990983.33,1028858.33,1060625.00,1093675.00,1115191.67,1137916.67,1068558.33,1087350.00,1139900.00,1144325.00,919560.00

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('SantaClara_county.csv', index=False)  # Set index=False to avoid exporting the row indices