In [1]:
import pandas as pd

# Load the .xls Excel file
SantaBarbaraCounty = pd.read_excel("Resources/SATB$HWS.xls", engine='xlrd')

SantaBarbaraCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,42200,NaN,NaN,1,00-000010,Civilian Labor Force,207000.000,208200.000,...,221500.00,219900.000,213900.000,214500.000,217100.000,219100.000,220100.000,220700.000,222000.000,223500.000
1,2,2023,42200,NaN,NaN,1,00-000020,Civilian Employment,183900.000,185800.000,...,212600.00,210800.000,203800.000,202300.000,204400.000,207900.000,210700.000,213300.000,212700.000,213600.000
2,3,2023,42200,NaN,NaN,1,00-000030,Civilian Unemployment,23100.000,22500.000,...,8900.00,9100.000,10100.000,12100.000,12600.000,11200.000,9300.000,7400.000,9300.000,10000.000
3,4,2023,42200,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.111,0.108,...,0.04,0.041,0.047,0.057,0.058,0.051,0.042,0.034,0.042,0.045
4,8,2023,42200,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",173100.000,174900.000,...,225700.00,223400.000,216800.000,210400.000,213300.000,217500.000,223700.000,228100.000,230500.000,229200.000

In [2]:
SantaBarbaraCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

SantaBarbaraCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,207000.000,208200.000,210200.000,214700.000,215300.000,215500.000,216100.000,214600.000,211400.000,...,221500.00,219900.000,213900.000,214500.000,217100.000,219100.000,220100.000,220700.000,222000.000,223500.000
1,Civilian Employment,183900.000,185800.000,187500.000,194500.000,196300.000,195200.000,195000.000,194000.000,191200.000,...,212600.00,210800.000,203800.000,202300.000,204400.000,207900.000,210700.000,213300.000,212700.000,213600.000
2,Civilian Unemployment,23100.000,22500.000,22700.000,20100.000,19000.000,20300.000,21100.000,20600.000,20200.000,...,8900.00,9100.000,10100.000,12100.000,12600.000,11200.000,9300.000,7400.000,9300.000,10000.000
3,Civilian Unemployment Rate,0.111,0.108,0.108,0.094,0.088,0.094,0.098,0.096,0.096,...,0.04,0.041,0.047,0.057,0.058,0.051,0.042,0.034,0.042,0.045
4,"Total, All Industries",173100.000,174900.000,177200.000,185800.000,189800.000,189600.000,186000.000,185100.000,182300.000,...,225700.00,223400.000,216800.000,210400.000,213300.000,217500.000,223700.000,228100.000,230500.000,229200.000

In [3]:
titles_df = SantaBarbaraCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                                        Manufacturing
13                                        Durable Goods
14                                    Service-Providing
15                            Private Service Providing
16                 Trade, Transportation, and Utilities
17                                      Wholesale Trade
18                                         Retail Trade
19                          Food and Beverage Retailers
20              Clothing, Clothing Accessories, Shoe...
21            Transportation, Warehousing, and Utili...
22                                          Information
23                                 Financial Activities
24                                Finance and Insurance
25                   Real Estate and Rental and Leasing
26                   Professional and Business Services
27            Professional, Scientific, and Technica...
28              Management of Companies and Enterprises
29            Administrative and Support and Waste a...
30                Private Education and Health Services
31                         Private Educational Services
32                    Health Care and Social Assistance
33                              Leisure and Hospitality
34                  Arts, Entertainment, and Recreation
35                      Accommodation and Food Services
36                                        Accommodation
37                    Food Services and Drinking Places
38                                       Other Services
39                                           Government
40                                   Federal Government
41                     Total State and Local Government
42                                     State Government
43                State Government Educational Services
44                 State Government Excluding Education
45                                     Local Government
46                Local Government Educational Services
47                Local Government Excluding Educati...
48                                    County Government
49                                      City Government
50                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = SantaBarbaraCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    SantaBarbaraCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = SantaBarbaraCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = SantaBarbaraCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     212275.00
1                                 Civilian Employment     191191.67
2                               Civilian Unemployment      21083.33
3                          Civilian Unemployment Rate          0.10
4                               Total, All Industries     182741.67
5                                          Total Farm      18633.33
6                                       Total Nonfarm     164108.33
7                                       Total Private     125883.33
8                                     Goods Producing      19216.67
9                    Mining, Logging and Construction       7958.33
10                                 Mining and Logging        975.00
11                                       Construction       6983.33
12                                      Manufacturing      11258.33
13                                      Durable Goods       8533.33
14                                  Service-Providing     144891.67
15                          Private Service Providing     106666.67
16               Trade, Transportation, and Utilities      24691.67
17                                    Wholesale Trade       3941.67
18                                       Retail Trade      17958.33
19                        Food and Beverage Retailers       4400.00
20            Clothing, Clothing Accessories, Shoe...       2158.33
21          Transportation, Warehousing, and Utili...       2791.67
22                                        Information       3416.67
23                               Financial Activities       6433.33
24                              Finance and Insurance       3725.00
25                 Real Estate and Rental and Leasing       2708.33
26                 Professional and Business Services      21900.00
27          Professional, Scientific, and Technica...      10941.67
28            Management of Companies and Enterprises       1750.00
29          Administrative and Support and Waste a...       9208.33
30              Private Education and Health Services      22991.67
31                       Private Educational Services       2516.67
32                  Health Care and Social Assistance      20475.00
33                            Leisure and Hospitality      21900.00
34                Arts, Entertainment, and Recreation       2866.67
35                    Accommodation and Food Services      19033.33
36                                      Accommodation       4416.67
37                  Food Services and Drinking Places      14616.67
38                                     Other Services       5333.33
39                                         Government      38225.00
40                                 Federal Government       4125.00
41                   Total State and Local Government      34100.00
42                                   State Government      10583.33
43              State Government Educational Services       9975.00
44               State Government Excluding Education        608.33
45                                   Local Government      23516.67
46              Local Government Educational Services      12783.33
47              Local Government Excluding Educati...      10733.33
48                                  County Government       4766.67
49                                    City Government       2833.33
50                      Special Districts plus Tribes       3141.67

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      212558.33     215475.00     216533.33     217333.33     217158.33
1      192258.33     197133.33     200725.00     203875.00     205591.67
2       20300.00      18366.67      15816.67      13466.67      11583.33
3           0.10          0.09          0.07          0.06          0.05
4      183700.00     188891.67     194200.00     198025.00     200691.67
5       18225.00      18791.67      19325.00      20966.67      20983.33
6      165475.00     170100.00     174875.00     177058.33     179708.33
7      127725.00     132366.67     137000.00     138741.67     141058.33
8       19616.67      20075.00      20508.33      20983.33      21900.00
9        7933.33       8116.67       8450.00       8683.33       8950.00
10       1133.33       1275.00       1225.00       1266.67       1133.33
11       6800.00       6841.67       7225.00       7416.67       7816.67
12      11683.33      11958.33      12058.33      12300.00      12950.00
13       8783.33       8800.00       8725.00       8700.00       9200.00
14     145858.33     150025.00     154366.67     156075.00     157808.33
15     108108.33     112291.67     116491.67     117758.33     119158.33
16      24566.67      25700.00      26683.33      27175.00      27416.67
17       3950.00       4175.00       4525.00       4566.67       4691.67
18      17841.67      18491.67      18908.33      19300.00      19450.00
19       4416.67       4741.67       4908.33       5058.33       5241.67
20       2041.67       2083.33       2066.67       2208.33       2133.33
21       2775.00       3033.33       3250.00       3308.33       3275.00
22       3566.67       4058.33       4183.33       4200.00       4366.67
23       6541.67       6533.33       6533.33       6416.67       6441.67
24       3666.67       3616.67       3525.00       3366.67       3350.00
25       2875.00       2916.67       3008.33       3050.00       3091.67
26      22608.33      23750.00      24558.33      23550.00      22750.00
27      11208.33      11433.33      11475.00      11166.67      10941.67
28       1641.67       1775.00       1991.67       2258.33       2508.33
29       9758.33      10541.67      11091.67      10125.00       9300.00
30      23450.00      23991.67      24566.67      25133.33      25675.00
31       2608.33       2791.67       2883.33       2841.67       2716.67
32      20841.67      21200.00      21683.33      22291.67      22958.33
33      22150.00      22958.33      24433.33      25583.33      26616.67
34       2916.67       3091.67       3183.33       3316.67       3433.33
35      19233.33      19866.67      21250.00      22266.67      23183.33
36       4508.33       4641.67       4908.33       4916.67       5183.33
37      14725.00      15225.00      16341.67      17350.00      18000.00
38       5225.00       5300.00       5533.33       5700.00       5891.67
39      37750.00      37733.33      37875.00      38316.67      38650.00
40       3950.00       3966.67       3733.33       3666.67       3575.00
41      33800.00      33766.67      34141.67      34650.00      35075.00
42      10500.00      10658.33      10950.00      10966.67      11300.00
43       9900.00      10058.33      10350.00      10366.67      10700.00
44        600.00        600.00        600.00        600.00        600.00
45      23300.00      23108.33      23191.67      23683.33      23775.00
46      12791.67      12583.33      12575.00      12916.67      12683.33
47      10508.33      10525.00      10616.67      10766.67      11091.67
48       4500.00       4458.33       4491.67       4541.67       4741.67
49       2783.33       2750.00       2825.00       2866.67       2900.00
50       3241.67       3316.67       3300.00       3358.33       3450.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      215250.00     214941.67     215241.67     222366.67     218516.67
1      204333.33     205141.67     206716.67     214275.00     200741.67
2       10925.00       9800.00       8516.67       8108.33      17758.33
3           0.05          0.05          0.04          0.04          0.08
4      201058.33     202991.67     208408.33     213508.33     201450.00
5       20900.00      21741.67      22858.33      24091.67      25166.67
6      180158.33     181250.00     185550.00     189416.67     176283.33
7      142100.00     142550.00     146575.00     149983.33     139766.67
8       22500.00      22291.67      22733.33      22808.33      21425.00
9        9058.33       9166.67       9866.67       9908.33       9500.00
10        883.33        850.00       1033.33       1025.00        700.00
11       8175.00       8316.67       8833.33       8883.33       8800.00
12      13441.67      13125.00      12866.67      12900.00      11925.00
13       9433.33       9266.67       8983.33       9183.33       8508.33
14     157658.33     158958.33     162816.67     166608.33     154858.33
15     119600.00     120258.33     123841.67     127175.00     118341.67
16      27116.67      27075.00      27208.33      27200.00      25591.67
17       4741.67       4983.33       5133.33       5116.67       4966.67
18      19166.67      18850.00      18658.33      18566.67      17275.00
19       4975.00       4991.67       4991.67       5166.67       5275.00
20       1983.33       1941.67       1866.67       1758.33       1241.67
21       3208.33       3241.67       3416.67       3516.67       3350.00
22       4458.33       4266.67       4041.67       4066.67       3941.67
23       6483.33       6608.33       6716.67       6850.00       6758.33
24       3400.00       3625.00       3691.67       3750.00       3791.67
25       3083.33       2983.33       3025.00       3100.00       2966.67
26      21725.00      21175.00      24133.33      25200.00      26533.33
27      10983.33      11033.33      11166.67      11750.00      11791.67
28       2633.33       2625.00       2741.67       2891.67       3041.67
29       8108.33       7516.67      10225.00      10558.33      11700.00
30      26575.00      27258.33      27400.00      28408.33      28050.00
31       2825.00       2908.33       2941.67       3191.67       2750.00
32      23750.00      24350.00      24458.33      25216.67      25300.00
33      27233.33      27825.00      28150.00      28950.00      21883.33
34       3425.00       3616.67       3583.33       3800.00       2758.33
35      23808.33      24208.33      24566.67      25150.00      19125.00
36       5283.33       5491.67       5516.67       5958.33       4241.67
37      18525.00      18716.67      19050.00      19191.67      14883.33
38       6008.33       6050.00       6191.67       6500.00       5583.33
39      38058.33      38700.00      38975.00      39433.33      36516.67
40       3616.67       3600.00       3525.00       3525.00       3550.00
41      34441.67      35100.00      35450.00      35908.33      32966.67
42      11458.33      11808.33      12141.67      12391.67      10833.33
43      10858.33      11208.33      11541.67      11783.33      10233.33
44        600.00        600.00        600.00        608.33        600.00
45      22983.33      23291.67      23308.33      23516.67      22133.33
46      11466.67      11800.00      11933.33      11958.33      11041.67
47      11516.67      11491.67      11375.00      11558.33      11091.67
48       4775.00       4758.33       4633.33       4683.33       4700.00
49       3125.00       3066.67       3050.00       3075.00       2758.33
50       3616.67       3666.67       3691.67       3800.00       3633.33

    2021_Average  2022_Average  2023_Average  2024_Average
0      219375.00     216450.00     218250.00     217597.92
1      206716.67     208541.67     209266.67     204173.61
2       12691.67       7900.00       8983.33      13411.11
3           0.06          0.04          0.04          0.06
4      208516.67     217258.33     219291.67     208354.86
5       27025.00      29366.67      28958.33      25603.47
6      181491.67     187891.67     190333.33     182751.39
7      146333.33     153608.33     154950.00     145793.06
8       21858.33      22716.67      23141.67      21700.00
9        9850.00      10333.33      10483.33       9570.14
10        600.00        591.67        608.33        839.58
11       9250.00       9741.67       9875.00       8730.56
12      12008.33      12383.33      12658.33      12129.86
13       8375.00       8266.67       8383.33       8461.80
14     159633.33     165175.00     167191.67     161051.39
15     124475.00     130891.67     131808.33     124093.06
16      27200.00      27358.33      26916.67      26201.39
17       5366.67       5325.00       4883.33       4538.20
18      18100.00      18225.00      18516.67      18475.00
19       5450.00       5316.67       5533.33       5168.75
20       1458.33       1591.67       1625.00       1829.86
21       3733.33       3808.33       3516.67       3188.19
22       3983.33       4508.33       4466.67       4110.42
23       6900.00       7100.00       6983.33       6788.19
24       3733.33       3666.67       3533.33       3533.33
25       3166.67       3433.33       3450.00       3254.86
26      27350.00      27866.67      27183.33      25838.89
27      11958.33      12408.33      12341.67      11860.42
28       3191.67       3041.67       2900.00       2484.72
29      12200.00      12416.67      11941.67      11493.75
30      28808.33      29375.00      30858.33      28636.11
31       2758.33       2975.00       3125.00       3036.81
32      26050.00      26400.00      27733.33      25599.31
33      24341.67      28175.00      28700.00      26293.75
34       3125.00       3700.00       3900.00       3539.58
35      21216.67      24475.00      24800.00      22754.17
36       4250.00       4966.67       5083.33       4865.97
37      16966.67      19508.33      19716.67      17888.20
38       5891.67       6508.33       6700.00       6224.30
39      35158.33      34283.33      35383.33      36958.33
40       3741.67       3966.67       4033.33       3995.14
41      31416.67      30316.67      31350.00      32963.20
42       9516.67       7466.67       7866.67       9296.53
43       8916.67       6866.67       7266.67       8695.83
44        600.00        600.00        600.00        600.69
45      21900.00      22850.00      23483.33      23666.67
46      11033.33      11800.00      12058.33      12362.50
47      10866.67      11050.00      11425.00      11304.17
48       4700.00       4650.00       4700.00       4704.86
49       2675.00       2725.00       2858.33       2904.86
50       3491.67       3675.00       3866.67       3696.53

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,212275.00,212558.33,215475.00,216533.33,217333.33,217158.33,215250.00,214941.67,215241.67,222366.67,218516.67,219375.00,216450.00,218250.00,217597.92
1,Civilian Employment,191191.67,192258.33,197133.33,200725.00,203875.00,205591.67,204333.33,205141.67,206716.67,214275.00,200741.67,206716.67,208541.67,209266.67,204173.61
2,Civilian Unemployment,21083.33,20300.00,18366.67,15816.67,13466.67,11583.33,10925.00,9800.00,8516.67,8108.33,17758.33,12691.67,7900.00,8983.33,13411.11
3,Civilian Unemployment Rate,0.10,0.10,0.09,0.07,0.06,0.05,0.05,0.05,0.04,0.04,0.08,0.06,0.04,0.04,0.06
4,"Total, All Industries",182741.67,183700.00,188891.67,194200.00,198025.00,200691.67,201058.33,202991.67,208408.33,213508.33,201450.00,208516.67,217258.33,219291.67,208354.86

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('SantaBarbara_county.csv', index=False)  # Set index=False to avoid exporting the row indices