In [1]:
import pandas as pd

# Load the .xls Excel file
SolanoCounty = pd.read_excel("Resources/VALL$HWS.xls", engine='xlrd')

SolanoCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,46700,NaN,NaN,1,00-000010,Civilian Labor Force,202800.000,202000.000,...,204800.000,205400.000,203700.00,205000.000,205400.000,205500.000,203600.00,203100.000,203800.000,205100.000
1,2,2023,46700,NaN,NaN,1,00-000020,Civilian Employment,175500.000,174900.000,...,194900.000,195400.000,193400.00,193400.000,193600.000,194600.000,193500.00,194200.000,193300.000,193700.000
2,3,2023,46700,NaN,NaN,1,00-000030,Civilian Unemployment,27300.000,27100.000,...,9900.000,10000.000,10200.00,11600.000,11800.000,11000.000,10100.00,8900.000,10500.000,11400.000
3,4,2023,46700,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.135,0.134,...,0.048,0.049,0.05,0.057,0.057,0.053,0.05,0.044,0.051,0.056
4,8,2023,46700,"110000-813000, 920000",NaN,1,01-000000,Total Wage and Salary,118600.000,117600.000,...,145700.000,146100.000,145900.00,143800.000,144300.000,144900.000,145500.00,146600.000,147100.000,145700.000

In [2]:
SolanoCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

SolanoCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,202800.000,202000.000,201900.000,202400.000,201700.000,201700.000,204200.000,203500.000,202800.000,...,204800.000,205400.000,203700.00,205000.000,205400.000,205500.000,203600.00,203100.000,203800.000,205100.000
1,Civilian Employment,175500.000,174900.000,174800.000,176800.000,176800.000,175700.000,177800.000,177600.000,177500.000,...,194900.000,195400.000,193400.00,193400.000,193600.000,194600.000,193500.00,194200.000,193300.000,193700.000
2,Civilian Unemployment,27300.000,27100.000,27100.000,25600.000,24900.000,26000.000,26400.000,25900.000,25300.000,...,9900.000,10000.000,10200.00,11600.000,11800.000,11000.000,10100.00,8900.000,10500.000,11400.000
3,Civilian Unemployment Rate,0.135,0.134,0.134,0.127,0.123,0.129,0.129,0.127,0.125,...,0.048,0.049,0.05,0.057,0.057,0.053,0.05,0.044,0.051,0.056
4,Total Wage and Salary,118600.000,117600.000,117900.000,119900.000,121000.000,120900.000,120600.000,120100.000,119600.000,...,145700.000,146100.000,145900.00,143800.000,144300.000,144900.000,145500.00,146600.000,147100.000,145700.000

In [3]:
titles_df = SolanoCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total Wage and Salary
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                                        Manufacturing
13                                    Non-Durable Goods
14                                    Service-Providing
15                            Private Service Providing
16                 Trade, Transportation, and Utilities
17                                      Wholesale Trade
18                                         Retail Trade
19                          Food and Beverage Retailers
20                        General Merchandise Retailers
21              Clothing, Clothing Accessories, Shoe...
22            Transportation, Warehousing, and Utili...
23                                          Information
24                                 Financial Activities
25                                Finance and Insurance
26                   Professional and Business Services
27            Administrative and Support and Waste a...
28                  Administrative and Support Services
29                Private Education and Health Services
30                    Health Care and Social Assistance
31                              Leisure and Hospitality
32                      Accommodation and Food Services
33                    Food Services and Drinking Places
34                  Restaurants and Other Eating Places
35                                       Other Services
36                                           Government
37                                   Federal Government
38                     Total State and Local Government
39                                     State Government
40                State Government Educational Services
41                 State Government Excluding Education
42                                     Local Government
43                Local Government Educational Services
44              Local Government excluding Education...
45                                    County Government
46                                      City Government
47                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = SolanoCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    SolanoCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = SolanoCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = SolanoCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     202558.33
1                                 Civilian Employment     176533.33
2                               Civilian Unemployment      26025.00
3                          Civilian Unemployment Rate          0.13
4                               Total Wage and Salary     119883.33
5                                          Total Farm       1391.67
6                                       Total Nonfarm     118491.67
7                                       Total Private      93608.33
8                                     Goods Producing      16058.33
9                    Mining, Logging and Construction       7550.00
10                                 Mining and Logging        341.67
11                                       Construction       7208.33
12                                      Manufacturing       8508.33
13                                  Non-Durable Goods       5108.33
14                                  Service-Providing     102433.33
15                          Private Service Providing      77550.00
16               Trade, Transportation, and Utilities      24666.67
17                                    Wholesale Trade       4125.00
18                                       Retail Trade      16391.67
19                        Food and Beverage Retailers       2958.33
20                      General Merchandise Retailers       3766.67
21            Clothing, Clothing Accessories, Shoe...       2433.33
22          Transportation, Warehousing, and Utili...       4150.00
23                                        Information       1283.33
24                               Financial Activities       5216.67
25                              Finance and Insurance       3808.33
26                 Professional and Business Services       9000.00
27          Administrative and Support and Waste a...       4625.00
28                Administrative and Support Services       4075.00
29              Private Education and Health Services      20775.00
30                  Health Care and Social Assistance      19275.00
31                            Leisure and Hospitality      13025.00
32                    Accommodation and Food Services      10775.00
33                  Food Services and Drinking Places      10050.00
34                Restaurants and Other Eating Places       9475.00
35                                     Other Services       3583.33
36                                         Government      24883.33
37                                 Federal Government       4591.67
38                   Total State and Local Government      20291.67
39                                   State Government       5041.67
40              State Government Educational Services        341.67
41               State Government Excluding Education       4700.00
42                                   Local Government      15250.00
43              Local Government Educational Services       8741.67
44            Local Government excluding Education...       6508.33
45                                  County Government       3208.33
46                                    City Government       2708.33
47                      Special Districts plus Tribes        566.67

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      201908.33     202241.67     202333.33     202391.67     204866.67
1      176925.00     180258.33     183750.00     186983.33     192225.00
2       24991.67      21975.00      18583.33      15408.33      12633.33
3           0.12          0.11          0.09          0.08          0.06
4      119400.00     121508.33     125033.33     128066.67     132466.67
5        1408.33       1491.67       1666.67       1791.67       1775.00
6      117991.67     120016.67     123366.67     126275.00     130691.67
7       93708.33      95916.67      99400.00     101850.00     105916.67
8       16591.67      17141.67      17783.33      18250.00      19458.33
9        8175.00       8475.00       9000.00       8808.33       9416.67
10        391.67        400.00        400.00        458.33        450.00
11       7783.33       8075.00       8600.00       8350.00       8966.67
12       8416.67       8666.67       8783.33       9441.67      10041.67
13       5041.67       5016.67       5000.00       5616.67       6008.33
14     101400.00     102875.00     105583.33     108025.00     111233.33
15      77116.67      78775.00      81616.67      83600.00      86458.33
16      24208.33      24750.00      24925.00      25841.67      26991.67
17       4033.33       4200.00       4183.33       4341.67       4366.67
18      16500.00      16941.67      17208.33      17491.67      18350.00
19       2900.00       2975.00       3216.67       3350.00       3400.00
20       3816.67       3800.00       3566.67       3300.00       3716.67
21       2300.00       2400.00       2416.67       2391.67       2408.33
22       3675.00       3608.33       3533.33       4008.33       4275.00
23       1125.00       1125.00       1125.00       1100.00       1108.33
24       5108.33       5041.67       5066.67       4833.33       4925.00
25       3800.00       3725.00       3666.67       3483.33       3525.00
26       8958.33       9041.67       9500.00       9558.33       9483.33
27       4658.33       4775.00       4983.33       4725.00       4850.00
28       3975.00       4066.67       4291.67       4025.00       4133.33
29      20925.00      21575.00      23283.33      23983.33      25083.33
30      19450.00      20150.00      21791.67      22450.00      23541.67
31      13150.00      13358.33      13741.67      14283.33      14750.00
32      10641.67      10783.33      11308.33      11641.67      12025.00
33       9866.67      10008.33      10516.67      10825.00      11200.00
34       9408.33       9566.67      10058.33      10416.67      10766.67
35       3641.67       3883.33       3975.00       4000.00       4116.67
36      24283.33      24100.00      23966.67      24425.00      24775.00
37       4225.00       3900.00       3750.00       3675.00       3716.67
38      20058.33      20200.00      20216.67      20750.00      21058.33
39       5208.33       5300.00       5208.33       5175.00       5166.67
40        325.00        341.67        425.00        433.33        433.33
41       4883.33       4958.33       4783.33       4741.67       4733.33
42      14850.00      14900.00      15008.33      15575.00      15891.67
43       8691.67       8950.00       8966.67       9208.33       9500.00
44       6158.33       5950.00       6041.67       6366.67       6391.67
45       3000.00       2933.33       2941.67       3083.33       3150.00
46       2616.67       2516.67       2525.00       2633.33       2575.00
47        541.67        500.00        575.00        650.00        666.67

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      207283.33     207941.67     209066.67     208116.67     201816.67
1      195816.67     197950.00     200800.00     200200.00     182150.00
2       11433.33       9991.67       8250.00       7925.00      19683.33
3           0.06          0.05          0.04          0.04          0.10
4      136275.00     138566.67     141966.67     143425.00     132833.33
5        1766.67       1716.67       1666.67       1466.67       1508.33
6      134508.33     136850.00     140300.00     141958.33     131325.00
7      109358.33     111816.67     115425.00     117200.00     107900.00
8       20891.67      21483.33      22700.00      23883.33      22416.67
9       10766.67      10908.33      11800.00      12775.00      11516.67
10        475.00        475.00        566.67        500.00        408.33
11      10291.67      10433.33      11233.33      12275.00      11108.33
12      10125.00      10575.00      10900.00      11108.33      10900.00
13       6133.33       6366.67       6125.00       6116.67       6191.67
14     113616.67     115366.67     117600.00     118075.00     108908.33
15      88466.67      90333.33      92725.00      93316.67      85483.33
16      27200.00      27400.00      27833.33      27008.33      25750.00
17       4141.67       4291.67       4425.00       4383.33       4108.33
18      18591.67      18650.00      18650.00      17816.67      16700.00
19       3375.00       3300.00       3291.67       3308.33       3458.33
20       3800.00       3750.00       3816.67       3750.00       3650.00
21       2325.00       2241.67       2108.33       1950.00       1366.67
22       4466.67       4458.33       4758.33       4808.33       4941.67
23       1058.33       1091.67       1133.33       1150.00        833.33
24       5108.33       5108.33       5200.00       5133.33       4950.00
25       3566.67       3558.33       3575.00       3425.00       3350.00
26       9241.67       9533.33      10116.67      10183.33       9650.00
27       4791.67       4825.00       5358.33       5591.67       5225.00
28       3975.00       4025.00       4491.67       4725.00       4441.67
29      26583.33      27666.67      28366.67      29000.00      27933.33
30      24841.67      25766.67      26366.67      26916.67      26091.67
31      15133.33      15216.67      15625.00      16125.00      12325.00
32      12350.00      12450.00      12883.33      13391.67      11008.33
33      11533.33      11733.33      12141.67      12541.67      10408.33
34      11133.33      11341.67      11683.33      12058.33      10100.00
35       4141.67       4316.67       4450.00       4716.67       4041.67
36      25150.00      25033.33      24875.00      24758.33      23425.00
37       3741.67       3683.33       3533.33       3575.00       3633.33
38      21408.33      21350.00      21341.67      21183.33      19791.67
39       5258.33       5250.00       5325.00       5416.67       5358.33
40        475.00        466.67        491.67        491.67        466.67
41       4783.33       4783.33       4833.33       4925.00       4891.67
42      16150.00      16100.00      16016.67      15766.67      14433.33
43       9658.33       9558.33       9458.33       9258.33       8416.67
44       6491.67       6541.67       6558.33       6508.33       6016.67
45       3258.33       3300.00       3283.33       3166.67       2916.67
46       2550.00       2541.67       2566.67       2633.33       2491.67
47        683.33        700.00        708.33        708.33        608.33

    2021_Average  2022_Average  2023_Average  2024_Average
0      200241.67     200866.67     203058.33     203577.78
1      185375.00     192258.33     193608.33     188395.83
2       14850.00       8608.33       9441.67      15190.28
3           0.07          0.04          0.05          0.07
4      135416.67     141066.67     142983.33     135982.64
5        1583.33       1641.67       1433.33       1570.83
6      133833.33     139425.00     141550.00     134411.81
7      110891.67     116033.33     117675.00     109881.94
8       22791.67      23658.33      23041.67      20493.75
9       11883.33      12433.33      11941.67      10484.03
10        308.33        325.00        300.00        340.97
11      11575.00      12108.33      11641.67      10143.06
12      10908.33      11225.00      11100.00      10009.72
13       6441.67       6641.67       6608.33       5956.94
14     111041.67     115766.67     118508.33     113918.06
15      88100.00      92375.00      94633.33      89388.20
16      26675.00      27166.67      27275.00      26232.64
17       3991.67       4108.33       4175.00       4181.94
18      17450.00      17575.00      17525.00      17127.78
19       3608.33       3616.67       3625.00       3383.33
20       3908.33       3991.67       3975.00       3787.50
21       1541.67       1550.00       1600.00       1936.81
22       5233.33       5483.33       5575.00       4922.92
23        841.67        900.00        891.67       1004.86
24       4841.67       4750.00       4716.67       4905.56
25       3166.67       3000.00       2858.33       3173.61
26      10383.33      10883.33      10975.00      10471.53
27       5450.00       5750.00       6058.33       5722.22
28       4675.00       4875.00       5050.00       4836.11
29      27600.00      28516.67      29791.67      27295.14
30      25783.33      26616.67      27866.67      25484.72
31      13575.00      15491.67      15991.67      14879.86
32      11925.00      13258.33      13608.33      12370.83
33      11308.33      12508.33      12808.33      11630.56
34      10975.00      12083.33      12433.33      11318.75
35       4183.33       4666.67       4991.67       4598.61
36      22941.67      23391.67      23875.00      24529.86
37       3641.67       3391.67       3300.00       3661.81
38      19300.00      20000.00      20575.00      20868.06
39       5158.33       5158.33       5033.33       5152.78
40        375.00        400.00        416.67        372.22
41       4783.33       4758.33       4616.67       4780.56
42      14141.67      14841.67      15541.67      15715.28
43       8075.00       8533.33       8941.67       9171.53
44       6066.67       6308.33       6600.00       6543.75
45       3016.67       3175.00       3250.00       3205.56
46       2475.00       2533.33       2683.33       2675.00
47        575.00        600.00        666.67        661.11

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,202558.33,201908.33,202241.67,202333.33,202391.67,204866.67,207283.33,207941.67,209066.67,208116.67,201816.67,200241.67,200866.67,203058.33,203577.78
1,Civilian Employment,176533.33,176925.00,180258.33,183750.00,186983.33,192225.00,195816.67,197950.00,200800.00,200200.00,182150.00,185375.00,192258.33,193608.33,188395.83
2,Civilian Unemployment,26025.00,24991.67,21975.00,18583.33,15408.33,12633.33,11433.33,9991.67,8250.00,7925.00,19683.33,14850.00,8608.33,9441.67,15190.28
3,Civilian Unemployment Rate,0.13,0.12,0.11,0.09,0.08,0.06,0.06,0.05,0.04,0.04,0.10,0.07,0.04,0.05,0.07
4,Total Wage and Salary,119883.33,119400.00,121508.33,125033.33,128066.67,132466.67,136275.00,138566.67,141966.67,143425.00,132833.33,135416.67,141066.67,142983.33,135982.64

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Solano_county.csv', index=False)  # Set index=False to avoid exporting the row indices