In [3]:
import pandas as pd

# Load the .xls Excel file
RiversideCounty = pd.read_excel("RIVEHWS.xls", engine='xlrd')

RiversideCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,65,NaN,NaN,1,00-000010,Civilian Labor Force,977200.000,977900.000,...,1167800.000,1172700.000,1163500.000,1165000.000,1164900.000,1165000.000,1152900.000,1147200.000,1151800.000,1162500.000
1,2,2023,65,NaN,NaN,1,00-000020,Civilian Employment,835800.000,836700.000,...,1105200.000,1112100.000,1104300.000,1100600.000,1099700.000,1104800.000,1096700.000,1096900.000,1089800.000,1093300.000
2,3,2023,65,NaN,NaN,1,00-000030,Civilian Unemployment,141400.000,141200.000,...,62600.000,60600.000,59200.000,64400.000,65200.000,60200.000,56200.000,50300.000,62000.000,69200.000
3,4,2023,65,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.145,0.144,...,0.054,0.052,0.051,0.055,0.056,0.052,0.049,0.044,0.054,0.059
4,8,2023,65,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",545800.000,545100.000,...,843000.000,848300.000,850000.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
RiversideCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

RiversideCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,977200.000,977900.000,983300.000,979000.000,972700.000,977400.000,978500.000,978200.000,974400.000,...,1167800.000,1172700.000,1163500.000,1165000.000,1164900.000,1165000.000,1152900.000,1147200.000,1151800.000,1162500.000
1,Civilian Employment,835800.000,836700.000,841900.000,845200.000,841400.000,839800.000,833700.000,834500.000,835500.000,...,1105200.000,1112100.000,1104300.000,1100600.000,1099700.000,1104800.000,1096700.000,1096900.000,1089800.000,1093300.000
2,Civilian Unemployment,141400.000,141200.000,141400.000,133800.000,131300.000,137600.000,144700.000,143700.000,138900.000,...,62600.000,60600.000,59200.000,64400.000,65200.000,60200.000,56200.000,50300.000,62000.000,69200.000
3,Civilian Unemployment Rate,0.145,0.144,0.144,0.137,0.135,0.141,0.148,0.147,0.143,...,0.054,0.052,0.051,0.055,0.056,0.052,0.049,0.044,0.054,0.059
4,"Total, All Industries",545800.000,545100.000,549800.000,554400.000,556900.000,559300.000,537800.000,538800.000,542300.000,...,843000.000,848300.000,850000.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
titles_df = RiversideCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                       Goods Producing
8                                    Mining and Logging
9                                          Construction
10                                        Manufacturing
11                                        Durable Goods
12                                     Nondurable Goods
13                                    Service Providing
14                    Trade, Transportation & Utilities
15                                      Wholesale Trade
16                                         Retail Trade
17            Transportation, Warehousing, and Utili...
18                                          Information
19                                 Financial Activities
20                                  Finance & Insurance
21                       Real Estate & Rental & Leasing
22                   Professional and Business Services
23            Professional, Scientific & Technical S...
24                Management of Companies & Enterprises
25            Administrative and Support and Waste a...
26                Private Education and Health Services
27                         Private Educational Services
28                      Health Care & Social Assistance
29                              Leisure and Hospitality
30                  Arts, Entertainment, and Recreation
31                        Accommodation & Food Services
32                                       Other Services
33                                           Government
34                                   Federal Government
35                                     State Government
36                                     Local Government
Name: TITLE, dtype: object

In [31]:
# Specify the number of spaces to filter titles with exactly 4 leading spaces
desired_indentation_level = 4

# Filter rows where the TITLE column starts with exactly 4 spaces
filtered_RiversideCounty = RiversideCounty[RiversideCounty['TITLE'].str.startswith(' ' * desired_indentation_level)]

# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year from the filtered DataFrame
    columns_for_year = filtered_RiversideCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = filtered_RiversideCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = filtered_RiversideCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
7                                     Goods Producing      73641.67
8                                  Mining and Logging        400.00
9                                        Construction      35375.00
10                                      Manufacturing      37866.67
11                                      Durable Goods      26400.00
12                                   Nondurable Goods      11466.67
13                                  Service Providing     463158.33
14                  Trade, Transportation & Utilities     117008.33
15                                    Wholesale Trade      19091.67
16                                       Retail Trade      78525.00
17          Transportation, Warehousing, and Utili...      19391.67
18                                        Information      10250.00
19                               Financial Activities      19258.33
20                                Finance & Insurance      11075.00
21                     Real Estate & Rental & Leasing       8183.33
22                 Professional and Business Services      50325.00
23          Professional, Scientific & Technical S...      16058.33
24              Management of Companies & Enterprises       2900.00
25          Administrative and Support and Waste a...      31366.67
26              Private Education and Health Services      71158.33
27                       Private Educational Services       5466.67
28                    Health Care & Social Assistance      65691.67
29                            Leisure and Hospitality      67675.00
30                Arts, Entertainment, and Recreation       9858.33
31                      Accommodation & Food Services      57816.67
32                                     Other Services      18300.00
33                                         Government     109183.33
34                                 Federal Government       7625.00
35                                   State Government      15908.33
36                                   Local Government      85650.00

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
7       73075.00      75691.67      81966.67      87866.67      94475.00
8         400.00        400.00        333.33        300.00        300.00
9       34108.33      35850.00      42591.67      47458.33      52925.00
10      38566.67      39441.67      39041.67      40108.33      41250.00
11      27458.33      27775.00      27241.67      28450.00      28566.67
12      11108.33      11666.67      11800.00      11658.33      12683.33
13     476316.67     485350.00     505475.00     528325.00     550808.33
14     121591.67     123091.67     129700.00     136350.00     146108.33
15      19741.67      20683.33      22375.00      23075.00      23308.33
16      81616.67      81400.00      82408.33      85516.67      88741.67
17      20233.33      21008.33      24916.67      27758.33      34058.33
18       7691.67       6391.67       6283.33       6308.33       6366.67
19      18566.67      19266.67      20008.33      20483.33      20941.67
20      11000.00      11275.00      11633.33      11541.67      11566.67
21       7566.67       7991.67       8375.00       8941.67       9375.00
22      52283.33      54008.33      57558.33      60916.67      62616.67
23      16283.33      17175.00      17516.67      18875.00      19133.33
24       2758.33       2791.67       3116.67       3266.67       2983.33
25      33241.67      34041.67      36925.00      38775.00      40500.00
26      74316.67      78941.67      85500.00      89541.67      95216.67
27       5591.67       6383.33       6933.33       7358.33       7625.00
28      68725.00      72558.33      78566.67      82183.33      87591.67
29      68908.33      72316.67      74958.33      80500.00      83391.67
30       9500.00       9716.67      10041.67      10733.33      10875.00
31      59408.33      62600.00      64916.67      69766.67      72516.67
32      18758.33      19191.67      20275.00      21558.33      21708.33
33     114200.00     112141.67     111191.67     112666.67     114458.33
34       7033.33       6825.00       6833.33       6783.33       6858.33
35      16083.33      15733.33      15766.67      15941.67      16250.00
36      91083.33      89583.33      88591.67      89941.67      91350.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
7      101591.67     105541.67     112316.67     113758.33     110141.67
8         300.00        391.67        400.00        466.67        400.00
9       58625.00      62233.33      67408.33      68125.00      66791.67
10      42666.67      42916.67      44508.33      45166.67      42950.00
11      29300.00      29116.67      30175.00      30408.33      28508.33
12      13366.67      13800.00      14333.33      14758.33      14441.67
13     573950.00     600583.33     623916.67     639833.33     611975.00
14     152816.67     158941.67     163600.00     169583.33     173191.67
15      23816.67      23850.00      24925.00      25566.67      24433.33
16      91625.00      92675.00      92883.33      93758.33      87033.33
17      37375.00      42416.67      45791.67      50258.33      61725.00
18       6325.00       6108.33       6183.33       6491.67       5308.33
19      21416.67      21841.67      22108.33      21600.00      20925.00
20      11716.67      11925.00      11866.67      11158.33      11175.00
21       9700.00       9916.67      10241.67      10441.67       9750.00
22      65183.33      66558.33      70533.33      73650.00      71500.00
23      19016.67      19383.33      20500.00      20991.67      20183.33
24       2958.33       2441.67       2533.33       3075.00       3308.33
25      43208.33      44733.33      47500.00      49583.33      48008.33
26     100158.33     106983.33     114925.00     115300.00     119583.33
27       8208.33       8166.67       8250.00       8150.00       7700.00
28      91950.00      98816.67     106675.00     107150.00     111883.33
29      88216.67      91158.33      93716.67      97800.00      77566.67
30      11308.33      11608.33      12000.00      12716.67       8933.33
31      76908.33      79550.00      81716.67      85083.33      68633.33
32      22250.00      22575.00      22766.67      23266.67      19883.33
33     117583.33     126416.67     130083.33     132141.67     124016.67
34       7066.67       7125.00       7158.33       7258.33       7691.67
35      16966.67      17458.33      17508.33      17575.00      17800.00
36      93550.00     101833.33     105416.67     107308.33      98525.00

    2021_Average  2022_Average  2023_Average  2024_Average
7      114975.00     119291.67     119675.00      78448.34
8         400.00        500.00        400.00        366.67
9       70925.00      73875.00      74075.00      39076.67
10      43650.00      44916.67      45200.00      39005.00
11      28658.33      29166.67      28608.33      27465.00
12      14991.67      15750.00      16591.67      11540.00
13     646766.67     683375.00     701408.33     491725.00
14     188141.67     197925.00     196683.33     125548.33
15      25675.00      27333.33      27708.33      20993.33
16      91408.33      92491.67      94441.67      81893.33
17      71058.33      78100.00      74533.33      22661.67
18       5325.00       5483.33       5641.67       7385.00
19      21416.67      22533.33      21108.33      19516.67
20      10958.33      11541.67       9850.00      11305.00
21      10458.33      10991.67      11258.33       8211.67
22      77208.33      78558.33      76283.33      55018.33
23      21491.67      22283.33      22108.33      17181.67
24       3741.67       3775.00       3708.33       2966.67
25      51975.00      52500.00      50466.67      34870.00
26     124558.33     131683.33     143891.67      79891.67
27       8208.33       9233.33       9691.67       6346.67
28     116350.00     122450.00     134200.00      73545.00
29      88566.67     101133.33     104233.33      72871.67
30      11158.33      12775.00      13716.67       9970.00
31      77408.33      88358.33      90516.67      62901.67
32      21766.67      24391.67      25491.67      19616.67
33     119783.33     121666.67     128075.00     111876.67
34       7450.00       7450.00       7608.33       7020.00
35      16966.67      15183.33      15491.67      15886.67
36      95366.67      99033.33     104975.00      88970.00

/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
/var/folders/96/gzljjlrn7kdd_n17wb8s3dc00000gn/T/ipykernel_48553/4192061931.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_RiversideCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)

In [32]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
7,Goods Producing,73641.67,73075.00,75691.67,81966.67,87866.67,94475.00,101591.67,105541.67,112316.67,113758.33,110141.67,114975.00,119291.67,119675.00,78448.34
8,Mining and Logging,400.00,400.00,400.00,333.33,300.00,300.00,300.00,391.67,400.00,466.67,400.00,400.00,500.00,400.00,366.67
9,Construction,35375.00,34108.33,35850.00,42591.67,47458.33,52925.00,58625.00,62233.33,67408.33,68125.00,66791.67,70925.00,73875.00,74075.00,39076.67
10,Manufacturing,37866.67,38566.67,39441.67,39041.67,40108.33,41250.00,42666.67,42916.67,44508.33,45166.67,42950.00,43650.00,44916.67,45200.00,39005.00
11,Durable Goods,26400.00,27458.33,27775.00,27241.67,28450.00,28566.67,29300.00,29116.67,30175.00,30408.33,28508.33,28658.33,29166.67,28608.33,27465.00

In [13]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Riverside_county.csv', index=False)  # Set index=False to avoid exporting the row indices