In [1]:
import pandas as pd

# Load the .xls Excel file
CaliforniaCounty = pd.read_excel("Resources/CAL$HWS.xls", engine='xlrd')

CaliforniaCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,0,NaN,NaN,1,00-000010,Civilian Labor Force,1.823160e+07,18307900.00,...,19378200.00,1.940300e+07,1.922360e+07,1.934220e+07,1.940100e+07,1.941100e+07,1.921580e+07,1.922860e+07,1.929330e+07,1.943960e+07
1,2,2023,0,NaN,NaN,1,00-000020,Civilian Employment,1.583550e+07,15928700.00,...,18415200.00,1.844440e+07,1.825280e+07,1.823550e+07,1.831550e+07,1.837170e+07,1.828190e+07,1.835370e+07,1.826530e+07,1.831530e+07
2,3,2023,0,NaN,NaN,1,00-000030,Civilian Unemployment,2.396200e+06,2379300.00,...,963000.00,9.586000e+05,9.708000e+05,1.106600e+06,1.085500e+06,1.039300e+06,9.340000e+05,8.750000e+05,1.028000e+06,1.124300e+06
3,4,2023,0,NaN,NaN,1,00-000040,Civilian Unemployment Rate,1.310000e-01,0.13,...,0.05,4.900000e-02,5.100000e-02,5.700000e-02,5.600000e-02,5.400000e-02,4.900000e-02,4.600000e-02,5.300000e-02,5.800000e-02
4,8,2023,0,"110000-813000, 920000",NaN,2,01-000000,"Total, All Industries",1.435090e+07,14387000.00,...,18445800.00,1.847820e+07,1.845990e+07,1.814040e+07,1.823060e+07,1.828110e+07,1.837970e+07,1.851760e+07,1.857400e+07,1.844180e+07

In [3]:
CaliforniaCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

CaliforniaCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,1.823160e+07,18307900.00,18335900.00,1.839060e+07,1.834070e+07,1.836780e+07,1.846510e+07,1.846400e+07,1.844620e+07,...,19378200.00,1.940300e+07,1.922360e+07,1.934220e+07,1.940100e+07,1.941100e+07,1.921580e+07,1.922860e+07,1.929330e+07,1.943960e+07
1,Civilian Employment,1.583550e+07,15928700.00,15955700.00,1.613660e+07,1.615390e+07,1.610840e+07,1.611110e+07,1.615270e+07,1.621290e+07,...,18415200.00,1.844440e+07,1.825280e+07,1.823550e+07,1.831550e+07,1.837170e+07,1.828190e+07,1.835370e+07,1.826530e+07,1.831530e+07
2,Civilian Unemployment,2.396200e+06,2379300.00,2380200.00,2.253900e+06,2.186800e+06,2.259500e+06,2.354000e+06,2.311300e+06,2.233300e+06,...,963000.00,9.586000e+05,9.708000e+05,1.106600e+06,1.085500e+06,1.039300e+06,9.340000e+05,8.750000e+05,1.028000e+06,1.124300e+06
3,Civilian Unemployment Rate,1.310000e-01,0.13,0.13,1.230000e-01,1.190000e-01,1.230000e-01,1.270000e-01,1.250000e-01,1.210000e-01,...,0.05,4.900000e-02,5.100000e-02,5.700000e-02,5.600000e-02,5.400000e-02,4.900000e-02,4.600000e-02,5.300000e-02,5.800000e-02
4,"Total, All Industries",1.435090e+07,14387000.00,14455800.00,1.464980e+07,1.481820e+07,1.486490e+07,1.461690e+07,1.464670e+07,1.470660e+07,...,18445800.00,1.847820e+07,1.845990e+07,1.814040e+07,1.823060e+07,1.828110e+07,1.837970e+07,1.851760e+07,1.857400e+07,1.844180e+07

In [4]:
titles_df = CaliforniaCounty["TITLE"]
titles_df

0                                   Civilian Labor Force
1                                    Civilian Employment
2                                  Civilian Unemployment
3                             Civilian Unemployment Rate
4                                  Total, All Industries
                             ...
281              Local Government excluding Education...
282                                    County Government
283                                      City Government
284                                    Special Districts
285                                        Indian Tribes
Name: TITLE, Length: 286, dtype: object

In [6]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = CaliforniaCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    CaliforniaCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = CaliforniaCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = CaliforniaCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                 TITLE  2010_Average  \
0                                 Civilian Labor Force   18370533.33
1                                  Civilian Employment   16078458.33
2                                Civilian Unemployment    2292100.00
3                           Civilian Unemployment Rate          0.12
4                                Total, All Industries   14666591.67
..                                                 ...           ...
281            Local Government excluding Education...     778508.33
282                                  County Government     338391.67
283                                    City Government     268425.00
284                                  Special Districts     116783.33
285                                      Indian Tribes      54925.00

     2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0     18406758.33   18484900.00   18565400.00   18676691.67   18824133.33
1     16220616.67   16541041.67   16887858.33   17264525.00   17647416.67
2      2186166.67    1943841.67    1677541.67    1412175.00    1176741.67
3            0.12          0.11          0.09          0.08          0.06
4     14824675.00   15161625.00   15563866.67   15992533.33   16474258.33
..            ...           ...           ...           ...           ...
281     756591.67     749375.00     752675.00     767075.00     779775.00
282     327416.67     325000.00     326000.00     331066.67     336475.00
283     260533.33     255416.67     253858.33     256825.00     260425.00
284     114275.00     113525.00     115508.33     120591.67     125425.00
285      54375.00      55433.33      57308.33      58591.67      57450.00

     2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0     19012016.67   19185366.67   19289508.33   19385266.67   18958616.67
1     17965408.33   18258066.67   18469900.00   18589541.67   17037033.33
2      1046616.67     927300.00     819600.00     795700.00    1921575.00
3            0.06          0.05          0.04          0.04          0.10
4     16905658.33   17249533.33   17593641.67   17852983.33   16593800.00
..            ...           ...           ...           ...           ...
281     795525.00     807775.00     818933.33     829183.33     801333.33
282     343466.67     348400.00     353483.33     356508.33     356666.67
283     265150.00     269158.33     272083.33     275500.00     259708.33
284     127425.00     128633.33     129658.33     131333.33     128008.33
285      59483.33      61583.33      63708.33      65841.67      56950.00

     2021_Average  2022_Average  2023_Average  2024_Average
0     18956566.67   19169350.00   19308291.67   18986315.28
1     17568750.00   18348925.00   18388333.33   17594283.33
2      1387825.00     820416.67     919950.00    1392043.75
3            0.07          0.04          0.05          0.07
4     17162300.00   18089016.67   18231708.33   17064540.97
..            ...           ...           ...           ...
281     793458.33     805400.00     826991.67     808502.08
282     353750.00     351775.00     353341.67     345422.92
283     253883.33     260608.33     272341.67     272154.86
284     127958.33     130100.00     133983.33     127981.94
285      57866.67      62916.67      67308.33      63027.78

[286 rows x 16 columns]

In [7]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,18370533.33,18406758.33,18484900.00,18565400.00,18676691.67,18824133.33,19012016.67,19185366.67,19289508.33,19385266.67,18958616.67,18956566.67,19169350.00,19308291.67,18986315.28
1,Civilian Employment,16078458.33,16220616.67,16541041.67,16887858.33,17264525.00,17647416.67,17965408.33,18258066.67,18469900.00,18589541.67,17037033.33,17568750.00,18348925.00,18388333.33,17594283.33
2,Civilian Unemployment,2292100.00,2186166.67,1943841.67,1677541.67,1412175.00,1176741.67,1046616.67,927300.00,819600.00,795700.00,1921575.00,1387825.00,820416.67,919950.00,1392043.75
3,Civilian Unemployment Rate,0.12,0.12,0.11,0.09,0.08,0.06,0.06,0.05,0.04,0.04,0.10,0.07,0.04,0.05,0.07
4,"Total, All Industries",14666591.67,14824675.00,15161625.00,15563866.67,15992533.33,16474258.33,16905658.33,17249533.33,17593641.67,17852983.33,16593800.00,17162300.00,18089016.67,18231708.33,17064540.97

In [8]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('California_county.csv', index=False)  # Set index=False to avoid exporting the row indices