In [1]:
import pandas as pd

# Load the .xls Excel file
ColusaCounty = pd.read_excel("Resources/COLUSHWS.xls", engine='xlrd')

ColusaCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,11,NaN,NaN,1,00-000010,Civilian Labor Force,11510.000,11620.000,...,10840.000,10500.000,10490.000,10630.000,11250.00,11090.000,10800.000,10820.00,10920.000,11100.000
1,2,2023,11,NaN,NaN,1,00-000020,Civilian Employment,8300.000,8330.000,...,9880.000,9320.000,8820.000,8550.000,8880.00,8960.000,9130.000,9520.00,9660.000,9900.000
2,3,2023,11,NaN,NaN,1,00-000030,Civilian Unemployment,3200.000,3290.000,...,950.000,1180.000,1670.000,2080.000,2360.00,2130.000,1680.000,1290.00,1260.000,1200.000
3,4,2023,11,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.278,0.283,...,0.088,0.113,0.159,0.196,0.21,0.192,0.155,0.12,0.116,0.108
4,8,2023,11,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",7630.000,7650.000,...,10390.000,9700.000,9170.000,8620.000,9040.00,9150.000,9460.000,10020.00,10280.000,10480.000

In [2]:
ColusaCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

ColusaCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,11510.000,11620.000,11780.000,11650.000,11710.000,11660.000,11580.000,11790.000,11510.00,...,10840.000,10500.000,10490.000,10630.000,11250.00,11090.000,10800.000,10820.00,10920.000,11100.000
1,Civilian Employment,8300.000,8330.000,8650.000,9140.000,9540.000,9460.000,9520.000,9870.000,9670.00,...,9880.000,9320.000,8820.000,8550.000,8880.00,8960.000,9130.000,9520.00,9660.000,9900.000
2,Civilian Unemployment,3200.000,3290.000,3140.000,2510.000,2170.000,2200.000,2060.000,1920.000,1840.00,...,950.000,1180.000,1670.000,2080.000,2360.00,2130.000,1680.000,1290.00,1260.000,1200.000
3,Civilian Unemployment Rate,0.278,0.283,0.266,0.215,0.185,0.188,0.178,0.163,0.16,...,0.088,0.113,0.159,0.196,0.21,0.192,0.155,0.12,0.116,0.108
4,"Total, All Industries",7630.000,7650.000,8030.000,8670.000,9210.000,9230.000,9120.000,9430.000,9280.00,...,10390.000,9700.000,9170.000,8620.000,9040.00,9150.000,9460.000,10020.00,10280.000,10480.000

In [3]:
titles_df = ColusaCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                        Manufacturing
11                                        Durable Goods
12                                    Non-Durable Goods
13                                    Service-Providing
14                            Private Service Providing
15                 Private Service Providing - Residual
16                 Trade, Transportation, and Utilities
17                                      Wholesale Trade
18                                         Retail Trade
19            Transportation, Warehousing, and Utili...
20                                 Financial Activities
21                Private Education and Health Services
22                              Leisure and Hospitality
23                                           Government
24                                   Federal Government
25                     Total State and Local Government
26                                     State Government
27                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = ColusaCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    ColusaCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = ColusaCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = ColusaCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force      11560.83
1                                 Civilian Employment       9095.83
2                               Civilian Unemployment       2465.00
3                          Civilian Unemployment Rate          0.21
4                               Total, All Industries       8654.17
5                                          Total Farm       2422.50
6                                       Total Nonfarm       6231.67
7                                       Total Private       4143.33
8                                     Goods Producing       1288.33
9                    Mining, Logging and Construction        555.83
10                                      Manufacturing        732.50
11                                      Durable Goods         40.83
12                                  Non-Durable Goods        691.67
13                                  Service-Providing       4943.33
14                          Private Service Providing       2855.00
15               Private Service Providing - Residual        379.17
16               Trade, Transportation, and Utilities       1224.17
17                                    Wholesale Trade        540.83
18                                       Retail Trade        492.50
19          Transportation, Warehousing, and Utili...        190.83
20                               Financial Activities        180.00
21              Private Education and Health Services        470.00
22                            Leisure and Hospitality        601.67
23                                         Government       2088.33
24                                 Federal Government         81.67
25                   Total State and Local Government       2006.67
26                                   State Government         72.50
27                                   Local Government       1934.17

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0       11379.17      11270.00      11269.17      11079.17      11052.50
1        8924.17       8902.50       9114.17       9132.50       9342.50
2        2455.83       2370.83       2155.00       1949.17       1709.17
3           0.22          0.21          0.19          0.18          0.16
4        8466.67       8428.33       8733.33       8788.33       9079.17
5        2475.83       2276.67       2397.50       2347.50       2582.50
6        5990.83       6151.67       6335.83       6440.83       6496.67
7        3930.83       4060.00       4217.50       4299.17       4341.67
8         977.50       1120.83       1142.50       1375.83       1452.50
9         117.50        151.67         93.33         80.83         89.17
10        860.00        969.17       1049.17       1295.00       1363.33
11         27.50         31.67         41.67         47.50         50.00
12        832.50        937.50       1007.50       1247.50       1313.33
13       5013.33       5030.83       5193.33       5065.00       5044.17
14       2953.33       2939.17       3075.00       2923.33       2889.17
15        433.33        337.50        328.33        305.00        300.00
16       1307.50       1375.00       1455.00       1324.17       1295.00
17        661.67        769.17        786.67        653.33        642.50
18        461.67        443.33        446.67        432.50        473.33
19        184.17        162.50        221.67        238.33        179.17
20        167.50        170.00        160.83        150.00        142.50
21        464.17        450.83        516.67        535.83        568.33
22        580.83        605.83        614.17        608.33        583.33
23       2060.00       2091.67       2118.33       2141.67       2155.00
24         76.67         80.83         75.00         75.00         68.33
25       1983.33       2010.83       2043.33       2066.67       2086.67
26         65.00         65.00         58.33         59.17         67.50
27       1918.33       1945.83       1985.00       2007.50       2019.17

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0       10908.33      10816.67      10845.00      10974.17      10622.50
1        9206.67       9267.50       9411.67       9555.83       8878.33
2        1702.50       1550.00       1433.33       1415.00       1745.00
3           0.16          0.14          0.13          0.13          0.16
4        9039.17       9197.50       9420.83       9714.17       9077.50
5        2615.83       2805.00       2939.17       3133.33       2850.83
6        6423.33       6392.50       6481.67       6580.83       6226.67
7        4212.50       4127.50       4240.00       4388.33       4256.67
8        1325.83       1342.50       1272.50       1368.33       1360.83
9         105.00        114.17        119.17        129.17        103.33
10       1220.00       1230.00       1151.67       1239.17       1259.17
11         50.83         61.67         92.50         99.17        172.50
12       1167.50       1170.00       1060.83       1141.67       1089.17
13       5099.17       5050.00       5210.00       5214.17       4866.67
14       2886.67       2785.00       2966.67       3022.50       2893.33
15        336.67        311.67        283.33        255.00        181.67
16       1365.00       1382.50       1397.50       1410.00       1417.50
17        580.00        580.00        613.33        597.50        589.17
18        597.50        608.33        588.33        590.83        595.83
19        190.00        198.33        200.00        222.50        234.17
20        134.17        129.17        139.17        143.33        139.17
21        459.17        377.50        560.00        628.33        664.17
22        590.83        585.00        587.50        588.33        494.17
23       2213.33       2265.00       2241.67       2191.67       1973.33
24         68.33         69.17         69.17         69.17         77.50
25       2145.00       2197.50       2173.33       2121.67       1894.17
26         66.67         64.17         64.17         57.50         66.67
27       2079.17       2135.83       2110.00       2063.33       1825.83

    2021_Average  2022_Average  2023_Average  2024_Average
0       10646.67      10200.00      10575.83      11097.36
1        9311.67       9000.00       9202.50       9147.43
2        1334.17       1200.83       1372.50       1949.65
3           0.13          0.12          0.13          0.18
4        9592.50       9203.33       9471.67       9176.74
5        2900.00       2408.33       2444.17       2365.83
6        6692.50       6795.00       7027.50       6810.90
7        4615.00       4602.50       4780.83       4612.57
8        1369.17       1104.17       1075.00       1123.75
9         119.17        129.17        131.67        170.76
10       1252.50        975.00        941.67        952.99
11        167.50        129.17        128.33         94.93
12       1085.00        845.83        814.17        859.72
13       5322.50       5691.67       5953.33       5687.15
14       3243.33       3500.83       3706.67       3487.15
15        305.00        430.00        455.83        436.11
16       1520.83       1530.00       1665.00       1541.32
17        588.33        611.67        695.83        695.97
18        661.67        630.00        644.17        565.56
19        271.67        290.00        325.00        280.62
20        132.50        130.00        130.83        149.03
21        745.00        820.00        875.83        758.12
22        543.33        592.50        580.00        605.07
23       2079.17       2191.67       2246.67       2200.00
24         60.00         65.00         66.67         64.93
25       2017.50       2123.33       2180.00       2133.40
26         67.50         72.50         63.33         61.67
27       1950.00       2052.50       2116.67       2074.24

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,11560.83,11379.17,11270.00,11269.17,11079.17,11052.50,10908.33,10816.67,10845.00,10974.17,10622.50,10646.67,10200.00,10575.83,11097.36
1,Civilian Employment,9095.83,8924.17,8902.50,9114.17,9132.50,9342.50,9206.67,9267.50,9411.67,9555.83,8878.33,9311.67,9000.00,9202.50,9147.43
2,Civilian Unemployment,2465.00,2455.83,2370.83,2155.00,1949.17,1709.17,1702.50,1550.00,1433.33,1415.00,1745.00,1334.17,1200.83,1372.50,1949.65
3,Civilian Unemployment Rate,0.21,0.22,0.21,0.19,0.18,0.16,0.16,0.14,0.13,0.13,0.16,0.13,0.12,0.13,0.18
4,"Total, All Industries",8654.17,8466.67,8428.33,8733.33,8788.33,9079.17,9039.17,9197.50,9420.83,9714.17,9077.50,9592.50,9203.33,9471.67,9176.74

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Colusa_county.csv', index=False)  # Set index=False to avoid exporting the row indices