In [1]:
import pandas as pd

# Load the .xls Excel file
ContraCostaCounty = pd.read_excel("Resources/CONTRHWS.xls", engine='xlrd')

ContraCostaCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,13,NaN,NaN,1,00-000010,Civilian Labor Force,525300.000,526100.000,...,551700.000,553000.000,548400.000,550800.00,552600.000,553400.000,546800.000,545700.000,546500.000,551800.000
1,2,2023,13,NaN,NaN,1,00-000020,Civilian Employment,463800.000,465700.000,...,526500.000,528000.000,523600.000,523100.00,524600.000,527300.000,522600.000,524400.000,520600.000,523300.000
2,3,2023,13,NaN,NaN,1,00-000030,Civilian Unemployment,61500.000,60500.000,...,25200.000,25000.000,24700.000,27700.00,28000.000,26100.000,24200.000,21300.000,25900.000,28500.000
3,4,2023,13,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.117,0.115,...,0.046,0.045,0.045,0.05,0.051,0.047,0.044,0.039,0.047,0.052
4,8,2023,13,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",315000.000,314300.000,...,381800.000,383400.000,382800.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
ContraCostaCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

ContraCostaCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,525300.000,526100.000,528500.000,526200.000,523900.000,524700.000,527600.000,524700.000,527800.00,...,551700.000,553000.000,548400.000,550800.00,552600.000,553400.000,546800.000,545700.000,546500.000,551800.000
1,Civilian Employment,463800.000,465700.000,467400.000,467900.000,467300.000,465600.000,466600.000,464700.000,469700.00,...,526500.000,528000.000,523600.000,523100.00,524600.000,527300.000,522600.000,524400.000,520600.000,523300.000
2,Civilian Unemployment,61500.000,60500.000,61100.000,58200.000,56600.000,59100.000,60900.000,60000.000,58000.00,...,25200.000,25000.000,24700.000,27700.00,28000.000,26100.000,24200.000,21300.000,25900.000,28500.000
3,Civilian Unemployment Rate,0.117,0.115,0.116,0.111,0.108,0.113,0.115,0.114,0.11,...,0.046,0.045,0.045,0.05,0.051,0.047,0.044,0.039,0.047,0.052
4,"Total, All Industries",315000.000,314300.000,316000.000,318000.000,321300.000,322800.000,317200.000,316100.000,317400.00,...,381800.000,383400.000,382800.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
titles_df = ContraCostaCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                       Goods Producing
8                      Mining, Logging and Construction
9                                         Manufacturing
10                                        Durable Goods
11                                     Nondurable Goods
12                                    Service Providing
13                    Trade, Transportation & Utilities
14                                      Wholesale Trade
15                                         Retail Trade
16            Transportation, Warehousing, and Utili...
17                                          Information
18                                 Financial Activities
19                                  Finance & Insurance
20                       Real Estate & Rental & Leasing
21                   Professional and Business Services
22            Professional, Scientific & Technical S...
23                Management of Companies & Enterprises
24            Administrative and Support and Waste a...
25                Private Education and Health Services
26                         Private Educational Services
27                      Health Care & Social Assistance
28                              Leisure and Hospitality
29                  Arts, Entertainment, and Recreation
30                        Accommodation & Food Services
31                                       Other Services
32                                           Government
33                                   Federal Government
34                                     State Government
35                                     Local Government
Name: TITLE, dtype: object

In [5]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = ContraCostaCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    ContraCostaCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = ContraCostaCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = ContraCostaCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     525741.67
1                                 Civilian Employment     466716.67
2                               Civilian Unemployment      59008.33
3                          Civilian Unemployment Rate          0.11
4                               Total, All Industries     318125.00
5                                          Total Farm        708.33
6                                       Total Nonfarm     317416.67
7                                     Goods Producing      36725.00
8                    Mining, Logging and Construction      18258.33
9                                       Manufacturing      18466.67
10                                      Durable Goods       6900.00
11                                   Nondurable Goods      11566.67
12                                  Service Providing     280691.67
13                  Trade, Transportation & Utilities      55941.67
14                                    Wholesale Trade       7608.33
15                                       Retail Trade      40375.00
16          Transportation, Warehousing, and Utili...       7958.33
17                                        Information       9608.33
18                               Financial Activities      25341.67
19                                Finance & Insurance      19175.00
20                     Real Estate & Rental & Leasing       6166.67
21                 Professional and Business Services      43775.00
22          Professional, Scientific & Technical S...      22608.33
23              Management of Companies & Enterprises       5641.67
24          Administrative and Support and Waste a...      15525.00
25              Private Education and Health Services      53741.67
26                       Private Educational Services       6275.00
27                    Health Care & Social Assistance      47466.67
28                            Leisure and Hospitality      31308.33
29                Arts, Entertainment, and Recreation       5483.33
30                      Accommodation & Food Services      25825.00
31                                     Other Services      11766.67
32                                         Government      49208.33
33                                 Federal Government       5258.33
34                                   State Government       1175.00
35                                   Local Government      42775.00

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      528500.00     534516.67     536033.33     538466.67     544625.00
1      473141.67     485933.33     495291.67     504833.33     517066.67
2       55366.67      48591.67      40733.33      33633.33      27575.00
3           0.10          0.09          0.08          0.06          0.05
4      319166.67     327558.33     337833.33     344208.33     350766.67
5         825.00        791.67        825.00        783.33        716.67
6      318341.67     326766.67     337008.33     343425.00     350050.00
7       35358.33      37208.33      37108.33      37075.00      37791.67
8       17758.33      19641.67      21700.00      21800.00      22791.67
9       17600.00      17566.67      15408.33      15275.00      15000.00
10       6691.67       7008.33       6466.67       6575.00       6666.67
11      10908.33      10558.33       8941.67       8700.00       8333.33
12     282983.33     289558.33     299900.00     306350.00     312258.33
13      56508.33      57425.00      58716.67      60358.33      62466.67
14       7883.33       8150.00       8658.33       9191.67       9550.00
15      40533.33      41191.67      41133.33      41575.00      42341.67
16       8091.67       8083.33       8925.00       9591.67      10575.00
17       8950.00       8433.33       8591.67       8325.00       8291.67
18      24808.33      25333.33      25308.33      25016.67      26258.33
19      18733.33      19033.33      18666.67      18191.67      19350.00
20       6075.00       6300.00       6641.67       6825.00       6908.33
21      45941.67      48141.67      52058.33      53158.33      50891.67
22      23641.67      24100.00      24650.00      24908.33      23341.67
23       5825.00       5491.67       7966.67       8425.00       8491.67
24      16475.00      18550.00      19441.67      19825.00      19058.33
25      54341.67      56425.00      59508.33      61450.00      64116.67
26       6750.00       7000.00       6983.33       6633.33       6658.33
27      47591.67      49425.00      52525.00      54816.67      57458.33
28      32258.33      33500.00      35350.00      36291.67      38258.33
29       5508.33       5858.33       5883.33       5966.67       6125.00
30      26750.00      27641.67      29466.67      30325.00      32133.33
31      12350.00      12358.33      12141.67      12533.33      12683.33
32      47825.00      47941.67      48225.00      49216.67      49291.67
33       4841.67       4616.67       4450.00       4508.33       4683.33
34       1158.33       1216.67       1300.00       1300.00       1358.33
35      41825.00      42108.33      42475.00      43408.33      43250.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      553225.00     557875.00     560325.00     559975.00     546300.00
1      528408.33     536308.33     542308.33     542525.00     497175.00
2       24808.33      21558.33      18025.00      17466.67      49141.67
3           0.04          0.04          0.03          0.03          0.09
4      364175.00     370325.00     372966.67     375216.67     345775.00
5         825.00        775.00        708.33        750.00        733.33
6      363350.00     369550.00     372258.33     374466.67     345041.67
7       40208.33      41083.33      41783.33      42066.67      39325.00
8       25350.00      25500.00      26100.00      26075.00      24300.00
9       14858.33      15583.33      15683.33      15991.67      15025.00
10       6550.00       6508.33       6391.67       6458.33       6350.00
11       8308.33       9075.00       9291.67       9533.33       8675.00
12     323141.67     328466.67     330475.00     332400.00     305716.67
13      64858.33      65233.33      64158.33      61941.67      58941.67
14      10383.33      10600.00       9766.67       9008.33       8425.00
15      43258.33      43116.67      42783.33      41450.00      38591.67
16      11216.67      11516.67      11608.33      11483.33      11925.00
17       8116.67       7983.33       7816.67       7075.00       5925.00
18      26950.00      27366.67      26991.67      27016.67      25608.33
19      20025.00      20233.33      19725.00      19683.33      18783.33
20       6925.00       7133.33       7266.67       7333.33       6825.00
21      52108.33      54283.33      55266.67      56583.33      55933.33
22      23816.67      22975.00      23433.33      24408.33      24741.67
23       8066.67       8366.67       8650.00       8891.67       8425.00
24      20225.00      22941.67      23183.33      23283.33      22766.67
25      67291.67      69341.67      70683.33      72408.33      69533.33
26       7216.67       7516.67       7625.00       7700.00       6858.33
27      60075.00      61825.00      63058.33      64708.33      62675.00
28      40500.00      40741.67      41258.33      42958.33      31666.67
29       6508.33       6350.00       6491.67       6958.33       4500.00
30      33991.67      34391.67      34766.67      36000.00      27166.67
31      12958.33      13041.67      13491.67      13675.00      10666.67
32      50358.33      50475.00      50808.33      50741.67      47441.67
33       4708.33       4808.33       4683.33       4733.33       5116.67
34       1425.00       1416.67       1541.67       1608.33       1700.00
35      44225.00      44250.00      44583.33      44400.00      40625.00

    2021_Average  2022_Average  2023_Average  2024_Average
0      542800.00     547625.00     550616.67     542571.53
1      508183.33     528016.67     527841.67     507651.39
2       34625.00      19600.00      22766.67      34919.44
3           0.06          0.04          0.04          0.06
4      355891.67     374158.33     376283.33     329378.33
5         708.33       1050.00       1108.33        786.67
6      355183.33     373108.33     375175.00     328591.67
7       39750.00      41208.33      42158.33      36695.00
8       25825.00      27216.67      28041.67      19831.67
9       13925.00      13991.67      14116.67      16863.33
10       6316.67       6500.00       6433.33       6728.33
11       7608.33       7491.67       7683.33      10135.00
12     315433.33     331900.00     333016.67     291896.67
13      61858.33      64975.00      64275.00      57790.00
14       7966.67       8166.67       8450.00       8298.33
15      40866.67      42200.00      41441.67      40961.67
16      13025.00      14608.33      14383.33       8530.00
17       5933.33       5858.33       5625.00       8781.67
18      24858.33      24883.33      23450.00      25161.67
19      17941.67      17300.00      15975.00      18760.00
20       6916.67       7583.33       7475.00       6401.67
21      56375.00      57625.00      54516.67      48615.00
22      25275.00      25833.33      24616.67      23981.67
23       7308.33       7350.00       6408.33       6670.00
24      23791.67      24441.67      23491.67      17963.33
25      73383.33      77291.67      80666.67      57093.33
26       6950.00       7508.33       7833.33       6728.33
27      66433.33      69783.33      72833.33      50365.00
28      34633.33      39700.00      40958.33      33741.67
29       5083.33       6175.00       7133.33       5740.00
30      29550.00      33525.00      33825.00      28001.67
31      11800.00      13391.67      14125.00      12230.00
32      46591.67      48175.00      49400.00      48483.33
33       4841.67       4775.00       4808.33       4735.00
34       1658.33       1600.00       1600.00       1230.00
35      40091.67      41800.00      42991.67      42518.33

In [6]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,525741.67,528500.00,534516.67,536033.33,538466.67,544625.00,553225.00,557875.00,560325.00,559975.00,546300.00,542800.00,547625.00,550616.67,542571.53
1,Civilian Employment,466716.67,473141.67,485933.33,495291.67,504833.33,517066.67,528408.33,536308.33,542308.33,542525.00,497175.00,508183.33,528016.67,527841.67,507651.39
2,Civilian Unemployment,59008.33,55366.67,48591.67,40733.33,33633.33,27575.00,24808.33,21558.33,18025.00,17466.67,49141.67,34625.00,19600.00,22766.67,34919.44
3,Civilian Unemployment Rate,0.11,0.10,0.09,0.08,0.06,0.05,0.04,0.04,0.03,0.03,0.09,0.06,0.04,0.04,0.06
4,"Total, All Industries",318125.00,319166.67,327558.33,337833.33,344208.33,350766.67,364175.00,370325.00,372966.67,375216.67,345775.00,355891.67,374158.33,376283.33,329378.33

In [7]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('ContraCosta_county.csv', index=False)  # Set index=False to avoid exporting the row indices