In [1]:
import pandas as pd

# Load the .xls Excel file
LassenCounty = pd.read_excel("Resources/LASSEHWS.xls", engine='xlrd')

LassenCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,35,NaN,NaN,1,00-000010,Civilian Labor Force,12270.000,12210.000,...,9560.000,9010.000,8500.000,8520.000,8610.000,8610.000,8480.000,8520.000,8580.000,8440.00
1,2,2023,35,NaN,NaN,1,00-000020,Civilian Employment,10230.000,10150.000,...,9160.000,8590.000,8030.000,7920.000,7930.000,8000.000,7950.000,8110.000,8120.000,7940.00
2,3,2023,35,NaN,NaN,1,00-000030,Civilian Unemployment,2040.000,2060.000,...,400.000,420.000,470.000,610.000,680.000,610.000,530.000,410.000,460.000,500.00
3,4,2023,35,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.166,0.169,...,0.042,0.047,0.055,0.071,0.079,0.071,0.063,0.048,0.053,0.06
4,8,2023,35,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",10380.000,10280.000,...,10350.000,9630.000,9020.000,8710.000,8750.000,8820.000,8850.000,9090.000,9190.000,8870.00

In [2]:
LassenCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

LassenCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,12270.000,12210.000,12240.000,12060.00,12020.000,12010.00,11890.00,11910.000,11920.000,...,9560.000,9010.000,8500.000,8520.000,8610.000,8610.000,8480.000,8520.000,8580.000,8440.00
1,Civilian Employment,10230.000,10150.000,10200.000,10250.00,10350.000,10330.00,10220.00,10340.000,10440.000,...,9160.000,8590.000,8030.000,7920.000,7930.000,8000.000,7950.000,8110.000,8120.000,7940.00
2,Civilian Unemployment,2040.000,2060.000,2040.000,1810.00,1670.000,1690.00,1670.00,1570.000,1480.000,...,400.000,420.000,470.000,610.000,680.000,610.000,530.000,410.000,460.000,500.00
3,Civilian Unemployment Rate,0.166,0.169,0.167,0.15,0.139,0.14,0.14,0.131,0.124,...,0.042,0.047,0.055,0.071,0.079,0.071,0.063,0.048,0.053,0.06
4,"Total, All Industries",10380.000,10280.000,10330.000,10460.00,10630.000,10670.00,10350.00,10500.000,10560.000,...,10350.000,9630.000,9020.000,8710.000,8750.000,8820.000,8850.000,9090.000,9190.000,8870.00

In [3]:
titles_df = LassenCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                                        Manufacturing
13                                    Service-Providing
14                            Private Service Providing
15                 Trade, Transportation, and Utilities
16                                      Wholesale Trade
17                                         Retail Trade
18            Transportation, Warehousing, and Utili...
19                                          Information
20                                 Financial Activities
21                   Professional and Business Services
22                Private Education and Health Services
23                              Leisure and Hospitality
24                                       Other Services
25                                           Government
26                                   Federal Government
27                     Total State and Local Government
28                                     State Government
29                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = LassenCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    LassenCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = LassenCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = LassenCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force      12118.33
1                                 Civilian Employment      10375.00
2                               Civilian Unemployment       1745.00
3                          Civilian Unemployment Rate          0.14
4                               Total, All Industries      10592.50
5                                          Total Farm        436.67
6                                       Total Nonfarm      10155.83
7                                       Total Private       3420.00
8                                     Goods Producing        182.50
9                    Mining, Logging and Construction        169.17
10                                 Mining and Logging         72.50
11                                       Construction         96.67
12                                      Manufacturing         13.33
13                                  Service-Providing       9973.33
14                          Private Service Providing       3237.50
15               Trade, Transportation, and Utilities       1018.33
16                                    Wholesale Trade         80.83
17                                       Retail Trade        833.33
18          Transportation, Warehousing, and Utili...        104.17
19                                        Information         93.33
20                               Financial Activities        152.50
21                 Professional and Business Services        157.50
22              Private Education and Health Services       1021.67
23                            Leisure and Hospitality        616.67
24                                     Other Services        177.50
25                                         Government       6735.83
26                                 Federal Government       1861.67
27                   Total State and Local Government       4874.17
28                                   State Government       2840.83
29                                   Local Government       2033.33

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0       11771.67      11450.00      10968.33      10797.50      10761.67
1       10150.83      10000.00       9792.50       9804.17       9978.33
2        1622.50       1448.33       1177.50        995.00        782.50
3           0.14          0.13          0.11          0.09          0.07
4       10342.50      10202.50      10105.83      10188.33      10440.83
5         560.00        727.50        645.83        671.67        715.83
6        9782.50       9475.00       9460.00       9516.67       9725.00
7        3310.83       3203.33       3385.83       3536.67       3583.33
8         196.67        182.50        206.67        213.33        220.00
9         170.83        162.50        189.17        200.00        200.83
10         75.00         73.33         93.33         79.17         67.50
11         95.83         89.17         95.83        120.83        133.33
12         25.83         20.00         17.50         13.33         19.17
13       9585.83       9292.50       9253.33       9303.33       9505.00
14       3114.17       3020.83       3179.17       3323.33       3363.33
15        950.83        955.00        939.17        971.67       1025.83
16         94.17         91.67         79.17         74.17         79.17
17        765.83        789.17        792.50        827.50        874.17
18         90.83         74.17         67.50         70.00         72.50
19         83.33         76.67         90.83         81.67         89.17
20        138.33        148.33        148.33        152.50        146.67
21        175.83        187.50        215.83        199.17        172.50
22       1015.83        938.33        973.33        963.33        945.83
23        609.17        584.17        609.17        660.83        672.50
24        140.83        130.83        202.50        294.17        310.83
25       6471.67       6271.67       6074.17       5980.00       6141.67
26       1857.50       1910.83       1920.00       1824.17       1854.17
27       4614.17       4360.83       4154.17       4155.83       4287.50
28       2704.17       2520.83       2375.83       2392.50       2505.00
29       1910.00       1840.00       1778.33       1763.33       1782.50

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0       10361.67      10026.67       9854.17       9718.33       9413.33
1        9640.83       9470.83       9378.33       9265.00       8718.33
2         720.83        557.50        475.00        454.17        692.50
3           0.07          0.06          0.05          0.05          0.07
4       10184.17      10058.33      10034.17      10015.00       9503.33
5         615.00        614.17        659.17        606.67        260.00
6        9569.17       9444.17       9375.00       9408.33       9243.33
7        3414.17       3304.17       3304.17       3325.00       3206.67
8         230.83        227.50        251.67        245.00        281.67
9         224.17        222.50        245.83        240.00        262.50
10         70.83         82.50         78.33         75.00         79.17
11        153.33        140.00        167.50        165.00        183.33
12         10.00         10.00          7.50         10.00         20.00
13       9340.83       9217.50       9125.83       9161.67       8962.50
14       3185.00       3077.50       3054.17       3080.83       2926.67
15       1048.33       1045.83       1051.67       1035.83       1026.67
16         80.83         76.67         87.50         90.00         88.33
17        882.50        873.33        881.67        866.67        853.33
18         85.00         95.83         82.50         78.33         82.50
19        114.17        102.50         91.67         95.00         62.50
20        148.33        149.17        142.50        134.17        127.50
21        156.67        176.67        186.67        213.33        238.33
22        900.83        888.33        882.50        890.00        860.83
23        616.67        580.00        563.33        580.00        470.00
24        204.17        139.17        139.17        137.50        140.00
25       6154.17       6141.67       6071.67       6084.17       6035.83
26       1900.00       1838.33       1764.17       1809.17       1925.00
27       4256.67       4303.33       4308.33       4275.00       4110.00
28       2468.33       2487.50       2493.33       2520.83       2525.83
29       1788.33       1816.67       1814.17       1755.83       1582.50

    2021_Average  2022_Average  2023_Average  2024_Average
0        9136.67       8701.67       8625.00       9738.82
1        8579.17       8297.50       8175.00       8841.04
2         556.67        404.17        448.33        899.03
3           0.06          0.05          0.05          0.09
4        9398.33       9087.50       9011.67       9475.97
5         245.83        289.17        476.67        460.14
6        9152.50       8798.33       8535.00       9015.83
7        3304.17       3355.83       3410.00       3436.39
8         289.17        304.17        274.17        247.64
9         247.50        250.83        232.50        210.97
10         77.50         75.00         63.33         68.61
11        170.00        175.83        169.17        142.36
12         45.00         53.33         42.50         36.67
13       8863.33       8494.17       8260.83       8767.36
14       3015.00       3050.00       3135.83       3189.58
15       1076.67       1045.83        999.17        971.25
16         92.50         85.83         80.83         84.17
17        903.33        880.00        835.00        806.53
18         84.17         83.33         83.33         80.56
19         55.00         55.00         57.50         70.49
20        128.33        123.33        113.33        125.83
21        242.50        238.33        249.17        228.82
22        894.17        970.00       1082.50       1077.71
23        471.67        478.33        479.17        540.00
24        150.00        145.00        156.67        172.15
25       5849.17       5444.17       5124.17       5579.44
26       1897.50       1685.83       1615.83       1729.51
27       3952.50       3758.33       3508.33       3850.76
28       2372.50       2130.00       1797.50       2074.51
29       1577.50       1630.00       1710.00       1775.42

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,12118.33,11771.67,11450.00,10968.33,10797.50,10761.67,10361.67,10026.67,9854.17,9718.33,9413.33,9136.67,8701.67,8625.00,9738.82
1,Civilian Employment,10375.00,10150.83,10000.00,9792.50,9804.17,9978.33,9640.83,9470.83,9378.33,9265.00,8718.33,8579.17,8297.50,8175.00,8841.04
2,Civilian Unemployment,1745.00,1622.50,1448.33,1177.50,995.00,782.50,720.83,557.50,475.00,454.17,692.50,556.67,404.17,448.33,899.03
3,Civilian Unemployment Rate,0.14,0.14,0.13,0.11,0.09,0.07,0.07,0.06,0.05,0.05,0.07,0.06,0.05,0.05,0.09
4,"Total, All Industries",10592.50,10342.50,10202.50,10105.83,10188.33,10440.83,10184.17,10058.33,10034.17,10015.00,9503.33,9398.33,9087.50,9011.67,9475.97

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Lassen_county.csv', index=False)  # Set index=False to avoid exporting the row indices