In [1]:
import pandas as pd

# Load the .xls Excel file
MarinCounty = pd.read_excel("Resources/MARINHWS.xls", engine='xlrd')

MarinCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,42034,NaN,NaN,1,00-000010,Civilian Labor Force,131000.000,131300.000,...,131900.000,132000.000,131200.000,132100.000,133300.00,133400.000,131500.000,131400.00,131200.000,132600.000
1,2,2023,42034,NaN,NaN,1,00-000020,Civilian Employment,119700.000,120300.000,...,127000.000,127100.000,126400.000,126800.000,128000.00,128400.000,127000.000,127400.00,126200.000,127200.000
2,3,2023,42034,NaN,NaN,1,00-000030,Civilian Unemployment,11400.000,11000.000,...,4900.000,4900.000,4800.000,5400.000,5300.00,5000.000,4500.000,3900.00,4900.000,5400.000
3,4,2023,42034,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.087,0.084,...,0.037,0.037,0.036,0.041,0.04,0.037,0.035,0.03,0.038,0.041
4,8,2023,42034,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",97200.000,96900.000,...,113500.000,113500.000,113800.000,112200.000,112900.00,113200.000,114000.000,114600.00,115700.000,115300.000

In [2]:
MarinCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

MarinCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,131000.000,131300.000,131700.000,132800.00,132400.000,132700.000,135700.000,134100.000,133700.000,...,131900.000,132000.000,131200.000,132100.000,133300.00,133400.000,131500.000,131400.00,131200.000,132600.000
1,Civilian Employment,119700.000,120300.000,120500.000,122100.00,122300.000,122000.000,124700.000,123200.000,123200.000,...,127000.000,127100.000,126400.000,126800.000,128000.00,128400.000,127000.000,127400.00,126200.000,127200.000
2,Civilian Unemployment,11400.000,11000.000,11300.000,10700.00,10200.000,10700.000,11000.000,10900.000,10500.000,...,4900.000,4900.000,4800.000,5400.000,5300.00,5000.000,4500.000,3900.00,4900.000,5400.000
3,Civilian Unemployment Rate,0.087,0.084,0.086,0.08,0.077,0.081,0.081,0.081,0.078,...,0.037,0.037,0.036,0.041,0.04,0.037,0.035,0.03,0.038,0.041
4,"Total, All Industries",97200.000,96900.000,97000.000,99000.00,100200.000,100700.000,102300.000,101300.000,101000.000,...,113500.000,113500.000,113800.000,112200.000,112900.00,113200.000,114000.000,114600.00,115700.000,115300.000

In [3]:
titles_df = MarinCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                                        Manufacturing
13                                    Service-Providing
14                            Private Service Providing
15                 Trade, Transportation, and Utilities
16                                      Wholesale Trade
17                                         Retail Trade
18            Transportation, Warehousing, and Utili...
19                                          Information
20                                 Financial Activities
21                   Professional and Business Services
22                Private Education and Health Services
23                              Leisure and Hospitality
24                                       Other Services
25                                           Government
26                                   Federal Government
27            Federal Government excluding Departmen...
28                                Department of Defense
29                     Total State and Local Government
30                                     State Government
31                  State Government Education Services
32                 State Government Excluding Education
33                                     Local Government
34                Local Government Educational Services
35                Local Government Excluding Educati...
36                                    County Government
37                                      City Government
38                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = MarinCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    MarinCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = MarinCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = MarinCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     132958.33
1                                 Civilian Employment     122258.33
2                               Civilian Unemployment      10716.67
3                          Civilian Unemployment Rate          0.08
4                               Total, All Industries     100275.00
5                                          Total Farm        450.00
6                                       Total Nonfarm      99825.00
7                                       Total Private      84816.67
8                                     Goods Producing       6958.33
9                    Mining, Logging and Construction       4841.67
10                                 Mining and Logging        141.67
11                                       Construction       4700.00
12                                      Manufacturing       2116.67
13                                  Service-Providing      92866.67
14                          Private Service Providing      77858.33
15               Trade, Transportation, and Utilities      16525.00
16                                    Wholesale Trade       2175.00
17                                       Retail Trade      13416.67
18          Transportation, Warehousing, and Utili...        933.33
19                                        Information       2225.00
20                               Financial Activities       6400.00
21                 Professional and Business Services      18275.00
22              Private Education and Health Services      17275.00
23                            Leisure and Hospitality      12191.67
24                                     Other Services       4966.67
25                                         Government      15008.33
26                                 Federal Government        900.00
27          Federal Government excluding Departmen...        800.00
28                              Department of Defense        100.00
29                   Total State and Local Government      14108.33
30                                   State Government       2158.33
31                State Government Education Services          0.00
32               State Government Excluding Education       2158.33
33                                   Local Government      11950.00
34              Local Government Educational Services       5841.67
35              Local Government Excluding Educati...       6108.33
36                                  County Government       2475.00
37                                    City Government       1483.33
38                      Special Districts plus Tribes       2150.00

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      134241.67     136516.67     137816.67     138475.00     138683.33
1      124300.00     127808.33     130583.33     132483.33     133708.33
2        9941.67       8733.33       7208.33       5991.67       4975.00
3           0.07          0.06          0.05          0.04          0.04
4      101991.67     105041.67     108900.00     110541.67     111950.00
5         416.67        400.00        383.33        383.33        325.00
6      101575.00     104641.67     108516.67     110158.33     111625.00
7       85591.67      89166.67      93141.67      94725.00      96175.00
8        7125.00       7733.33       8600.00       9475.00      10291.67
9        4950.00       5308.33       5691.67       6075.00       6458.33
10        100.00        100.00          0.00          0.00          0.00
11       4850.00       5208.33       5691.67       6075.00       6458.33
12       2175.00       2425.00       2908.33       3400.00       3833.33
13      94450.00      96908.33      99916.67     100683.33     101333.33
14      78466.67      81433.33      84541.67      85250.00      85883.33
15      16508.33      16966.67      17466.67      17950.00      18033.33
16       2175.00       2400.00       2433.33       2450.00       2533.33
17      13425.00      13608.33      13908.33      14266.67      14233.33
18        908.33        958.33       1125.00       1233.33       1266.67
19       2733.33       2883.33       2925.00       2783.33       2866.67
20       6325.00       6366.67       6575.00       6475.00       6016.67
21      17683.33      18491.67      18591.67      18041.67      18216.67
22      17808.33      18508.33      19400.00      19666.67      20141.67
23      12650.00      13233.33      14433.33      15116.67      15366.67
24       4758.33       4983.33       5150.00       5216.67       5241.67
25      15983.33      15475.00      15375.00      15433.33      15450.00
26        808.33        791.67        791.67        700.00        700.00
27        708.33        691.67        691.67        700.00        700.00
28        100.00        100.00        100.00          0.00          0.00
29      15175.00      14683.33      14583.33      14733.33      14750.00
30       2100.00       1975.00       1850.00       1800.00       1941.67
31          0.00          0.00          0.00          0.00          0.00
32       2100.00       1975.00       1850.00       1800.00       1941.67
33      13075.00      12708.33      12733.33      12933.33      12808.33
34       6050.00       5633.33       5550.00       5683.33       5550.00
35       7025.00       7075.00       7183.33       7250.00       7258.33
36       2516.67       2508.33       2525.00       2591.67       2550.00
37       1516.67       1508.33       1491.67       1508.33       1533.33
38       2991.67       3058.33       3166.67       3150.00       3175.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      139641.67     139633.33     139725.00     138625.00     130658.33
1      135041.67     135583.33     136316.67     135391.67     121783.33
2        4600.00       4050.00       3408.33       3241.67       8875.00
3           0.03          0.03          0.02          0.02          0.07
4      114300.00     115525.00     116400.00     116616.67     104950.00
5         325.00        325.00        333.33        383.33        383.33
6      113975.00     115200.00     116066.67     116233.33     104566.67
7       98466.67      99475.00     100058.33     100416.67      89808.33
8       11016.67      11658.33      12450.00      12575.00      11891.67
9        6800.00       7191.67       7716.67       7725.00       7291.67
10          0.00          0.00          0.00          0.00          0.00
11       6800.00       7191.67       7716.67       7725.00       7291.67
12       4216.67       4466.67       4733.33       4850.00       4600.00
13     102958.33     103541.67     103616.67     103658.33      92675.00
14      87450.00      87816.67      87608.33      87841.67      77916.67
15      18200.00      18425.00      18458.33      18333.33      17300.00
16       2525.00       2483.33       2341.67       2308.33       2166.67
17      14358.33      14625.00      14841.67      14708.33      13741.67
18       1316.67       1316.67       1275.00       1316.67       1391.67
19       2850.00       2741.67       2666.67       2633.33       2550.00
20       5966.67       5566.67       5483.33       5441.67       5183.33
21      18250.00      17950.00      18133.33      18650.00      17541.67
22      20633.33      20958.33      21016.67      21058.33      19358.33
23      16050.00      16458.33      16150.00      15983.33      11225.00
24       5500.00       5716.67       5700.00       5741.67       4758.33
25      15508.33      15725.00      16008.33      15816.67      14758.33
26        700.00        700.00        691.67        600.00        708.33
27        700.00        700.00        691.67        600.00        708.33
28          0.00          0.00          0.00          0.00          0.00
29      14808.33      15025.00      15316.67      15216.67      14050.00
30       1958.33       1950.00       2033.33       2000.00       2016.67
31          0.00          0.00          0.00          0.00          0.00
32       1958.33       1950.00       2033.33       2000.00       2016.67
33      12850.00      13075.00      13283.33      13216.67      12033.33
34       5441.67       5483.33       5725.00       5650.00       4925.00
35       7408.33       7591.67       7558.33       7566.67       7108.33
36       2583.33       2600.00       2550.00       2591.67       2575.00
37       1575.00       1625.00       1608.33       1533.33       1250.00
38       3250.00       3366.67       3400.00       3441.67       3283.33

    2021_Average  2022_Average  2023_Average  2024_Average
0      129183.33     131083.33     132016.67     133792.36
1      123325.00     127575.00     127633.33     127369.44
2        5866.67       3533.33       4391.67       6415.97
3           0.05          0.03          0.03          0.05
4      106608.33     110500.00     112575.00     110387.50
5         375.00        383.33        341.67        394.44
6      106233.33     110116.67     112233.33     109993.06
7       91716.67      95308.33      96900.00      94278.47
8       11991.67      11975.00      11900.00      10182.64
9        7600.00       7758.33       7616.67       6588.89
10          0.00          0.00          0.00         28.47
11       7600.00       7758.33       7616.67       6560.42
12       4391.67       4216.67       4283.33       3593.75
13      94241.67      98141.67     100333.33      99810.42
14      79725.00      83333.33      85000.00      84095.83
15      17450.00      17483.33      17308.33      17309.72
16       2116.67       2141.67       2250.00       2277.78
17      13908.33      13908.33      13675.00      13818.75
18       1425.00       1433.33       1383.33       1213.19
19       2658.33       2825.00       2866.67       2762.50
20       5025.00       5175.00       5266.67       5670.14
21      17666.67      18208.33      17958.33      18056.94
22      19975.00      20366.67      21441.67      20704.86
23      12108.33      13950.00      14533.33      14085.42
24       4841.67       5325.00       5625.00       5506.25
25      14516.67      14808.33      15333.33      15714.58
26        675.00        608.33        600.00        682.64
27        675.00        608.33        600.00        649.31
28          0.00          0.00          0.00         50.00
29      13841.67      14200.00      14733.33      15031.94
30       1908.33       1858.33       1800.00       1923.61
31          0.00          0.00          0.00          0.00
32       1908.33       1858.33       1800.00       1923.61
33      11933.33      12341.67      12933.33      13108.33
34       4733.33       4991.67       5250.00       5521.53
35       7200.00       7350.00       7683.33       7586.80
36       2616.67       2641.67       2683.33       2659.72
37       1266.67       1375.00       1441.67       1500.69
38       3316.67       3333.33       3558.33       3426.39

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,132958.33,134241.67,136516.67,137816.67,138475.00,138683.33,139641.67,139633.33,139725.00,138625.00,130658.33,129183.33,131083.33,132016.67,133792.36
1,Civilian Employment,122258.33,124300.00,127808.33,130583.33,132483.33,133708.33,135041.67,135583.33,136316.67,135391.67,121783.33,123325.00,127575.00,127633.33,127369.44
2,Civilian Unemployment,10716.67,9941.67,8733.33,7208.33,5991.67,4975.00,4600.00,4050.00,3408.33,3241.67,8875.00,5866.67,3533.33,4391.67,6415.97
3,Civilian Unemployment Rate,0.08,0.07,0.06,0.05,0.04,0.04,0.03,0.03,0.02,0.02,0.07,0.05,0.03,0.03,0.05
4,"Total, All Industries",100275.00,101991.67,105041.67,108900.00,110541.67,111950.00,114300.00,115525.00,116400.00,116616.67,104950.00,106608.33,110500.00,112575.00,110387.50

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Marin_county.csv', index=False)  # Set index=False to avoid exporting the row indices