In [1]:
import pandas as pd

# Load the .xls Excel file
MendocinoCounty = pd.read_excel("Resources/MENDOHWS.xls", engine='xlrd')

MendocinoCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,45,NaN,NaN,1,00-000010,Civilian Labor Force,41440.000,41460.000,...,37480.000,37040.000,37010.000,37340.000,38060.000,38190.000,37360.000,37480.000,37690.000,38020.000
1,2,2023,45,NaN,NaN,1,00-000020,Civilian Employment,35990.000,35990.000,...,35760.000,35280.000,35040.000,35040.000,35640.000,35990.000,35470.000,35920.000,35840.000,36030.000
2,3,2023,45,NaN,NaN,1,00-000030,Civilian Unemployment,5450.000,5470.000,...,1720.000,1760.000,1970.000,2300.000,2420.000,2200.000,1890.000,1550.000,1850.000,1990.000
3,4,2023,45,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.132,0.132,...,0.046,0.048,0.053,0.062,0.063,0.057,0.051,0.041,0.049,0.052
4,8,2023,45,"110000-813000, 920000",NaN,1,01-000000,Total Wage and Salary,29590.000,29440.000,...,33430.000,32840.000,32900.000,32300.000,32760.000,33100.000,33130.000,33690.000,34200.000,34020.000

In [2]:
MendocinoCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

MendocinoCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,41440.000,41460.000,41800.000,41660.000,41940.000,42500.000,41580.000,42060.000,41400.000,...,37480.000,37040.000,37010.000,37340.000,38060.000,38190.000,37360.000,37480.000,37690.000,38020.000
1,Civilian Employment,35990.000,35990.000,36280.000,36520.000,37270.000,37770.000,36810.000,37350.000,36890.000,...,35760.000,35280.000,35040.000,35040.000,35640.000,35990.000,35470.000,35920.000,35840.000,36030.000
2,Civilian Unemployment,5450.000,5470.000,5510.000,5140.000,4670.000,4730.000,4770.000,4710.000,4510.000,...,1720.000,1760.000,1970.000,2300.000,2420.000,2200.000,1890.000,1550.000,1850.000,1990.000
3,Civilian Unemployment Rate,0.132,0.132,0.132,0.123,0.111,0.111,0.115,0.112,0.109,...,0.046,0.048,0.053,0.062,0.063,0.057,0.051,0.041,0.049,0.052
4,Total Wage and Salary,29590.000,29440.000,29730.000,30080.000,31090.000,31820.000,30390.000,31060.000,30590.000,...,33430.000,32840.000,32900.000,32300.000,32760.000,33100.000,33130.000,33690.000,34200.000,34020.000

In [3]:
titles_df = MendocinoCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total Wage and Salary
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                                        Manufacturing
13                                        Durable Goods
14                                    Non-Durable Goods
15                                    Service-Providing
16                            Private Service Providing
17                 Trade, Transportation, and Utilities
18                                      Wholesale Trade
19                                         Retail Trade
20            Transportation, Warehousing, and Utili...
21                                          Information
22                                 Financial Activities
23                   Professional and Business Services
24                Private Education and Health Services
25                              Leisure and Hospitality
26                                       Other Services
27                                           Government
28                                   Federal Government
29                     Total State and Local Government
30                                     State Government
31                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = MendocinoCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    MendocinoCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = MendocinoCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = MendocinoCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force      41615.83
1                                 Civilian Employment      36680.00
2                               Civilian Unemployment       4935.83
3                          Civilian Unemployment Rate          0.12
4                               Total Wage and Salary      30453.33
5                                          Total Farm       1597.50
6                                       Total Nonfarm      28855.83
7                                       Total Private      21560.00
8                                     Goods Producing       3379.17
9                    Mining, Logging and Construction       1190.00
10                                 Mining and Logging        250.83
11                                       Construction        939.17
12                                      Manufacturing       2189.17
13                                      Durable Goods        945.00
14                                  Non-Durable Goods       1244.17
15                                  Service-Providing      25476.67
16                          Private Service Providing      18180.83
17               Trade, Transportation, and Utilities       5618.33
18                                    Wholesale Trade        665.83
19                                       Retail Trade       4380.00
20          Transportation, Warehousing, and Utili...        572.50
21                                        Information        327.50
22                               Financial Activities       1159.17
23                 Professional and Business Services       1770.00
24              Private Education and Health Services       4910.00
25                            Leisure and Hospitality       3664.17
26                                     Other Services        731.67
27                                         Government       7295.83
28                                 Federal Government        330.00
29                   Total State and Local Government       6965.83
30                                   State Government        515.83
31                                   Local Government       6450.00

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0       40873.33      40861.67      40691.67      40301.67      39829.17
1       36141.67      36694.17      37246.67      37446.67      37500.83
2        4735.00       4167.50       3442.50       2855.83       2330.83
3           0.12          0.10          0.08          0.07          0.06
4       29969.17      30543.33      31444.17      31760.00      32015.83
5        1505.00       1530.00       1500.83       1526.67       1400.00
6       28464.17      29013.33      29943.33      30233.33      30615.83
7       21414.17      22080.83      22937.50      23205.00      23476.67
8        3409.17       3587.50       3680.83       3800.00       3855.83
9        1175.83       1260.00       1265.00       1315.00       1341.67
10        249.17        302.50        311.67        328.33        304.17
11        926.67        957.50        953.33        986.67       1037.50
12       2233.33       2327.50       2415.83       2485.00       2514.17
13        974.17        982.50       1065.00       1084.17       1143.33
14       1259.17       1345.00       1350.83       1400.83       1370.83
15      25055.00      25425.83      26262.50      26433.33      26760.00
16      18005.00      18493.33      19256.67      19405.00      19620.83
17       5582.50       5683.33       5803.33       5858.33       6065.83
18        693.33        719.17        810.83        830.00        728.33
19       4311.67       4355.00       4346.67       4382.50       4645.00
20        577.50        609.17        645.83        645.83        692.50
21        308.33        285.83        282.50        271.67        252.50
22       1059.17       1078.33       1044.17       1046.67       1040.83
23       1796.67       1696.67       1697.50       1663.33       1703.33
24       4944.17       5315.83       5483.33       5565.83       5495.83
25       3587.50       3687.50       4182.50       4232.50       4285.83
26        726.67        745.83        763.33        766.67        776.67
27       7050.00       6932.50       7005.83       7028.33       7139.17
28        286.67        288.33        329.17        258.33        268.33
29       6763.33       6644.17       6676.67       6770.00       6870.83
30        499.17        521.67        535.83        560.00        589.17
31       6264.17       6122.50       6140.83       6210.00       6281.67

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0       39617.50      39535.00      39456.67      38673.33      37160.00
1       37520.83      37735.83      37877.50      37120.00      33785.83
2        2095.83       1799.17       1580.83       1554.17       3375.00
3           0.05          0.05          0.04          0.04          0.09
4       32435.00      32949.17      33290.00      33100.83      30425.00
5        1364.17       1378.33       1445.00       1462.50       1449.17
6       31070.83      31570.83      31845.00      31638.33      28975.83
7       23834.17      24333.33      24680.83      24463.33      22388.33
8        3909.17       4085.83       4157.50       4120.83       3908.33
9        1365.83       1544.17       1688.33       1687.50       1603.33
10        301.67        327.50        311.67        294.17        276.67
11       1064.17       1216.67       1376.67       1393.33       1326.67
12       2548.33       2542.50       2470.83       2432.50       2306.67
13       1177.50       1159.17       1140.00       1085.00        999.17
14       1370.00       1385.00       1332.50       1348.33       1307.50
15      27162.50      27485.00      27688.33      27516.67      25070.00
16      19925.83      20247.50      20523.33      20344.17      18484.17
17       6181.67       6309.17       6355.00       6265.00       6021.67
18        743.33        843.33        808.33        738.33        700.00
19       4729.17       4755.83       4820.00       4807.50       4485.00
20        709.17        710.83        726.67        718.33        842.50
21        245.83        234.17        230.83        208.33        166.67
22       1048.33       1057.50       1066.67       1054.17        976.67
23       1672.50       1673.33       1788.33       1861.67       1806.67
24       5577.50       5754.17       5784.17       5840.83       5575.83
25       4410.00       4409.17       4494.17       4364.17       3231.67
26        791.67        811.67        810.00        751.67        705.83
27       7237.50       7239.17       7165.00       7175.83       6586.67
28        275.83        273.33        271.67        270.83        286.67
29       6962.50       6962.50       6894.17       6905.00       6300.83
30        566.67        561.67        579.17        598.33        635.83
31       6397.50       6402.50       6315.00       6305.83       5665.83

    2021_Average  2022_Average  2023_Average  2024_Average
0       36740.83      36991.67      37377.50      39040.35
1       34426.67      35444.17      35620.83      36178.26
2        2313.33       1546.67       1756.67       2861.39
3           0.06          0.04          0.05          0.07
4       31169.17      32427.50      32876.67      32280.83
5        1662.50       1780.83       1687.50       1675.00
6       29506.67      30646.67      31189.17      30605.83
7       23135.83      23883.33      24212.50      23510.62
8        4031.67       4236.67       4226.67       3914.72
9        1630.00       1672.50       1724.17       1531.32
10        280.00        281.67        270.00        266.04
11       1350.00       1390.83       1454.17       1265.28
12       2401.67       2567.50       2502.50       2381.74
13       1054.17       1238.33       1188.33       1096.74
14       1347.50       1330.00       1314.17       1284.17
15      25477.50      26409.17      26961.67      26692.78
16      19105.00      19646.67      19987.50      19595.07
17       6262.50       6080.83       5936.67       5765.48
18        752.50        744.17        725.83        737.43
19       4661.67       4541.67       4428.33       4315.49
20        849.17        797.50        784.17        713.40
21        175.83        207.50        198.33        234.65
22        979.17        977.50        955.00       1007.29
23       1818.33       1797.50       1920.00       1925.35
24       5582.50       5799.17       6160.00       5926.60
25       3676.67       4064.17       4100.83       4019.51
26        616.67        721.67        718.33        717.01
27       6370.83       6763.33       6976.67       7096.04
28        263.33        257.50        266.67        279.38
29       6109.17       6505.00       6710.00       6816.67
30        665.00        676.67        688.33        618.54
31       5442.50       5831.67       6020.83       6200.62

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,41615.83,40873.33,40861.67,40691.67,40301.67,39829.17,39617.50,39535.00,39456.67,38673.33,37160.00,36740.83,36991.67,37377.50,39040.35
1,Civilian Employment,36680.00,36141.67,36694.17,37246.67,37446.67,37500.83,37520.83,37735.83,37877.50,37120.00,33785.83,34426.67,35444.17,35620.83,36178.26
2,Civilian Unemployment,4935.83,4735.00,4167.50,3442.50,2855.83,2330.83,2095.83,1799.17,1580.83,1554.17,3375.00,2313.33,1546.67,1756.67,2861.39
3,Civilian Unemployment Rate,0.12,0.12,0.10,0.08,0.07,0.06,0.05,0.05,0.04,0.04,0.09,0.06,0.04,0.05,0.07
4,Total Wage and Salary,30453.33,29969.17,30543.33,31444.17,31760.00,32015.83,32435.00,32949.17,33290.00,33100.83,30425.00,31169.17,32427.50,32876.67,32280.83

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Mendocino_county.csv', index=False)  # Set index=False to avoid exporting the row indices