In [1]:
import pandas as pd

# Load the .xls Excel file
ModocCounty = pd.read_excel("Resources/MODOCHWS.xls", engine='xlrd')

ModocCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,49,NaN,NaN,1,00-000010,Civilian Labor Force,3810.000,3830.000,...,3340.000,3250.000,3180.000,3190.000,3230.000,3230.00,3240.000,3260.000,3310.000,3270.000
1,2,2023,49,NaN,NaN,1,00-000020,Civilian Employment,3120.000,3130.000,...,3180.000,3060.000,2940.000,2870.000,2880.000,2940.00,3010.000,3090.000,3140.000,3080.000
2,3,2023,49,NaN,NaN,1,00-000030,Civilian Unemployment,700.000,700.000,...,160.000,190.000,240.000,330.000,350.000,290.00,230.000,170.000,180.000,190.000
3,4,2023,49,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.182,0.183,...,0.047,0.058,0.076,0.102,0.108,0.09,0.072,0.053,0.053,0.059
4,8,2023,49,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",2630.000,2630.000,...,3100.000,2940.000,2830.000,2690.000,2710.000,2760.00,2890.000,3000.000,3100.000,3010.000

In [2]:
ModocCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

ModocCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,3810.000,3830.000,3940.000,3780.00,3820.000,3940.00,3930.00,3950.000,3770.000,...,3340.000,3250.000,3180.000,3190.000,3230.000,3230.00,3240.000,3260.000,3310.000,3270.000
1,Civilian Employment,3120.000,3130.000,3250.000,3180.00,3270.000,3380.00,3380.00,3410.000,3270.000,...,3180.000,3060.000,2940.000,2870.000,2880.000,2940.00,3010.000,3090.000,3140.000,3080.000
2,Civilian Unemployment,700.000,700.000,690.000,600.00,550.000,550.00,550.00,530.000,510.000,...,160.000,190.000,240.000,330.000,350.000,290.00,230.000,170.000,180.000,190.000
3,Civilian Unemployment Rate,0.182,0.183,0.175,0.16,0.144,0.14,0.14,0.135,0.134,...,0.047,0.058,0.076,0.102,0.108,0.09,0.072,0.053,0.053,0.059
4,"Total, All Industries",2630.000,2630.000,2770.000,2710.00,2830.000,2980.00,2910.00,2990.000,2810.000,...,3100.000,2940.000,2830.000,2690.000,2710.000,2760.00,2890.000,3000.000,3100.000,3010.000

In [3]:
titles_df = ModocCounty["TITLE"]
titles_df

0                            Civilian Labor Force
1                             Civilian Employment
2                           Civilian Unemployment
3                      Civilian Unemployment Rate
4                           Total, All Industries
5                                      Total Farm
6                                   Total Nonfarm
7                                   Total Private
8                                 Goods Producing
9                Mining, Logging and Construction
10                              Service-Providing
11                      Private Service Providing
12           Trade, Transportation, and Utilities
13          Private Education and Health Services
14                        Leisure and Hospitality
15           Private Service Providing - Residual
16                                     Government
17                             Federal Government
18               Total State and Local Government
19                               State Government
20                               Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = ModocCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    ModocCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = ModocCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = ModocCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                          TITLE  2010_Average  2011_Average  \
0                          Civilian Labor Force       3821.67       3616.67
1                           Civilian Employment       3229.17       3029.17
2                         Civilian Unemployment        593.33        586.67
3                    Civilian Unemployment Rate          0.16          0.16
4                         Total, All Industries       2775.00       2600.83
5                                    Total Farm        320.00        330.00
6                                 Total Nonfarm       2455.00       2270.83
7                                 Total Private       1115.00       1005.83
8                               Goods Producing        123.33         85.00
9              Mining, Logging and Construction        111.67         71.67
10                            Service-Providing       2331.67       2185.83
11                    Private Service Providing        991.67        920.83
12         Trade, Transportation, and Utilities        405.00        381.67
13        Private Education and Health Services        207.50        190.83
14                      Leisure and Hospitality        152.50        146.67
15         Private Service Providing - Residual        226.67        201.67
16                                   Government       1340.00       1265.00
17                           Federal Government        289.17        260.00
18             Total State and Local Government       1050.83       1005.00
19                             State Government         81.67         85.83
20                             Local Government        969.17        919.17

    2012_Average  2013_Average  2014_Average  2015_Average  2016_Average  \
0        3606.67       3491.67       3360.00       3302.50       3291.67
1        3080.83       3057.50       3012.50       3019.17       3035.00
2         527.50        434.17        347.50        284.17        258.33
3           0.15          0.12          0.10          0.09          0.08
4        2656.67       2680.00       2651.67       2675.83       2730.00
5         360.00        386.67        373.33        385.83        385.83
6        2296.67       2293.33       2278.33       2290.00       2344.17
7        1055.00       1097.50       1058.33       1062.50       1102.50
8          62.50         90.00         90.83         94.17         95.00
9          62.50         72.50         75.83         80.83         83.33
10       2234.17       2203.33       2187.50       2195.83       2250.00
11        992.50       1007.50        967.50        968.33       1010.00
12        415.83        396.67        375.00        371.67        347.50
13        196.67        250.83        244.17        252.50        315.00
14        166.67        160.00        145.00        140.83        155.00
15        213.33        200.00        203.33        203.33        193.33
16       1241.67       1195.83       1220.00       1227.50       1243.33
17        254.17        240.83        235.00        236.67        239.17
18        987.50        955.00        985.00        990.83       1002.50
19         77.50         75.83         70.00         75.00         72.50
20        910.00        879.17        915.00        915.83        929.17

    2017_Average  2018_Average  2019_Average  2020_Average  2021_Average  \
0        3193.33       3155.83       3175.00       3179.17       3187.50
1        2932.50       2917.50       2947.50       2900.00       2959.17
2         260.83        238.33        226.67        281.67        230.00
3           0.08          0.08          0.07          0.09          0.07
4        2645.83       2645.00       2715.83       2719.17       2785.83
5         361.67        360.83        381.67        362.50        346.67
6        2284.17       2284.17       2334.17       2356.67       2439.17
7        1055.00       1075.83       1131.67       1139.17       1215.83
8          83.33         99.17        102.50        102.50        113.33
9          63.33         73.33         87.50         90.83        101.67
10       2200.00       2185.00       2233.33       2255.83       2326.67
11        972.50        977.50       1028.33       1039.17       1104.17
12        323.33        301.67        311.67        324.17        341.67
13        308.33        292.50        315.00        283.33        286.67
14        156.67        154.17        169.17        190.00        208.33
15        185.00        230.00        235.00        241.67        265.83
16       1229.17       1207.50       1204.17       1217.50       1225.00
17        220.83        210.83        205.00        210.00        192.50
18       1006.67        997.50        999.17       1009.17       1032.50
19         74.17         79.17         79.17         79.17         70.00
20        934.17        920.00        920.83        930.83        962.50

    2022_Average  2023_Average  2024_Average
0        3175.83       3266.67       3385.56
1        3000.83       3059.17       3034.93
2         176.67        207.50        352.43
3           0.06          0.06          0.10
4        2836.67       2918.33       2793.68
5         345.00        352.50        337.50
6        2491.67       2565.83       2456.18
7        1289.17       1369.17       1240.14
8         105.83        124.17        102.64
9          94.17        115.83         91.18
10       2387.50       2440.00       2353.54
11       1184.17       1244.17       1137.50
12        342.50        333.33        357.85
13        323.33        347.50        289.17
14        222.50        222.50        199.24
15        296.67        342.50        294.58
16       1202.50       1197.50       1216.88
17        170.00        168.33        195.76
18       1032.50       1028.33       1019.44
19         63.33         69.17         73.40
20        970.00        960.00        946.04

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,3821.67,3616.67,3606.67,3491.67,3360.00,3302.50,3291.67,3193.33,3155.83,3175.00,3179.17,3187.50,3175.83,3266.67,3385.56
1,Civilian Employment,3229.17,3029.17,3080.83,3057.50,3012.50,3019.17,3035.00,2932.50,2917.50,2947.50,2900.00,2959.17,3000.83,3059.17,3034.93
2,Civilian Unemployment,593.33,586.67,527.50,434.17,347.50,284.17,258.33,260.83,238.33,226.67,281.67,230.00,176.67,207.50,352.43
3,Civilian Unemployment Rate,0.16,0.16,0.15,0.12,0.10,0.09,0.08,0.08,0.08,0.07,0.09,0.07,0.06,0.06,0.10
4,"Total, All Industries",2775.00,2600.83,2656.67,2680.00,2651.67,2675.83,2730.00,2645.83,2645.00,2715.83,2719.17,2785.83,2836.67,2918.33,2793.68

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Modoc_county.csv', index=False)  # Set index=False to avoid exporting the row indices