In [1]:
import pandas as pd

# Load the .xls Excel file
MontereyCounty = pd.read_excel("Resources/SALI$HWS.xls", engine='xlrd')

MontereyCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,41500,NaN,NaN,1,00-000010,Civilian Labor Force,204300.000,208000.00,...,222200.000,217400.00,209400.000,211500.000,216200.000,215500.000,222800.000,224800.000,227700.000,230000.000
1,2,2023,41500,NaN,NaN,1,00-000020,Civilian Employment,167200.000,170500.00,...,210700.000,204300.00,190100.000,189100.000,191000.000,192900.000,204800.000,211800.000,214700.000,216400.000
2,3,2023,41500,NaN,NaN,1,00-000030,Civilian Unemployment,37100.000,37500.00,...,11500.000,13100.00,19200.000,22300.000,25200.000,22600.000,18000.000,13000.000,13100.000,13500.000
3,4,2023,41500,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.182,0.18,...,0.052,0.06,0.092,0.106,0.116,0.105,0.081,0.058,0.057,0.059
4,8,2023,41500,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",144600.000,147900.00,...,213900.000,204900.00,188600.000,182600.000,185200.000,188000.000,205400.000,215600.000,222900.000,223100.000

In [2]:
MontereyCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

MontereyCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,204300.000,208000.00,207200.00,216600.000,221000.000,225800.000,226500.000,225300.000,221300.000,...,222200.000,217400.00,209400.000,211500.000,216200.000,215500.000,222800.000,224800.000,227700.000,230000.000
1,Civilian Employment,167200.000,170500.00,171900.00,189500.000,197100.000,202000.000,202400.000,201800.000,198700.000,...,210700.000,204300.00,190100.000,189100.000,191000.000,192900.000,204800.000,211800.000,214700.000,216400.000
2,Civilian Unemployment,37100.000,37500.00,35300.00,27100.000,23900.000,23800.000,24100.000,23500.000,22600.000,...,11500.000,13100.00,19200.000,22300.000,25200.000,22600.000,18000.000,13000.000,13100.000,13500.000
3,Civilian Unemployment Rate,0.182,0.18,0.17,0.125,0.108,0.105,0.106,0.104,0.102,...,0.052,0.06,0.092,0.106,0.116,0.105,0.081,0.058,0.057,0.059
4,"Total, All Industries",144600.000,147900.00,150200.00,170500.000,181200.000,188500.000,185700.000,185200.000,182200.000,...,213900.000,204900.00,188600.000,182600.000,185200.000,188000.000,205400.000,215600.000,222900.000,223100.000

In [3]:
titles_df = MontereyCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                     Mining, Logging, and Construction
10                                   Mining and Logging
11                                         Construction
12                                        Manufacturing
13                                    Non-Durable Goods
14                                    Service-Providing
15                            Private Service Providing
16                    Trade, Transportation & Utilities
17                                      Wholesale Trade
18                                         Retail Trade
19                          Food and Beverage Retailers
20            Transportation, Warehousing, and Utili...
21                                          Information
22                                 Financial Activities
23                   Professional and Business Services
24                Private Education and Health Services
25                    Health Care and Social Assistance
26                              Leisure and Hospitality
27                      Accommodation and Food Services
28                                        Accommodation
29                    Food Services and Drinking Places
30                                       Other Services
31                                           Government
32                                   Federal Government
33                                Department of Defense
34                     Total State and Local Government
35                                     State Government
36                State Government Educational Services
37                 State Government Excluding Education
38                                     Local Government
39                Local Government Educational Services
40                 Local Government Excluding Education
41                                    County Government
42                                      City Government
43                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = MontereyCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    MontereyCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = MontereyCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = MontereyCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     216033.33
1                                 Civilian Employment     187866.67
2                               Civilian Unemployment      28183.33
3                          Civilian Unemployment Rate          0.13
4                               Total, All Industries     169750.00
5                                          Total Farm      45100.00
6                                       Total Nonfarm     124650.00
7                                       Total Private      92025.00
8                                     Goods Producing       9883.33
9                   Mining, Logging, and Construction       4325.00
10                                 Mining and Logging        200.00
11                                       Construction       4125.00
12                                      Manufacturing       5558.33
13                                  Non-Durable Goods       4241.67
14                                  Service-Providing     114766.67
15                          Private Service Providing      82141.67
16                  Trade, Transportation & Utilities      23516.67
17                                    Wholesale Trade       4941.67
18                                       Retail Trade      15225.00
19                        Food and Beverage Retailers       3425.00
20          Transportation, Warehousing, and Utili...       3350.00
21                                        Information       1683.33
22                               Financial Activities       4316.67
23                 Professional and Business Services      11491.67
24              Private Education and Health Services      16466.67
25                  Health Care and Social Assistance      14466.67
26                            Leisure and Hospitality      20033.33
27                    Accommodation and Food Services      17925.00
28                                      Accommodation       6650.00
29                  Food Services and Drinking Places      11275.00
30                                     Other Services       4633.33
31                                         Government      32625.00
32                                 Federal Government       5800.00
33                              Department of Defense       3741.67
34                   Total State and Local Government      26825.00
35                                   State Government       5491.67
36              State Government Educational Services        975.00
37               State Government Excluding Education       4516.67
38                                   Local Government      21333.33
39              Local Government Educational Services      10650.00
40               Local Government Excluding Education      10683.33
41                                  County Government       5158.33
42                                    City Government       2250.00
43                      Special Districts plus Tribes       3266.67

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      216258.33     217391.67     215658.33     217341.67     218266.67
1      188400.00     191833.33     193150.00     197441.67     200458.33
2       27850.00      25566.67      22525.00      19925.00      17833.33
3           0.13          0.12          0.11          0.09          0.08
4      169966.67     173500.00     176616.67     181916.67     185983.33
5       46275.00      48150.00      50091.67      52175.00      52958.33
6      123691.67     125350.00     126525.00     129741.67     133025.00
7       92016.67      94058.33      96300.00      99191.67     101933.33
8        9575.00       9533.33       9908.33      10350.00      10958.33
9        4033.33       4316.67       4700.00       5075.00       5541.67
10        200.00        200.00        200.00        200.00        300.00
11       3833.33       4116.67       4500.00       4875.00       5241.67
12       5541.67       5216.67       5208.33       5275.00       5416.67
13       4250.00       3875.00       3825.00       3833.33       3933.33
14     114116.67     115816.67     116616.67     119391.67     122066.67
15      82441.67      84525.00      86391.67      88841.67      90975.00
16      23908.33      24783.33      25366.67      25708.33      25966.67
17       4900.00       5183.33       5175.00       5350.00       5275.00
18      15650.00      15850.00      16158.33      16200.00      16433.33
19       3641.67       3716.67       3891.67       3783.33       3725.00
20       3358.33       3750.00       4033.33       4158.33       4258.33
21       1583.33       1525.00       1533.33       1400.00       1300.00
22       4125.00       4191.67       4016.67       3966.67       4100.00
23      11516.67      11350.00      11283.33      12133.33      12800.00
24      16450.00      16808.33      17508.33      17950.00      18408.33
25      14508.33      14800.00      15425.00      16016.67      16550.00
26      20241.67      21150.00      21858.33      22833.33      23375.00
27      18041.67      18791.67      19400.00      20308.33      20808.33
28       6625.00       6700.00       6941.67       7108.33       7200.00
29      11416.67      12091.67      12458.33      13200.00      13608.33
30       4616.67       4716.67       4825.00       4850.00       5025.00
31      31675.00      31291.67      30225.00      30550.00      31091.67
32       5908.33       5841.67       5491.67       5183.33       5133.33
33       4166.67       4250.00       3991.67       3775.00       3700.00
34      25766.67      25450.00      24733.33      25366.67      25958.33
35       5600.00       5633.33       5441.67       5475.00       5691.67
36       1058.33       1125.00       1191.67       1308.33       1441.67
37       4541.67       4508.33       4250.00       4166.67       4250.00
38      20166.67      19816.67      19291.67      19891.67      20266.67
39      10566.67      10400.00       9941.67      10216.67      10283.33
40       9600.00       9416.67       9350.00       9675.00       9983.33
41       4533.33       4475.00       4466.67       4666.67       4850.00
42       2150.00       2125.00       2125.00       2116.67       2133.33
43       2925.00       2816.67       2758.33       2891.67       3000.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      218800.00     219483.33     221891.67     221200.00     214216.67
1      201983.33     203625.00     207716.67     207216.67     190341.67
2       16825.00      15858.33      14175.00      13983.33      23858.33
3           0.08          0.07          0.06          0.06          0.11
4      189441.67     192300.00     197883.33     199791.67     185525.00
5       53291.67      53216.67      55033.33      54825.00      53783.33
6      136150.00     139083.33     142850.00     144966.67     131741.67
7      104233.33     105791.67     108375.00     110241.67      97925.00
8       11333.33      11650.00      11891.67      11966.67      11025.00
9        6050.00       6208.33       6658.33       6816.67       6466.67
10        233.33        208.33        241.67        300.00        225.00
11       5816.67       6000.00       6416.67       6516.67       6241.67
12       5283.33       5441.67       5233.33       5150.00       4558.33
13       3758.33       3933.33       3658.33       3583.33       3100.00
14     124816.67     127433.33     130958.33     133000.00     120716.67
15      92900.00      94141.67      96483.33      98275.00      86900.00
16      26066.67      26200.00      26691.67      26608.33      24591.67
17       5275.00       5625.00       5908.33       5775.00       5350.00
18      16533.33      16441.67      16775.00      16758.33      15491.67
19       3625.00       3633.33       3783.33       4033.33       4133.33
20       4258.33       4133.33       4008.33       4075.00       3750.00
21       1125.00       1058.33       1008.33       1000.00        783.33
22       4200.00       4300.00       4475.00       4400.00       4108.33
23      13358.33      13175.00      13975.00      14716.67      14366.67
24      18750.00      19700.00      19941.67      20350.00      19816.67
25      16758.33      17608.33      17816.67      18083.33      17750.00
26      24258.33      24516.67      25283.33      26066.67      18783.33
27      21733.33      22016.67      22700.00      23291.67      16850.00
28       7525.00       7550.00       7958.33       8291.67       5416.67
29      14208.33      14466.67      14741.67      15000.00      11433.33
30       5141.67       5191.67       5108.33       5133.33       4450.00
31      31916.67      33291.67      34475.00      34725.00      33816.67
32       5100.00       5116.67       5075.00       5158.33       5625.00
33       3700.00       3700.00       3658.33       3691.67       4041.67
34      26816.67      28175.00      29400.00      29566.67      28191.67
35       5800.00       5683.33       5650.00       5658.33       5516.67
36       1525.00       1475.00       1433.33       1483.33       1366.67
37       4275.00       4208.33       4216.67       4175.00       4150.00
38      21016.67      22491.67      23750.00      23908.33      22675.00
39      10725.00      11908.33      12933.33      12975.00      12100.00
40      10291.67      10583.33      10816.67      10933.33      10575.00
41       5050.00       5141.67       5208.33       5225.00       5241.67
42       2166.67       2258.33       2308.33       2341.67       1933.33
43       3075.00       3183.33       3300.00       3366.67       3400.00

    2021_Average  2022_Average  2023_Average  2024_Average
0      211750.00     217175.00     217675.00     219265.28
1      194233.33     203933.33     202400.00     198282.64
2       17516.67      13241.67      15258.33      20979.17
3           0.08          0.06          0.07          0.10
4      190825.00     201600.00     200508.33     191212.50
5       54808.33      58375.00      55000.00      53499.31
6      136016.67     143225.00     145508.33     137713.19
7      102441.67     108791.67     110758.33     104799.31
8       11541.67      12183.33      12500.00      11545.83
9        6675.00       7125.00       7408.33       6279.17
10        200.00        233.33        200.00        200.00
11       6475.00       6891.67       7208.33       6079.17
12       4866.67       5058.33       5091.67       5266.67
13       3383.33       3600.00       3658.33       3827.08
14     124475.00     131041.67     133008.33     126167.36
15      90900.00      96608.33      98258.33      93253.47
16      24975.00      25400.00      25500.00      24773.61
17       5325.00       5541.67       5858.33       5587.50
18      16033.33      16225.00      16233.33      15873.61
19       4175.00       4108.33       4191.67       4046.53
20       3616.67       3633.33       3408.33       3312.50
21        816.67        900.00        883.33       1152.08
22       4150.00       4250.00       4116.67       4109.72
23      15383.33      15533.33      14850.00      13506.25
24      20183.33      20966.67      21850.00      20531.94
25      18100.00      18750.00      19608.33      18051.39
26      20541.67      24241.67      25525.00      23951.39
27      18466.67      21650.00      22683.33      21213.89
28       5833.33       7150.00       7475.00       7277.08
29      12633.33      14500.00      15208.33      13936.81
30       4850.00       5316.67       5533.33       5228.47
31      33575.00      34433.33      34750.00      32913.89
32       5516.67       5266.67       5158.33       5393.75
33       4025.00       3766.67       3625.00       3760.42
34      28058.33      29166.67      29591.67      27520.14
35       5308.33       5308.33       5400.00       5478.47
36       1266.67       1425.00       1475.00       1321.53
37       4041.67       3883.33       3925.00       4156.94
38      22750.00      23858.33      24191.67      22041.67
39      11941.67      12916.67      12966.67      11406.25
40      10808.33      10941.67      11225.00      10635.42
41       5383.33       5341.67       5425.00       5116.67
42       1966.67       2166.67       2266.67       2255.56
43       3458.33       3433.33       3533.33       3263.20

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,216033.33,216258.33,217391.67,215658.33,217341.67,218266.67,218800.00,219483.33,221891.67,221200.00,214216.67,211750.00,217175.00,217675.00,219265.28
1,Civilian Employment,187866.67,188400.00,191833.33,193150.00,197441.67,200458.33,201983.33,203625.00,207716.67,207216.67,190341.67,194233.33,203933.33,202400.00,198282.64
2,Civilian Unemployment,28183.33,27850.00,25566.67,22525.00,19925.00,17833.33,16825.00,15858.33,14175.00,13983.33,23858.33,17516.67,13241.67,15258.33,20979.17
3,Civilian Unemployment Rate,0.13,0.13,0.12,0.11,0.09,0.08,0.08,0.07,0.06,0.06,0.11,0.08,0.06,0.07,0.10
4,"Total, All Industries",169750.00,169966.67,173500.00,176616.67,181916.67,185983.33,189441.67,192300.00,197883.33,199791.67,185525.00,190825.00,201600.00,200508.33,191212.50

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Monterey_county.csv', index=False)  # Set index=False to avoid exporting the row indices