In [1]:
import pandas as pd

# Load the .xls Excel file
SacramentoCounty = pd.read_excel("Resources/SACHWS.xls", engine='xlrd')

SacramentoCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,67,NaN,NaN,1,00-000010,Civilian Labor Force,685500.000,686200.000,...,736200.000,739300.000,732800.000,739100.000,741400.000,742000.000,734300.000,731000.00,733500.000,739800.000
1,2,2023,67,NaN,NaN,1,00-000020,Civilian Employment,594200.000,595300.000,...,701500.000,704800.000,698300.000,700100.000,702000.000,705400.000,700800.000,701800.00,698300.000,700900.000
2,3,2023,67,NaN,NaN,1,00-000030,Civilian Unemployment,91400.000,90800.000,...,34700.000,34500.000,34400.000,39000.000,39300.000,36600.000,33500.000,29200.00,35200.000,38800.000
3,4,2023,67,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.133,0.132,...,0.047,0.047,0.047,0.053,0.053,0.049,0.046,0.04,0.048,0.053
4,8,2023,67,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",565800.000,566200.000,...,729400.000,732100.000,732900.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
SacramentoCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

SacramentoCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,685500.000,686200.000,687200.000,683600.000,681400.000,683000.000,689100.000,685900.00,683600.000,...,736200.000,739300.000,732800.000,739100.000,741400.000,742000.000,734300.000,731000.00,733500.000,739800.000
1,Civilian Employment,594200.000,595300.000,596300.000,597400.000,597600.000,595400.000,598300.000,596600.00,596800.000,...,701500.000,704800.000,698300.000,700100.000,702000.000,705400.000,700800.000,701800.00,698300.000,700900.000
2,Civilian Unemployment,91400.000,90800.000,90800.000,86200.000,83800.000,87600.000,90800.000,89300.00,86900.000,...,34700.000,34500.000,34400.000,39000.000,39300.000,36600.000,33500.000,29200.00,35200.000,38800.000
3,Civilian Unemployment Rate,0.133,0.132,0.132,0.126,0.123,0.128,0.132,0.13,0.127,...,0.047,0.047,0.047,0.053,0.053,0.049,0.046,0.04,0.048,0.053
4,"Total, All Industries",565800.000,566200.000,568700.000,571800.000,576600.000,575900.000,565200.000,562900.00,565800.000,...,729400.000,732100.000,732900.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
titles_df = SacramentoCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                       Goods Producing
8                                    Mining and Logging
9                                          Construction
10                                        Manufacturing
11                                        Durable Goods
12                                     Nondurable Goods
13                                    Service Providing
14                    Trade, Transportation & Utilities
15                                      Wholesale Trade
16                                         Retail Trade
17            Transportation, Warehousing, and Utili...
18                                          Information
19                                 Financial Activities
20                                  Finance & Insurance
21                       Real Estate & Rental & Leasing
22                   Professional and Business Services
23            Professional, Scientific & Technical S...
24                Management of Companies & Enterprises
25            Administrative and Support and Waste a...
26                Private Education and Health Services
27                              Leisure and Hospitality
28                  Arts, Entertainment, and Recreation
29                        Accommodation & Food Services
30                                       Other Services
31                                           Government
32                                   Federal Government
33                                     State Government
34                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = SacramentoCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    SacramentoCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = SacramentoCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = SacramentoCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     683833.33
1                                 Civilian Employment     595483.33
2                               Civilian Unemployment      88358.33
3                          Civilian Unemployment Rate          0.13
4                               Total, All Industries     568525.00
5                                          Total Farm       2566.67
6                                       Total Nonfarm     565958.33
7                                     Goods Producing      42966.67
8                                  Mining and Logging         66.67
9                                        Construction      23525.00
10                                      Manufacturing      19375.00
11                                      Durable Goods      12208.33
12                                   Nondurable Goods       7166.67
13                                  Service Providing     522991.67
14                  Trade, Transportation & Utilities      81658.33
15                                    Wholesale Trade      14133.33
16                                       Retail Trade      55600.00
17          Transportation, Warehousing, and Utili...      11925.00
18                                        Information      13241.67
19                               Financial Activities      32100.00
20                                Finance & Insurance      24800.00
21                     Real Estate & Rental & Leasing       7300.00
22                 Professional and Business Services      76716.67
23          Professional, Scientific & Technical S...      38633.33
24              Management of Companies & Enterprises       7408.33
25          Administrative and Support and Waste a...      30675.00
26              Private Education and Health Services      86416.67
27                            Leisure and Hospitality      48483.33
28                Arts, Entertainment, and Recreation       7266.67
29                      Accommodation & Food Services      41216.67
30                                     Other Services      20058.33
31                                         Government     164316.67
32                                 Federal Government      10625.00
33                                   State Government      85300.00
34                                   Local Government      68391.67

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      679000.00     679866.67     677850.00     677700.00     684583.33
1      595333.33     607258.33     616883.33     627616.67     643291.67
2       83683.33      72608.33      60950.00      50075.00      41275.00
3           0.12          0.11          0.09          0.07          0.06
4      565833.33     576558.33     587783.33     599800.00     621316.67
5        2466.67       2608.33       2616.67       2608.33       2741.67
6      563366.67     573950.00     585166.67     597191.67     618575.00
7       43100.00      44908.33      48125.00      49933.33      51891.67
8         150.00        200.00        191.67        158.33        100.00
9       22583.33      23608.33      27083.33      28458.33      30958.33
10      20366.67      21100.00      20850.00      21316.67      20833.33
11      12933.33      13816.67      13991.67      14216.67      14166.67
12       7433.33       7283.33       6858.33       7100.00       6666.67
13     520266.67     529041.67     537041.67     547258.33     566683.33
14      82700.00      86400.00      87216.67      87533.33      90816.67
15      14858.33      15900.00      15458.33      15183.33      15058.33
16      56383.33      58258.33      59041.67      59316.67      62133.33
17      11458.33      12241.67      12716.67      13033.33      13625.00
18      12600.00      11775.00      11000.00      10166.67      10016.67
19      30566.67      31250.00      31533.33      31166.67      32691.67
20      23166.67      23491.67      23533.33      23016.67      24358.33
21       7400.00       7758.33       8000.00       8150.00       8333.33
22      78275.00      83900.00      86133.33      88100.00      88408.33
23      37791.67      37850.00      37708.33      38325.00      39225.00
24       7166.67       7208.33       7716.67       7633.33       7591.67
25      33316.67      38841.67      40708.33      42141.67      41591.67
26      87000.00      88375.00      91158.33      93266.67     101950.00
27      49541.67      51325.00      53708.33      55975.00      58691.67
28       7516.67       7633.33       7675.00       7566.67       7625.00
29      42025.00      43691.67      46033.33      48408.33      51066.67
30      19675.00      19633.33      19550.00      20316.67      20833.33
31     159908.33     156383.33     156741.67     160733.33     163275.00
32      10158.33       9983.33       9758.33       9850.00      10016.67
33      83950.00      82358.33      83550.00      86483.33      87900.00
34      65800.00      64041.67      63433.33      64400.00      65358.33

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      693958.33     696458.33     704233.33     710500.00     710808.33
1      656366.67     663733.33     676891.67     684050.00     643650.00
2       37625.00      32725.00      27325.00      26450.00      67158.33
3           0.05          0.05          0.04          0.04          0.09
4      644008.33     648258.33     665466.67     681866.67     651591.67
5        2241.67       3233.33       2633.33       2433.33       2366.67
6      641766.67     645025.00     662833.33     679433.33     649225.00
7       54250.00      56741.67      59950.00      63500.00      64166.67
8         175.00        141.67        166.67        200.00        208.33
9       32933.33      35533.33      38625.00      41516.67      42208.33
10      21141.67      21100.00      21150.00      21791.67      21750.00
11      13983.33      13775.00      13625.00      14200.00      14366.67
12       7166.67       7325.00       7525.00       7591.67       7383.33
13     587516.67     588283.33     602883.33     615933.33     585058.33
14      94125.00      96100.00      99375.00      99283.33      95183.33
15      15666.67      16316.67      17750.00      17275.00      16241.67
16      64100.00      64591.67      64266.67      63175.00      59141.67
17      14358.33      15191.67      17358.33      18833.33      19800.00
18       9675.00       8500.00       8400.00       7966.67       6908.33
19      33158.33      33350.00      33233.33      33358.33      33041.67
20      24483.33      24200.00      23808.33      23816.67      23658.33
21       8675.00       9141.67       9400.00       9541.67       9383.33
22      94408.33      94850.00      95966.67      98850.00      95466.67
23      40416.67      40283.33      40700.00      42475.00      42775.00
24       7950.00       9183.33       9991.67      10158.33      10050.00
25      46041.67      45400.00      45275.00      46191.67      42641.67
26     109491.67     106833.33     112166.67     116583.33     115550.00
27      60833.33      62541.67      65216.67      67708.33      50641.67
28       8258.33       8300.00       8633.33       9158.33       5291.67
29      52575.00      54233.33      56600.00      58550.00      45350.00
30      21166.67      22358.33      23250.00      24058.33      21158.33
31     164658.33     163750.00     165275.00     168125.00     167108.33
32      10233.33      10383.33      10391.67      10508.33      10966.67
33      88050.00      89408.33      90775.00      92358.33      94708.33
34      66375.00      63958.33      64108.33      65258.33      61433.33

    2021_Average  2022_Average  2023_Average  2024_Average
0      718133.33     720308.33     731050.00     713279.17
1      668366.67     691500.00     698508.33     662656.25
2       49758.33      28800.00      32525.00      50606.25
3           0.07          0.04          0.04          0.07
4      678866.67     706441.67     718675.00     579700.00
5        3016.67       3000.00       3358.33       2573.33
6      675850.00     703441.67     715316.67     577126.67
7       67391.67      69075.00      67800.00      45806.67
8          50.00         58.33        116.67        153.33
9       44933.33      45633.33      44200.00      25051.66
10      22408.33      23341.67      23566.67      20601.67
11      14691.67      15533.33      15566.67      13433.33
12       7716.67       7808.33       8016.67       7168.33
13     608458.33     634366.67     647516.67     531320.00
14     101433.33     105500.00     106325.00      85101.67
15      16758.33      17725.00      18408.33      15106.66
16      62766.67      62866.67      62091.67      57720.00
17      21908.33      24908.33      25825.00      12275.00
18       6883.33       7150.00       6641.67      11756.67
19      32816.67      32725.00      30291.67      31323.33
20      23191.67      22575.00      20808.33      23601.67
21       9625.00      10150.00       9483.33       7721.67
22     100816.67      99458.33      95116.67      82625.00
23      46783.33      43875.00      43941.67      38061.67
24      10191.67       9525.00       9233.33       7426.67
25      43875.00      46066.67      41925.00      37136.67
26     118716.67     123175.00     132116.67      89243.33
27      55933.33      65425.00      67950.00      51806.67
28       6050.00       8441.67      10266.67       7531.67
29      49883.33      56983.33      57683.33      44275.00
30      22091.67      24066.67      25533.33      19846.67
31     169766.67     176866.67     183541.67     159616.67
32      10716.67      10583.33      10658.33      10075.00
33      98350.00     102150.00     105441.67      84328.33
34      60700.00      64133.33      67441.67      65213.33

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,683833.33,679000.00,679866.67,677850.00,677700.00,684583.33,693958.33,696458.33,704233.33,710500.00,710808.33,718133.33,720308.33,731050.00,713279.17
1,Civilian Employment,595483.33,595333.33,607258.33,616883.33,627616.67,643291.67,656366.67,663733.33,676891.67,684050.00,643650.00,668366.67,691500.00,698508.33,662656.25
2,Civilian Unemployment,88358.33,83683.33,72608.33,60950.00,50075.00,41275.00,37625.00,32725.00,27325.00,26450.00,67158.33,49758.33,28800.00,32525.00,50606.25
3,Civilian Unemployment Rate,0.13,0.12,0.11,0.09,0.07,0.06,0.05,0.05,0.04,0.04,0.09,0.07,0.04,0.04,0.07
4,"Total, All Industries",568525.00,565833.33,576558.33,587783.33,599800.00,621316.67,644008.33,648258.33,665466.67,681866.67,651591.67,678866.67,706441.67,718675.00,579700.00

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Sacramento_county.csv', index=False)  # Set index=False to avoid exporting the row indices