In [1]:
import pandas as pd

# Load the .xls Excel file
SanBenitoCounty = pd.read_excel("Resources/SANBEHWS.xls", engine='xlrd')

SanBenitoCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,69,NaN,NaN,1,00-000010,Civilian Labor Force,27700.000,28000.000,...,32400.000,32400.00,32100.000,32200.000,32600.00,32600.000,32200.000,31900.000,31900.000,32300.000
1,2,2023,69,NaN,NaN,1,00-000020,Civilian Employment,22900.000,23000.000,...,30600.000,30500.00,30000.000,29800.000,30000.00,30100.000,30000.000,30000.000,29900.000,30100.000
2,3,2023,69,NaN,NaN,1,00-000030,Civilian Unemployment,4800.000,5000.000,...,1800.000,2000.00,2100.000,2400.000,2600.00,2500.000,2200.000,1900.000,2000.000,2200.000
3,4,2023,69,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.173,0.178,...,0.056,0.06,0.067,0.075,0.08,0.075,0.068,0.058,0.063,0.067
4,8,2023,69,NaN,NaN,1,01-000000,"Total, All Industries",13100.000,13400.000,...,18800.000,18700.00,18400.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
SanBenitoCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

SanBenitoCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,27700.000,28000.000,28200.000,27800.000,27700.000,27800.000,28300.000,28300.000,27900.000,...,32400.000,32400.00,32100.000,32200.000,32600.00,32600.000,32200.000,31900.000,31900.000,32300.000
1,Civilian Employment,22900.000,23000.000,23200.000,23300.000,23500.000,23600.000,24100.000,24200.000,24000.000,...,30600.000,30500.00,30000.000,29800.000,30000.00,30100.000,30000.000,30000.000,29900.000,30100.000
2,Civilian Unemployment,4800.000,5000.000,4900.000,4500.000,4300.000,4100.000,4200.000,4000.000,3900.000,...,1800.000,2000.00,2100.000,2400.000,2600.00,2500.000,2200.000,1900.000,2000.000,2200.000
3,Civilian Unemployment Rate,0.173,0.178,0.175,0.161,0.153,0.149,0.147,0.143,0.138,...,0.056,0.06,0.067,0.075,0.08,0.075,0.068,0.058,0.063,0.067
4,"Total, All Industries",13100.000,13400.000,13800.000,14000.000,14300.000,14700.000,15000.000,16100.000,15600.000,...,18800.000,18700.00,18400.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
titles_df = SanBenitoCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                       Goods Producing
8                                    Mining and Logging
9                                          Construction
10                                        Manufacturing
11                                        Durable Goods
12                                     Nondurable Goods
13                                    Service Providing
14                    Trade, Transportation & Utilities
15                                      Wholesale Trade
16                                         Retail Trade
17            Transportation, Warehousing, and Utili...
18                                          Information
19                                 Financial Activities
20                                  Finance & Insurance
21                       Real Estate & Rental & Leasing
22                   Professional and Business Services
23            Professional, Scientific & Technical S...
24                Management of Companies & Enterprises
25            Administrative and Support and Waste a...
26                Private Education and Health Services
27                         Private Educational Services
28                      Health Care & Social Assistance
29                              Leisure and Hospitality
30                                       Other Services
31                                           Government
32                                   Federal Government
33                                     State Government
34                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = SanBenitoCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    SanBenitoCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = SanBenitoCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = SanBenitoCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force      27958.33
1                                 Civilian Employment      23608.33
2                               Civilian Unemployment       4333.33
3                          Civilian Unemployment Rate          0.15
4                               Total, All Industries      14316.67
5                                          Total Farm       1633.33
6                                       Total Nonfarm      12683.33
7                                     Goods Producing       3316.67
8                                  Mining and Logging          0.00
9                                        Construction        808.33
10                                      Manufacturing       2508.33
11                                      Durable Goods        966.67
12                                   Nondurable Goods       1541.67
13                                  Service Providing       9366.67
14                  Trade, Transportation & Utilities       2675.00
15                                    Wholesale Trade        358.33
16                                       Retail Trade       2016.67
17          Transportation, Warehousing, and Utili...        300.00
18                                        Information        100.00
19                               Financial Activities        300.00
20                                Finance & Insurance        200.00
21                     Real Estate & Rental & Leasing        100.00
22                 Professional and Business Services        691.67
23          Professional, Scientific & Technical S...        216.67
24              Management of Companies & Enterprises          0.00
25          Administrative and Support and Waste a...        475.00
26              Private Education and Health Services       1091.67
27                       Private Educational Services        100.00
28                    Health Care & Social Assistance        991.67
29                            Leisure and Hospitality       1116.67
30                                     Other Services        400.00
31                                         Government       2991.67
32                                 Federal Government        191.67
33                                   State Government        208.33
34                                   Local Government       2591.67

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0       28250.00      28625.00      28808.33      29125.00      29750.00
1       24075.00      24833.33      25566.67      26366.67      27483.33
2        4158.33       3791.67       3250.00       2750.00       2266.67
3           0.15          0.13          0.11          0.09          0.08
4       14241.67      14550.00      15483.33      16116.67      16058.33
5        1591.67       1541.67       1675.00       1783.33       1841.67
6       12650.00      13008.33      13808.33      14333.33      14216.67
7        3383.33       3391.67       3491.67       3658.33       3258.33
8           0.00          0.00          0.00          0.00          0.00
9         725.00        716.67        816.67        891.67       1066.67
10       2658.33       2675.00       2675.00       2766.67       2191.67
11        983.33        875.00        950.00       1000.00       1091.67
12       1675.00       1800.00       1725.00       1766.67       1100.00
13       9266.67       9616.67      10316.67      10675.00      10958.33
14       2750.00       2875.00       3166.67       3308.33       3525.00
15        316.67        366.67        383.33        316.67        400.00
16       2150.00       2216.67       2358.33       2541.67       2633.33
17        283.33        291.67        425.00        450.00        491.67
18        100.00        100.00        100.00        100.00        100.00
19        300.00        300.00        375.00        375.00        375.00
20        200.00        200.00        200.00        200.00        200.00
21        100.00        100.00        175.00        175.00        175.00
22        683.33        941.67       1100.00       1175.00       1075.00
23        208.33        241.67        391.67        458.33        400.00
24          0.00          0.00          0.00          0.00          0.00
25        475.00        700.00        708.33        716.67        675.00
26       1058.33       1100.00       1200.00       1291.67       1366.67
27        100.00        100.00        100.00        100.00        100.00
28        958.33       1000.00       1100.00       1191.67       1266.67
29       1083.33       1191.67       1233.33       1250.00       1266.67
30        450.00        400.00        400.00        375.00        400.00
31       2841.67       2708.33       2741.67       2800.00       2850.00
32        166.67        100.00        100.00        100.00        100.00
33        200.00        200.00        200.00        200.00        200.00
34       2475.00       2408.33       2441.67       2500.00       2550.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0       30450.00      30591.67      31200.00      32266.67      32541.67
1       28383.33      28808.33      29616.67      30650.00      29325.00
2        2033.33       1775.00       1591.67       1616.67       3225.00
3           0.07          0.06          0.05          0.05          0.10
4       16716.67      17008.33      17141.67      17583.33      16650.00
5        2108.33       2233.33       2275.00       2358.33       2191.67
6       14608.33      14775.00      14866.67      15225.00      14458.33
7        3433.33       4783.33       4950.00       4775.00       4341.67
8           0.00          0.00          0.00          0.00          0.00
9        1216.67       1458.33       1600.00       1625.00       1541.67
10       2216.67       3325.00       3350.00       3150.00       2800.00
11       1100.00        991.67       1050.00        941.67        816.67
12       1116.67       2333.33       2300.00       2208.33       1983.33
13      11175.00       9991.67       9916.67      10450.00      10116.67
14       3541.67       2150.00       2133.33       2233.33       2075.00
15        400.00        308.33        333.33        375.00        341.67
16       2641.67       1341.67       1300.00       1358.33       1275.00
17        500.00        500.00        500.00        500.00        458.33
18        100.00        100.00        100.00        100.00        100.00
19        400.00        300.00        300.00        300.00        308.33
20        200.00        200.00        200.00        200.00        200.00
21        200.00        100.00        100.00        100.00        108.33
22       1100.00       1208.33       1116.67       1200.00       1275.00
23        400.00        300.00        300.00        300.00        300.00
24          0.00          0.00          0.00          0.00          0.00
25        700.00        908.33        816.67        900.00        975.00
26       1475.00       1425.00       1425.00       1516.67       1475.00
27        100.00        100.00        100.00        100.00        100.00
28       1375.00       1325.00       1325.00       1416.67       1375.00
29       1300.00       1433.33       1450.00       1600.00       1425.00
30        400.00        500.00        500.00        500.00        408.33
31       2858.33       2875.00       2891.67       3000.00       3050.00
32        100.00        100.00        100.00        100.00        116.67
33        200.00        200.00        200.00        200.00        200.00
34       2558.33       2575.00       2591.67       2700.00       2733.33

    2021_Average  2022_Average  2023_Average  2024_Average
0       31750.00      32233.33      32400.00      30705.56
1       29450.00      30583.33      30483.33      27862.50
2        2316.67       1641.67       1925.00       2840.28
3           0.07          0.05          0.06          0.09
4       17458.33      18166.67      18108.33      14941.67
5        1983.33       1808.33       1700.00       1645.00
6       15475.00      16358.33      16408.33      13296.66
7        4625.00       4925.00       4816.67       3448.33
8           0.00          0.00          0.00          0.00
9        1575.00       1641.67       1575.00        791.67
10       3050.00       3283.33       3241.67       2656.67
11        983.33       1091.67       1100.00        955.00
12       2066.67       2191.67       2141.67       1701.67
13      10850.00      11433.33      11591.67       9848.34
14       2250.00       2483.33       2583.33       2955.00
15        391.67        400.00        400.00        348.33
16       1358.33       1483.33       1600.00       2256.67
17        500.00        600.00        583.33        350.00
18        100.00        100.00        100.00        100.00
19        375.00        333.33        300.00        330.00
20        200.00        200.00        200.00        200.00
21        175.00        133.33        100.00        130.00
22       1400.00       1441.67       1258.33        918.33
23        300.00        300.00        300.00        303.33
24          0.00          0.00          0.00          0.00
25       1100.00       1141.67        958.33        615.00
26       1491.67       1550.00       1700.00       1148.33
27        100.00        100.00        100.00        100.00
28       1391.67       1450.00       1600.00       1048.33
29       1608.33       1741.67       1841.67       1175.00
30        475.00        500.00        500.00        405.00
31       3150.00       3283.33       3308.33       2816.67
32        100.00        100.00        100.00        131.67
33        200.00        133.33        200.00        201.67
34       2850.00       3050.00       3008.33       2483.33

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,27958.33,28250.00,28625.00,28808.33,29125.00,29750.00,30450.00,30591.67,31200.00,32266.67,32541.67,31750.00,32233.33,32400.00,30705.56
1,Civilian Employment,23608.33,24075.00,24833.33,25566.67,26366.67,27483.33,28383.33,28808.33,29616.67,30650.00,29325.00,29450.00,30583.33,30483.33,27862.50
2,Civilian Unemployment,4333.33,4158.33,3791.67,3250.00,2750.00,2266.67,2033.33,1775.00,1591.67,1616.67,3225.00,2316.67,1641.67,1925.00,2840.28
3,Civilian Unemployment Rate,0.15,0.15,0.13,0.11,0.09,0.08,0.07,0.06,0.05,0.05,0.10,0.07,0.05,0.06,0.09
4,"Total, All Industries",14316.67,14241.67,14550.00,15483.33,16116.67,16058.33,16716.67,17008.33,17141.67,17583.33,16650.00,17458.33,18166.67,18108.33,14941.67

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('SanBenito_county.csv', index=False)  # Set index=False to avoid exporting the row indices