In [1]:
import pandas as pd

# Load the .xls Excel file
SanBernardinoCounty = pd.read_excel("Resources/SANBRHWS.xls", engine='xlrd')

SanBernardinoCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,71,NaN,NaN,1,00-000010,Civilian Labor Force,890800.000,892000.000,...,1022000.000,1026400.00,1018400.000,1019500.000,1018600.000,1019300.000,1009600.000,1003600.000,1007600.000,1016900.000
1,2,2023,71,NaN,NaN,1,00-000020,Civilian Employment,764400.000,766600.000,...,969400.000,975100.00,968200.000,964600.000,963000.000,967500.000,961500.000,960700.000,955000.000,958800.000
2,3,2023,71,NaN,NaN,1,00-000030,Civilian Unemployment,126500.000,125400.000,...,52600.000,51300.00,50200.000,54800.000,55600.000,51800.000,48100.000,43000.000,52600.000,58100.000
3,4,2023,71,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.142,0.141,...,0.051,0.05,0.049,0.054,0.055,0.051,0.048,0.043,0.052,0.057
4,8,2023,71,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",610500.000,610300.000,...,871400.000,879400.00,882300.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
SanBernardinoCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

SanBernardinoCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,890800.000,892000.000,895500.000,892500.000,887300.000,887400.00,891200.000,892000.000,888900.000,...,1022000.000,1026400.00,1018400.000,1019500.000,1018600.000,1019300.000,1009600.000,1003600.000,1007600.000,1016900.000
1,Civilian Employment,764400.000,766600.000,769000.000,772300.000,769200.000,763400.00,762100.000,766000.000,766800.000,...,969400.000,975100.00,968200.000,964600.000,963000.000,967500.000,961500.000,960700.000,955000.000,958800.000
2,Civilian Unemployment,126500.000,125400.000,126500.000,120200.000,118000.000,124000.00,129100.000,125900.000,122100.000,...,52600.000,51300.00,50200.000,54800.000,55600.000,51800.000,48100.000,43000.000,52600.000,58100.000
3,Civilian Unemployment Rate,0.142,0.141,0.141,0.135,0.133,0.14,0.145,0.141,0.137,...,0.051,0.05,0.049,0.054,0.055,0.051,0.048,0.043,0.052,0.057
4,"Total, All Industries",610500.000,610300.000,614900.000,618500.000,619500.000,619900.00,609300.000,612400.000,610200.000,...,871400.000,879400.00,882300.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
titles_df = SanBernardinoCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                       Goods Producing
8                                    Mining and Logging
9                                          Construction
10                                        Manufacturing
11                                        Durable Goods
12                                     Nondurable Goods
13                                    Service Providing
14                    Trade, Transportation & Utilities
15                                      Wholesale Trade
16                                         Retail Trade
17            Transportation, Warehousing, and Utili...
18                                          Information
19                                 Financial Activities
20                                  Finance & Insurance
21                       Real Estate & Rental & Leasing
22                   Professional and Business Services
23            Professional, Scientific & Technical S...
24                Management of Companies & Enterprises
25            Administrative and Support and Waste a...
26                Private Education and Health Services
27                         Private Educational Services
28                      Health Care & Social Assistance
29                              Leisure and Hospitality
30                  Arts, Entertainment, and Recreation
31                        Accommodation & Food Services
32                                       Other Services
33                                           Government
34                                   Federal Government
35                                     State Government
36                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = SanBernardinoCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    SanBernardinoCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = SanBernardinoCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = SanBernardinoCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     891416.67
1                                 Civilian Employment     767933.33
2                               Civilian Unemployment     123483.33
3                          Civilian Unemployment Rate          0.14
4                               Total, All Industries     616483.33
5                                          Total Farm       2600.00
6                                       Total Nonfarm     613883.33
7                                     Goods Producing      72216.67
8                                  Mining and Logging        600.00
9                                        Construction      24325.00
10                                      Manufacturing      47291.67
11                                      Durable Goods      28950.00
12                                   Nondurable Goods      18341.67
13                                  Service Providing     541666.67
14                  Trade, Transportation & Utilities     152983.33
15                                    Wholesale Trade      29641.67
16                                       Retail Trade      76991.67
17          Transportation, Warehousing, and Utili...      46350.00
18                                        Information       3766.67
19                               Financial Activities      21416.67
20                                Finance & Insurance      14091.67
21                     Real Estate & Rental & Leasing       7325.00
22                 Professional and Business Services      73125.00
23          Professional, Scientific & Technical S...      18866.67
24              Management of Companies & Enterprises       5483.33
25          Administrative and Support and Waste a...      48775.00
26              Private Education and Health Services      90191.67
27                       Private Educational Services      10116.67
28                    Health Care & Social Assistance      80075.00
29                            Leisure and Hospitality      55108.33
30                Arts, Entertainment, and Recreation       5975.00
31                      Accommodation & Food Services      49133.33
32                                     Other Services      19925.00
33                                         Government     125150.00
34                                 Federal Government      15125.00
35                                   State Government      13375.00
36                                   Local Government      96650.00

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      887333.33     890516.67     893616.67     903641.67     919316.67
1      771116.67     787258.33     805225.00     830458.33     859750.00
2      116233.33     103266.67      88391.67      73175.00      59558.33
3           0.13          0.12          0.10          0.08          0.06
4      607541.67     626608.33     648275.00     675633.33     710050.00
5        2450.00       2425.00       2416.67       2550.00       2200.00
6      605091.67     624183.33     645858.33     673083.33     707850.00
7       72141.67      74850.00      76600.00      82325.00      88566.67
8         641.67        791.67        866.67        991.67        983.33
9       24966.67      26783.33      27433.33      30125.00      32733.33
10      46533.33      47275.00      48300.00      51208.33      54850.00
11      28366.67      29116.67      30016.67      31741.67      34541.67
12      18166.67      18158.33      18283.33      19466.67      20308.33
13     532950.00     549333.33     569258.33     590758.33     619283.33
14     153966.67     164491.67     169966.67     178541.67     187091.67
15      29425.00      31550.00      34025.00      35850.00      38275.00
16      76900.00      80958.33      82416.67      83891.67      85525.00
17      47641.67      51983.33      53525.00      58800.00      63291.67
18       4508.33       5325.00       5250.00       4950.00       5041.67
19      21291.67      21391.67      21825.00      22375.00      23000.00
20      14258.33      14516.67      14591.67      15041.67      15333.33
21       7033.33       6875.00       7233.33       7333.33       7666.67
22      73325.00      73058.33      74375.00      77800.00      84816.67
23      19375.00      19575.00      20375.00      20900.00      19991.67
24       5416.67       5233.33       5241.67       5150.00       5866.67
25      48533.33      48250.00      48758.33      51750.00      58958.33
26      91125.00      94666.67     102125.00     105266.67     109908.33
27      10191.67       9925.00      10625.00       9816.67      10100.00
28      80933.33      84741.67      91500.00      95450.00      99808.33
29      55125.00      57066.67      60891.67      64283.33      68316.67
30       5908.33       6091.67       6775.00       6866.67       7616.67
31      49216.67      50975.00      54116.67      57416.67      60700.00
32      20333.33      20875.00      20858.33      21458.33      22275.00
33     113275.00     112458.33     113966.67     116083.33     118833.33
34      14233.33      13816.67      13466.67      13400.00      13400.00
35      13058.33      12458.33      12008.33      12225.00      12425.00
36      85983.33      86183.33      88491.67      90458.33      93008.33

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      930241.67     942041.67     955075.00     965433.33     972800.00
1      876383.33     895258.33     915841.67     928058.33     879266.67
2       53866.67      46800.00      39250.00      37375.00      93525.00
3           0.06          0.05          0.04          0.04          0.10
4      727066.67     750941.67     772700.00     800958.33     775358.33
5        1850.00       2166.67       2216.67       2450.00       2275.00
6      725216.67     748775.00     770483.33     798508.33     773083.33
7       90683.33      92058.33      95133.33      95183.33      91158.33
8         575.00        575.00        766.67        741.67        883.33
9       33841.67      35166.67      37783.33      39041.67      38100.00
10      56266.67      56316.67      56583.33      55400.00      52175.00
11      35508.33      34950.00      34875.00      34566.67      31850.00
12      20758.33      21366.67      21708.33      20833.33      20325.00
13     634533.33     656716.67     675350.00     703325.00     681925.00
14     193475.00     206566.67     215983.33     224816.67     233708.33
15      39075.00      38725.00      40541.67      41491.67      41125.00
16      87366.67      88208.33      88333.33      86983.33      81800.00
17      67033.33      79633.33      87108.33      96341.67     110783.33
18       5241.67       5175.00       5250.00       5025.00       4066.67
19      23833.33      22383.33      21725.00      23433.33      23141.67
20      15558.33      13933.33      12700.00      13641.67      13408.33
21       8275.00       8450.00       9025.00       9791.67       9733.33
22      80650.00      80316.67      80850.00      85016.67      83875.00
23      20133.33      20591.67      21508.33      23000.00      22425.00
24       6191.67       6025.00       5800.00       5741.67       5266.67
25      54325.00      53700.00      53541.67      56275.00      56183.33
26     114091.67     119675.00     124533.33     134975.00     129083.33
27      10425.00      10775.00      11133.33      11716.67      10391.67
28     103666.67     108900.00     113400.00     123258.33     118691.67
29      71516.67      75166.67      76916.67      78066.67      63733.33
30       7916.67       8041.67       7766.67       7741.67       4950.00
31      63600.00      67125.00      69150.00      70325.00      58783.33
32      22841.67      22841.67      23000.00      22916.67      20316.67
33     122883.33     124591.67     127091.67     129075.00     124000.00
34      13383.33      13466.67      13533.33      13841.67      14441.67
35      12700.00      12891.67      13116.67      13500.00      13483.33
36      96800.00      98233.33     100441.67     101733.33      96075.00

    2021_Average  2022_Average  2023_Average  2024_Average
0      990041.67    1002950.00    1013675.00     963468.75
1      916591.67     961200.00     966508.33     891090.97
2       73458.33      41750.00      47166.67      72379.17
3           0.07          0.04          0.05          0.08
4      815650.00     859591.67     860891.67     634908.33
5        2275.00       2508.33       2208.33       2488.33
6      813375.00     857083.33     858683.33     632420.00
7       92708.33      97000.00      96416.67      75626.67
8        1016.67       1041.67       1108.33        778.34
9       39200.00      40850.00      41658.33      26726.67
10      52491.67      55108.33      53650.00      48121.67
11      31291.67      32141.67      31775.00      29638.34
12      21200.00      22966.67      21875.00      18483.33
13     720666.67     760083.33     762266.67     556793.33
14     255075.00     266950.00     259791.67     163990.00
15      41750.00      42191.67      40950.00      32098.33
16      85616.67      88466.67      88250.00      80231.67
17     127708.33     136291.67     130591.67      51660.00
18       4400.00       7500.00       7691.67       4760.00
19      23741.67      23425.00      23775.00      21660.00
20      13483.33      12233.33      12491.67      14500.00
21      10258.33      11191.67      11283.33       7160.00
22      92141.67      95308.33      88550.00      74336.67
23      24591.67      23658.33      23958.33      19818.33
24       4941.67       4833.33       5283.33       5305.00
25      62608.33      66816.67      59308.33      49213.33
26     129716.67     135816.67     143558.33      96675.00
27       9850.00      10708.33      11733.33      10135.00
28     119866.67     125108.33     131825.00      86540.00
29      71591.67      79750.00      82291.67      58495.00
30       5991.67       7350.00       7775.00       6323.33
31      65600.00      72400.00      74516.67      52171.67
32      21808.33      23041.67      23800.00      20690.00
33     122191.67     128291.67     132808.33     116186.67
34      13691.67      13400.00      13616.67      14008.33
35      13383.33      13233.33      13283.33      12625.00
36      95116.67     101658.33     105908.33      89553.33

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,891416.67,887333.33,890516.67,893616.67,903641.67,919316.67,930241.67,942041.67,955075.00,965433.33,972800.00,990041.67,1002950.00,1013675.00,963468.75
1,Civilian Employment,767933.33,771116.67,787258.33,805225.00,830458.33,859750.00,876383.33,895258.33,915841.67,928058.33,879266.67,916591.67,961200.00,966508.33,891090.97
2,Civilian Unemployment,123483.33,116233.33,103266.67,88391.67,73175.00,59558.33,53866.67,46800.00,39250.00,37375.00,93525.00,73458.33,41750.00,47166.67,72379.17
3,Civilian Unemployment Rate,0.14,0.13,0.12,0.10,0.08,0.06,0.06,0.05,0.04,0.04,0.10,0.07,0.04,0.05,0.08
4,"Total, All Industries",616483.33,607541.67,626608.33,648275.00,675633.33,710050.00,727066.67,750941.67,772700.00,800958.33,775358.33,815650.00,859591.67,860891.67,634908.33

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('SanBernardino_county.csv', index=False)  # Set index=False to avoid exporting the row indices