In [1]:
import pandas as pd

# Load the .xls Excel file
SanLuisObispoCounty = pd.read_excel("Resources/SLO$HWS.xls", engine='xlrd')

SanLuisObispoCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,42020,NaN,NaN,1,00-000010,Civilian Labor Force,131900.000,132400.000,...,136400.000,136400.000,133400.000,135100.000,137000.000,137300.000,135700.000,135900.00,136000.000,136600.000
1,2,2023,42020,NaN,NaN,1,00-000020,Civilian Employment,117600.000,118400.000,...,131400.000,131500.000,128500.000,129400.000,131000.000,131900.000,130800.000,131800.00,130600.000,130800.000
2,3,2023,42020,NaN,NaN,1,00-000030,Civilian Unemployment,14300.000,14000.000,...,5000.000,5000.000,4900.000,5700.000,6000.000,5400.000,4800.000,4000.00,5400.000,5800.000
3,4,2023,42020,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.108,0.106,...,0.037,0.036,0.037,0.042,0.044,0.039,0.036,0.03,0.039,0.042
4,8,2023,42020,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",97800.000,98000.000,...,125700.000,125300.000,123300.000,122200.000,124100.000,124700.000,125100.000,126700.00,127100.000,125700.000

In [2]:
SanLuisObispoCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

SanLuisObispoCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,131900.000,132400.000,133600.000,132800.000,133000.000,134600.000,136000.000,133100.000,133700.000,...,136400.000,136400.000,133400.000,135100.000,137000.000,137300.000,135700.000,135900.00,136000.000,136600.000
1,Civilian Employment,117600.000,118400.000,119200.000,119300.000,120000.000,120900.000,121700.000,119300.000,120400.000,...,131400.000,131500.000,128500.000,129400.000,131000.000,131900.000,130800.000,131800.00,130600.000,130800.000
2,Civilian Unemployment,14300.000,14000.000,14400.000,13500.000,13000.000,13700.000,14300.000,13900.000,13300.000,...,5000.000,5000.000,4900.000,5700.000,6000.000,5400.000,4800.000,4000.00,5400.000,5800.000
3,Civilian Unemployment Rate,0.108,0.106,0.107,0.102,0.097,0.102,0.105,0.104,0.099,...,0.037,0.036,0.037,0.042,0.044,0.039,0.036,0.03,0.039,0.042
4,"Total, All Industries",97800.000,98000.000,98800.000,99100.000,101100.000,102600.000,101600.000,99600.000,100900.000,...,125700.000,125300.000,123300.000,122200.000,124100.000,124700.000,125100.000,126700.00,127100.000,125700.000

In [3]:
titles_df = SanLuisObispoCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                        Manufacturing
11                                        Durable Goods
12                                    Non-Durable Goods
13                                    Service-Providing
14                            Private Service Providing
15                 Trade, Transportation, and Utilities
16                                      Wholesale Trade
17                                         Retail Trade
18            Transportation, Warehousing, and Utili...
19                                          Information
20                                 Financial Activities
21                                Finance and Insurance
22                   Real Estate and Rental and Leasing
23                   Professional and Business Services
24                Private Education and Health Services
25                              Leisure and Hospitality
26                      Accommodation and Food Services
27                                        Accommodation
28                    Food Services and Drinking Places
29                                       Other Services
30                                           Government
31                                   Federal Government
32                             State & Local Government
33                                     State Government
34                State Government Educational Services
35                 State Government Excluding Education
36                                     Local Government
37              Local Government excluding Education...
38                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = SanLuisObispoCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    SanLuisObispoCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = SanLuisObispoCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = SanLuisObispoCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     133591.67
1                                 Civilian Employment     119900.00
2                               Civilian Unemployment      13700.00
3                          Civilian Unemployment Rate          0.10
4                               Total, All Industries     100450.00
5                                          Total Farm       4741.67
6                                       Total Nonfarm      95708.33
7                                       Total Private      74841.67
8                                     Goods Producing      10708.33
9                    Mining, Logging and Construction       4858.33
10                                      Manufacturing       5850.00
11                                      Durable Goods       2741.67
12                                  Non-Durable Goods       3108.33
13                                  Service-Providing      85000.00
14                          Private Service Providing      64133.33
15               Trade, Transportation, and Utilities      19150.00
16                                    Wholesale Trade       2566.67
17                                       Retail Trade      12975.00
18          Transportation, Warehousing, and Utili...       3608.33
19                                        Information       1183.33
20                               Financial Activities       3816.67
21                              Finance and Insurance       2333.33
22                 Real Estate and Rental and Leasing       1483.33
23                 Professional and Business Services       8025.00
24              Private Education and Health Services      14150.00
25                            Leisure and Hospitality      14783.33
26                    Accommodation and Food Services      13316.67
27                                      Accommodation       3541.67
28                  Food Services and Drinking Places       9775.00
29                                     Other Services       3025.00
30                                         Government      20866.67
31                                 Federal Government        666.67
32                           State & Local Government      20200.00
33                                   State Government       9583.33
34              State Government Educational Services       3675.00
35               State Government Excluding Education       5908.33
36                                   Local Government      10616.67
37            Local Government excluding Education...       4733.33
38                      Special Districts plus Tribes        450.00

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      134083.33     137008.33     137733.33     139916.67     138925.00
1      121025.00     125541.67     128216.67     132008.33     132291.67
2       13033.33      11466.67       9525.00       7900.00       6608.33
3           0.10          0.08          0.07          0.06          0.05
4      101175.00     105408.33     108600.00     112766.67     116583.33
5        4733.33       5133.33       4541.67       4733.33       5041.67
6       96441.67     100275.00     104058.33     108033.33     111541.67
7       75866.67      79550.00      82558.33      85141.67      87975.00
8       11158.33      11908.33      12558.33      13241.67      13741.67
9        5141.67       5516.67       6050.00       6408.33       6725.00
10       6016.67       6391.67       6508.33       6833.33       7016.67
11       2941.67       3108.33       3200.00       3341.67       3325.00
12       3075.00       3283.33       3308.33       3491.67       3691.67
13      85283.33      88366.67      91500.00      94791.67      97800.00
14      64708.33      67641.67      70000.00      71900.00      74233.33
15      19300.00      20041.67      20516.67      20675.00      20950.00
16       2491.67       2525.00       2616.67       2750.00       2833.33
17      13275.00      13658.33      13816.67      13750.00      13900.00
18       3533.33       3858.33       4083.33       4175.00       4216.67
19       1133.33       1225.00       1366.67       1408.33       1466.67
20       3825.00       3850.00       3833.33       3808.33       3866.67
21       2366.67       2375.00       2283.33       2200.00       2250.00
22       1458.33       1475.00       1550.00       1608.33       1616.67
23       8300.00       9083.33       9291.67       9416.67      10108.33
24      14183.33      14400.00      15408.33      16183.33      16450.00
25      14925.00      15733.33      16191.67      16825.00      17575.00
26      13491.67      14225.00      14750.00      15358.33      16000.00
27       3583.33       3675.00       3783.33       3900.00       3966.67
28       9908.33      10550.00      10966.67      11458.33      12033.33
29       3041.67       3308.33       3391.67       3583.33       3816.67
30      20575.00      20725.00      21500.00      22891.67      23566.67
31        600.00        600.00        600.00        525.00        500.00
32      19975.00      20125.00      20900.00      22366.67      23066.67
33       9658.33       9558.33       9491.67       9891.67      10175.00
34       3850.00       3966.67       4058.33       4416.67       4725.00
35       5808.33       5591.67       5433.33       5475.00       5450.00
36      10316.67      10566.67      11408.33      12475.00      12891.67
37       4641.67       4616.67       4716.67       4825.00       4891.67
38        400.00        400.00        416.67        491.67        508.33

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      139475.00     140241.67     140116.67     139666.67     134158.33
1      133450.00     135175.00     135900.00     135591.67     123700.00
2        6041.67       5091.67       4216.67       4066.67      10458.33
3           0.04          0.04          0.03          0.03          0.08
4      118991.67     121733.33     123091.67     124683.33     114408.33
5        4841.67       5225.00       5158.33       4950.00       4825.00
6      114150.00     116508.33     117933.33     119733.33     109583.33
7       90275.00      92366.67      93591.67      95275.00      86041.67
8       14158.33      14725.00      15608.33      16108.33      15816.67
9        7158.33       7450.00       7866.67       8266.67       8475.00
10       7000.00       7275.00       7741.67       7841.67       7341.67
11       3100.00       3083.33       3200.00       3208.33       2925.00
12       3900.00       4191.67       4541.67       4633.33       4416.67
13      99991.67     101783.33     102325.00     103625.00      93766.67
14      76116.67      77641.67      77983.33      79166.67      70225.00
15      21241.67      21308.33      21133.33      20791.67      19116.67
16       2850.00       2783.33       2675.00       2700.00       2533.33
17      14091.67      14266.67      14316.67      14041.67      12891.67
18       4300.00       4258.33       4141.67       4050.00       3691.67
19       1325.00       1266.67       1183.33       1208.33       1125.00
20       3758.33       3891.67       3858.33       3866.67       3791.67
21       2216.67       2316.67       2283.33       2200.00       2283.33
22       1541.67       1575.00       1575.00       1666.67       1508.33
23      10475.00      10675.00      10850.00      11166.67      10508.33
24      16983.33      17441.67      17700.00      18216.67      16966.67
25      18525.00      19075.00      19233.33      19841.67      15375.00
26      16933.33      17458.33      17558.33      18066.67      14216.67
27       4325.00       4400.00       4350.00       4575.00       3725.00
28      12608.33      13058.33      13208.33      13491.67      10491.67
29       3808.33       3983.33       4025.00       4075.00       3341.67
30      23875.00      24141.67      24341.67      24458.33      23541.67
31        500.00        525.00        500.00        533.33        600.00
32      23375.00      23616.67      23841.67      23925.00      22941.67
33      10333.33      10616.67      10758.33      10808.33      10558.33
34       4850.00       5091.67       5158.33       5158.33       4891.67
35       5483.33       5525.00       5600.00       5650.00       5666.67
36      13041.67      13000.00      13083.33      13116.67      12383.33
37       5008.33       5016.67       4983.33       5041.67       4916.67
38        583.33        533.33        516.67        500.00        500.00

    2021_Average  2022_Average  2023_Average  2024_Average
0      135108.33     135825.00     136308.33     136327.78
1      127933.33     131616.67     131591.67     128582.64
2        7208.33       4191.67       4708.33       7727.08
3           0.05          0.03          0.03          0.06
4      119250.00     123533.33     124366.67     117000.00
5        4950.00       5491.67       5483.33       5265.28
6      114300.00     118041.67     118883.33     111734.72
7       91141.67      94641.67      95658.33      89671.53
8       17000.00      17066.67      17216.67      15031.25
9        9133.33       8916.67       8741.67       7481.25
10       7866.67       8150.00       8475.00       7550.00
11       2958.33       2958.33       3150.00       3086.11
12       4908.33       5191.67       5325.00       4463.89
13      97300.00     100975.00     101666.67      96703.47
14      74141.67      77575.00      78441.67      74640.28
15      19716.67      20008.33      19866.67      19881.94
16       2566.67       2558.33       2441.67       2479.17
17      13450.00      13683.33      13508.33      13447.92
18       3700.00       3766.67       3916.67       3954.86
19       1175.00       1275.00       1175.00       1168.06
20       3916.67       3950.00       3875.00       3869.44
21       2275.00       2141.67       2008.33       2129.86
22       1641.67       1808.33       1866.67       1739.58
23      10958.33      11075.00      11166.67      10343.06
24      17541.67      18066.67      18616.67      17427.08
25      17425.00      19508.33      19950.00      18404.86
26      16025.00      17766.67      18041.67      16553.47
27       3966.67       4458.33       4683.33       4298.61
28      12058.33      13308.33      13358.33      12254.86
29       3408.33       3691.67       3791.67       3545.83
30      23158.33      23400.00      23225.00      22063.19
31        600.00        600.00        600.00        599.31
32      22558.33      22800.00      22625.00      21463.89
33      10158.33      10366.67      10416.67      10431.94
34       4566.67       4850.00       5041.67       4980.56
35       5591.67       5516.67       5375.00       5451.39
36      12400.00      12433.33      12208.33      11031.94
37       5058.33       5183.33       5383.33       5094.44
38        500.00        500.00        525.00        479.86

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,133591.67,134083.33,137008.33,137733.33,139916.67,138925.00,139475.00,140241.67,140116.67,139666.67,134158.33,135108.33,135825.00,136308.33,136327.78
1,Civilian Employment,119900.00,121025.00,125541.67,128216.67,132008.33,132291.67,133450.00,135175.00,135900.00,135591.67,123700.00,127933.33,131616.67,131591.67,128582.64
2,Civilian Unemployment,13700.00,13033.33,11466.67,9525.00,7900.00,6608.33,6041.67,5091.67,4216.67,4066.67,10458.33,7208.33,4191.67,4708.33,7727.08
3,Civilian Unemployment Rate,0.10,0.10,0.08,0.07,0.06,0.05,0.04,0.04,0.03,0.03,0.08,0.05,0.03,0.03,0.06
4,"Total, All Industries",100450.00,101175.00,105408.33,108600.00,112766.67,116583.33,118991.67,121733.33,123091.67,124683.33,114408.33,119250.00,123533.33,124366.67,117000.00

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('SanLuisObispo_county.csv', index=False)  # Set index=False to avoid exporting the row indices