In [1]:
import pandas as pd

# Load the .xls Excel file
SanomaCounty = pd.read_excel("Resources/SATR$HWS.xls", engine='xlrd')

SanomaCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,42220,NaN,NaN,1,00-000010,Civilian Labor Force,242400.000,243100.000,...,249100.000,248600.000,246800.000,249400.000,251300.000,251900.000,248800.000,248700.000,248500.00,249500.000
1,2,2023,42220,NaN,NaN,1,00-000020,Civilian Employment,213500.000,214300.000,...,239600.000,239200.000,237300.000,238100.000,240000.000,241400.000,239200.000,240500.000,238500.00,238600.000
2,3,2023,42220,NaN,NaN,1,00-000030,Civilian Unemployment,28900.000,28800.000,...,9500.000,9400.000,9500.000,11300.000,11300.000,10500.000,9600.000,8200.000,10000.00,10900.000
3,4,2023,42220,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.119,0.119,...,0.038,0.038,0.038,0.045,0.045,0.042,0.039,0.033,0.04,0.044
4,8,2023,42220,"110000-813000, 920000",NaN,1,01-000000,Total Wage and Salary,169800.000,169800.000,...,214400.000,214000.000,214200.000,211400.000,213200.000,214100.000,215000.000,217100.000,217800.00,215300.000

In [2]:
SanomaCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

SanomaCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,242400.000,243100.000,243900.000,244400.000,245400.000,244400.00,245800.000,246100.000,246400.000,...,249100.000,248600.000,246800.000,249400.000,251300.000,251900.000,248800.000,248700.000,248500.00,249500.000
1,Civilian Employment,213500.000,214300.000,215000.000,217300.000,219700.000,217500.00,218400.000,218800.000,220600.000,...,239600.000,239200.000,237300.000,238100.000,240000.000,241400.000,239200.000,240500.000,238500.00,238600.000
2,Civilian Unemployment,28900.000,28800.000,28900.000,27100.000,25700.000,26800.00,27500.000,27300.000,25900.000,...,9500.000,9400.000,9500.000,11300.000,11300.000,10500.000,9600.000,8200.000,10000.00,10900.000
3,Civilian Unemployment Rate,0.119,0.119,0.119,0.111,0.105,0.11,0.112,0.111,0.105,...,0.038,0.038,0.038,0.045,0.045,0.042,0.039,0.033,0.04,0.044
4,Total Wage and Salary,169800.000,169800.000,170800.000,173200.000,177100.000,176400.00,174200.000,174900.000,176400.000,...,214400.000,214000.000,214200.000,211400.000,213200.000,214100.000,215000.000,217100.000,217800.00,215300.000

In [3]:
titles_df = SanomaCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total Wage and Salary
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                          Specialty Trade Contractors
13                                        Manufacturing
14                                        Durable Goods
15                                    Non-Durable Goods
16                                    Service-Providing
17                            Private Service Providing
18                 Trade, Transportation, and Utilities
19                                      Wholesale Trade
20                                         Retail Trade
21                          Food and Beverage Retailers
22                        General Merchandise Retailers
23            Transportation, Warehousing, and Utili...
24                                          Information
25                                 Financial Activities
26                                Finance and Insurance
27                   Professional and Business Services
28            Professional, Scientific, and Technica...
29              Management of Companies and Enterprises
30            Administrative and Support and Waste a...
31                  Administrative and Support Services
32                Private Education and Health Services
33                    Health Care and Social Assistance
34                              Leisure and Hospitality
35                      Accommodation and Food Services
36                    Food Services and Drinking Places
37                                       Other Services
38                                           Government
39                                   Federal Government
40                     Total State and Local Government
41                                     State Government
42                State Government Educational Services
43                 State Government Excluding Education
44                                     Local Government
45                Local Government Educational Services
46      Local Government excluding Educational Services
47                                    County Government
48                                      City Government
49                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = SanomaCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    SanomaCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = SanomaCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = SanomaCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     244608.33
1                                 Civilian Employment     217541.67
2                               Civilian Unemployment      27075.00
3                          Civilian Unemployment Rate          0.11
4                               Total Wage and Salary     174391.67
5                                          Total Farm       5650.00
6                                       Total Nonfarm     168741.67
7                                       Total Private     141941.67
8                                     Goods Producing      29016.67
9                    Mining, Logging and Construction       9075.00
10                                 Mining and Logging        200.00
11                                       Construction       8875.00
12                        Specialty Trade Contractors       5483.33
13                                      Manufacturing      19941.67
14                                      Durable Goods       8925.00
15                                  Non-Durable Goods      11016.67
16                                  Service-Providing     139725.00
17                          Private Service Providing     112925.00
18               Trade, Transportation, and Utilities      31741.67
19                                    Wholesale Trade       6325.00
20                                       Retail Trade      21516.67
21                        Food and Beverage Retailers       6350.00
22                      General Merchandise Retailers       3133.33
23          Transportation, Warehousing, and Utili...       3900.00
24                                        Information       2491.67
25                               Financial Activities       7666.67
26                              Finance and Insurance       4908.33
27                 Professional and Business Services      19133.33
28          Professional, Scientific, and Technica...       9416.67
29            Management of Companies and Enterprises       1966.67
30          Administrative and Support and Waste a...       7750.00
31                Administrative and Support Services       7216.67
32              Private Education and Health Services      25883.33
33                  Health Care and Social Assistance      25883.33
34                            Leisure and Hospitality      20100.00
35                    Accommodation and Food Services      16975.00
36                  Food Services and Drinking Places      13508.33
37                                     Other Services       5908.33
38                                         Government      26800.00
39                                 Federal Government       1783.33
40                   Total State and Local Government      25016.67
41                                   State Government       4683.33
42              State Government Educational Services       1916.67
43               State Government Excluding Education       2766.67
44                                   Local Government      20333.33
45              Local Government Educational Services      12158.33
46    Local Government excluding Educational Services       8175.00
47                                  County Government       4050.00
48                                    City Government       2591.67
49                      Special Districts plus Tribes       1575.00

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      245600.00     245666.67     249016.67     255566.67     257658.33
1      220083.33     223566.67     231100.00     241050.00     246033.33
2       25525.00      22108.33      17925.00      14508.33      11633.33
3           0.10          0.09          0.07          0.06          0.05
4      176650.00     179525.00     188033.33     197250.00     202950.00
5        5791.67       5958.33       6258.33       6091.67       5991.67
6      170858.33     173566.67     181775.00     191158.33     196958.33
7      142450.00     145541.67     152908.33     159933.33     165200.00
8       28991.67      28608.33      30266.67      31450.00      33766.67
9        8800.00       8950.00      10133.33      10775.00      11808.33
10        200.00        200.00        241.67        266.67        200.00
11       8600.00       8750.00       9891.67      10508.33      11608.33
12       5416.67       5700.00       6433.33       6866.67       7583.33
13      20191.67      19658.33      20133.33      20675.00      21958.33
14       9300.00       8550.00       8625.00       8391.67       8491.67
15      10891.67      11108.33      11508.33      12283.33      13466.67
16     141866.67     144958.33     151508.33     159708.33     163191.67
17     113458.33     116933.33     122641.67     128483.33     131433.33
18      32166.67      33333.33      34875.00      35800.00      36150.00
19       6341.67       6708.33       7100.00       7216.67       7158.33
20      22000.00      22700.00      23658.33      24325.00      24725.00
21       6658.33       7025.00       7400.00       7541.67       7608.33
22       3150.00       3175.00       3316.67       3358.33       3391.67
23       3825.00       3925.00       4116.67       4258.33       4266.67
24       2458.33       2566.67       2608.33       2700.00       2675.00
25       7633.33       7375.00       7416.67       7650.00       8100.00
26       4741.67       4591.67       4725.00       4816.67       5008.33
27      18366.67      18491.67      19616.67      20425.00      20791.67
28       8491.67       8100.00       8333.33       8575.00       8708.33
29       1933.33       1833.33       1991.67       2200.00       2266.67
30       7941.67       8558.33       9291.67       9650.00       9816.67
31       7391.67       8000.00       8650.00       9008.33       9175.00
32      26208.33      27116.67      28683.33      31241.67      32075.00
33      26208.33      27116.67      28558.33      29183.33      30083.33
34      20566.67      21800.00      22883.33      23908.33      24658.33
35      17358.33      18533.33      19391.67      20450.00      21000.00
36      13758.33      14766.67      15550.00      16508.33      17058.33
37       6058.33       6250.00       6558.33       6758.33       6983.33
38      28408.33      28025.00      28866.67      31225.00      31758.33
39       1558.33       1500.00       1366.67       1333.33       1308.33
40      26850.00      26525.00      27500.00      29891.67      30450.00
41       4733.33       4650.00       4600.00       5016.67       5058.33
42       1925.00       2041.67       2150.00       2441.67       2408.33
43       2808.33       2608.33       2450.00       2575.00       2650.00
44      22116.67      21875.00      22900.00      24875.00      25391.67
45      13850.00      13616.67      13733.33      14325.00      14925.00
46       8266.67       8258.33       9166.67      10550.00      10466.67
47       4208.33       4275.00       4566.67       4733.33       4841.67
48       2541.67       2450.00       2425.00       2433.33       2500.00
49       1525.00       1533.33       2175.00       3383.33       3125.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      259233.33     259758.33     260641.67     257225.00     245750.00
1      248883.33     250941.67     253375.00     250216.67     225991.67
2       10350.00       8850.00       7233.33       7000.00      19750.00
3           0.04          0.03          0.03          0.03          0.08
4      208050.00     211725.00     215400.00     215600.00     196275.00
5        6133.33       6116.67       6725.00       6608.33       6191.67
6      201916.67     205608.33     208675.00     208991.67     190083.33
7      169633.33     173291.67     177608.33     179500.00     163983.33
8       35258.33      36233.33      38766.67      40116.67      38466.67
9       12600.00      13275.00      15391.67      16733.33      16158.33
10        200.00        175.00        200.00        200.00        200.00
11      12400.00      13100.00      15191.67      16533.33      15958.33
12       8108.33       8591.67       9825.00      10541.67      10425.00
13      22658.33      22958.33      23375.00      23383.33      22308.33
14       8458.33       8633.33       8958.33       8933.33       8791.67
15      14200.00      14325.00      14416.67      14450.00      13516.67
16     166658.33     169375.00     169908.33     168875.00     151616.67
17     134375.00     137058.33     138841.67     139383.33     125516.67
18      36416.67      36525.00      36500.00      36066.67      34025.00
19       7291.67       7375.00       7475.00       7583.33       7358.33
20      24975.00      25133.33      24883.33      24241.67      22575.00
21       7850.00       7816.67       7733.33       7491.67       7491.67
22       3425.00       3408.33       3366.67       3325.00       2991.67
23       4150.00       4016.67       4141.67       4241.67       4091.67
24       2708.33       2716.67       2666.67       2600.00       2291.67
25       8425.00       8758.33       8900.00       8658.33       7550.00
26       5225.00       5150.00       4933.33       4741.67       4516.67
27      21200.00      22066.67      23241.67      23400.00      22675.00
28       8533.33       8741.67       9216.67       9500.00       9250.00
29       2341.67       2425.00       2358.33       2150.00       2116.67
30      10325.00      10900.00      11666.67      11750.00      11308.33
31       9583.33      10108.33      10891.67      10925.00      10400.00
32      33033.33      34116.67      34791.67      35758.33      34308.33
33      31008.33      32100.00      32683.33      33433.33      32333.33
34      25366.67      25666.67      25666.67      25791.67      18658.33
35      21583.33      21691.67      21683.33      21766.67      16083.33
36      17666.67      17750.00      17750.00      17725.00      13175.00
37       7225.00       7208.33       7075.00       7108.33       6008.33
38      32283.33      32316.67      31066.67      29491.67      26100.00
39       1308.33       1350.00       1300.00       1316.67       1475.00
40      30975.00      30966.67      29766.67      28175.00      24625.00
41       4975.00       4825.00       4350.00       3800.00       3266.67
42       2458.33       2416.67       2416.67       2425.00       1950.00
43       2516.67       2408.33       1933.33       1375.00       1316.67
44      26000.00      26141.67      25416.67      24375.00      21358.33
45      15266.67      15041.67      14300.00      13250.00      10916.67
46      10733.33      11100.00      11116.67      11125.00      10441.67
47       4925.00       4925.00       4883.33       4850.00       4683.33
48       2541.67       2600.00       2608.33       2633.33       2433.33
49       3266.67       3575.00       3625.00       3641.67       3325.00

    2021_Average  2022_Average  2023_Average  2024_Average
0      243141.67     246541.67     247966.67     249046.53
1      229658.33     238708.33     238991.67     234136.81
2       13500.00       7841.67       8975.00      14911.80
3           0.06          0.03          0.04          0.06
4      200525.00     210025.00     211741.67     201645.83
5        5908.33       6116.67       6100.00       6287.50
6      194616.67     203908.33     205641.67     195358.33
7      169341.67     177533.33     178358.33     167147.92
8       39100.00      40191.67      39325.00      35261.11
9       16250.00      16583.33      16366.67      13636.11
10        200.00        200.00        200.00        209.03
11      16050.00      16383.33      16166.67      13427.08
12      10533.33      10691.67      10858.33       8991.67
13      22850.00      23608.33      22958.33      21625.00
14       8875.00       8975.00       8950.00       8740.97
15      13975.00      14633.33      14008.33      12884.03
16     155516.67     163716.67     166316.67     160097.22
17     130241.67     137341.67     139033.33     131886.81
18      35025.00      35058.33      34383.33      34084.72
19       7458.33       7275.00       6825.00       6640.97
20      23125.00      23141.67      22966.67      23033.33
21       7533.33       7441.67       7541.67       7181.25
22       3075.00       3166.67       3191.67       3186.11
23       4441.67       4641.67       4591.67       4410.42
24       2491.67       2600.00       2500.00       2477.08
25       7583.33       7925.00       7758.33       7761.81
26       4391.67       4350.00       4108.33       4356.94
27      23700.00      24491.67      24558.33      22252.78
28       9850.00       9675.00       9566.67       9151.39
29       2141.67       2150.00       2216.67       2127.08
30      11708.33      12666.67      12775.00      10974.31
31      10766.67      11683.33      11775.00      10147.22
32      33975.00      34983.33      36516.67      33794.44
33      32108.33      32958.33      34425.00      32379.17
34      21066.67      25083.33      25733.33      24363.19
35      18125.00      21325.00      21675.00      20684.03
36      14791.67      17033.33      17291.67      16374.30
37       6400.00       7200.00       7583.33       7152.78
38      25275.00      26375.00      27283.33      28210.42
39       1300.00       1241.67       1291.67       1386.80
40      23975.00      25133.33      25991.67      26823.61
41       2866.67       3033.33       3033.33       3681.94
42       1575.00       1783.33       1766.67       1881.25
43       1291.67       1250.00       1266.67       1800.69
44      21108.33      22100.00      22958.33      23141.67
45      10308.33      11150.00      11516.67      12481.94
46      10800.00      10950.00      11441.67      10659.72
47       4766.67       4750.00       4841.67       4769.44
48       2508.33       2558.33       2708.33       2636.81
49       3525.00       3641.67       3891.67       3249.30

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,244608.33,245600.00,245666.67,249016.67,255566.67,257658.33,259233.33,259758.33,260641.67,257225.00,245750.00,243141.67,246541.67,247966.67,249046.53
1,Civilian Employment,217541.67,220083.33,223566.67,231100.00,241050.00,246033.33,248883.33,250941.67,253375.00,250216.67,225991.67,229658.33,238708.33,238991.67,234136.81
2,Civilian Unemployment,27075.00,25525.00,22108.33,17925.00,14508.33,11633.33,10350.00,8850.00,7233.33,7000.00,19750.00,13500.00,7841.67,8975.00,14911.80
3,Civilian Unemployment Rate,0.11,0.10,0.09,0.07,0.06,0.05,0.04,0.03,0.03,0.03,0.08,0.06,0.03,0.04,0.06
4,Total Wage and Salary,174391.67,176650.00,179525.00,188033.33,197250.00,202950.00,208050.00,211725.00,215400.00,215600.00,196275.00,200525.00,210025.00,211741.67,201645.83

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Sanoma_county.csv', index=False)  # Set index=False to avoid exporting the row indices