In [1]:
import pandas as pd

# Load the .xls Excel file
SantaCruzCounty = pd.read_excel("Resources/SCRZ$HWS.xls", engine='xlrd')

SantaCruzCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,42100,NaN,NaN,1,00-000010,Civilian Labor Force,137100.000,138600.000,...,133500.000,133000.000,131000.000,131700.000,133400.000,133700.000,132500.000,132900.000,133500.000,135200.000
1,2,2023,42100,NaN,NaN,1,00-000020,Civilian Employment,114400.000,115600.000,...,126700.000,125400.000,122300.000,121900.000,122600.000,123700.000,123500.000,126100.000,125900.000,127400.000
2,3,2023,42100,NaN,NaN,1,00-000030,Civilian Unemployment,22700.000,23100.000,...,6800.000,7600.000,8700.000,9800.000,10800.000,10000.000,9000.000,6800.000,7500.000,7800.000
3,4,2023,42100,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.165,0.167,...,0.051,0.057,0.067,0.075,0.081,0.075,0.068,0.051,0.056,0.058
4,8,2023,42100,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",88200.000,88800.000,...,109200.000,107400.000,104900.000,102700.000,103100.000,103900.000,105600.000,109100.000,111000.000,111300.000

In [2]:
SantaCruzCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

SantaCruzCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,137100.000,138600.000,139400.000,141800.000,142700.000,145500.000,145600.000,144200.000,141800.000,...,133500.000,133000.000,131000.000,131700.000,133400.000,133700.000,132500.000,132900.000,133500.000,135200.000
1,Civilian Employment,114400.000,115600.000,116600.000,121500.000,125100.000,127900.000,127900.000,127100.000,125500.000,...,126700.000,125400.000,122300.000,121900.000,122600.000,123700.000,123500.000,126100.000,125900.000,127400.000
2,Civilian Unemployment,22700.000,23100.000,22800.000,20300.000,17600.000,17600.000,17700.000,17200.000,16300.000,...,6800.000,7600.000,8700.000,9800.000,10800.000,10000.000,9000.000,6800.000,7500.000,7800.000
3,Civilian Unemployment Rate,0.165,0.167,0.164,0.143,0.124,0.121,0.122,0.119,0.115,...,0.051,0.057,0.067,0.075,0.081,0.075,0.068,0.051,0.056,0.058
4,"Total, All Industries",88200.000,88800.000,90100.000,95900.000,101000.000,104800.000,103000.000,102300.000,100900.000,...,109200.000,107400.000,104900.000,102700.000,103100.000,103900.000,105600.000,109100.000,111000.000,111300.000

In [3]:
titles_df = SantaCruzCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                        Manufacturing
11                                        Durable Goods
12                                    Non-Durable Goods
13                                    Service-Providing
14                            Private Service Providing
15                 Trade, Transportation, and Utilities
16                                      Wholesale Trade
17                                         Retail Trade
18            Transportation, Warehousing, and Utili...
19                                          Information
20                                 Financial Activities
21                                Finance and Insurance
22                   Real Estate and Rental and Leasing
23                   Professional and Business Services
24                Private Education and Health Services
25                              Leisure and Hospitality
26                  Arts, Entertainment, and Recreation
27                      Accommodation and Food Services
28                                       Other Services
29                                           Government
30                                   Federal Government
31                     Total State and Local Government
32                                     State Government
33                State Government Educational Services
34                 State Government Excluding Education
35                                     Local Government
36              Local Government excluding Education...
37                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = SantaCruzCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    SantaCruzCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = SantaCruzCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = SantaCruzCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     141858.33
1                                 Civilian Employment     122566.67
2                               Civilian Unemployment      19316.67
3                          Civilian Unemployment Rate          0.14
4                               Total, All Industries      97633.33
5                                          Total Farm       9616.67
6                                       Total Nonfarm      88016.67
7                                       Total Private      67683.33
8                                     Goods Producing       7933.33
9                    Mining, Logging and Construction       2958.33
10                                      Manufacturing       4975.00
11                                      Durable Goods       2366.67
12                                  Non-Durable Goods       2608.33
13                                  Service-Providing      80083.33
14                          Private Service Providing      59750.00
15               Trade, Transportation, and Utilities      16391.67
16                                    Wholesale Trade       3541.67
17                                       Retail Trade      11375.00
18          Transportation, Warehousing, and Utili...       1475.00
19                                        Information        900.00
20                               Financial Activities       3258.33
21                              Finance and Insurance       1950.00
22                 Real Estate and Rental and Leasing       1308.33
23                 Professional and Business Services       9616.67
24              Private Education and Health Services      15050.00
25                            Leisure and Hospitality      10875.00
26                Arts, Entertainment, and Recreation       1958.33
27                    Accommodation and Food Services       8916.67
28                                     Other Services       3658.33
29                                         Government      20333.33
30                                 Federal Government        541.67
31                   Total State and Local Government      19791.67
32                                   State Government       7858.33
33              State Government Educational Services       7133.33
34               State Government Excluding Education        725.00
35                                   Local Government      11933.33
36            Local Government excluding Education...       5041.67
37                      Special Districts plus Tribes        791.67

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      141158.33     141800.00     141600.00     142050.00     143191.67
1      122383.33     124741.67     126858.33     129483.33     132433.33
2       18775.00      17050.00      14733.33      12575.00      10791.67
3           0.13          0.12          0.10          0.09          0.08
4       96808.33      98591.67     101216.67     103683.33     106683.33
5        8591.67       8433.33       8283.33       8483.33       8333.33
6       88216.67      90158.33      92933.33      95200.00      98350.00
7       67958.33      69750.00      72300.00      74150.00      76916.67
8        7741.67       8033.33       8633.33       9033.33       9866.67
9        2900.00       2958.33       3225.00       3383.33       3683.33
10       4841.67       5075.00       5408.33       5650.00       6183.33
11       2383.33       2466.67       2575.00       2750.00       2950.00
12       2458.33       2608.33       2833.33       2900.00       3233.33
13      80475.00      82125.00      84300.00      86166.67      88483.33
14      60216.67      61716.67      63666.67      65116.67      67050.00
15      16100.00      16166.67      16300.00      16575.00      16966.67
16       3358.33       3350.00       3408.33       3475.00       3466.67
17      11291.67      11416.67      11541.67      11766.67      12041.67
18       1450.00       1400.00       1350.00       1333.33       1458.33
19        900.00        808.33        800.00        825.00        808.33
20       3091.67       3200.00       3408.33       3475.00       3541.67
21       1866.67       1875.00       1966.67       2016.67       2050.00
22       1225.00       1325.00       1441.67       1458.33       1491.67
23      10058.33      10316.67      10258.33      10091.67      10333.33
24      15391.67      15783.33      16525.00      16866.67      17250.00
25      11066.67      11658.33      12308.33      12966.67      13616.67
26       1866.67       1966.67       1975.00       2066.67       2225.00
27       9200.00       9691.67      10333.33      10900.00      11391.67
28       3608.33       3783.33       4066.67       4316.67       4533.33
29      20258.33      20408.33      20633.33      21050.00      21433.33
30        500.00        500.00        500.00        508.33        500.00
31      19758.33      19908.33      20133.33      20541.67      20933.33
32       8008.33       7966.67       8075.00       8175.00       8408.33
33       7283.33       7250.00       7391.67       7491.67       7725.00
34        725.00        716.67        683.33        683.33        683.33
35      11750.00      11941.67      12058.33      12366.67      12525.00
36       4941.67       4966.67       5116.67       5275.00       5333.33
37        800.00        866.67        941.67       1025.00       1066.67

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      143775.00     142591.67     141291.67     141141.67     134833.33
1      133741.67     134425.00     134216.67     134191.67     121766.67
2       10025.00       8175.00       7041.67       6966.67      13075.00
3           0.07          0.06          0.05          0.05          0.10
4      108933.33     110250.00     110416.67     111941.67     101841.67
5        8391.67       8125.00       7900.00       8200.00       7966.67
6      100541.67     102125.00     102516.67     103741.67      93875.00
7       78808.33      80266.67      80525.00      81358.33      72825.00
8       10958.33      11091.67      11291.67      11575.00      11275.00
9        4408.33       4508.33       4441.67       4500.00       4441.67
10       6550.00       6583.33       6850.00       7075.00       6833.33
11       3141.67       3225.00       3408.33       3725.00       3691.67
12       3408.33       3358.33       3441.67       3350.00       3141.67
13      89583.33      91033.33      91225.00      92166.67      82600.00
14      67850.00      69175.00      69233.33      69783.33      61550.00
15      17308.33      17175.00      16775.00      16800.00      15708.33
16       3383.33       3291.67       3375.00       3358.33       3258.33
17      12383.33      12325.00      11841.67      11741.67      10750.00
18       1541.67       1558.33       1558.33       1700.00       1700.00
19        800.00        758.33        666.67        616.67        575.00
20       3583.33       3550.00       3566.67       3433.33       3191.67
21       2058.33       2033.33       2016.67       1925.00       1900.00
22       1525.00       1516.67       1550.00       1508.33       1291.67
23      10308.33      10641.67      10700.00      10933.33      10400.00
24      17333.33      17858.33      17783.33      17991.67      17058.33
25      13875.00      14225.00      14466.67      14750.00      10266.67
26       2275.00       2383.33       2491.67       2600.00       1416.67
27      11600.00      11841.67      11975.00      12150.00       8850.00
28       4641.67       4966.67       5275.00       5258.33       4350.00
29      21733.33      21858.33      21991.67      22383.33      21050.00
30        500.00        500.00        500.00        500.00        591.67
31      21233.33      21358.33      21491.67      21883.33      20458.33
32       8408.33       8566.67       8466.67       9041.67       8425.00
33       7766.67       7933.33       7816.67       8391.67       7783.33
34        641.67        633.33        650.00        650.00        641.67
35      12825.00      12791.67      13025.00      12841.67      12033.33
36       5483.33       5500.00       5558.33       5625.00       5641.67
37       1083.33       1066.67       1066.67       1100.00       1108.33

    2021_Average  2022_Average  2023_Average  2024_Average
0      132825.00     132683.33     133216.67     136780.56
1      123633.33     126233.33     125583.33     124761.11
2        9225.00       6441.67       7641.67      12012.50
3           0.07          0.05          0.06          0.09
4      103691.67     106366.67     106516.67     103719.44
5        7233.33       7066.67       6733.33       6984.03
6       96458.33      99300.00      99783.33      96735.42
7       76300.00      80500.00      80466.67      76620.14
8       12216.67      12950.00      12866.67      10989.58
9        4750.00       5033.33       5050.00       4293.75
10       7466.67       7916.67       7816.67       6695.83
11       4175.00       4258.33       4358.33       3611.81
12       3291.67       3658.33       3458.33       3084.03
13      84241.67      86350.00      86916.67      85745.83
14      64083.33      67550.00      67600.00      65630.56
15      16316.67      16650.00      16183.33      15927.78
16       3300.00       3508.33       3266.67       3227.78
17      11025.00      10991.67      10800.00      10915.97
18       1991.67       2150.00       2116.67       1784.03
19        583.33        600.00        600.00        702.78
20       3216.67       3275.00       3258.33       3294.44
21       1900.00       1883.33       1900.00       1914.58
22       1316.67       1391.67       1358.33       1379.86
23      10600.00      10683.33       9850.00       9820.14
24      17225.00      17691.67      18450.00      17901.39
25      11841.67      13950.00      14516.67      13597.92
26       1733.33       2333.33       2633.33       2494.44
27      10108.33      11616.67      11883.33      11103.47
28       4300.00       4700.00       4741.67       4386.11
29      20158.33      18800.00      19316.67      20115.28
30        533.33        500.00        500.00        504.17
31      19625.00      18300.00      18816.67      19611.11
32       7700.00       6258.33       6500.00       7248.61
33       7050.00       5591.67       5800.00       6529.17
34        650.00        666.67        700.00        719.44
35      11925.00      12041.67      12316.67      12362.50
36       5658.33       5458.33       5575.00       5386.81
37       1083.33       1025.00       1083.33       1035.42

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,141858.33,141158.33,141800.00,141600.00,142050.00,143191.67,143775.00,142591.67,141291.67,141141.67,134833.33,132825.00,132683.33,133216.67,136780.56
1,Civilian Employment,122566.67,122383.33,124741.67,126858.33,129483.33,132433.33,133741.67,134425.00,134216.67,134191.67,121766.67,123633.33,126233.33,125583.33,124761.11
2,Civilian Unemployment,19316.67,18775.00,17050.00,14733.33,12575.00,10791.67,10025.00,8175.00,7041.67,6966.67,13075.00,9225.00,6441.67,7641.67,12012.50
3,Civilian Unemployment Rate,0.14,0.13,0.12,0.10,0.09,0.08,0.07,0.06,0.05,0.05,0.10,0.07,0.05,0.06,0.09
4,"Total, All Industries",97633.33,96808.33,98591.67,101216.67,103683.33,106683.33,108933.33,110250.00,110416.67,111941.67,101841.67,103691.67,106366.67,106516.67,103719.44

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('SantaCruz_county.csv', index=False)  # Set index=False to avoid exporting the row indices