In [1]:
import pandas as pd

# Load the .xls Excel file
ShastaCounty = pd.read_excel("Resources/REDD$HWS.xls", engine='xlrd')

ShastaCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,39820,NaN,NaN,1,00-000010,Civilian Labor Force,79400.000,79400.000,...,75100.000,74700.000,73900.000,75100.000,75100.000,75100.000,74300.000,73900.000,74200.000,74200.000
1,2,2023,39820,NaN,NaN,1,00-000020,Civilian Employment,64600.000,64300.000,...,71400.000,70900.000,69900.000,70200.000,69900.000,70300.000,70200.000,70500.000,70300.000,69900.000
2,3,2023,39820,NaN,NaN,1,00-000030,Civilian Unemployment,14900.000,15100.000,...,3700.000,3800.000,4000.000,4900.000,5200.000,4800.000,4100.000,3400.000,4000.000,4300.000
3,4,2023,39820,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.187,0.191,...,0.049,0.051,0.054,0.065,0.069,0.064,0.056,0.046,0.054,0.058
4,8,2023,39820,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",58400.000,57900.000,...,73500.000,72800.000,72500.000,71600.000,71100.000,71500.000,72200.000,72800.000,73300.000,71900.000

In [2]:
ShastaCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

ShastaCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,79400.000,79400.000,79300.000,79000.000,78900.000,78900.000,77900.000,78900.000,78800.000,...,75100.000,74700.000,73900.000,75100.000,75100.000,75100.000,74300.000,73900.000,74200.000,74200.000
1,Civilian Employment,64600.000,64300.000,64500.000,65300.000,65800.000,65800.000,64800.000,66100.000,66300.000,...,71400.000,70900.000,69900.000,70200.000,69900.000,70300.000,70200.000,70500.000,70300.000,69900.000
2,Civilian Unemployment,14900.000,15100.000,14800.000,13700.000,13000.000,13100.000,13100.000,12800.000,12500.000,...,3700.000,3800.000,4000.000,4900.000,5200.000,4800.000,4100.000,3400.000,4000.000,4300.000
3,Civilian Unemployment Rate,0.187,0.191,0.187,0.173,0.165,0.166,0.169,0.162,0.159,...,0.049,0.051,0.054,0.065,0.069,0.064,0.056,0.046,0.054,0.058
4,"Total, All Industries",58400.000,57900.000,58200.000,59100.000,60300.000,60500.000,58400.000,59600.000,60000.000,...,73500.000,72800.000,72500.000,71600.000,71100.000,71500.000,72200.000,72800.000,73300.000,71900.000

In [3]:
titles_df = ShastaCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                        Manufacturing
11                                    Service-Providing
12                            Private Service Providing
13                 Trade, Transportation, and Utilities
14                                      Wholesale Trade
15                                         Retail Trade
16            Transportation, Warehousing, and Utili...
17                                          Information
18                                 Financial Activities
19                   Professional and Business Services
20                Private Education and Health Services
21                              Leisure and Hospitality
22                      Accommodation and Food Services
23                                       Other Services
24                                           Government
25                                   Federal Government
26                             State & Local Government
27                                     State Government
28                                     Local Government
29                Local Government Educational Services
30              Local Government excluding Education...
31                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = ShastaCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    ShastaCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = ShastaCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = ShastaCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force      78683.33
1                                 Civilian Employment      65175.00
2                               Civilian Unemployment      13508.33
3                          Civilian Unemployment Rate          0.17
4                               Total, All Industries      59166.67
5                                          Total Farm        691.67
6                                       Total Nonfarm      58475.00
7                                       Total Private      45666.67
8                                     Goods Producing       4983.33
9                    Mining, Logging and Construction       2708.33
10                                      Manufacturing       2275.00
11                                  Service-Providing      53491.67
12                          Private Service Providing      40683.33
13               Trade, Transportation, and Utilities      11925.00
14                                    Wholesale Trade       1516.67
15                                       Retail Trade       8675.00
16          Transportation, Warehousing, and Utili...       1733.33
17                                        Information        641.67
18                               Financial Activities       2483.33
19                 Professional and Business Services       4291.67
20              Private Education and Health Services      12908.33
21                            Leisure and Hospitality       6116.67
22                    Accommodation and Food Services       5208.33
23                                     Other Services       2316.67
24                                         Government      12808.33
25                                 Federal Government       1500.00
26                           State & Local Government      11308.33
27                                   State Government       1733.33
28                                   Local Government       9575.00
29              Local Government Educational Services       5258.33
30            Local Government excluding Education...       4316.67
31                      Special Districts plus Tribes       1008.33

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0       76991.67      75900.00      75041.67      74733.33      74108.33
1       64525.00      64966.67      66058.33      67466.67      68316.67
2       12483.33      10933.33       8983.33       7266.67       5783.33
3           0.16          0.14          0.12          0.10          0.08
4       58341.67      58775.00      60441.67      62125.00      63400.00
5         775.00        800.00        850.00        933.33        933.33
6       57566.67      57975.00      59591.67      61191.67      62466.67
7       44950.00      45500.00      47141.67      48550.00      49758.33
8        4991.67       4850.00       4975.00       5041.67       5341.67
9        2791.67       2700.00       2783.33       2775.00       2975.00
10       2200.00       2150.00       2191.67       2266.67       2366.67
11      52575.00      53125.00      54616.67      56150.00      57125.00
12      39958.33      40650.00      42166.67      43508.33      44416.67
13      11750.00      11766.67      11975.00      12225.00      12641.67
14       1466.67       1533.33       1575.00       1650.00       1800.00
15       8550.00       8533.33       8675.00       8816.67       9075.00
16       1733.33       1700.00       1725.00       1758.33       1766.67
17        616.67        600.00        650.00        700.00        700.00
18       2416.67       2416.67       2491.67       2575.00       2558.33
19       4175.00       4166.67       4408.33       4916.67       5183.33
20      12791.67      12883.33      13766.67      14108.33      14391.67
21       5833.33       6291.67       6408.33       6600.00       6675.00
22       4883.33       5416.67       5575.00       5750.00       5758.33
23       2375.00       2525.00       2466.67       2383.33       2266.67
24      12616.67      12475.00      12450.00      12641.67      12708.33
25       1383.33       1350.00       1291.67       1291.67       1308.33
26      11233.33      11125.00      11158.33      11350.00      11400.00
27       1733.33       1708.33       1741.67       1841.67       1908.33
28       9500.00       9416.67       9416.67       9508.33       9491.67
29       5250.00       5200.00       5133.33       5075.00       5066.67
30       4250.00       4216.67       4283.33       4433.33       4425.00
31       1008.33       1033.33       1066.67       1183.33       1200.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0       74216.67      73916.67      73891.67      72850.00      73266.67
1       69016.67      69608.33      70200.00      69341.67      66741.67
2        5191.67       4316.67       3716.67       3516.67       6525.00
3           0.07          0.06          0.05          0.05          0.09
4       64825.00      65841.67      66875.00      68166.67      66583.33
5         891.67        908.33        941.67        825.00        825.00
6       63933.33      64933.33      65933.33      67341.67      65758.33
7       51100.00      51858.33      52641.67      53741.67      52550.00
8        5625.00       5883.33       6108.33       6475.00       6900.00
9        3133.33       3300.00       3483.33       3925.00       4358.33
10       2491.67       2583.33       2625.00       2550.00       2541.67
11      58308.33      59050.00      59825.00      60866.67      58858.33
12      45475.00      45975.00      46533.33      47266.67      45650.00
13      12841.67      12891.67      12808.33      12983.33      13025.00
14       1808.33       1841.67       1808.33       1966.67       1891.67
15       9250.00       9258.33       9108.33       9008.33       9075.00
16       1783.33       1791.67       1891.67       2008.33       2058.33
17        700.00        650.00        550.00        500.00        500.00
18       2583.33       2658.33       2708.33       2766.67       2783.33
19       5575.00       5666.67       6141.67       6116.67       5791.67
20      14758.33      14950.00      15075.00      15475.00      15233.33
21       6700.00       6816.67       6791.67       7000.00       6050.00
22       5775.00       5891.67       5858.33       6000.00       5308.33
23       2316.67       2341.67       2458.33       2425.00       2266.67
24      12833.33      13075.00      13291.67      13600.00      13208.33
25       1291.67       1291.67       1291.67       1283.33       1333.33
26      11541.67      11783.33      12000.00      12316.67      11875.00
27       1891.67       1883.33       1958.33       1958.33       1966.67
28       9650.00       9900.00      10041.67      10358.33       9908.33
29       5150.00       5416.67       5475.00       5775.00       5408.33
30       4500.00       4483.33       4566.67       4583.33       4500.00
31       1200.00       1200.00       1275.00       1300.00       1266.67

    2021_Average  2022_Average  2023_Average  2024_Average
0       72841.67      72475.00      73900.00      75270.83
1       67808.33      69083.33      70100.00      68290.97
2        5033.33       3383.33       3816.67       6989.58
3           0.07          0.05          0.05          0.09
4       67941.67      69600.00      71175.00      66937.50
5         858.33        958.33        975.00        870.83
6       67083.33      68641.67      70200.00      66066.67
7       53966.67      55241.67      56133.33      52384.03
8        7225.00       7308.33       7350.00       6445.14
9        4433.33       4366.67       4408.33       3829.86
10       2791.67       2941.67       2941.67       2615.28
11      59858.33      61333.33      62850.00      59621.53
12      46741.67      47933.33      48783.33      45938.89
13      13441.67      13475.00      13183.33      12503.47
14       1825.00       1691.67       1625.00       1578.47
15       9475.00       9566.67       9316.67       8912.50
16       2141.67       2216.67       2241.67       2012.50
17        500.00        508.33        500.00        559.03
18       2833.33       2841.67       2775.00       2665.28
19       5783.33       6066.67       6316.67       5579.86
20      15141.67      15641.67      16491.67      15479.86
21       6716.67       6991.67       6958.33       6629.17
22       5858.33       6075.00       6000.00       5602.78
23       2325.00       2408.33       2558.33       2522.22
24      13116.67      13400.00      14066.67      13682.64
25       1291.67       1291.67       1350.00       1351.39
26      11825.00      12108.33      12716.67      12331.25
27       1966.67       2008.33       2066.67       1963.19
28       9858.33      10100.00      10650.00      10368.06
29       5308.33       5500.00       5933.33       5784.72
30       4550.00       4600.00       4716.67       4583.33
31       1300.00       1300.00       1400.00       1308.33

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,78683.33,76991.67,75900.00,75041.67,74733.33,74108.33,74216.67,73916.67,73891.67,72850.00,73266.67,72841.67,72475.00,73900.00,75270.83
1,Civilian Employment,65175.00,64525.00,64966.67,66058.33,67466.67,68316.67,69016.67,69608.33,70200.00,69341.67,66741.67,67808.33,69083.33,70100.00,68290.97
2,Civilian Unemployment,13508.33,12483.33,10933.33,8983.33,7266.67,5783.33,5191.67,4316.67,3716.67,3516.67,6525.00,5033.33,3383.33,3816.67,6989.58
3,Civilian Unemployment Rate,0.17,0.16,0.14,0.12,0.10,0.08,0.07,0.06,0.05,0.05,0.09,0.07,0.05,0.05,0.09
4,"Total, All Industries",59166.67,58341.67,58775.00,60441.67,62125.00,63400.00,64825.00,65841.67,66875.00,68166.67,66583.33,67941.67,69600.00,71175.00,66937.50

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Shasta_county.csv', index=False)  # Set index=False to avoid exporting the row indices