In [1]:
import pandas as pd

# Load the .xls Excel file
StanislausCounty = pd.read_excel("Resources/MODE$HWS.xls", engine='xlrd')

StanislausCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,33700,NaN,NaN,1,00-000010,Civilian Labor Force,240500.000,242200.000,...,248100.000,248200.000,245900.000,247200.000,249500.000,250100.000,247800.000,246800.000,246500.000,250000.000
1,2,2023,33700,NaN,NaN,1,00-000020,Civilian Employment,196100.000,196400.000,...,232700.000,232200.000,229000.000,228200.000,229700.000,231400.000,230300.000,231400.000,229000.000,231400.000
2,3,2023,33700,NaN,NaN,1,00-000030,Civilian Unemployment,44400.000,45800.000,...,15400.000,16000.000,16900.000,19000.000,19800.000,18700.000,17500.000,15300.000,17500.000,18700.000
3,4,2023,33700,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.185,0.189,...,0.062,0.064,0.069,0.077,0.079,0.075,0.071,0.062,0.071,0.075
4,8,2023,33700,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",157300.000,157300.000,...,207700.000,207200.000,206100.000,201100.000,203500.000,205000.000,205800.000,208300.000,208000.000,208100.000

In [2]:
StanislausCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

StanislausCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,240500.000,242200.000,242400.000,243100.000,243300.00,245000.000,245500.000,249000.000,248500.000,...,248100.000,248200.000,245900.000,247200.000,249500.000,250100.000,247800.000,246800.000,246500.000,250000.000
1,Civilian Employment,196100.000,196400.000,197000.000,200000.000,202000.00,203100.000,203100.000,208700.000,210100.000,...,232700.000,232200.000,229000.000,228200.000,229700.000,231400.000,230300.000,231400.000,229000.000,231400.000
2,Civilian Unemployment,44400.000,45800.000,45400.000,43100.000,41300.00,41900.000,42400.000,40300.000,38400.000,...,15400.000,16000.000,16900.000,19000.000,19800.000,18700.000,17500.000,15300.000,17500.000,18700.000
3,Civilian Unemployment Rate,0.185,0.189,0.187,0.177,0.17,0.171,0.173,0.162,0.155,...,0.062,0.064,0.069,0.077,0.079,0.075,0.071,0.062,0.071,0.075
4,"Total, All Industries",157300.000,157300.000,158100.000,161400.000,165100.00,168100.000,164100.000,169400.000,171000.000,...,207700.000,207200.000,206100.000,201100.000,203500.000,205000.000,205800.000,208300.000,208000.000,208100.000

In [3]:
titles_df = StanislausCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                     Mining, Logging, and Construction
10                                        Manufacturing
11                                        Durable Goods
12                                    Non-Durable Goods
13                                   Food Manufacturing
14                                    Service-Providing
15                            Private Service Providing
16                 Trade, Transportation, and Utilities
17                                      Wholesale Trade
18                                         Retail Trade
19                          Food and Beverage Retailers
20                        General Merchandise Retailers
21              Clothing, Clothing Accessories, Shoe...
22            Transportation, Warehousing, and Utili...
23                                          Information
24                                 Financial Activities
25                   Professional and Business Services
26            Administrative and Support and Waste a...
27                Private Education and Health Services
28                         Private Educational Services
29                    Health Care and Social Assistance
30                              Leisure and Hospitality
31                                       Other Services
32                                           Government
33                                   Federal Government
34                     Total State and Local Government
35                                     State Government
36                State Government Educational Services
37                 State Government Excluding Education
38                                     Local Government
39                     Local Government Educational ...
40                  Local Government excluding Educa...
41                                    County Government
42                                      City Government
43                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = StanislausCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    StanislausCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = StanislausCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = StanislausCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     243816.67
1                                 Civilian Employment     201666.67
2                               Civilian Unemployment      42158.33
3                          Civilian Unemployment Rate          0.17
4                               Total, All Industries     163800.00
5                                          Total Farm      12850.00
6                                       Total Nonfarm     150950.00
7                                       Total Private     124708.33
8                                     Goods Producing      26566.67
9                   Mining, Logging, and Construction       5900.00
10                                      Manufacturing      20666.67
11                                      Durable Goods       5850.00
12                                  Non-Durable Goods      14816.67
13                                 Food Manufacturing       9958.33
14                                  Service-Providing     124383.33
15                          Private Service Providing      98141.67
16               Trade, Transportation, and Utilities      31600.00
17                                    Wholesale Trade       5875.00
18                                       Retail Trade      19500.00
19                        Food and Beverage Retailers       4091.67
20                      General Merchandise Retailers       4433.33
21            Clothing, Clothing Accessories, Shoe...       1966.67
22          Transportation, Warehousing, and Utili...       6225.00
23                                        Information       1200.00
24                               Financial Activities       5450.00
25                 Professional and Business Services      12491.67
26          Administrative and Support and Waste a...       6333.33
27              Private Education and Health Services      27791.67
28                       Private Educational Services       1566.67
29                  Health Care and Social Assistance      26225.00
30                            Leisure and Hospitality      14558.33
31                                     Other Services       5050.00
32                                         Government      26241.67
33                                 Federal Government       1008.33
34                   Total State and Local Government      25233.33
35                                   State Government       1658.33
36              State Government Educational Services       1258.33
37               State Government Excluding Education        400.00
38                                   Local Government      23575.00
39                   Local Government Educational ...      14408.33
40                Local Government excluding Educa...       9166.67
41                                  County Government       4883.33
42                                    City Government       2441.67
43                      Special Districts plus Tribes       1850.00

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      242158.33     241650.00     240266.67     240216.67     240991.67
1      201566.67     205108.33     208808.33     213083.33     217966.67
2       40616.67      36550.00      31491.67      27141.67      23008.33
3           0.17          0.15          0.13          0.11          0.10
4      163091.67     166333.33     171125.00     175775.00     180983.33
5       12933.33      13375.00      14058.33      14116.67      14600.00
6      150158.33     152958.33     157066.67     161658.33     166383.33
7      124500.00     127583.33     131583.33     135558.33     139716.67
8       26475.00      27025.00      27833.33      28725.00      29775.00
9        5791.67       6291.67       6975.00       7516.67       8450.00
10      20683.33      20733.33      20858.33      21208.33      21325.00
11       5783.33       6050.00       6158.33       6283.33       6258.33
12      14900.00      14683.33      14700.00      14925.00      15066.67
13       9883.33       9316.67       9058.33       9183.33       9208.33
14     123683.33     125933.33     129233.33     132933.33     136608.33
15      98025.00     100558.33     103750.00     106833.33     109941.67
16      32183.33      33475.00      34466.67      34783.33      35758.33
17       5816.67       5833.33       5891.67       5825.00       5825.00
18      19958.33      20816.67      21508.33      21758.33      22400.00
19       4083.33       4125.00       4133.33       4175.00       4241.67
20       4475.00       4566.67       4833.33       4825.00       4983.33
21       2116.67       2258.33       2258.33       2300.00       2241.67
22       6408.33       6825.00       7066.67       7200.00       7533.33
23       1100.00        950.00        900.00        925.00        925.00
24       5400.00       5416.67       5416.67       5275.00       5166.67
25      12241.67      12808.33      13350.00      13750.00      14166.67
26       6266.67       6700.00       7058.33       7083.33       7216.67
27      27791.67      28150.00      28850.00      29916.67      30850.00
28       1675.00       1791.67       1825.00       1750.00       1583.33
29      26116.67      26358.33      27025.00      28166.67      29266.67
30      14458.33      14900.00      15766.67      16941.67      17766.67
31       4850.00       4858.33       5000.00       5241.67       5308.33
32      25658.33      25375.00      25483.33      26100.00      26666.67
33        900.00        891.67        833.33        800.00        800.00
34      24758.33      24483.33      24650.00      25300.00      25866.67
35       1775.00       1791.67       1758.33       1883.33       1941.67
36       1375.00       1400.00       1458.33       1583.33       1641.67
37        400.00        391.67        300.00        300.00        300.00
38      22983.33      22691.67      22891.67      23416.67      23925.00
39      14400.00      14158.33      14283.33      14675.00      14833.33
40       8583.33       8533.33       8608.33       8741.67       9091.67
41       4400.00       4350.00       4366.67       4491.67       4758.33
42       2366.67       2375.00       2408.33       2416.67       2466.67
43       1808.33       1808.33       1833.33       1833.33       1866.67

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      242750.00     241966.67     243066.67     242516.67     242008.33
1      221766.67     223750.00     227308.33     227700.00     215475.00
2       20983.33      18250.00      15733.33      14816.67      26541.67
3           0.09          0.08          0.06          0.06          0.11
4      186166.67     189050.00     193583.33     196291.67     187700.00
5       14850.00      14333.33      14441.67      14875.00      14458.33
6      171316.67     174716.67     179141.67     181416.67     173241.67
7      143691.67     146400.00     149616.67     151075.00     144400.00
8       30708.33      30766.67      31750.00      31975.00      31141.67
9        8950.00       9333.33      10175.00      10466.67       9808.33
10      21758.33      21433.33      21575.00      21508.33      21333.33
11       6158.33       5958.33       5783.33       5641.67       5541.67
12      15600.00      15475.00      15791.67      15866.67      15791.67
13       9391.67       9433.33       9683.33       9633.33       9558.33
14     140608.33     143950.00     147391.67     149441.67     142100.00
15     112983.33     115633.33     117866.67     119100.00     113258.33
16      36783.33      36966.67      37441.67      37741.67      36800.00
17       6000.00       6133.33       6316.67       6225.00       5916.67
18      22741.67      23225.00      23191.67      22775.00      21900.00
19       4333.33       4366.67       4383.33       4383.33       4583.33
20       5083.33       5025.00       5108.33       5016.67       4666.67
21       2216.67       2150.00       1958.33       1825.00       1175.00
22       8041.67       7608.33       7933.33       8741.67       8983.33
23        975.00       1000.00       1000.00       1000.00        783.33
24       5325.00       5316.67       5300.00       5291.67       5066.67
25      14591.67      14891.67      15383.33      15266.67      15091.67
26       7466.67       7616.67       8075.00       8100.00       8116.67
27      31208.33      32575.00      33633.33      34675.00      34583.33
28       1575.00       1541.67       1500.00       1400.00       1150.00
29      29633.33      31033.33      32133.33      33275.00      33433.33
30      18666.67      19150.00      19275.00      19225.00      15825.00
31       5433.33       5733.33       5833.33       5900.00       5108.33
32      27625.00      28316.67      29525.00      30341.67      28841.67
33        800.00        800.00        800.00        800.00        850.00
34      26825.00      27516.67      28725.00      29541.67      27991.67
35       2000.00       2058.33       2158.33       2125.00       2083.33
36       1700.00       1758.33       1858.33       1791.67       1783.33
37        300.00        300.00        300.00        333.33        300.00
38      24825.00      25458.33      26566.67      27416.67      25908.33
39      15541.67      16200.00      17241.67      18066.67      17016.67
40       9283.33       9258.33       9325.00       9350.00       8891.67
41       4850.00       4800.00       4825.00       4841.67       4683.33
42       2533.33       2525.00       2541.67       2600.00       2316.67
43       1900.00       1933.33       1958.33       1908.33       1891.67

    2021_Average  2022_Average  2023_Average  2024_Average
0      239658.33     240816.67     244925.00     245500.69
1      219666.67     227533.33     229166.67     220136.11
2       19991.67      13275.00      15766.67      25371.53
3           0.08          0.06          0.06          0.10
4      192583.33     199941.67     202191.67     189993.75
5       13958.33      13900.00      12691.67      13136.11
6      178625.00     186041.67     189500.00     176857.64
7      150191.67     156233.33     158333.33     147511.11
8       32700.00      34341.67      35066.67      32393.75
9       10700.00      11333.33      10775.00       9256.25
10      22000.00      23008.33      24291.67      23137.50
11       5808.33       6025.00       5750.00       5743.75
12      16191.67      16983.33      18541.67      17393.75
13       9858.33      10441.67      11600.00      11208.33
14     145925.00     151700.00     154433.33     144463.89
15     117491.67     121891.67     123266.67     115117.36
16      37725.00      38883.33      38983.33      36559.03
17       5633.33       5641.67       5400.00       5536.81
18      22958.33      23133.33      22766.67      21903.47
19       4616.67       4691.67       4708.33       4467.36
20       4966.67       5058.33       4983.33       4869.44
21       1475.00       1550.00       1550.00       1791.67
22       9133.33      10108.33      10816.67       9118.75
23        791.67        800.00        766.67        856.25
24       4941.67       4983.33       4858.33       5004.86
25      15375.00      15200.00      14566.67      14003.47
26       8400.00       8275.00       7716.67       7361.80
27      34983.33      35550.00      37075.00      34566.67
28       1233.33       1350.00       1400.00       1567.36
29      33750.00      34200.00      35675.00      32999.31
30      18150.00      20491.67      20883.33      18393.75
31       5525.00       5983.33       6133.33       5733.33
32      28433.33      29808.33      31166.67      29346.53
33        725.00        700.00        658.33        777.78
34      27708.33      29108.33      30508.33      28568.75
35       1966.67       2108.33       2166.67       2047.22
36       1666.67       1808.33       1866.67       1722.92
37        300.00        300.00        300.00        324.31
38      25741.67      27000.00      28341.67      26521.53
39      16908.33      18008.33      19091.67      17327.08
40       8833.33       8991.67       9250.00       9194.44
41       4641.67       4700.00       4783.33       4774.31
42       2341.67       2441.67       2600.00       2600.69
43       1850.00       1850.00       1875.00       1819.44

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,243816.67,242158.33,241650.00,240266.67,240216.67,240991.67,242750.00,241966.67,243066.67,242516.67,242008.33,239658.33,240816.67,244925.00,245500.69
1,Civilian Employment,201666.67,201566.67,205108.33,208808.33,213083.33,217966.67,221766.67,223750.00,227308.33,227700.00,215475.00,219666.67,227533.33,229166.67,220136.11
2,Civilian Unemployment,42158.33,40616.67,36550.00,31491.67,27141.67,23008.33,20983.33,18250.00,15733.33,14816.67,26541.67,19991.67,13275.00,15766.67,25371.53
3,Civilian Unemployment Rate,0.17,0.17,0.15,0.13,0.11,0.10,0.09,0.08,0.06,0.06,0.11,0.08,0.06,0.06,0.10
4,"Total, All Industries",163800.00,163091.67,166333.33,171125.00,175775.00,180983.33,186166.67,189050.00,193583.33,196291.67,187700.00,192583.33,199941.67,202191.67,189993.75

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Stanislaus_county.csv', index=False)  # Set index=False to avoid exporting the row indices