In [1]:
import pandas as pd

# Load the .xls Excel file
TehamaCounty = pd.read_excel("Resources/TEHAMHWS.xls", engine='xlrd')

TehamaCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,103,NaN,NaN,1,00-000010,Civilian Labor Force,25980.00,25860.000,...,26780.000,26140.000,25890.000,26270.00,26470.000,26470.000,25860.000,25830.000,26020.000,25790.000
1,2,2023,103,NaN,NaN,1,00-000020,Civilian Employment,21550.00,21370.000,...,25350.000,24690.000,24290.000,24440.00,24500.000,24640.000,24220.000,24460.000,24430.000,24010.000
2,3,2023,103,NaN,NaN,1,00-000030,Civilian Unemployment,4430.00,4500.000,...,1430.000,1460.000,1600.000,1830.00,1970.000,1830.000,1630.000,1370.000,1590.000,1770.000
3,4,2023,103,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.17,0.174,...,0.053,0.056,0.062,0.07,0.074,0.069,0.063,0.053,0.061,0.069
4,8,2023,103,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",15850.00,15600.000,...,21480.000,20690.000,20460.000,20220.00,20300.000,20420.000,20240.000,20580.000,20790.000,20180.000

In [2]:
TehamaCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

TehamaCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,25980.00,25860.000,25600.000,25760.000,25690.000,26310.00,24620.000,25490.000,25790.000,...,26780.000,26140.000,25890.000,26270.00,26470.000,26470.000,25860.000,25830.000,26020.000,25790.000
1,Civilian Employment,21550.00,21370.000,21030.000,21580.000,21810.000,22370.00,20570.000,21530.000,22030.000,...,25350.000,24690.000,24290.000,24440.00,24500.000,24640.000,24220.000,24460.000,24430.000,24010.000
2,Civilian Unemployment,4430.00,4500.000,4580.000,4180.000,3890.000,3940.00,4050.000,3960.000,3760.000,...,1430.000,1460.000,1600.000,1830.00,1970.000,1830.000,1630.000,1370.000,1590.000,1770.000
3,Civilian Unemployment Rate,0.17,0.174,0.179,0.162,0.151,0.15,0.164,0.155,0.146,...,0.053,0.056,0.062,0.07,0.074,0.069,0.063,0.053,0.061,0.069
4,"Total, All Industries",15850.00,15600.000,15290.000,15830.000,16170.000,16920.00,14870.000,15750.000,16280.000,...,21480.000,20690.000,20460.000,20220.00,20300.000,20420.000,20240.000,20580.000,20790.000,20180.000

In [3]:
titles_df = TehamaCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                                        Manufacturing
13                                        Durable Goods
14                                    Non-Durable Goods
15                                    Service-Providing
16                            Private Service Providing
17                    Trade, Transportation & Utilities
18                                      Wholesale Trade
19                                         Retail Trade
20            Transportation, Warehousing, and Utili...
21                                          Information
22                                 Financial Activities
23                   Professional and Business Services
24                Private Education and Health Services
25                              Leisure and Hospitality
26                                       Other Services
27                                           Government
28                                   Federal Government
29                             State & Local Government
30                                     State Government
31                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = TehamaCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    TehamaCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = TehamaCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = TehamaCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force      25761.67
1                                 Civilian Employment      21699.17
2                               Civilian Unemployment       4065.83
3                          Civilian Unemployment Rate          0.16
4                               Total, All Industries      16071.67
5                                          Total Farm       1444.17
6                                       Total Nonfarm      14627.50
7                                       Total Private      10471.67
8                                     Goods Producing       2125.00
9                    Mining, Logging and Construction        543.33
10                                 Mining and Logging        126.67
11                                       Construction        416.67
12                                      Manufacturing       1581.67
13                                      Durable Goods       1083.33
14                                  Non-Durable Goods        498.33
15                                  Service-Providing      12502.50
16                          Private Service Providing       8346.67
17                  Trade, Transportation & Utilities       3183.33
18                                    Wholesale Trade        289.17
19                                       Retail Trade       1796.67
20          Transportation, Warehousing, and Utili...       1097.50
21                                        Information         69.17
22                               Financial Activities        360.00
23                 Professional and Business Services        880.83
24              Private Education and Health Services       2379.17
25                            Leisure and Hospitality       1124.17
26                                     Other Services        350.00
27                                         Government       4155.83
28                                 Federal Government        285.00
29                           State & Local Government       3870.83
30                                   State Government        343.33
31                                   Local Government       3527.50

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0       25552.50      25211.67      25005.83      25040.00      25022.50
1       21657.50      21693.33      22065.83      22605.00      23028.33
2        3892.50       3516.67       2940.83       2436.67       1990.83
3           0.15          0.14          0.12          0.10          0.08
4       16050.83      16084.17      16553.33      17114.17      17625.00
5        1449.17       1445.83       1425.83       1471.67       1750.83
6       14601.67      14638.33      15127.50      15642.50      15874.17
7       10506.67      10562.50      11186.67      11641.67      11845.83
8        2130.00       2185.83       2340.83       2475.00       2526.67
9         565.83        571.67        671.67        705.00        691.67
10        146.67        140.83        141.67        146.67        142.50
11        419.17        430.83        530.00        558.33        549.17
12       1564.17       1614.17       1669.17       1770.00       1835.00
13       1042.50       1093.33       1177.50       1295.83       1356.67
14        521.67        520.83        491.67        474.17        478.33
15      12471.67      12452.50      12786.67      13167.50      13347.50
16       8376.67       8376.67       8845.83       9166.67       9319.17
17       3137.50       3161.67       3433.33       3575.00       3670.00
18        320.83        296.67        315.83        324.17        320.00
19       1739.17       1735.83       1759.17       1807.50       1853.33
20       1077.50       1129.17       1358.33       1443.33       1496.67
21         70.00         80.00         70.83         63.33         57.50
22        344.17        363.33        345.00        341.67        330.83
23        959.17        826.67        627.50        663.33        701.67
24       2350.00       2379.17       2768.33       2864.17       2859.17
25       1177.50       1229.17       1258.33       1300.00       1358.33
26        338.33        336.67        342.50        359.17        341.67
27       4095.00       4075.83       3940.83       4000.83       4028.33
28        261.67        247.50        230.00        225.00        220.00
29       3833.33       3828.33       3710.83       3775.83       3808.33
30        340.83        336.67        330.83        363.33        390.00
31       3492.50       3491.67       3380.00       3412.50       3418.33

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0       25072.50      25513.33      25484.17      25559.17      25675.00
1       23281.67      23875.83      24023.33      24111.67      23343.33
2        1790.83       1635.00       1462.50       1448.33       2329.17
3           0.07          0.06          0.06          0.06          0.09
4       18053.33      18764.17      18977.50      19305.00      18981.67
5        1825.00       1982.50       1895.00       1912.50       1935.83
6       16228.33      16781.67      17082.50      17392.50      17045.83
7       12163.33      12627.50      12919.17      13242.50      13160.00
8        2509.17       2587.50       2699.17       2770.83       2833.33
9         698.33        746.67        826.67        973.33       1079.17
10        135.83        137.50        139.17        141.67        128.33
11        562.50        609.17        687.50        831.67        950.83
12       1810.83       1840.83       1875.00       1800.00       1755.83
13       1375.83       1389.17       1402.50       1393.33       1385.83
14        438.33        453.33        471.67        409.17        368.33
15      13719.17      14195.00      14384.17      14623.33      14211.67
16       9656.67      10042.50      10219.17      10472.50      10325.00
17       3916.67       4015.83       4038.33       4085.00       4126.67
18        299.17        292.50        285.83        287.50        270.00
19       2049.17       2045.00       2060.00       2114.17       2144.17
20       1570.00       1678.33       1693.33       1682.50       1714.17
21         77.50        107.50         96.67         88.33         94.17
22        355.00        353.33        320.83        313.33        328.33
23        810.00        878.33        818.33        855.83        835.83
24       2830.83       2966.67       3138.33       3339.17       3352.50
25       1340.83       1410.83       1481.67       1491.67       1298.33
26        325.00        315.00        325.83        303.33        293.33
27       4064.17       4153.33       4164.17       4151.67       3885.83
28        225.00        211.67        205.00        208.33        231.67
29       3838.33       3942.50       3962.50       3940.83       3654.17
30        363.33        354.17        358.33        360.00        385.00
31       3476.67       3588.33       3602.50       3582.50       3272.50

    2021_Average  2022_Average  2023_Average  2024_Average
0       25560.00      25539.17      26071.67      25773.47
1       23719.17      24277.50      24551.67      23368.40
2        1840.00       1260.83       1519.17       2403.54
3           0.07          0.05          0.06          0.09
4       19416.67      19978.33      20340.00      18717.01
5        2015.83       2055.83       2091.67       1816.39
6       17400.83      17922.50      18248.33      16900.62
7       13483.33      13690.83      13800.83      12630.77
8        2945.83       2972.50       2981.67       2700.56
9        1143.33       1144.17       1157.50        943.12
10        112.50        115.83        113.33        136.04
11       1030.83       1028.33       1044.17        807.08
12       1802.50       1829.17       1828.33       1759.10
13       1446.67       1463.33       1483.33       1366.87
14        358.33        364.17        343.33        391.39
15      14457.50      14954.17      15265.00      14198.40
16      10540.00      10720.00      10818.33       9929.38
17       4187.50       4224.17       4162.50       3831.74
18        266.67        245.00        224.17        243.89
19       2139.17       2117.50       2113.33       1984.03
20       1782.50       1864.17       1827.50       1604.65
21         88.33         74.17         70.00         70.28
22        322.50        312.50        318.33        349.51
23        861.67        840.00        797.50        779.79
24       3344.17       3490.00       3683.33       3240.90
25       1422.50       1480.83       1472.50       1318.26
26        313.33        301.67        319.17        343.06
27       3918.33       4233.33       4448.33       4270.69
28        208.33        215.00        218.33        222.43
29       3711.67       4020.83       4230.83       4049.10
30        436.67        465.00        470.00        414.58
31       3275.83       3555.83       3759.17       3633.68

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,25761.67,25552.50,25211.67,25005.83,25040.00,25022.50,25072.50,25513.33,25484.17,25559.17,25675.00,25560.00,25539.17,26071.67,25773.47
1,Civilian Employment,21699.17,21657.50,21693.33,22065.83,22605.00,23028.33,23281.67,23875.83,24023.33,24111.67,23343.33,23719.17,24277.50,24551.67,23368.40
2,Civilian Unemployment,4065.83,3892.50,3516.67,2940.83,2436.67,1990.83,1790.83,1635.00,1462.50,1448.33,2329.17,1840.00,1260.83,1519.17,2403.54
3,Civilian Unemployment Rate,0.16,0.15,0.14,0.12,0.10,0.08,0.07,0.06,0.06,0.06,0.09,0.07,0.05,0.06,0.09
4,"Total, All Industries",16071.67,16050.83,16084.17,16553.33,17114.17,17625.00,18053.33,18764.17,18977.50,19305.00,18981.67,19416.67,19978.33,20340.00,18717.01

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Tehama_county.csv', index=False)  # Set index=False to avoid exporting the row indices