In [1]:
import pandas as pd

# Load the .xls Excel file
ToulumneCounty = pd.read_excel("Resources/TUOLUHWS.xls", engine='xlrd')

ToulumneCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,109,NaN,NaN,1,00-000010,Civilian Labor Force,22470.00,22750.00,...,20050.000,20150.00,19890.000,20010.000,20300.000,20380.000,19780.000,19950.000,20130.000,20620.000
1,2,2023,109,NaN,NaN,1,00-000020,Civilian Employment,18660.00,18890.00,...,19060.000,19150.00,18860.000,18780.000,19010.000,19210.000,18700.000,19040.000,19080.000,19450.000
2,3,2023,109,NaN,NaN,1,00-000030,Civilian Unemployment,3820.00,3870.00,...,990.000,1000.00,1030.000,1230.000,1290.000,1180.000,1080.000,910.000,1060.000,1170.000
3,4,2023,109,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.17,0.17,...,0.049,0.05,0.052,0.062,0.063,0.058,0.055,0.046,0.053,0.057
4,8,2023,109,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",15540.00,15670.00,...,17890.000,17980.00,17870.000,17480.000,17660.000,17830.000,17550.000,17950.000,18260.000,18440.000

In [2]:
ToulumneCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

ToulumneCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,22470.00,22750.00,22670.000,22540.000,22700.000,22720.000,23020.000,23000.000,22620.000,...,20050.000,20150.00,19890.000,20010.000,20300.000,20380.000,19780.000,19950.000,20130.000,20620.000
1,Civilian Employment,18660.00,18890.00,18740.000,18900.000,19250.000,19340.000,19600.000,19600.000,19360.000,...,19060.000,19150.00,18860.000,18780.000,19010.000,19210.000,18700.000,19040.000,19080.000,19450.000
2,Civilian Unemployment,3820.00,3870.00,3930.000,3640.000,3450.000,3390.000,3420.000,3400.000,3250.000,...,990.000,1000.00,1030.000,1230.000,1290.000,1180.000,1080.000,910.000,1060.000,1170.000
3,Civilian Unemployment Rate,0.17,0.17,0.173,0.162,0.152,0.149,0.149,0.148,0.144,...,0.049,0.05,0.052,0.062,0.063,0.058,0.055,0.046,0.053,0.057
4,"Total, All Industries",15540.00,15670.00,15560.000,15730.000,16220.000,16420.000,16370.000,16430.000,16190.000,...,17890.000,17980.00,17870.000,17480.000,17660.000,17830.000,17550.000,17950.000,18260.000,18440.000

In [3]:
titles_df = ToulumneCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                                        Manufacturing
13                                        Durable Goods
14                                    Non-Durable Goods
15                                    Service-Providing
16                            Private Service Providing
17                    Trade, Transportation & Utilities
18                                      Wholesale Trade
19                                         Retail Trade
20            Transportation, Warehousing, and Utili...
21                                          Information
22                                 Financial Activities
23                   Professional and Business Services
24                Private Education and Health Services
25                              Leisure and Hospitality
26                                       Other Services
27                                           Government
28                                   Federal Government
29                             State & Local Government
30                                     State Government
31                                     Local Government
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = ToulumneCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    ToulumneCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = ToulumneCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = ToulumneCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force      22657.50
1                                 Civilian Employment      19125.00
2                               Civilian Unemployment       3533.33
3                          Civilian Unemployment Rate          0.16
4                               Total, All Industries      16042.50
5                                          Total Farm         60.83
6                                       Total Nonfarm      15981.67
7                                       Total Private      10666.67
8                                     Goods Producing       1344.17
9                    Mining, Logging and Construction        665.00
10                                 Mining and Logging        126.67
11                                       Construction        538.33
12                                      Manufacturing        679.17
13                                      Durable Goods        491.67
14                                  Non-Durable Goods        187.50
15                                  Service-Providing      14637.50
16                          Private Service Providing       9322.50
17                  Trade, Transportation & Utilities       2333.33
18                                    Wholesale Trade        185.83
19                                       Retail Trade       1970.00
20          Transportation, Warehousing, and Utili...        177.50
21                                        Information        236.67
22                               Financial Activities        520.83
23                 Professional and Business Services        930.00
24              Private Education and Health Services       2881.67
25                            Leisure and Hospitality       2042.50
26                                     Other Services        377.50
27                                         Government       5315.00
28                                 Federal Government        440.83
29                           State & Local Government       4874.17
30                                   State Government       1261.67
31                                   Local Government       3612.50

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0       22701.67      22279.17      21677.50      21536.67      21533.33
1       19363.33      19340.83      19312.50      19650.83      20006.67
2        3338.33       2939.17       2364.17       1885.00       1527.50
3           0.15          0.13          0.11          0.09          0.07
4       16301.67      16318.33      16478.33      16898.33      17364.17
5          59.17         50.00         51.67         57.50         63.33
6       16242.50      16268.33      16426.67      16840.83      17300.83
7       11070.00      11033.33      11198.33      11444.17      11848.33
8        1492.50       1454.17       1464.17       1446.67       1517.50
9         663.33        625.83        611.67        641.67        714.17
10        158.33        112.50        120.83        131.67        140.00
11        505.00        513.33        490.83        510.00        574.17
12        829.17        828.33        852.50        805.00        803.33
13        634.17        662.50        678.33        644.17        654.17
14        195.00        165.83        174.17        160.83        149.17
15      14750.00      14814.17      14962.50      15394.17      15783.33
16       9577.50       9579.17       9734.17       9997.50      10330.83
17       2420.83       2482.50       2515.00       2687.50       2905.00
18        122.50        137.50        135.83        146.67        176.67
19       2113.33       2140.00       2159.17       2309.17       2493.33
20        185.00        205.00        220.00        231.67        235.00
21        213.33        212.50        208.33        218.33        208.33
22        513.33        520.83        545.83        539.17        511.67
23        925.83        930.00        918.33        895.83        938.33
24       3020.83       2980.00       2935.00       2995.83       3070.83
25       2055.83       1980.83       2132.50       2155.00       2146.67
26        427.50        472.50        479.17        505.83        550.00
27       5172.50       5235.00       5228.33       5396.67       5452.50
28        418.33        481.67        480.83        517.50        493.33
29       4754.17       4753.33       4747.50       4879.17       4959.17
30       1188.33       1125.00       1079.17       1142.50       1191.67
31       3565.83       3628.33       3668.33       3736.67       3767.50

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0       21567.50      21369.17      21188.33      20938.33      20183.33
1       20220.00      20207.50      20199.17      19981.67      18046.67
2        1346.67       1160.83        990.83        957.50       2139.17
3           0.06          0.05          0.05          0.05          0.11
4       17789.17      17912.50      17985.83      18035.00      16392.50
5          70.00         75.00         62.50         85.83         91.67
6       17719.17      17837.50      17923.33      17949.17      16300.83
7       12151.67      12335.83      12388.33      12267.50      11181.67
8        1562.50       1595.00       1783.33       1865.00       1753.33
9         775.83        798.33        964.17       1024.17        924.17
10        138.33        135.00        140.00        133.33        126.67
11        637.50        663.33        824.17        890.83        797.50
12        786.67        796.67        819.17        840.00        830.83
13        644.17        647.50        650.83        666.67        674.17
14        144.17        150.83        168.33        174.17        155.83
15      16157.50      16243.33      16143.33      16085.00      14546.67
16      10588.33      10740.83      10606.67      10405.83       9430.00
17       2890.00       2750.00       2733.33       2740.00       2655.83
18        173.33        169.17        166.67        156.67        136.67
19       2464.17       2365.83       2369.17       2382.50       2340.00
20        251.67        212.50        200.00        200.83        180.83
21        208.33        193.33        155.00        132.50        115.83
22        490.83        485.00        494.17        495.83        455.00
23       1027.50       1073.33       1087.50       1108.33       1099.17
24       3080.83       3097.50       3080.83       3004.17       2743.33
25       2319.17       2518.33       2415.00       2470.00       1957.50
26        575.00        628.33        645.00        455.00        406.67
27       5570.00       5502.50       5535.83       5681.67       5118.33
28        488.33        454.17        434.17        431.67        420.83
29       5082.50       5050.00       5100.00       5250.00       4697.50
30       1188.33       1200.83       1195.00       1234.17       1258.33
31       3892.50       3848.33       3905.00       4016.67       3439.17

    2021_Average  2022_Average  2023_Average  2024_Average
0       20059.17      19724.17      19979.17      21001.88
1       18601.67      18829.17      18979.17      19171.87
2        1456.67        896.67       1000.83       1831.67
3           0.07          0.05          0.05          0.09
4       17017.50      17325.00      17610.83      17267.43
5          91.67         90.00         89.17         83.26
6       16925.83      17235.00      17521.67      17184.17
7       11775.00      12060.00      12175.83      11780.21
8        1894.17       1872.50       1931.67       1769.31
9        1018.33       1027.50       1124.17        973.96
10        125.00        135.83        150.83        145.83
11        893.33        891.67        973.33        828.12
12        876.67        846.67        806.67        798.68
13        697.50        670.00        649.17        629.24
14        180.00        176.67        160.00        168.61
15      15032.50      15362.50      15590.83      15414.86
16       9880.83      10187.50      10245.00      10010.90
17       2796.67       2799.17       2695.00       2577.43
18        133.33        130.83        136.67        142.36
19       2475.00       2470.00       2360.83       2233.47
20        186.67        201.67        199.17        199.93
21        118.33        125.00        129.17        164.93
22        440.00        446.67        415.00        465.00
23       1138.33       1112.50       1166.67       1095.83
24       2652.50       2724.17       2804.17       2894.44
25       2287.50       2539.17       2575.00       2333.89
26        451.67        448.33        464.17        483.54
27       5150.83       5175.83       5349.17       5403.96
28        385.83        358.33        343.33        384.10
29       4766.67       4817.50       5005.83       5019.86
30       1296.67       1302.50       1360.00       1281.39
31       3471.67       3515.00       3647.50       3738.47

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,22657.50,22701.67,22279.17,21677.50,21536.67,21533.33,21567.50,21369.17,21188.33,20938.33,20183.33,20059.17,19724.17,19979.17,21001.88
1,Civilian Employment,19125.00,19363.33,19340.83,19312.50,19650.83,20006.67,20220.00,20207.50,20199.17,19981.67,18046.67,18601.67,18829.17,18979.17,19171.87
2,Civilian Unemployment,3533.33,3338.33,2939.17,2364.17,1885.00,1527.50,1346.67,1160.83,990.83,957.50,2139.17,1456.67,896.67,1000.83,1831.67
3,Civilian Unemployment Rate,0.16,0.15,0.13,0.11,0.09,0.07,0.06,0.05,0.05,0.05,0.11,0.07,0.05,0.05,0.09
4,"Total, All Industries",16042.50,16301.67,16318.33,16478.33,16898.33,17364.17,17789.17,17912.50,17985.83,18035.00,16392.50,17017.50,17325.00,17610.83,17267.43

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Toulumne_county.csv', index=False)  # Set index=False to avoid exporting the row indices