In [73]:
## INDUSTRY BY COUNTY DATA - Alanis Perez

In [75]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as num

# Ignore all warnings
import warnings
warnings.filterwarnings("ignore")

In [98]:
# YUBA COUNTY
yuba_data_path = "data/Yuba_county.csv"
yuba_data = pd.read_csv(yuba_data_path)

In [79]:
yuba_data.head()

,SORTORDER,TITLE - YUBA COUNTY,10-Jan,10-Feb,10-Mar,10-Apr,10-May,10-Jun,10-Jul,10-Aug,...,23-Dec,2023_Data,24-Jan,24-Feb,24-Mar,24-Apr,24-May,24-Jun,24-Jul,2024_Data
0,1,Civilian Labor Force,"74,000","75,200","75,500","75,200","75,600","75,700","75,600","76,900",...,"78,900","943,400","79,600","80,000","80,400","80,100","80,000","80,800","81,000","561,900"
1,2,Civilian Employment,"59,400","59,600","60,000","60,900","61,700","61,700","61,900","64,100",...,"72,600","874,200","72,200","72,200","73,000","73,500","74,400","74,700","74,700","514,700"
2,3,Civilian Unemployment,"14,600","15,600","15,500","14,300","13,900","13,900","13,700","12,900",...,"6,300","69,400","7,400","7,900","7,400","6,600","5,600","6,100","6,300","47,300"
3,4,Civilian Unemployment Rate,19.70%,20.70%,20.50%,19.10%,18.30%,18.40%,18.10%,16.70%,...,8.00%,7.34%,9.30%,9.80%,9.20%,8.20%,7.00%,7.50%,7.80%,8.40%
4,8,"Total, All Industries","40,000","40,100","40,700","41,600","42,900","43,300","42,900","45,500",...,"56,000","664,100","54,300","54,500","55,100","56,500","57,800","58,900","58,300","395,400"

In [118]:
yuba_df = yuba_data[['TITLE - YUBA COUNTY', '2010_Data', '2011_Data', '2012_Data', '2013_Data',
                     '2014_Data', '2015_Data', '2016_Data', '2017_Data', '2018_Data', '2019_Data',
                     '2020_Data', '2021_Data', '2022_Data', '2023_Data','2024_Data']]
yuba_df.head(10)

,TITLE - YUBA COUNTY,2010_Data,2011_Data,2012_Data,2013_Data,2014_Data,2015_Data,2016_Data,2017_Data,2018_Data,2019_Data,2020_Data,2021_Data,2022_Data,2023_Data,2024_Data
0,Civilian Labor Force,"902,800","898,500","891,900","874,100","865,100","869,600","877,700","884,200","889,100","902,600","914,500","914,200","926,500","943,400","561,900"
1,Civilian Employment,"735,300","736,700","744,500","749,700","759,400","780,700","796,100","811,400","825,200","840,100","813,400","834,300","868,400","874,200","514,700"
2,Civilian Unemployment,"167,600","161,500","147,200","124,400","105,800","88,800","81,500","73,000","63,700","62,500","101,100","79,900","58,000","69,400","47,300"
3,Civilian Unemployment Rate,18.54%,18.00%,16.49%,14.23%,12.23%,10.24%,9.32%,8.27%,7.18%,6.93%,11.05%,8.75%,6.27%,7.34%,8.40%
4,"Total, All Industries","508,400","508,900","514,100","520,100","530,300","549,500","568,300","585,600","598,300","618,400","609,300","628,100","656,700","664,100","395,400"
5,Total Farm,"55,300","56,400","55,600","55,200","53,400","58,200","62,100","63,800","66,100","62,900","59,500","58,300","57,600","55,700","32,000"
6,Total Nonfarm,"453,100","452,500","458,500","464,900","476,900","491,300","506,200","521,800","532,200","555,500","549,800","569,800","599,100","608,400","363,400"
7,Total Private,"327,400","327,200","335,000","344,100","352,000","363,700","375,400","387,600","394,200","411,300","402,000","418,800","437,100","441,300","263,000"
8,Goods Producing,"44,900","44,200","43,700","44,700","46,400","51,000","53,300","54,500","57,400","62,300","58,800","59,100","61,200","64,500","37,100"
9,"Mining, Logging and Construction","20,800","19,300","18,000","18,600","20,900","24,500","27,000","28,300","31,000","35,200","33,400","33,100","35,000","37,600","21,600"

In [108]:
yuba_industries = yuba_df['TITLE - YUBA COUNTY'].unique()
print(yuba_industries)

['Civilian Labor Force' '  Civilian Employment' '  Civilian Unemployment'
 'Civilian Unemployment Rate' 'Total, All Industries' '  Total Farm'
 'Total Nonfarm' '    Total Private' '    Goods Producing'
 '      Mining, Logging and Construction' '      Manufacturing'
 'Service-Providing' '    Private Service Providing'
 '      Trade, Transportation, and Utilities' '        Wholesale Trade'
 '        Retail Trade'
 '        Transportation, Warehousing, and Utilities' '      Information'
 '      Financial Activities' '      Professional and Business Services'
 '      Private Education and Health Services'
 '      Leisure and Hospitality' '      Other Services' '      Government'
 '        Federal Government' '        Total State and Local Government'
 '          State Government' '          Local Government'
 '          Local Government excluding Educational Services'
 '               Special Districts plus Tribes']

In [ ]:
# Biggest industries in Yuba

In [110]:
# YOLO COUNTY
yolo_data_path = "data/Yolo_county.csv"
yolo_data = pd.read_csv(yolo_data_path)

In [112]:
yolo_data.head()

,SORTORDER,TITLE - YOLO COUNTY,10-Jan,10-Feb,10-Mar,10-Apr,10-May,10-Jun,10-Jul,10-Aug,...,23-Dec,2023_Data,24-Jan,24-Feb,24-Mar,24-Apr,24-May,24-Jun,24-Jul,2024_Data
0,1,Civilian Labor Force,"1,053,400","1,054,400","1,056,400","1,051,400","1,048,300","1,050,100","1,058,300","1,052,900",...,"1,132,100","13,550,000","1,141,700","1,146,200","1,147,300","1,134,900","1,129,600","1,133,200","1,142,500","7,975,400"
1,2,Civilian Employment,"914,400","916,400","918,400","921,000","921,800","918,200","922,600","919,900",...,"1,080,000","12,966,500","1,082,400","1,085,800","1,091,200","1,084,000","1,085,600","1,080,000","1,084,300","7,593,300"
2,3,Civilian Unemployment,"139,000","137,900","138,100","130,300","126,600","131,800","135,700","133,000",...,"52,100","583,700","59,300","60,400","56,100","50,900","44,000","53,200","58,100","382,000"
3,4,Civilian Unemployment Rate,13.20%,13.10%,13.10%,12.40%,12.10%,12.60%,12.80%,12.60%,...,4.60%,4.30%,5.20%,5.30%,4.90%,4.50%,3.90%,4.70%,5.10%,4.80%
4,8,"Total, All Industries","834,100","834,000","837,400","842,400","849,700","851,500","838,800","836,400",...,"1,104,400","12,995,900","1,089,200","1,095,400","1,099,300","1,102,900","1,108,600","1,113,500","1,105,300","7,714,200"

In [120]:
yolo_df = yolo_data[['TITLE - YOLO COUNTY', '2010_Data', '2011_Data', '2012_Data', '2013_Data',
                     '2014_Data', '2015_Data', '2016_Data', '2017_Data', '2018_Data', '2019_Data',
                     '2020_Data', '2021_Data', '2022_Data', '2023_Data','2024_Data']]
yolo_df.head(10)

,TITLE - YOLO COUNTY,2010_Data,2011_Data,2012_Data,2013_Data,2014_Data,2015_Data,2016_Data,2017_Data,2018_Data,2019_Data,2020_Data,2021_Data,2022_Data,2023_Data,2024_Data
0,Civilian Labor Force,"12,608,700","12,523,800","12,548,000","12,513,100","12,510,700","12,635,700","12,822,100","12,887,800","13,061,400","13,191,600","13,122,200","13,264,800","13,345,300","13,550,000","7,975,400"
1,Civilian Employment,"11,012,800","11,015,800","11,233,400","11,415,300","11,608,800","11,890,700","12,143,600","12,296,900","12,566,900","12,709,700","11,959,100","12,412,700","12,836,500","12,966,500","7,593,300"
2,Civilian Unemployment,"1,595,800","1,508,000","1,314,500","1,097,900","901,700","744,900","678,600","590,600","494,500","481,600","1,163,000","851,900","509,200","583,700","382,000"
3,Civilian Unemployment Rate,12.66%,12.03%,10.47%,8.78%,7.21%,5.88%,5.32%,4.58%,3.79%,3.64%,8.89%,6.43%,3.83%,4.30%,4.80%
4,"Total, All Industries","10,083,900","10,058,100","10,278,000","10,552,700","10,796,700","11,137,400","11,528,800","11,789,900","12,118,600","12,374,600","11,757,200","12,263,200","12,784,800","12,995,900","7,714,200"
5,Total Farm,"96,600","98,400","103,400","106,800","110,300","112,300","116,400","117,300","109,500","104,900","100,100","107,600","103,500","108,600","63,200"
6,Total Nonfarm,"9,987,300","9,959,700","10,174,600","10,445,900","10,686,400","11,025,100","11,412,400","11,672,600","12,009,100","12,269,700","11,657,100","12,155,600","12,681,300","12,887,300","7,651,000"
7,Total Private,"7,224,200","7,264,600","7,516,600","7,775,400","7,953,400","8,241,500","8,596,400","8,850,800","9,153,700","9,372,900","8,833,900","9,273,500","9,719,200","9,811,500","5,803,000"
8,Goods Producing,"860,000","847,300","873,300","934,800","976,200","1,045,200","1,099,700","1,138,100","1,210,900","1,280,100","1,281,300","1,357,900","1,418,800","1,388,900","814,600"
9,"Mining, Logging, and Construction","466,400","448,800","466,600","525,200","551,700","608,800","665,400","709,600","779,200","838,500","848,400","905,200","932,000","902,500","535,100"

In [116]:
yolo_industries = yolo_df['TITLE - YOLO COUNTY'].unique()
print(yolo_industries)

['Civilian Labor Force' '  Civilian Employment' '  Civilian Unemployment'
 'Civilian Unemployment Rate' 'Total, All Industries' '     Total Farm'
 '  Total Nonfarm' '    Total Private' '    Goods Producing'
 '     Mining, Logging, and Construction' '      Mining and Logging'
 '      Construction' '        Construction of Buildings'
 '        Specialty Trade Contractors'
 '            Foundation, Structure, and Building Exterior Co'
 '          Building Equipment Contractors'
 '          Building Finishing Contractors' '      Manufacturing'
 '        Durable Goods'
 '          Computer and Electronic Product Manufacturing'
 '        Non-Durable Goods' '          Food Manufacturing'
 '     Service-Providing' '    Private Service Providing'
 '     Trade, Transportation, and Utilities' '        Wholesale Trade'
 '          Merchant Wholesalers, Durable Goods'
 '          Merchant Wholesalers, Nondurable Goods' '        Retail Trade'
 '          Motor Vehicle & Parts Dealer'
 '          Building Material and Garden Equipment and Suppli'
 '            Grocery and Convenience Retailers'
 '          General Merchandise Retailers'
 '          Health and Personal Care Retailers'
 '          Clothing, Clothing Accessories, Shoe, and Jewelry'
 '          Sporting Goods, Hobby, Musical Instrument, Book, '
 '        Transportation, Warehousing, and Utilities' '      Information'
 '          Publishing Industries' '        Telecommunications'
 '      Financial Activities' '        Finance and Insurance'
 '          Credit Intermediation and Related Activities incl'
 '            Depository Credit Intermediation including Mone'
 '            Nondepository Credit Intermediation'
 '          Insurance Carriers and Related Activities'
 '        Real Estate and Rental and Leasing' '          Real Estate'
 '      Professional and Business Services'
 '        Professional, Scientific, and Technical Services'
 '            Architectural, Engineering, and Related Service'
 '        Management of Companies and Enterprises'
 '        Administrative and Support and Waste and Remediatio'
 '          Administrative and Support Services'
 '            Employment Services'
 '            Services to Buildings and Dwellings'
 '      Private Education and Health Services'
 '        Private Educational Services'
 '        Health Care and Social Assistance'
 '          Ambulatory Health Care Services' '            Hospitals'
 '          Nursing and Residential Care Facilities'
 '      Leisure and Hospitality'
 '         Arts, Entertainment, and Recreation'
 '        Accommodation and Food Services' '          Accommodation'
 '          Food Services and Drinking Places'
 '            Restaurants and Other Eating Places'
 '            Full-Service Restaurants'
 '              Limited-Service Restaurants and Other Eating '
 '      Other Services' '          Repair and Maintenance'
 '      Government' '        Federal Government'
 '          Department of Defense'
 '        Total State and Local Government' '          State Government'
 '               State Government Educational Services'
 '            State Government Excluding Education'
 '          Local Government'
 '               Local Government Educational Services'
 '          Local Government excluding Educational Services'
 '                County Government' '                City Government'
 '               Special Districts plus Tribes']

In [122]:
# Biggest industries in Yolo

In [124]:
# VENTURA COUNTY
ventura_data_path = "data/Ventura_county.csv"
ventura_data = pd.read_csv(ventura_data_path)

In [126]:
ventura_data.head()

,SORTORDER,TITLE - VENTURA COUNTY,Jan-10,Feb-10,Mar-10,Apr-10,May-10,Jun-10,Jul-10,Aug-10,...,Dec-23,2023_Data,Jan-24,Feb-24,Mar-24,Apr-24,May-24,Jun-24,Jul-24,2024_Data
0,1,Civilian Labor Force,"426,900","429,200","431,200","435,400","434,000","429,300","430,400","427,900",...,"411,200","412,933","413,500","416,900","417,600","413,800","412,500","410,700","412,100","413,871"
1,2,Civilian Employment,"376,900","380,400","382,500","389,300","389,100","382,600","380,800","378,400",...,"391,600","395,283","392,000","395,700","398,200","396,200","397,300","392,100","391,400","394,700"
2,3,Civilian Unemployment,"50,000","48,800","48,800","46,000","44,900","46,700","49,600","49,500",...,"19,700","17,650","21,500","21,200","19,400","17,600","15,300","18,600","20,700","19,186"
3,400.00%,Civilian Unemployment Rate,11.70%,11.40%,11.30%,10.60%,10.30%,10.90%,11.50%,11.60%,...,4.80%,4.28%,5.20%,5.10%,4.60%,4.20%,3.70%,4.50%,5.00%,4.61%
4,8,"Total, All Industries","292,700","295,500","298,400","307,000","309,900","304,900","297,000","295,000",...,"340,900","338,083","335,000","339,300","341,700","344,700","347,100","346,200","340,800","342,114"

In [132]:
ventura_df = ventura_data[['TITLE - VENTURA COUNTY', '2010_Data', '2011_Data', '2012_Data', '2013_Data',
                     '2014_Data', '2015_Data', '2016_Data', '2017_Data', '2018_Data', '2019_Data',
                     '2020_Data', '2021_Data', '2022_Data', '2023_Data','2024_Data']]
ventura_df.head(10)

,TITLE - VENTURA COUNTY,2010_Data,2011_Data,2012_Data,2013_Data,2014_Data,2015_Data,2016_Data,2017_Data,2018_Data,2019_Data,2020_Data,2021_Data,2022_Data,2023_Data,2024_Data
0,Civilian Labor Force,"430,225","430,908","433,675","432,350","429,175","427,233","425,333","423,675","423,092","421,542","410,067","406,567","411,108","412,933","413,871"
1,Civilian Employment,"382,450","385,958","393,575","397,867","400,325","402,975","403,083","404,475","406,883","406,183","374,275","381,392","395,775","395,283","394,700"
2,Civilian Unemployment,"47,783","44,950","40,100","34,467","28,867","24,258","22,267","19,225","16,200","15,350","35,800","25,192","15,367","17,650","19,186"
3,Civilian Unemployment Rate,11.11%,10.43%,9.24%,7.97%,6.73%,5.68%,5.23%,4.53%,3.83%,3.64%,8.78%,6.20%,3.74%,4.28%,4.61%
4,"Total, All Industries","300,533","303,250","309,958","316,667","319,825","322,275","325,175","328,675","332,825","336,775","315,308","323,075","336,250","338,083","342,114"
5,Total Farm,"24,433","25,242","27,092","27,442","26,458","26,333","25,225","23,808","24,308","24,683","24,983","23,525","24,658","24,125","25,271"
6,Total Nonfarm,"276,100","278,008","282,867","289,225","293,367","295,942","299,950","304,867","308,517","312,092","290,325","299,550","311,592","313,958","316,843"
7,Total Private,"231,892","233,608","239,242","245,608","249,367","250,542","253,367","257,958","261,650","264,967","245,592","255,075","265,450","266,858","268,843"
8,Goods Producing,"38,100","37,292","37,242","38,025","40,000","41,050","41,208","42,208","43,892","44,617","43,483","44,500","45,992","45,792","45,429"
9,"Mining, Logging and Construction","12,508","12,567","13,050","13,817","15,008","15,175","15,517","16,600","17,683","18,033","17,683","18,033","18,742","19,025","18,857"

In [134]:
ventura_industries = ventura_df['TITLE - VENTURA COUNTY'].unique()
print(ventura_industries)

['Civilian Labor Force' '  Civilian Employment' '  Civilian Unemployment'
 'Civilian Unemployment Rate' 'Total, All Industries' '  Total Farm'
 '  Total Nonfarm' '    Total Private' '    Goods Producing'
 '      Mining, Logging and Construction' '      Mining and Logging'
 '      Construction' '        Specialty Trade Contractors'
 '      Manufacturing' '        Durable Goods'
 '          Computer and Electronic Product Manufacturing'
 '        Non-Durable Goods' '          Chemical Manufacturing'
 'Service-Providing' '    Private Service Providing'
 '      Trade, Transportation, and Utilities' '        Wholesale Trade'
 '        Retail Trade' '          Food and Beverage Retailers'
 '          General Merchandise Retailers'
 '          Clothing, Clothing Accessories, Shoe, and Jewelry '
 '        Transportation, Warehousing, and Utilities'
 '           Transportation and Warehousing' '      Information'
 '      Financial Activities' '        Finance and Insurance'
 '          Credit Intermediation and Related Activities incl'
 '          Insurance Carriers and Related Activities'
 '        Real Estate and Rental and Leasing'
 '      Professional and Business Services'
 '        Professional, Scientific, and Technical Services'
 '        Management of Companies and Enterprises'
 '        Administrative and Support and Waste and Remediatio'
 '          Administrative and Support Services'
 '            Employment Services'
 '      Private Education and Health Services'
 '      Leisure and Hospitality' '        Accommodation and Food Services'
 '      Other Services' '      Government' '        Federal Government'
 '          Federal Government excluding Department of Defense'
 '          Department of Defense'
 '        Total State and Local Government' '          State Government'
 '            State Government Educational Services'
 '            State Government Excluding Education'
 '          Local Government'
 '            Local Government Educational Services'
 '            Local Government Excluding Educational Services'
 '            County Government' '            City Government'
 '            Special Districts plus Tribes']

In [136]:
# Biggest industries in Ventura

In [138]:
# TUOLUMNE COUNTY
tuolumne_data_path = "data/Tuolumne_county.csv"
tuolumne_data = pd.read_csv(tuolumne_data_path)

In [140]:
tuolumne_data.head()

,SORTORDER,TITLE - TUOLUMNE COUNTY,Jan-10,Feb-10,Mar-10,Apr-10,May-10,Jun-10,Jul-10,Aug-10,...,Dec-23,2023_Data,Jan-24,Feb-24,Mar-24,Apr-24,May-24,Jun-24,Jul-24,2024_Data
0,1,Civilian Labor Force,"22,470","22,750","22,670","22,540","22,700","22,720","23,020","23,000",...,"19,890","19,979","20,010","20,300","20,380","19,780","19,950","20,130","20,620","20,167"
1,2,Civilian Employment,"18,660","18,890","18,740","18,900","19,250","19,340","19,600","19,600",...,"18,860","18,979","18,780","19,010","19,210","18,700","19,040","19,080","19,450","19,039"
2,3,Civilian Unemployment,"3,820","3,870","3,930","3,640","3,450","3,390","3,420","3,400",...,"1,030","1,001","1,230","1,290","1,180","1,080",910,"1,060","1,170","1,131"
3,400.00%,Civilian Unemployment Rate,17.00%,17.00%,17.30%,16.20%,15.20%,14.90%,14.90%,14.80%,...,5.20%,5.01%,6.20%,6.30%,5.80%,5.50%,4.60%,5.30%,5.70%,5.63%
4,8,"Total, All Industries","15,540","15,670","15,560","15,730","16,220","16,420","16,370","16,430",...,"17,870","17,611","17,480","17,660","17,830","17,550","17,950","18,260","18,440","17,881"

In [142]:
tuolumne_df = tuolumne_data[['TITLE - TUOLUMNE COUNTY', '2010_Data', '2011_Data', '2012_Data', '2013_Data',
                     '2014_Data', '2015_Data', '2016_Data', '2017_Data', '2018_Data', '2019_Data',
                     '2020_Data', '2021_Data', '2022_Data', '2023_Data','2024_Data']]
tuolumne_df.head(10)

,TITLE - TUOLUMNE COUNTY,2010_Data,2011_Data,2012_Data,2013_Data,2014_Data,2015_Data,2016_Data,2017_Data,2018_Data,2019_Data,2020_Data,2021_Data,2022_Data,2023_Data,2024_Data
0,Civilian Labor Force,"22,658","22,702","22,279","21,678","21,537","21,533","21,568","21,369","21,188","20,938","20,183","20,059","19,724","19,979","20,167"
1,Civilian Employment,"19,125","19,363","19,341","19,313","19,651","20,007","20,220","20,208","20,199","19,982","18,047","18,602","18,829","18,979","19,039"
2,Civilian Unemployment,"3,533","3,338","2,939","2,364","1,885","1,528","1,347","1,161",991,958,"2,139","1,457",897,"1,001","1,131"
3,Civilian Unemployment Rate,15.61%,14.73%,13.17%,10.90%,8.77%,7.08%,6.23%,5.43%,4.66%,4.58%,10.64%,7.27%,4.53%,5.01%,5.63%
4,"Total, All Industries","16,043","16,302","16,318","16,478","16,898","17,364","17,789","17,913","17,986","18,035","16,393","17,018","17,325","17,611","17,881"
5,Total Farm,61,59,50,52,58,63,70,75,63,86,92,92,90,89,103
6,Total Nonfarm,"15,982","16,243","16,268","16,427","16,841","17,301","17,719","17,838","17,923","17,949","16,301","16,926","17,235","17,522","17,779"
7,Total Private,"10,667","11,070","11,033","11,198","11,444","11,848","12,152","12,336","12,388","12,268","11,182","11,775","12,060","12,176","12,279"
8,Goods Producing,"1,344","1,493","1,454","1,464","1,447","1,518","1,563","1,595","1,783","1,865","1,753","1,894","1,873","1,932","2,004"
9,"Mining, Logging and Construction",665,663,626,612,642,714,776,798,964,"1,024",924,"1,018","1,028","1,124","1,211"

In [144]:
tuolumne_industries = tuolumne_df['TITLE - TUOLUMNE COUNTY'].unique()
print(tuolumne_industries)

['Civilian Labor Force' '  Civilian Employment' '  Civilian Unemployment'
 'Civilian Unemployment Rate' 'Total, All Industries' '  Total Farm'
 '  Total Nonfarm' '    Total Private' '    Goods Producing'
 '     Mining, Logging and Construction' '      Mining and Logging'
 '      Construction' '      Manufacturing' '        Durable Goods'
 '       Non-Durable Goods' '    Service-Providing'
 '    Private Service Providing' '      Trade, Transportation & Utilities'
 '        Wholesale Trade' '        Retail Trade'
 '        Transportation, Warehousing, and Utilities' '      Information'
 '      Financial Activities' '      Professional and Business Services'
 '      Private Education and Health Services'
 '      Leisure and Hospitality' '      Other Services' '      Government'
 '        Federal Government' '        State & Local Government'
 '          State Government' '          Local Government']

In [146]:
# Biggest industries in Tuolumne

In [148]:
# TULARE COUNTY
tulare_data_path = "data/tulare_county.csv"
tulare_data = pd.read_csv(tulare_data_path)

In [150]:
tulare_data.head()

,SORTORDER,TITLE - TULARE COUNTY,Jan-10,Feb-10,Mar-10,Apr-10,May-10,Jun-10,Jul-10,Aug-10,...,Dec-23,2023_Data,Jan-24,Feb-24,Mar-24,Apr-24,May-24,Jun-24,Jul-24,2024_Data
0,1,Civilian Labor Force,"202,700","202,400","199,000","203,500","207,900","206,800","202,100","204,700",...,"214,500","213,308","215,500","217,500","214,100","215,100","215,700","214,500","211,500","214,843"
1,2,Civilian Employment,"164,000","162,700","159,100","168,100","174,600","173,100","166,500","170,900",...,"191,000","191,975","190,000","190,100","188,300","191,600","195,500","193,000","188,500","191,000"
2,3,Civilian Unemployment,"38,700","39,700","39,900","35,400","33,300","33,700","35,600","33,800",...,"23,500","21,325","25,500","27,500","25,800","23,400","20,200","21,500","23,100","23,857"
3,400.00%,Civilian Unemployment Rate,19.10%,19.60%,20.00%,17.40%,16.00%,16.30%,17.60%,16.50%,...,10.90%,9.99%,11.80%,12.60%,12.00%,10.90%,9.40%,10.00%,10.90%,11.09%
4,8,"Total, All Industries","139,800","138,300","134,800","145,500","154,800","155,400","145,100","150,400",...,"181,000","178,875","175,200","176,600","174,400","180,900","186,900","186,200","179,300","179,929"

In [152]:
tulare_df = tulare_data[['TITLE - TULARE COUNTY', '2010_Data', '2011_Data', '2012_Data', '2013_Data',
                     '2014_Data', '2015_Data', '2016_Data', '2017_Data', '2018_Data', '2019_Data',
                     '2020_Data', '2021_Data', '2022_Data', '2023_Data','2024_Data']]
tulare_df.head(10)

,TITLE - TULARE COUNTY,2010_Data,2011_Data,2012_Data,2013_Data,2014_Data,2015_Data,2016_Data,2017_Data,2018_Data,2019_Data,2020_Data,2021_Data,2022_Data,2023_Data,2024_Data
0,Civilian Labor Force,"203,492","203,383","201,067","200,500","197,900","202,125","203,317","204,458","202,992","202,133","202,458","200,800","206,683","213,308","214,843"
1,Civilian Employment,"167,683","168,033","168,075","171,350","171,625","178,483","180,508","182,967","183,133","182,358","175,250","179,475","189,558","191,975","191,000"
2,Civilian Unemployment,"35,800","35,375","32,992","29,142","26,292","23,642","22,792","21,492","19,858","19,775","27,208","21,283","17,125","21,325","23,857"
3,Civilian Unemployment Rate,17.59%,17.40%,16.39%,14.53%,13.28%,11.70%,11.22%,10.52%,9.78%,9.79%,13.40%,10.60%,8.28%,9.99%,11.09%
4,"Total, All Industries","146,242","146,117","145,317","149,308","149,900","158,000","161,492","164,817","166,250","167,250","161,283","165,792","175,925","178,875","179,929"
5,Total Farm,"37,933","37,125","34,492","35,717","35,375","39,833","39,633","39,642","39,983","38,800","36,592","35,667","37,567","37,042","36,843"
6,Total Nonfarm,"108,308","108,992","110,825","113,592","114,525","118,167","121,858","125,175","126,267","128,450","124,692","130,125","138,358","141,833","143,086"
7,Total Private,"77,267","78,367","80,242","83,642","85,075","87,892","90,533","93,383","94,017","95,742","92,842","98,358","105,117","107,542","108,629"
8,Goods Producing,"14,983","15,092","15,367","15,758","16,525","17,192","18,150","18,467","19,017","19,258","19,275","19,950","21,392","21,283","21,271"
9,"Mining, Logging, and Construction","3,933","3,908","4,033","4,175","4,525","4,933","5,333","5,650","6,067","6,383","6,617","7,000","7,583","7,450","7,457"

In [156]:
tulare_industries = tulare_df['TITLE - TULARE COUNTY'].unique()
print(tulare_industries)

['Civilian Labor Force' '  Civilian Employment' '  Civilian Unemployment'
 'Civilian Unemployment Rate' 'Total, All Industries' '  Total Farm'
 '     Total Nonfarm' '    Total Private' '    Goods Producing'
 '      Mining, Logging, and Construction' '      Manufacturing'
 '        Durable Goods' '        Non-Durable Goods'
 '          Food Manufacturing' '     Service-Providing'
 '    Private Service Providing'
 '     Trade, Transportation, and Utilities' '        Wholesale Trade'
 '        Retail Trade'
 '        Transportation, Warehousing, and Utilities' '      Information'
 '      Financial Activities' '        Finance and Insurance'
 '      Professional and Business Services'
 '      Private Education and Health Services'
 '      Leisure and Hospitality'
 '         Arts, Entertainment, and Recreation'
 '        Accommodation and Food Services' '          Accommodation'
 '          Food Services and Drinking Places' '      Other Services'
 '      Government' '        Federal Government'
 '        Total State and Local Government' '          State Government'
 '          Local Government'
 '          Local Government excluding Educational Services'
 '          Special Districts plus Tribes']

In [158]:
# Biggest industries in Tulare

In [160]:
# TRINITY COUNTY
trinity_data_path = "data/trinity_county.csv"
trinity_data = pd.read_csv(trinity_data_path)

In [162]:
trinity_data.head()

,SORTORDER,TITLE - TRINITY COUNTY,Jan-10,Feb-10,Mar-10,Apr-10,May-10,Jun-10,Jul-10,Aug-10,...,Dec-23,2023_Data,Jan-24,Feb-24,Mar-24,Apr-24,May-24,Jun-24,Jul-24,2024_Data
0,1,Civilian Labor Force,"5,250","5,320","5,360","5,360","5,450","5,660","5,630","5,660",...,"4,510","4,560","4,530","4,600","4,650","4,520","4,620","4,790","4,800","4,644"
1,2,Civilian Employment,"4,150","4,200","4,280","4,370","4,570","4,790","4,760","4,840",...,"4,250","4,301","4,180","4,250","4,310","4,230","4,400","4,540","4,530","4,349"
2,3,Civilian Unemployment,"1,090","1,120","1,070",990,880,870,860,820,...,270,260,350,360,330,290,230,250,270,297
3,400.00%,Civilian Unemployment Rate,20.80%,21.00%,20.00%,18.50%,16.20%,15.40%,15.30%,14.50%,...,5.90%,5.68%,7.60%,7.80%,7.20%,6.40%,4.90%,5.20%,5.60%,6.39%
4,8,"Total, All Industries","2,520","2,540","2,590","2,660","2,830","3,000","2,940","3,010",...,"2,990","2,968","2,880","2,930","2,970","2,950","3,090","3,240","3,200","3,037"

In [ ]:
trinity_df = trinity_data[['TITLE - TRINITY COUNTY', '2010_Data', '2011_Data', '2012_Data', '2013_Data',
                     '2014_Data', '2015_Data', '2016_Data', '2017_Data', '2018_Data', '2019_Data',
                     '2020_Data', '2021_Data', '2022_Data', '2023_Data','2024_Data']]
trinity_df.head(10)

In [ ]:
trinity_industries = trinity_df['TITLE - TRINITY COUNTY'].unique()
print(trinity_industries)

In [ ]:
# Biggest industries in Trinity

In [ ]:
# TEHAMA COUNTY
tehama_data_path = "data/Tehama_county.csv"
tehama_data = pd.read_csv(tehama_data_path)

In [ ]:
tehama_data.head()

In [ ]:
tehama_df = tehama_data[['TITLE - TEHAMA COUNTY', '2010_Data', '2011_Data', '2012_Data', '2013_Data',
                     '2014_Data', '2015_Data', '2016_Data', '2017_Data', '2018_Data', '2019_Data',
                     '2020_Data', '2021_Data', '2022_Data', '2023_Data','2024_Data']]
tehama_df.head(10)

In [ ]:
tehama_industries = tehama_df['TITLE - TEHAMA COUNTY'].unique()
print(tehama_industries)

In [ ]:
# Biggest industries in Tehama

In [ ]:
# SUTTER COUNTY
sutter_data_path = "data/Sutter_county.csv"
sutter_data = pd.read_csv(sutter_data_path)

In [ ]:
sutter_data.head()

In [ ]:
sutter_df = sutter_data[['TITLE - SUTTER COUNTY', '2010_Data', '2011_Data', '2012_Data', '2013_Data',
                     '2014_Data', '2015_Data', '2016_Data', '2017_Data', '2018_Data', '2019_Data',
                     '2020_Data', '2021_Data', '2022_Data', '2023_Data','2024_Data']]
sutter_df.head(10)

In [ ]:
sutter_industries = sutter_df['TITLE - SUTTER COUNTY'].unique()
print(sutter_industries)

In [ ]:
# Biggest industries in Sutter

In [ ]:
# STANISLAUS COUNTY
stanislaus_data_path = "data/Stanislaus_county.csv"
stanislaus_data = pd.read_csv(stanislaus_data_path)

In [ ]:
stanislaus_data.head()

In [ ]:
stanislaus_df = stanislaus_data[['TITLE - STANISLAUS COUNTY', '2010_Data', '2011_Data', '2012_Data', '2013_Data',
                     '2014_Data', '2015_Data', '2016_Data', '2017_Data', '2018_Data', '2019_Data',
                     '2020_Data', '2021_Data', '2022_Data', '2023_Data','2024_Data']]
stanislaus_df.head(10)

In [ ]:
stanislaus_industries = stanislaus_df['TITLE - STANISLAUS COUNTY'].unique()
print(stanislaus_industries)

In [ ]:
# Biggest industries in Stanislaus

In [ ]:
# SONOMA COUNTY
sonoma_data_path = "data/Sonoma_county.csv"
sonoma_data = pd.read_csv(sonoma_data_path)

In [ ]:
sonoma_data.head()

In [ ]:
sonoma_df = sonoma_data[['TITLE - SONOMA COUNTY', '2010_Data', '2011_Data', '2012_Data', '2013_Data',
                     '2014_Data', '2015_Data', '2016_Data', '2017_Data', '2018_Data', '2019_Data',
                     '2020_Data', '2021_Data', '2022_Data', '2023_Data','2024_Data']]
sonoma_df.head(10)

In [ ]:
sonoma_industries = sonoma_df['TITLE - SONOMA COUNTY'].unique()
print(sonoma_industries)

In [ ]:
# Biggest industries in Sonoma

In [ ]:
# SOLANO COUNTY
solano_data_path = "data/Solano_county.csv"
solano_data = pd.read_csv(solano_data_path)

In [ ]:
solano_data.head()

In [ ]:
solano_df = solano_data[['TITLE - SOLANO COUNTY', '2010_Data', '2011_Data', '2012_Data', '2013_Data',
                     '2014_Data', '2015_Data', '2016_Data', '2017_Data', '2018_Data', '2019_Data',
                     '2020_Data', '2021_Data', '2022_Data', '2023_Data','2024_Data']]
solano_df.head(10)

In [ ]:
solano_industries = solano_df['TITLE - SOLANO COUNTY'].unique()
print(solano_industries)

In [ ]:
# Biggest industries in Solano