In [1]:
import pandas as pd

In [4]:
avg_cost_by_county = pd.read_csv('../data/avg_cost_by_county.csv')

In [5]:
avg_cost_by_county.head()

,RegionID,SizeRank,RegionName,State,1/31/2004,2/29/2004,3/31/2004,4/30/2004,5/31/2004,6/30/2004,...,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024
0,3101,0,Los Angeles County,CA,359637.887854,365587.644879,371964.449058,379899.180522,389740.328886,399902.550401,...,869954.975653,878067.742426,883097.441686,882055.961553,877150.390199,873255.631790,873908.269833,877153.822292,879295.516241,883035.966550
1,139,1,Cook County,IL,212183.381348,213545.681301,214699.864000,216016.957799,217640.336495,219517.627537,...,300775.020143,301699.133374,302164.120803,302402.124218,303366.204744,305426.677900,308133.807900,310009.520838,311088.578500,311761.624093
2,1090,2,Harris County,TX,121818.012379,122617.363618,124111.219107,125504.882549,126877.064356,127403.928382,...,285303.469784,285048.636665,284752.942063,284865.744499,285335.048571,286351.917951,287410.239829,288010.555414,287890.640371,287515.312881
3,2402,3,Maricopa County,AZ,177405.207211,178222.959316,179257.984336,180538.524221,182116.180357,183826.754819,...,464980.249259,466776.161724,467741.199729,468106.891173,468648.154040,470108.251801,471891.512217,473300.598955,473470.028161,472862.524459
4,2841,4,San Diego County,CA,398657.715678,404627.790326,413281.930706,421490.824884,429782.054434,442327.588370,...,902532.689606,909016.371808,912435.143858,914728.252057,919311.605890,927614.029973,937977.111708,946849.180000,951394.285382,952856.260799