In [1]:
import pandas as pd

# Load the .xls Excel file
NapaCounty = pd.read_excel("Resources/NAPA$HWS.xls", engine='xlrd')

NapaCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,34900,NaN,NaN,1,00-000010,Civilian Labor Force,68900.000,69100.000,...,72100.000,70900.000,70400.000,71600.000,72600.000,72700.000,72100.000,72800.000,73200.000,73600.000
1,2,2023,34900,NaN,NaN,1,00-000020,Civilian Employment,60700.000,61200.000,...,69500.000,68300.000,67600.000,68300.000,69200.000,69600.000,69300.000,70500.000,70400.000,70500.000
2,3,2023,34900,NaN,NaN,1,00-000030,Civilian Unemployment,8200.000,7900.000,...,2600.000,2600.000,2900.000,3300.000,3300.000,3000.000,2700.000,2300.000,2800.000,3100.000
3,4,2023,34900,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.119,0.115,...,0.036,0.037,0.041,0.047,0.046,0.042,0.038,0.031,0.038,0.041
4,8,2023,34900,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",62600.000,63000.000,...,81300.000,79700.000,79600.000,79100.000,80000.000,80400.000,81200.000,83000.000,84000.000,83300.000

In [2]:
NapaCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

NapaCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,68900.000,69100.000,69300.000,69700.000,70400.000,70700.0,72700.000,71300.000,71100.000,...,72100.000,70900.000,70400.000,71600.000,72600.000,72700.000,72100.000,72800.000,73200.000,73600.000
1,Civilian Employment,60700.000,61200.000,61300.000,62200.000,63600.000,63600.0,65500.000,64100.000,64100.000,...,69500.000,68300.000,67600.000,68300.000,69200.000,69600.000,69300.000,70500.000,70400.000,70500.000
2,Civilian Unemployment,8200.000,7900.000,8000.000,7500.000,6800.000,7100.0,7200.000,7200.000,7000.000,...,2600.000,2600.000,2900.000,3300.000,3300.000,3000.000,2700.000,2300.000,2800.000,3100.000
3,Civilian Unemployment Rate,0.119,0.115,0.115,0.107,0.097,0.1,0.099,0.101,0.098,...,0.036,0.037,0.041,0.047,0.046,0.042,0.038,0.031,0.038,0.041
4,"Total, All Industries",62600.000,63000.000,63300.000,64300.000,66500.000,67000.0,68300.000,66500.000,66500.000,...,81300.000,79700.000,79600.000,79100.000,80000.000,80400.000,81200.000,83000.000,84000.000,83300.000

In [3]:
titles_df = NapaCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                     Mining, Logging, and Construction
10                                        Manufacturing
11                                    Non-Durable Goods
12              Beverage and Tobacco Product Manufac...
13                                    Service-Providing
14                            Private Service Providing
15                 Trade, Transportation, and Utilities
16                                      Wholesale Trade
17                                         Retail Trade
18            Transportation, Warehousing, and Utili...
19                                          Information
20                                 Financial Activities
21                   Professional and Business Services
22            Administrative and Support and Waste a...
23                Private Education and Health Services
24                    Health Care and Social Assistance
25                              Leisure and Hospitality
26                      Accommodation and Food Services
27                    Food Services and Drinking Places
28                                       Other Services
29                                           Government
30                                   Federal Government
31                     Total State and Local Government
32                                     State Government
33                                     Local Government
34                Local Government Educational Services
35              Local Government excluding Education...
36                                    County Government
37                                      City Government
38                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = NapaCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    NapaCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = NapaCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = NapaCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force      70250.00
1                                 Civilian Employment      62825.00
2                               Civilian Unemployment       7425.00
3                          Civilian Unemployment Rate          0.11
4                               Total, All Industries      65375.00
5                                          Total Farm       4666.67
6                                       Total Nonfarm      60708.33
7                                       Total Private      50350.00
8                                     Goods Producing      13258.33
9                   Mining, Logging, and Construction       2583.33
10                                      Manufacturing      10675.00
11                                  Non-Durable Goods       9266.67
12            Beverage and Tobacco Product Manufac...       7975.00
13                                  Service-Providing      47450.00
14                          Private Service Providing      37091.67
15               Trade, Transportation, and Utilities       8866.67
16                                    Wholesale Trade       1508.33
17                                       Retail Trade       5816.67
18          Transportation, Warehousing, and Utili...       1541.67
19                                        Information        600.00
20                               Financial Activities       2258.33
21                 Professional and Business Services       5158.33
22          Administrative and Support and Waste a...       3075.00
23              Private Education and Health Services       8991.67
24                  Health Care and Social Assistance       7058.33
25                            Leisure and Hospitality       9308.33
26                    Accommodation and Food Services       8608.33
27                  Food Services and Drinking Places       5325.00
28                                     Other Services       1908.33
29                                         Government      10358.33
30                                 Federal Government        425.00
31                   Total State and Local Government       9933.33
32                                   State Government       3566.67
33                                   Local Government       6366.67
34              Local Government Educational Services       3900.00
35            Local Government excluding Education...       2466.67
36                                  County Government       1458.33
37                                    City Government        858.33
38                      Special Districts plus Tribes        133.33

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0       70641.67      71641.67      72541.67      73250.00      73725.00
1       63591.67      65491.67      67441.67      69050.00      70291.67
2        7033.33       6150.00       5091.67       4208.33       3433.33
3           0.10          0.09          0.07          0.06          0.05
4       66141.67      68358.33      71291.67      73466.67      75316.67
5        4800.00       4808.33       4950.00       4941.67       5008.33
6       61341.67      63550.00      66341.67      68525.00      70308.33
7       51275.00      53691.67      56341.67      58533.33      60158.33
8       13316.67      13866.67      14825.00      15758.33      16175.00
9        2450.00       2658.33       3191.67       3691.67       4266.67
10      10866.67      11208.33      11633.33      12066.67      11908.33
11       9458.33       9666.67      10108.33      10541.67      10441.67
12       8216.67       8475.00       8941.67       9541.67       9533.33
13      48025.00      49683.33      51516.67      52766.67      54133.33
14      37958.33      39825.00      41516.67      42775.00      43983.33
15       8700.00       9066.67       9525.00       9841.67      10066.67
16       1366.67       1450.00       1583.33       1566.67       1675.00
17       5725.00       5866.67       6083.33       6316.67       6408.33
18       1608.33       1750.00       1858.33       1958.33       1983.33
19        633.33        541.67        508.33        500.00        425.00
20       2250.00       2266.67       2225.00       2266.67       2333.33
21       5416.67       5991.67       6300.00       6408.33       6725.00
22       3133.33       3533.33       3683.33       3750.00       3958.33
23       9075.00       9350.00       9666.67       9916.67       9800.00
24       7425.00       7541.67       8166.67       8325.00       8241.67
25      10008.33      10666.67      11333.33      11866.67      12608.33
26       9300.00       9900.00      10525.00      11075.00      11791.67
27       5525.00       5741.67       6116.67       6591.67       6966.67
28       1875.00       1941.67       1958.33       1975.00       2025.00
29      10066.67       9858.33      10000.00       9991.67      10150.00
30        358.33        200.00        200.00        200.00        200.00
31       9708.33       9658.33       9800.00       9791.67       9950.00
32       3450.00       3416.67       3450.00       3475.00       3491.67
33       6258.33       6241.67       6350.00       6316.67       6458.33
34       3825.00       3808.33       3916.67       3866.67       3950.00
35       2433.33       2433.33       2433.33       2450.00       2508.33
36       1483.33       1500.00       1500.00       1516.67       1575.00
37        833.33        825.00        825.00        825.00        825.00
38        108.33        108.33        108.33        108.33        108.33

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0       72933.33      73233.33      73783.33      73241.67      68883.33
1       69808.33      70550.00      71583.33      71133.33      62733.33
2        3158.33       2683.33       2191.67       2108.33       6150.00
3           0.04          0.04          0.03          0.03          0.09
4       75641.67      77258.33      79325.00      79908.33      70783.33
5        4966.67       5025.00       5141.67       5158.33       4950.00
6       70675.00      72233.33      74183.33      74750.00      65833.33
7       60316.67      61708.33      63650.00      64558.33      56150.00
8       15975.00      16850.00      17958.33      18416.67      16875.00
9        4041.67       4150.00       4725.00       4741.67       4108.33
10      11933.33      12700.00      13233.33      13675.00      12766.67
11      10433.33      11225.00      11716.67      12216.67      11516.67
12       9816.67      10558.33      11075.00      11583.33      10866.67
13      54700.00      55383.33      56225.00      56333.33      48958.33
14      44341.67      44858.33      45691.67      46141.67      39275.00
15      10175.00      10083.33      10216.67      10316.67       9541.67
16       1691.67       1691.67       1791.67       1775.00       1550.00
17       6441.67       6400.00       6333.33       6416.67       6175.00
18       2041.67       1991.67       2091.67       2125.00       1816.67
19        400.00        400.00        350.00        300.00        241.67
20       2358.33       2266.67       2200.00       2250.00       2141.67
21       6725.00       6808.33       7191.67       7208.33       6708.33
22       3991.67       4116.67       4316.67       4191.67       3833.33
23       9900.00      10075.00      10100.00      10275.00       9858.33
24       8316.67       8491.67       8508.33       8658.33       8450.00
25      12725.00      13075.00      13491.67      13708.33       9108.33
26      11716.67      11991.67      12383.33      12575.00       8425.00
27       6991.67       7125.00       7375.00       7458.33       5308.33
28       2058.33       2150.00       2141.67       2083.33       1675.00
29      10358.33      10525.00      10533.33      10191.67       9683.33
30        200.00        200.00        200.00        200.00        225.00
31      10158.33      10325.00      10333.33       9991.67       9458.33
32       3475.00       3500.00       3625.00       3583.33       3558.33
33       6683.33       6825.00       6708.33       6408.33       5900.00
34       4125.00       4216.67       4041.67       3758.33       3316.67
35       2558.33       2608.33       2666.67       2650.00       2583.33
36       1583.33       1600.00       1633.33       1608.33       1625.00
37        866.67        900.00        925.00        933.33        858.33
38        108.33        108.33        108.33        108.33        100.00

    2021_Average  2022_Average  2023_Average  2024_Average
0       68400.00      70466.67      71958.33      72243.75
1       64241.67      68150.00      69425.00      68016.67
2        4133.33       2316.67       2558.33       4200.69
3           0.06          0.03          0.04          0.06
4       73008.33      78083.33      80308.33      76302.78
5        5258.33       5616.67       6033.33       5672.22
6       67750.00      72466.67      74275.00      70630.56
7       58308.33      63066.67      64850.00      60907.64
8       17775.00      18933.33      19508.33      17402.08
9        4500.00       4425.00       4441.67       3756.25
10      13275.00      14508.33      15066.67      13645.83
11      11833.33      12958.33      13525.00      12153.47
12      11025.00      11908.33      12208.33      10920.83
13      49975.00      53533.33      54766.67      53228.47
14      40533.33      44133.33      45341.67      43505.56
15       9750.00      10083.33      10075.00       9741.67
16       1466.67       1500.00       1500.00       1497.92
17       6166.67       6208.33       6191.67       6150.70
18       2116.67       2375.00       2383.33       2093.06
19        291.67        300.00        300.00        406.94
20       2100.00       2125.00       2091.67       2155.56
21       6516.67       6716.67       6808.33       6431.25
22       3733.33       3941.67       3975.00       3772.92
23       9866.67      10125.00      10575.00      10366.67
24       8558.33       8716.67       9133.33       8793.06
25      10200.00      12725.00      13333.33      12315.28
26       9366.67      11650.00      12183.33      11334.03
27       6050.00       7225.00       7341.67       6750.00
28       1808.33       2058.33       2158.33       2088.19
29       9441.67       9400.00       9425.00       9722.92
30        200.00        200.00        200.00        231.94
31       9241.67       9200.00       9225.00       9490.97
32       3566.67       3441.67       3283.33       3313.20
33       5675.00       5758.33       5941.67       6177.78
34       3158.33       3191.67       3258.33       3593.06
35       2516.67       2566.67       2683.33       2584.72
36       1600.00       1600.00       1633.33       1596.53
37        816.67        850.00        925.00        880.56
38        100.00        116.67        125.00        105.55

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,70250.00,70641.67,71641.67,72541.67,73250.00,73725.00,72933.33,73233.33,73783.33,73241.67,68883.33,68400.00,70466.67,71958.33,72243.75
1,Civilian Employment,62825.00,63591.67,65491.67,67441.67,69050.00,70291.67,69808.33,70550.00,71583.33,71133.33,62733.33,64241.67,68150.00,69425.00,68016.67
2,Civilian Unemployment,7425.00,7033.33,6150.00,5091.67,4208.33,3433.33,3158.33,2683.33,2191.67,2108.33,6150.00,4133.33,2316.67,2558.33,4200.69
3,Civilian Unemployment Rate,0.11,0.10,0.09,0.07,0.06,0.05,0.04,0.04,0.03,0.03,0.09,0.06,0.03,0.04,0.06
4,"Total, All Industries",65375.00,66141.67,68358.33,71291.67,73466.67,75316.67,75641.67,77258.33,79325.00,79908.33,70783.33,73008.33,78083.33,80308.33,76302.78

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Napa_county.csv', index=False)  # Set index=False to avoid exporting the row indices